.o-list {
  list-style: none;
  padding: 0;
  margin: 0 0 21px 0;
  counter-reset: i;
}
.o-list li {
  position: relative;
  padding: 0 20px 0 0;
  margin: 0 0 12px;
  counter-increment: i;
}
.o-list li:before {
  content: counter(i);
  position: absolute;
  top: 0;
  right: 0;
  color: #d8212c;
  font-weight: 700;
}

.o-normal {
  padding-left: inherit;
  padding-right: 1em;
  
  li {
    padding-left: inherit;
    margin: 0 0 12px;

    .o-normal {
      margin-top:1em;
      font-size:0.9em;
    }
  }
}



@media (max-width: 767px) {
  .o-list {
    margin-right: 0;
  }
  .o-list li {
    padding-right: 28px;
    margin-bottom: 8px;
  }
}
