.u-list {
  padding: 0;
  margin-bottom:21px;

  li {
    position: relative;
    padding-right:1em !important;
    margin: 0 0 12px;
    
    &:before {
      content: '\f053';
      width: 9px;
      height: 11px;
      position: absolute;
      top: 0.4em;
      right: 0;
      background-size: 100% auto;
    }
  }
}


.u-leaf {
  list-style: none;
  padding: 0;
  margin: 0 10px 21px 0;

  li {
    position: relative;
    padding: 0 20px 0 0;
    margin: 0 0 12px;

    &:before {
      content: '';
      width: 9px;
      height: 11px;
      position: absolute;
      top: 0.4em;
      right: 0;
      background: url(../media/icons/leaf.svg) 100% 0 no-repeat;
      background-size: 100% auto;
    }
  }  
}

.u-normal {
  list-style: outside;
  padding-left: inherit;
  padding-right: 1em;
  
  li {
    padding-left: 0;
    margin: 0 0 12px;

    .u-normal {
      margin-top:1em;
      list-style-type:circle;
      font-size:0.9em;
    }
  }
}

.u-none {
  margin: 0 0 1em;
  padding: 0;
  list-style: none;

  li {
    list-style: none;
    padding-left:0;
    margin: 0 0 12px;

    &:before {
      content: none !important;
    }
  }

}


@media (max-width: 767px) {
  .u-list {
    margin-right: 0;
  }
  .u-list li {
    padding-right: 28px;
    margin-bottom: 8px;
  }
  .u-list li:before {
    top: .5em;
  }
}