// URL: https://stackoverflow.com/questions/34250282/flexbox-wraps-last-column-of-the-first-row-in-safari
// safari
// As an alternative to the accepted answer I remove :before & :after from flex containers instead of altering the HTML. In your case:
.container-wrapper {
  .container {
    .row {
        &:before,
        &:after {
          content: normal; // IE doesn't support `initial`
        }
    }

  }
}

// URL: https://stackoverflow.com/questions/34250282/flexbox-wraps-last-column-of-the-first-row-in-safari
// safari
// Bootstrap 4 have issues with display: block; property when set either from css or from javascript on the .row class. I figured a solution for this Just create a class as:
.display-block {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
}