.medium-title  {
    text-align:center;
    margin-bottom:20px;
}

input::-webkit-input-placeholder {
    color: $gray_3 !important;
    font-size:0.75rem !important;
    font-weight:normal !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
    color: $gray_3 !important;
    font-weight:normal !important;
    opacity: 1 !important;
    font-size:0.75rem !important;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
    color: $gray_3 !important;
    font-weight:normal !important;
    font-size:0.75rem !important;
}
 
input:-ms-input-placeholder {  
    color: $gray_3 !important;
    font-weight:normal !important;
    font-size:0.75rem !important;
}

.alert {
    padding:1rem !important;
    position:relative;
    z-index:0;

    &.fade{
      &.show {
            opacity:1;
      }
    }

    .close {
        position: unset !important;
        background: none !important;
        padding: 0 !important;
        width: auto !important;
        height: auto !important;
      }
}

.carousel {
    .carousel-item{
        .position-absolute {
            z-index:1;
            top:0;
            left:0;
        }
    }
}

.webform-cud-submit-to-migs-form,
.webform-submission-summer-school-form {
    margin-bottom:2rem;

    .ajax-progress.ajax-progress-throbber {
        left: 50%;
        
        .throbber {
            padding: 10px;
        }
    }

    .form-required:after {
        background-image: url(/core/misc/icons/ee0000/required.svg) !important;
    }

    .progress-step.is-complete {
        .progress-marker {
            background-color: $green_1;
            color:$red_1;
        }

        &:hover {
            .progress-marker {
                background-color: $green_1;
                color:$red_1;
            }
        }
    }

    .webform-progress-tracker {
        &.progress-tracker {
            width: 75%;
            padding: 1rem;
            border-radius: 10px;
            font-size: 0.75rem;
            margin-top:0;

                .progress-step {
                .progress-marker
                {
                    font-family:Arial, Helvetica, sans-serif;
                }
                &.is-active {
                    .progress-marker {
                        background:$red_1;
                    }
                }
            }
        }   
    }

    legend {
        border:0;
        margin-bottom:auto;
    }
    
    button, select {
        padding: 0.375rem 0.75rem;
        border: 1px solid #ced4da;
        border-radius:5px;
    }


    .form-composite.webform-fieldset--title-inline legend {
        margin:0;
        line-height:1.5rem;
    }

    .fieldset-legend,
    label {
        color: $black_3;
        font-weight: 300;
        font-size: 0.75rem;
        line-height:1.5rem;
    }

    input[type=file] {
        display: block;
        font-size: 0.75em;
    }

    .intl-tel-input {
        &.allow-dropdown {
            width:100%;
        }
    }

    .description {
        font-size: 0.75rem;
        padding: 0.5rem 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .select2-container .select2-selection--single {
        height: 38px;
        padding: 0.375rem 0.75rem !important;
        border: 1px solid #ced4da;
        border-radius:5px;
    }

    .file--image {
        background-image: url(../images/icons/image-x-generic.png);
    }

    #edit-flex-name {
        margin-bottom:0;
    }

    #edit-flex-general {
        margin-top:0;
    }

    #edit-name-title {
        fieldset {
            padding-left:0;
            margin:0;
        }
    }
    
    #edit-cbxs-morning-courses--wrapper,
    #edit-cbxs-afternoon-courses--wrapper {
        
        legend {
            font-size:1rem;
        }

        label {
            font-size: 0.85rem;
        }

        .form-check {
            padding-left: 0;
        }
    }

    #edit-review {
        margin-bottom:3rem;
        margin-top:3rem;

        .form-item-registration-1,
        .form-item-registration-2,
        .form-item-registration-3,
        .form-item-registration-4 {
            padding: 1.5rem 0;
            margin-bottom:1rem;
            margin-left: 25%;
            margin-right: 25%;
            background: rgba(130, 221, 153, 0.1);
            border-radius: 5px;
            border: 1px solid #efefef;
    
            label {
                font-size: 1em;
                font-weight:500;
            }
        }
    }

    .form-item-above-16,
    .form-item-united-arab-emirates-resident,
    .form-item-terms-and-conditions,
    .form-item-agree-to-terms-and-conditions {
        text-align: center;
        margin: 1.5rem;
        font-size: 1rem;

        label {
            font-size: 1em;
            color: $black_3;
            padding-left:0;
        }
    }

    .form-item-above-16,
    .form-item-united-arab-emirates-resident {
        text-align:left;
        margin-left:0 !important;
    }

    .form-item-above-16 {
        margin-top:0 !important;
    }

    .form-item-passport-image-copy {

        input[name=passport_image_copy_remove_button] {
            background: $red_1;
            width: 25%;
            font-size: 12px;
            display: block;
            padding: 5px;
            height: 30px;
            border: none;
            margin-top:1rem;
        }
    }

    .form-actions {
        text-align:center;
        margin-top:2.5rem;

        .btn {
            min-height: 50px;
            margin: 1rem;
            max-width:250px;
            color: $white_1;
            background-color: $red_1;
            border-color: $black_1;

            &.btn-primary:focus,
            &.btn-primary:visited,
            &.btn-primary:active {
                border-color:$red_1;
            }

            &.btn-primary:hover {
                background:$green_1;
                color:$red_1;
                border-color: $green_border_1;
            }
        }
    }
}


.webform-cud-submit-to-migs-form,
.webform-cud-submit-to-migs-form-2 {

    #edit-terms-and-conditions,
    #edit-terms-and-conditions--2 {
        text-align: center;
        margin: 1.5rem;
        font-size: 1rem;

        label {
            font-size: 1em;
            color: $black_3;
            padding-left:0;
        }
    }

    .form-actions
        {
            margin-top:0.5rem !important;
        }
}