@media (max-width:991px) {

    .carousel {
        .carousel-item{
            .carousel-caption {
                background: rgba(51, 51, 51, 0.2);
                left: 0 !important;
                bottom: 0 !important;
                width: 100%;
                padding: 15px;

                img {
                    width: 50% !important;
                    padding-bottom: 1.5em !important;
                }
            }
        }
    }

    .webform-cud-submit-to-migs-form,
    .webform-submission-summer-school-form {
        .col-auto {
            padding:0 !important;
        }

        .form-composite.webform-fieldset--title-inline legend {
            float:none;
        }
        
        #edit-cbxs-morning-courses--wrapper label, 
        #edit-cbxs-afternoon-courses--wrapper label {
            font-size:1em;
            vertical-align: top;
            
            .space {
                display:none;
            }
    
            label {
                padding-left:0;
            }
        }

        #edit-review {
            margin-bottom:1.5rem;
            margin-top:1.5rem;
    
            .form-item-registration-1,
            .form-item-registration-2,
            .form-item-registration-3,
            .form-item-registration-4 {
                padding: 1.5em 0;
                margin-bottom:1rem;
                margin-left: 2%;
                margin-right: 2%;
            }
        }
    }


}