@media (max-width:767px) {

  /* -------------------------------- custom pages -------------------------------- */
  .get-started {
    .top {
      .text-one {
        position: unset !important;
        margin: 0;

        .canada {
          font-size: 44px;
          text-align: center;
        }

        .is-closer {
          font-size: 24px;
          text-align: center;
          padding: 0;
        }
      }

      .text-two {
        position: unset !important;
        margin: 0;
        text-align: center;
        padding: 15px 0;

        .education {
          font-size: 14px;
        }

        .dubai {
          font-size: 15px;
        }

        .get-started {
          font-size: 14px;
        }
      }
    }

    // top

    .form {

      &.container {
        .row {
          padding: 10px;
          display: block;

          .col {

            .form-group {
              margin-bottom: 0.75em;
            }

            .form-item {
              margin-bottom: 8px;
            }

            &:first-child {
              padding-right: 15px;
            }

            &:last-child {
              padding-left: 15px;
            }

            &.form {

              padding-right: 0;

              h2 {
                font-size: 16px;
                margin-bottom: 5px;
              }

              h3 {
                font-size: 14px;
              }

              fieldset {

                input[type=tel] {
                  font-size: 1rem;
                  min-height: 35px;
                  padding-left: 45px !important;
                }

                input[type=text],
                select,
                input[type=email] {
                  min-height: 35px;
                  font-size: 1rem;
                  padding: 0 10px;
                }
              }

              .form-actions {

                .btn {
                  font-size: 1rem;
                  min-height: 35px;
                }
              }
            }

            &.text {

              padding: 10px;
              min-height: auto;

              .content {
                min-height: auto;

                h2 {
                  font-size: 18px;
                }

                h3 {
                  font-size: 12px;
                  margin-bottom: 1em;
                }

                p {
                  font-size: 12px;
                  width: 100%;

                  &.inspiring {
                    display: inline-block;
                    margin-bottom: 0;

                    img {
                      width: 130px;
                      padding-top: 0;
                      padding-right: 25px;
                    }
                  }
                }

              }
            }
          }
        }
      }
    }

    // /form

    .bottom {
      &.video {
        border: 0;

        &:before {
          top: unset;
          top: initial;
          display: inline-block;
          bottom: 25px;
        }


        .row {

          flex-direction: column;
          -ms-flex-direction: column;

          .col:first-child {
            order: 2;
            padding-bottom: 50px;

            img {
              position: relative;
              top: unset;
              transform: none;
              padding: 0;
            }
          }
        }
      }
    }

    // bottom
  }
}

@media (min-width:768px) {

  /* -------------------------------- custom pages -------------------------------- */
  .get-started {
    .top {
      .text-one {
        .canada {
          font-size: 80px;
        }

        .is-closer {
          font-size: 18px;
        }
      }

      .text-two {
        .education {
          font-size: 18px;
        }

        .dubai {
          font-size: 19px;
        }

        .get-started {
          font-size: 24px;
        }
      }
    }

    // top


    .form {

      &.container {
        .row {
          padding: 10px 15px;

          .col {

            .form-group {
              margin-bottom: 0.75em;
            }

            &:first-child {
              padding-right: 15px;
            }

            &:last-child {
              padding-left: 15px;
            }

            &.form {

              h2 {
                font-size: 24px;
                line-height: 1em;
              }

              h3 {
                font-size: 16px;
              }

              fieldset {

                input[type=tel] {
                  font-size: 1rem;
                  min-height: 35px;
                }

                input[type=text],
                select,
                input[type=email] {
                  min-height: 35px;
                  font-size: 1rem;
                  padding: 0 10px;
                }
              }

              .form-actions {

                .btn {
                  font-size: 1rem;
                  min-height: 35px;
                }
              }
            }

            &.text {

              padding-top: 150px;
              min-height: 450px;

              .content {
                h2 {
                  font-size: 22px;
                  line-height: 1em;
                }

                h3 {
                  font-size: 16px;
                  margin-bottom: 10px;
                }

                p {
                  font-size: 14px;
                  line-height: 1.1em;
                  width: 98%;
                }

                img {
                  padding: 15px 20px 0 0;
                  width: 135px;
                }

              }
            }
          }
        }
      }
    }

    // /form
  }
}

@media (max-width:979px) {

  .get-started {
    .faculty {
      .row {
        .col {

          h4 {
            font-size: 1.1rem;
            margin: 1rem 0 !important;
          }

          .listing {

            a {
              font-size: 12px;
            }

            h3 {
              font-size: 14px;
            }

            ul {
              line-height: 1.1em;
            }
          }

          &:hover {

            &:before {
              background: transparent;
            }

            .listing {
              position: relative;
              padding: 0 !important;
              margin: 0 !important;
              max-height: none;
              width: 100%;

              ul li {
                &:before {
                  font-size: 0.6em;
                }

                a {
                  font-size: 12px !important;
                  line-height: 1em !important;
                }
              }

            }
          }
        }
      }
    }

    .bottom {
      &.location {
        .row 
        {
          .col:first-child {
            padding-left:5px;
            padding-right:2.5px;
            margin-bottom:5px !important;
          }
          .col:nth-child(2) {
            padding-left:2.5px;
            padding-right:5px;            
            margin-bottom:5px !important;
          }
          .col:nth-child(3) {
            padding-left:5px;
            padding-right:2.5px;
          }
          .col:last-child {
            padding-left:2.5px;
            padding-right:5px;
          }
        }
      }
    }
  }
}


@media (min-width:980px) {

  /* -------------------------------- custom pages -------------------------------- */
  .get-started {
    .top {
      .text-one {
        .canada {
          font-size: 80px;
        }

        .is-closer {
          font-size: 18px;
        }
      }

      .text-two {
        .education {
          font-size: 18px;
        }

        .dubai {
          font-size: 19px;
        }

        .get-started {
          font-size: 24px;
        }
      }
    }

    // top


    .form {

      &.container {
        .row {
          padding: 15px 20px;

          .col {

            &:first-child {
              padding-right: 35px;
            }

            &:last-child {
              padding-left: 35px;
            }

            &.form {

              h2 {
                font-size: 30px;
                line-height: 1.1em;
              }

              h3 {
                font-size: 18px;
              }

              fieldset {

                input[type=tel] {
                  font-size: 1.1rem;
                  min-height: 45px;
                }

                input[type=text],
                select,
                input[type=email] {
                  min-height: 45px;
                  font-size: 1.1rem;
                  padding: 0 20px;
                }
              }

              .form-actions {

                .btn {
                  font-size: 1.1rem;
                  min-height: 45px;
                }
              }
            }

            &.text {

              padding-top: 175px;
              min-height: 550px;

              .content {
                h2 {
                  font-size: 28px;
                  line-height: 1.1em;
                }

                h3 {
                  font-size: 22px;
                  margin-bottom: 15px;
                }

                p {
                  font-size: 18px;
                  line-height: 1.15em;
                  width: 95%;
                }

                img {
                  padding: 25px 30px 0 0;
                  width: 150px;
                }

              }
            }
          }
        }
      }
    }

    // /form

    .faculty {
      .row {
        .col {
          &:hover {

            .listing {
              a {
                font-size: 12px;
              }

              h3 {
                font-size: 14px;
              }

              ul {
                line-height: 1.1em;
              }
            }

          }
        }
      }
    }

    // faculties
  }
}


@media (min-width: 1200px) {

  .container {
    max-width: 1180px;
  }

  /* -------------------------------- custom pages -------------------------------- */
  .get-started {
    .top {
      .text-one {
        .canada {
          font-size: 120px;
        }

        .is-closer {
          font-size: 24px;
        }
      }

      .text-two {
        .education {
          font-size: 22px;
        }

        .dubai {
          font-size: 23px;
        }

        .get-started {
          font-size: 28px;
        }
      }
    }

    // top

    .form {

      &.container {
        .row {
          padding: 25px 40px;

          .col {

            &:first-child {
              padding-right: 55px;
            }

            &:last-child {
              padding-left: 55px;
            }

            &.form {

              h2 {
                font-size: 30px;
                line-height: 1.1em;
              }

              h3 {
                font-size: 18px;
              }

              fieldset {

                input[type=tel] {
                  font-size: 1.1rem;
                  min-height: 45px;
                }

                input[type=text],
                select,
                input[type=email] {
                  min-height: 45px;
                  font-size: 1.1rem;
                  padding: 0 20px;
                }
              }

              .form-actions {

                .btn {
                  font-size: 1.1rem;
                  min-height: 45px;
                }
              }
            }

            &.text {

              padding-top: 175px;
              min-height: 550px;

              .content {
                h2 {
                  font-size: 28px;
                  line-height: 1.1em;
                }

                h3 {
                  font-size: 22px;
                  margin-bottom: 15px;
                }

                p {
                  font-size: 18px;
                  line-height: 1.25em;
                  width: 95%;
                }

                img {
                  padding: 35px 50px 0 0;
                  width: 200px;
                }
              }
            }
          }
        }
      }
    }

    // /form
    .faculty {
      .row {
        .col {
          &:hover {

            .listing {
              padding:0;
              margin:0.25em;

              a {
                font-size: 14px;
              }

              h3 {
                font-size: 18px;
              }

              ul {
                line-height: 1.1em;

                li {
                  margin-bottom:0.25rem;
                  margin-top:0.25rem;
                }
              }
            }

          }
        }
      }
    }

    // faculties
    .bottom {
      &.video {

        &:before {
          font-size: 150px;
          margin-left: -75px;
        }
      }
    }

    // bottom
  }
}

@media (min-width:1400px) {

  /* -------------------------------- custom pages -------------------------------- */
  .get-started {
    .top {
      .text-one {
        .canada {
          font-size: 140px;
        }

        .is-closer {
          font-size: 30px;
        }
      }

      .text-two {
        .education {
          font-size: 25px;
        }

        .dubai {
          font-size: 26px;
        }

        .get-started {
          font-size: 34px;
        }
      }
    }

    // top

    .form {

      &.container {
        .row {
          padding: 25px 40px;

          .col {

            &:first-child {
              padding-right: 75px;
            }

            &:last-child {
              padding-left: 75px;
            }

            &.form {

              h2 {
                font-size: 34px;
              }

              h3 {
                font-size: 20px;
              }

              fieldset {

                input[type=tel] {
                  font-size: 1.25rem;
                  min-height: 55px;
                }

                input[type=text],
                select,
                input[type=email] {
                  min-height: 55px;
                  font-size: 1.25rem;
                  padding: 0 25px;
                }
              }

              .form-actions {

                .btn {
                  font-size: 1.25rem;
                  min-height: 55px;
                }
              }
            }

            &.text {

              padding-top: 250px;
              min-height: 750px;

              .content {
                h2 {
                  font-size: 32px;
                  line-height: 1.1em;
                }

                h3 {
                  font-size: 26px;
                  margin-bottom: 20px;
                }

                p {
                  font-size: 20px;
                  line-height: 1.25em;
                  width: 95%;
                }

                img {
                  width: 250px;
                }
              }
            }
          }
        }
      }
    }

    // /form

    .faculty {
      .row {
        .col {
          &:hover {

            .listing {
              padding:10px;

              a {
                font-size: 14px;
              }

              h3 {
                font-size: 18px;
              }

              ul {
                line-height: 1.2em;

                li {
                  margin-bottom:0.5em;
                  margin-top:0.5em;
                }
              }
            }

          }
        }
      }
    }

    // faculties

    .bottom {
      &.video {

        img {
          width: auto;

        }

        &:before {
          font-size: 250px;
          margin-left: -125px;
          margin-top: -125px;
        }
      }
    }
  }
}

@media (min-width:1900px) {

  /* -------------------------------- custom pages -------------------------------- */
  .get-started {
    .top {

      .text-one {
        .canada {
          font-size: 180px;
        }

        .is-closer {
          font-size: 40px;
        }
      }

      .text-two {
        .education {
          font-size: 35px;
        }

        .dubai {
          font-size: 36px;
        }

        .get-started {
          font-size: 44px;
        }
      }
    }

    // top

    .form {

      &.container {
        .row {
          padding: 35px 60px;

          .col {

            &:first-child {
              padding-right: 90px;
            }

            &:last-child {
              padding-left: 90px;
            }

            &.form {

              h2 {
                font-size: 44px;
                font-weight: 600;
              }

              h3 {
                font-size: 24px;
              }

              fieldset {

                input[type=tel] {
                  font-size: 1.25rem;
                  min-height: 75px;
                }

                input[type=text],
                select,
                input[type=email] {
                  min-height: 75px;
                  font-size: 1.25rem;
                  padding: 0 25px;
                }
              }

              .form-actions {

                .btn {
                  font-size: 1.25rem;
                  min-height: 75px;
                }
              }
            }

            &.text {

              padding-top: 300px;
              min-height: 850px;

              .content {
                h2 {
                  font-size: 39px;
                  line-height: 1.1em;
                }

                h3 {
                  font-size: 30px;
                  margin-bottom: 30px;
                }

                p {
                  font-size: 24px;
                  line-height: 1.25em;
                  width: 85%;
                }
              }
            }
          }
        }
      }
    }

    // /form
  }
}
