@media (max-width:991px) {

    .footer {
        .footer--links {
            min-height: 190px;
            background-size:75%;
            display:block;

            .navbar-nav {
                padding-top: 40px;

                > li {
                    a {
                        font-size:small;
                    }
                }
            }

            .social-icons {
                padding-top:20px;

                li {
                    margin: 0 5px;
                    a {
                        font-size:1.5rem;
                    }
                }
            } 
            
            .inspiring {
                img {
                width: 100px;
                bottom: -50px;
                }
            }
        }

        .footer--copyrights {
            .pull-right,
            .pull-left {
                display: block;
                width:100%;
                text-align: center;
                margin: 0;
                padding: 0;
            }

            .pull-left {
                margin-bottom:1rem;
            }
        }
        
    }
}