.footer {
    a {
     &:hover {
        background: none !important;
        text-decoration: underline !important;

        .fa {
            &:before {
                color: $red_1;
            }
        }
     }   
    }
    .footer--links {
        background: url(../media/default/canada-leaf2.png) no-repeat bottom center #414c55;
        min-height: 380px;
        position: relative;

        .nav,
        .navbar-nav {
            list-style: none;
            text-align: center;
            padding-top: 105px;
            padding-left: 0;
            margin: 0 auto;
            display:block;
            float:none;
            
            > li {
                float: none;
                display: inline-block;
                margin: 0 20px;
                
                a,
                a:hover,
                a:active,
                a:link {
                    text-transform:uppercase;
                    color:$white_1;
                    background:none;
                    border:none;
                    outline:none;
                }
            }
        }

        .inspiring {
            position:relative;

            img {
                width: 160px;
                position: absolute;
                bottom: -120px;
                left: 50%;
                -webkit-transform: translate(-50%, 0px);
                -ms-transform: translate(-50%, 0px);
                transform: translate(-50%, 0px);
            }
            
        }

        .social-icons {
            list-style: none;
            text-align: center;
            padding-top: 80px;
            padding-left: 0;

            li {
                display: inline-block;
                margin: 0 20px;

                a {
                        font-weight: 300;
                        font-style: normal;
                        color: $white_1;
                        text-transform: uppercase;
                        -webkit-transition: color .2s;
                        transition: color .2s;
                        font-size: 2em;
                    
                }
            }
        }           
    }
    .footer--copyrights {
      background: $white_1;
      padding: 40px 0;
      font-size: 0.9em;

      .pull-left {
            list-style: none;

            li {
                display:inline-block;
                a {
                    font-weight: 300;
                    font-style: normal;
                    font-size: 0.9em;
                    color: $black_3;
                }
            }
      }
      .pull-right {
        font-weight: 300;
        font-size: 0.9em;
        color: $black_3;
      }
    }
  }