@media (min-width: 992px) {
    .header {
        .nav-tabs .dropdown-menu {
            margin-top: 0; /* prev: -1px */
        }

        .mobile-main-menu.we-mobile-megamenu-active {
            .logo {
                img {
                    width:100%;
                    margin:1.5rem 0;
                }
            }
        }

        .navbar {
            padding:0;
            background:none;
            display:block; /* prev:flex significant for submenu covering bottom */ 
            margin-bottom:0;
    
            > .container,
            > .container-fluid {
                background:none;
                padding: 0;
                display:block; /* prev:flex significant for submenu covering bottom */ 
    
                .nav {
                    display:block; /* prev:flex significant for submenu covering bottom */ 
                }
            }
    
            .navbar-brand {
                margin: 15px 30px 15px 0;
            }
        }

        .we-mega-menu-ul > .we-mega-menu-li {
            position:static;
            background:none;

            > a,
            > span {
              padding: 43px 6px;

              &:before {
                  content:none;
              }
              &:after {
                content: '';
                position: absolute;
                top:initial;
                bottom: -3px;
                left: 0;
                width: 0;
                display: block;
                height: 3px;
                background: $red_1;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                opacity: 0.8;
              }
            }

            .we-mega-menu-submenu {
                display:none;
                padding:0;
                width: 100%;
                margin: 0;
                left: 0;
                right: 0;
                text-align: left;
                padding: 10px;
                border-bottom: none;
                border-radius: 0;
                border: 0;
                box-shadow:none !important;

                .we-mega-menu-row {
                    .we-mega-menu-col {
                        .we-mega-menu-submenu {
                            padding:0;
                        }
                    }
                }
            }

            &.active,
            &:hover {

                > a,
                > span {

                &:after {
                   width:100%;
                  }
                }
                
                .we-mega-menu-submenu {
                    display:block;
                }
            }

            &.active:hover {
                a:hover {
                    background:$white_1_1;
                }
            }
        }
    }
}

@media (max-width: 991px) {
  .header {
    .navbar {
        margin-bottom:0;
        
      .navbar-brand {
        margin: 0;
        padding-left:0;
        width:250px;
      }

      .navbar-we-mega-menu {
        &.navbar {
          &.we-mobile-megamenu-active {
            background: $white_1;
          }

          ul>li {
            display: block;
            float: none;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100% !important;
          }

          .nav .open>a,
          .nav .open>a:focus,
          .nav .open>a:hover {
            background: $red_1;
          }

        }
      }
    }
  }
}
