.header {
  &.sticky {
    position:fixed;
    top:0;
    width:100%;
    z-index:1;

    box-shadow:3px 0 10px 0 rgba(30,30,30,.05);
    background-color:rgba(14,30,44,.1);
  }

  // &.sticky + .content-top {
  //   padding-top:113px;
  // }
}

.header {

  box-shadow: 3px 0 10px 0 rgba(30,30,30,.05);
  background-color: rgba(14,30,44,.8);
  -webkit-transition:all ease 0.5s;
  -moz-transition:all ease 0.5s;
  -ms-transition:all ease 0.5s;
  -o-transition:all ease 0.5s;
  transition:all ease 0.5s;

  .navbar-brand {
    min-height:80px;
    width:285px;
    padding:0;
  }

  .we-mega-menu-ul .dropdown-menu>a:before, 
  .we-mega-menu-ul .dropdown-menu>span:before {
    background-image:none;
  }

  .we-mega-menu-submenu {
    background-color: rgba(14,30,44,.8);
  }

  .we-mega-menu-ul>.we-mega-menu-li {
      border:none;

      a, 
      span {
        font-family:"kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif !important;
        border-bottom:none !important;
        font-size:inherit;
        color:$white_1;
      }

    > a,
    > span {
      text-transform:uppercase;      
      font-weight:500;
      font-style:normal;
      border:0;
      font-size:15px;
      /* line-height:1em; */
      background:none;
      border:none;
      position:relative;
    }
  }
}
.content-top {
  .nav {
    .nav-item {
      font-family:monospace;
    }
  }
}
.breadcrumb {
  background:$white_1;
  margin-bottom:0;
  border-radius:0;
}
