.u-list {
    padding:0;
    list-style:none;

    &.higher {
        li {
            margin-bottom:0.5em;
        }
    }

    &.pdfs {
        li {
            &:before {
                content: "\f054";
           
            }
        }
    }

    li {
        padding-left:1.5em;
        position:relative;
        
        &:before {
            content: "\f054";
            font-family: FontAwesome;
            background: none;
            background-size: auto;
            font-size: 0.8em;
            position: absolute;
            left: 0;
        }
    }
}

.u-none {
    padding:0;
    list-style:none;
    li {
        margin-bottom:0.5em;
    }
}