/* overriden by other libraries - modal bootstrap */
/* suspect: we_megamenu */
/* tempo */
.modal {
  &.fade{
    &.show {
      opacity:1;
    }
  }

  .close {
    position: unset !important;
    background: none !important;
    padding: inherit !important;
    width: auto !important;
    height: auto !important;
  }
}

select:focus,
.form-control:focus {
  background-color: $white_1;
  border-color: $red_1;
  box-shadow: none;
}

.btn-primary:focus, 
.btn-primary.focus {
  box-shadow: none;
}

.btn-primary {
  color: $white_1;
  background-color: $red_1;
  border-color: $red_1;
}

.btn-primary:hover,
.btn-primary.hover  {
  color: $white_1;
  background-color: rgba(213, 32, 42, 0.90);
  border-color: rgba(213, 32, 42, 0.9);
}

h2.line-behind.no-span {
  display: table;
  white-space: nowrap;
  
  &:before, 
  &:after {
    border-top: 1px solid $yellow_1;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
  }
  
  &:before { right: 1.5%; }
  &:after { left: 1.5%; }
}

body {
  font-family: "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
  font-size: 14px;
  line-height:1.5rem;
  overflow-x: hidden;
  font-weight:300;
}

.page-container {
  &.default {
    .main-container,
    .container {
      max-width: 1180px;
    }

    .main-container {
      margin: 0 auto;
    }
  }
  &.large {
    .main-container,
    .container {
      max-width: 1920px;
    }

    .main-container {
      margin: 0 auto;
    }
  }
  &.fullscreen {
    .main-container,
    .container {
      max-width: 85%;
    }
    
    .main-container {
      margin: 0 auto;
    }
  }
}

.container-wrapper {
 
  .node--unpublished {
    padding: 0;
  }
  
  &.with-sidebar {
    position:relative;
    background:#ededed;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 50%;
      height: 100%;
      background: $white_1;
    } 
    
    .main-container {
      background: $white_1;
      padding: 84px 0 30px 5%;
    }
  }
  .main-container {
    min-height:750px;
    padding-bottom:30px;
      
    .node__content {
      padding: 0;
      margin: 0;
      font-size:1em; 
    
      .container {
        padding: 0;
    
        img {
          width: 100%;
        }
      }
    
    
      // direct video
      // iframe api
      .direct-video-container {
        position:relative;
        margin-top:2rem;

        .direct-video {
          &.remove-button {
            &:before {
              content:none;
            }
          }
  
          
        }

        .close {
          width: 25px;
          height: 25px;
          background: none;
          opacity: 1;
          color: $red_1;
          top: -20px;

          &:before {
            font-family:FontAwesome;
            content:'\f057';
            width:25px;
            height:25px;
            font-size:50px;
          }
        }
      }
      
    
      // iframe
      .video {
        &.launcher {
          cursor:pointer;
        }
        &.playone {
          &:before {    
            content: '\f01d';
            font-family: fontawesome;
            font-size: 250px;
            border-width: 1px 1px 0 0;
            position: absolute;
            font-weight: 100;
            top: 50%;
            left: 50%;
            margin-top: -70px;
            margin-left: -125px !important;
            z-index: 1;
            color: $red_1;
          }
        }
      }
    }
  }
}



