@media (max-width:767px) {
  body {
    font-size:12px;
    line-height:1.5em;
  }
  h1 {
    font-size: 22px;
    margin-bottom:0.6em;
  }

  h2 {
    font-size: 20px;
    margin-bottom:0.5em;
  }

  h3 {
    font-size: 18px;
    margin-bottom:0.4em;
  }

  h4 {
    font-size: 17px;
    margin-bottom:0.4em;
  }

  h5 {
    font-size: 16px;
    margin-bottom:0.4em;
  }


  hr {
    margin: 38px -30px;
  }

  select {
    height: 44px;
    padding: 0 45px 0 16px;
    font-size: 15px;
  }

  blockquote {
    padding: 0 31px;
    margin-bottom: 51px;
    font: 700 15px/1.8 'open sans', arial, helvetica, sans-serif;
  }
  blockquote:before, blockquote:after {
    width: 19px;
    height: 17px;
  }
  blockquote:before {
    top: 4px;
    left: 0;
  }
  blockquote:after {
    top: auto;
    bottom: 4px;
    right: 8px;
  }
}

@media (max-width:991px) {

  .w-50 {
    width:90% !important;
  }

  
  .container-wrapper {
    .main-container {
      padding:0;

      .node__content  {

        .video.playone{
          &:before {
              font-size: 100px;
              margin-top: -35px;
              margin-left: -51px !important;
          }
        }
      }
    }


    &.with-sidebar {
      background:none;
      &:before {
        content:none;
      }

      .main-container {
        padding:0;
      }

      .sidebar {
        padding:0;

        .nav {
          .nav-item {
            a {
              padding:5px 0;
              font-size:1em;
            }
          }
        }
      }
    }
  }
}

@media (min-width:768px) {
}

@media (max-width: 1024px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  hr {
    margin-top: 38px;
    margin-bottom: 38px;
  }
}

@media (min-width: 1200px) {

  .container {
    max-width:1180px;
  }

}

@media (min-width:1400px) {

}

@media (min-width:1900px) {

}