@media (min-width: 768px) {
.sidebar {
    .block {
        padding:0;
    }
}
}

@media(max-width:991px) {

    .logo {
        img {
            width: 100%;
            margin-bottom: 1em;
        }
    }

    .btn-close {
        background: $red_1;
    }

    .region-we-mega-menu {
        background-color:$red_1;
    }
    .navbar-we-mega-menu.navbar {
        .we-mega-menu-ul>li>a, 
        .we-mega-menu-ul>li>.we-megamenu-nolink {
            color: $black_3;
            text-shadow: none;
            text-transform: none;
        }

        .nav-tabs>li.active>a, 
        .nav-tabs>li.active>a:focus,
        .nav-tabs>li.active>a:hover {
            background:$black_3;
        }
    }

}