.sidebar {
    padding: 84px 2% 30px 0;

    h2, h3 {
        font-size: 24px;
        line-height: 1.1;
        margin: 0 0 16px;
        font-weight: 700;
        font-style: normal;
        color: $red_1;
        border-bottom:0;
    }

    ul {
        padding:0;
        margin:0;

        &.nav {
            margin:0 !important;

            li {
                border-bottom: 1px solid rgba(167,169,170,0.3);
                position: relative;
                color:$black_3;
                width:100%;
                
                > a, 
                > span {
                    padding: 21px 10px 21px 0;
                    font-size: 16px;
                    font-weight: 500;
                    font-style: normal;
                    color:$black_3;
                    text-shadow:none;
                }
    
                &:hover,
                &:active {
                    > a, > span {
                        color:$red_1;
                    }
                }

                &:last-child {
                    border:0;
                }
            }
        }

        
    }

    .block  {
        border:0;
    }
}