.ui-widget {
    font-family: "kozuka-gothic-pro-n3","kozuka-gothic-pro",arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    
    font-weight: 300;
}

.ui-dialog {

    .container {
        padding:0 !important;
    }

    .ui-dialog-titlebar {
        background: $red_1;
        color: $white_1;
        font-size: 1.1rem;

        .ui-dialog-titlebar-close {
            background:none;
            border:none;
            cursor:pointer;

            &:before {
                content: '\f00d';
                font-family: FontAwesome;
                color: $white_1;
                top: 0px;
                position: absolute;
                left: 3px;
                font-size: 0.85em;
            }
        }
    }

    .ui-dialog-content {
        
        .form-item {
            margin-bottom: 0.75em;
        }

        .intl-tel-input,
        .views-exposed-form input[type='file'], 
        .views-exposed-form input[type='text'], 
        .views-exposed-form input[type='tel'], 
        .views-exposed-form input[type='email'], 
        .webform-submission-form input[type='file'], 
        .webform-submission-form input[type='text'], 
        .webform-submission-form input[type='tel'], 
        .webform-submission-form input[type='email'], 
        select {
            width:100%;
            min-height: 75px;
            font-size: 1.25rem;
        }

        .views-exposed-form input[type='file'], 
        .views-exposed-form input[type='text'], 
        .views-exposed-form input[type='email'], 
        .webform-submission-form input[type='file'], 
        .webform-submission-form input[type='text'], 
        .webform-submission-form input[type='email'], 
        select {
            padding: 0 25px;
        }
    }
}
