@media (max-width: 767px) {
    .ui-dialog {
      width: 100% !important;
      font-size: 12px;
      z-index: 1002;
      padding: 1em;
  
      .ui-dialog-titlebar .ui-dialog-title {
        font-size: 14px;
      }
  
      .ui-dialog-content {
        
        .views-exposed-form input[type='tel'], 
        .webform-submission-form input[type='tel'] {
            padding-left:45px !important;
        }

      }
    }
  }