.active-month-events-calendar {
  header {
    text-align: center;
    padding:0.25rem;
  }
  .pager {
    background: $gray_2;
    color: $red_1;
    position: relative;
    top: auto;
    right: auto;
    margin: auto;

    ul {
      margin: 0.25rem;
      padding: 0;
      text-align: center;
      font-size: 1.25rem;
      font-family: Arial;

      li, li a {
        color: $red_1;
      }
    }
  }
}

@import "calendar_media";
