@media (max-width: 767px) {
    .active-month-events-calendar {
        header {
          text-align: center;
          padding:0.25rem;
        }
        .pager {
            ul {
              margin: 0.1rem;
              font-size: 1rem;
            }
          }
      }
}