@media (max-width: 767px) {
    .xs-o-before-remove {
      &:before {
        content:none !important;
      }
    }
  
    .xs-bg-remove {
      background:none !important;
    }
  
    .get-started {
      &.ten-group {
  
        ul {
          padding: 1em;
  
          li:nth-child(odd),
          li:nth-child(even) {
            width: 100%;
            margin-right: 0;
            float: none;
          }
        }
      }
    }
  
  
    .main-footer {
      .inspiring {
        width: 80% !important;
  
        img {
          width: 35% !important;
          display: flex;
          margin: 0 auto;
        }
      }
  
      .footer-links {
        min-height: 180px !important;
        background-size: 60% !important;
      }
    }
  }