.o-before {
    position:relative;
  
    &::before {
      position: absolute;
      background: $black_1;
      content: ' ';
      top: 0;
      width: 100%;
      height: 100%;
      display:block;
    }
  
    &.o-1 {
      &::before {
        opacity: 0.1;
      }
    }
  
    &.o-2 {
      &::before {
        opacity: 0.2;
      }
    }
  
    &.o-3 {
      &::before {
        opacity: 0.3;
      }
    }
  
    &.o-4 {
      &::before {
        opacity: 0.4;
      }
    }
  
    &.o-5 {
      &::before {
        opacity: 0.5;
      }
    }
  
    &.o-6 {
      &::before {
        opacity: 0.6;
      }
    }
  
    &.o-7 {
      &::before {
        opacity: 0.7;
      }
    }
  
    &.o-8 {
      &::before {
        opacity: 0.8;
      }
    }
  
    &.o-9 {
      &::before {
        opacity: 0.9;
      }
    }
  }
  
  .fa {
    &.fa-times-circle {
      color: $red_1;
      font-size: 2.5rem;
    }
  }
  
  .sidebar-second {
    .get-started.ten-group {
      ul {
        li {
          min-height: 160px;
        }
      }
    }
  }

  .pager {
    .pager__item {
      .button {
        background: $red_1;
        border-radius: 0;
        border: 0;
        color: $white_1;
        font: 600 18px/1 "open sans",arial,helvetica,sans-serif;
        padding: 18px 26px;
        text-align: left;
        white-space: normal;

        &:hover {
          background: $red_2;
        }
      }
    }
  }

  [data-hoverable=true],
  [data-clickable=true] {
      cursor: pointer;

      &:hover {
        color:$red_1;

        // img {
        //  opacity:0.75;
        // }
      }
  }

  @import "common_media";