  @include media-breakpoint-down(sm) {
    .page-node-type-fee {

      #block-discovercud-new-format-fees-specific,
      .menu--block {
        h3 {
          display: none !important;
        }

        .sidebar__slide {
          display: block !important;
          padding: 0 !important;

          .u-list {
            display: block !important;
          }
        }
      }

    }
  }
