.page-node-type-fee {
  .wrapper {
    &.spring_2019 {
      .alert {
        width:100% !important;
      }
      .main-footer {
        .footer-links {
          background: url(../media/default/canada-leaf2.png) bottom center no-repeat #414c55 !important;
          min-height: 380px !important;
        }
      }
    }
  }
}

.program-table {
  &.fees-td-col {
    tbody {
      tr {
        td {
          font-family: "Arial", "sans-serif";
          text-align: center;
          font-weight: 300;
          white-space: nowrap;

          .usd, .aed {
            font-weight:700 !important;
          }

          .aed_label {
            color:$white_4;
          }
        }
      }
    }

    &.ignore-first-td-col {
      tbody {
        tr {
          td:nth-child(1) {
            font-family: 'kozuka-gothic-pro-n3', 'kozuka-gothic-pro', arial, helvetica, sans-serif;
            text-align: left;
            white-space:normal;
          }
        }
      }
    }
  }
}

@import "fees_media";
