.hero-navigation-promotion-in-one {

  position: relative;
  display: block;
  overflow: hidden;

  /* If you want the full-screen API to work across platforms, add this to your stylesheet: */
  :-webkit-full-screen {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .yt-main-player-fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
  }

  /* #yt-main-player {
    width: 100% !important;
    height: 100% !important;
  } */

  .card-img-overlay:hover {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .05) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .05) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .05) 100%);
  }


  .slick-slide {
    margin: 0 !important;
  }


  .slick-arrow {
    border-radius: 0;
    width: auto;
    height: auto;
    padding-left: 10px;
    color: $black_3;
    font-size: 0;
    display: inline;

    &:before {
      content: none;
      color: transparent;
      opacity: 1;
      top: 0;
      left: 0;
      font-family: FontAwesome;
      font-size: 2.5rem;
      color: $black_3;
      opacity: 0.5;
    }

    &:hover:before {
      color: $red_1;
      opacity: 1;
    }

    &.slick-prev,
    &.slick-next {
      border-radius: 0;
      width: auto;
      height: auto;
      border-radius: 0;
      position: relative;
      color: rgba(90, 90, 90, 0.5);
    }

    &.slick-prev {
      padding-left: 10px;
      padding-right: 0;
      float: left;

      &:before {
        content: "\f053";
      }
    }

    &.slick-next {
      padding-right: 10px;
      padding-left: 0;
      float: right;

      &:before {
        content: "\f054";
      }
    }
  }

  /* 13/04/2020 */
  .primary-hero {
    position: relative;

    .player-audio {
      bottom: 7.5rem;
      left: 2.5rem;
      cursor: pointer;

      i {
        text-shadow: 1px 1px 5px $black_5;
      }
    }

    .main-pointer {
      display: inline;

      .pointer {
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        bottom: 45px;
        color: $white_1;
        z-index: 50;

        &.animated {
          @keyframes fadeInDownCustom {
            from {
              opacity: 0;
              transform: translate3d(0, -25%, 0);
            }

            to {
              opacity: 1;
              transform: none;
            }
          }

          &.fadeInDownCustom {
            animation-name: fadeInDownCustom;
          }

          -webkit-animation-duration: 2s;
          -webkit-animation-delay: 5s;
          -webkit-animation-iteration-count: infinite;
          -moz-animation-duration: 2s;
          -moz-animation-delay: 5s;
          -moz-animation-iteration-count: infinite;
          -o-animation-duration: 2s;
          -o-animation-delay: 5s;
          -o-animation-iteration-count: infinite;
          animation-duration: 2s;
          animation-delay: 5s;
          animation-iteration-count: infinite;
        }

        i {
          transform: scale(1.75, 1);
        }
      }
    }

    .slick-slide,
    .unslick {


      .countdown {
        .days, .hours, .minutes, .seconds {
          display: inline-block;
          font-size:3rem;
          line-height:1;
          color:$white_1;
          font-family: 'Times New Roman', Times, serif;
        }
    
        span {
          display: block;
          font-size: 1rem;
          line-height:1rem;
          color: $white_1;
          font-family: 'Times New Roman', Times, serif;
          text-transform:uppercase;
        }
    }
  


      .slide__media {
        .card-img {
          height: 100vh;

          img,
          picture {
            height: 100vh;
            width: 100%;
            object-fit: cover;
          }
        }

        .card-img-overlay {
          img,
          picture {
            width: fit-content;
            /* height: fit-content; */
          }
        }

        // see - before change
        /* &.video__play {
          .card {
            background-color: transparent;
          }

          .card-img {
            opacity: 0
          }
        } */
      }
    }
  }
}

.hero {
  position: relative;
  height: calc(100vh - 110px);
  width: 100%; 
  overflow: hidden;
  font-weight: 300;
  font-style: normal;

  .hero_sm {

    height: 500px;

    &.sm_550 {
      height: 550px;
    }

    &.sm_600 {
      height: 600px;
    }

    &.sm_650 {
      height: 650px;
    }

    &.sm_700 {
      height: 700px;
    }

    &.sm_750 {
      height: 750px;
    }

    &.sm_800 {
      height: 800px;
    }
  }

  .card-img {
    picture,
    img {
      object-fit: cover;
      width:100%;
      height:100vh;
    }
  }

  .card-img-overlay {
    .title {
      bottom:0;
      font-size: 32px;
      background: rgba(0, 0, 0, .3);
      padding: 5px 10px;
      display: inline-block;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        z-index: 1;
      }
    }
  }

  &.canada-map {
    height: -webkit-calc(100vh - 0px);
  }

  &:before {
    content: none !important;
  }

  &.hero_sm {
    height: auto !important;
    min-height: auto !important;
    background: rgba(51, 51, 51, 1);
  }
}

@import "hero_media";
