@include media-breakpoint-down(md) {
  .hero-navigation-promotion-in-one {
    .primary-hero {

      .slick-slide,
      .unslick {
        .slide__media {
          .card-img {
            height: auto;

            img,
            picture {
              height: auto;
              width: 100%;
              object-fit: unset;
            }
          }
        }
      }

      .slick-arrow {
        &:before {
          font-size: 1.5rem;
        }

        &.slick-prev {
          padding-left: 5px;
        }

        &.slick-next {
          padding-right: 5px;
        }
      }
    }
  }

  .hero {
    position: relative;
    height: auto;
    width: auto;

    .card {
      .card-img {

        picture,
        img {
          height: auto;
        }
      }

      .card-img-overlay {
        .title {
          font-size: 2rem;
        }
      }
    }

  }
}

@include media-breakpoint-down(sm) {
  header {
    &.main-header {
      position: relative;
      background-color: rgba(51, 51, 51, 1) !important;

      &:hover {
        background-color: rgba(51, 51, 51, 1) !important;
      }
    }
  }

  .hero-navigation-promotion-in-one {
    .primary-hero {
      display: flex;
      flex-direction: column-reverse;

      .slick-slide,
      .unslick {

        .countdown {
          .days, .hours, .minutes, .seconds {
            font-size:1.5rem;
          }
      
          span {
            font-size: 0.75rem;
            line-height:1;
          }
      }

        /* .card {
          .card-img-overlay {
            position: relative;
          }
        } */

        .slide__media {
          // see - before change
          /* &.video__play {
            .card-img {
              opacity: 1;
            }
          } */
        }
      }
    }
  }
}