.language-switcher-language-url {

  // cud_language_switch_links_alter
  ul.links {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;

    ul,
    li {
      margin: 0;
      padding: 0;
    }

    li {
      text-align: right;
      float: right;
      font-size: 1em;

      a {
        color: $white_1;
        vertical-align: middle;
        height: 18px;
        cursor: pointer;
        padding-left: 33px;

        &:hover {
          text-decoration: underline;
          color: $red_1;
        }
      }

      &.en {
        a {
          background: transparent url(/themes/indicud/media/icons/ca.svg) 10px center no-repeat;

          background-size: 18px;
          padding-left:33px !important;
        }
      }

      &.ar {
        float: right;
        width: 60px;

        a {
          background: transparent url(/themes/indicud/media/icons/ae.svg) 10px center no-repeat;

          background-size: 18px;
          padding-left:33px !important;
        }
      }
    }
  }
}


.spring_2019 {
  .language-switcher-language-url {
    ul.links {
      li {

        &.en {
          a {
            background: transparent url(/themes/indicud/media/icons/ca.svg) right center no-repeat;
            padding-right:20px !important;
            background-size: 18px;
          }
        }

        &.ar {
          float: right;
          width: 60px;

          a {
            background: transparent url(/themes/indicud/media/icons/ae.svg) right center no-repeat;
            padding-right:20px !important;
            background-size: 18px;
          }
        }
      }
    }
  }

}

@import "language_media";
