@media (max-width: 767px) {
    html[dir=ltr] {
      .language-switcher-language-url ul.links {
        margin-left: 0;
  
        li {
          text-align: left;
        }
      } 
      
    }
  }