/* Parallax Style - using pure css */
.paral {
  position: relative;
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;

  /* Paragraph for Parallax Section*/
  p {
    font-size: 24px;
    color: #f5f5f5;
    text-align: center;
    line-height: 60px;
  }

  /* Heading for Parallax Section */
  h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
  }

  /* Image for Parallax Section */
  &.paralsec {
    background-image: url("/sites/default/files/general/2018/clean-basic/canada-waterfall.jpg");
  }

  &.paralsec1 {
    background-image: url("https://img.webnots.com/2017/05/parallax1.jpg");
  }

  &.paralsec2 {
    background-image: url("http://via.placeholder.com/1920x1080");
  }
}

/* Parallax  Style - using paroller js*/
.paroller {
    &.jumbotron {
        margin: 0; 
        padding: 0; 
        border-radius: 0; 
        border: 0; 
        border-image: none; 
        height: 75vh;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        background-repeat: repeat;
        background-position: center;
    }
}

@import 
"parallax_media";