.paroller {
    &.jumbotron {
        .card {
            margin: 0.5rem;
            .card-body {
                overflow:auto;
                min-height:250px !important;
                max-height:250px !important;
            } 
            .card-text {
                ul {
                    li {
                        list-style: none;
                        padding-left: 0;
                        margin: 0; 
                        line-height:1.5em;
                    }
                }
            }
        }
    }
}

@import 
"program_media";