.main-content {
    .bottom {
        .bottom-right {
            .sidebar__slide {
                .side-nav {
                    font-size:1rem;
                    .side-nav__item > a,
                    .side-nav__item > span {
                        padding: 1rem;
                        display: inline-block;
                        padding-left: 0;
                        width: 100%;
                    }
                }
            }
           
        }
    }
}

@import "sidebar_media";