@media (max-width: 767px) {
    .main-content {
        .bottom {
            .bottom-right {
                .sidebar__slide {
                    display:block;
                    padding:0;
                }               
            }
        }
    }
}