.slick-arrows {

  &.top {
    .slick__arrow {
      position: absolute;
      overflow: hidden;
      top: -2em;
      right: 0;
      width: 106px;
      height: 48px;
      left: auto;
    }
  }

  &.square {

    &.over {
      .slick__arrow {
        visibility: hidden;
      }

      &:hover {
        .slick__arrow {
          visibility: visible;
        }
      }
    }

    .slick__arrow {

      .slick-arrow {
        padding: 0;
        border: 0;
        width: 48px;
        height: 48px;
        background: $red_1;
        text-indent: -99999px;
        border-radius: 0;
        outline: 0;

        &:hover {
          cursor: pointer;
          background: $red_2;
        }

        &:before {
          color: $white_1;
          padding-right: 5px;
          text-indent: 0;
          top: 7px;
          left: 8px;
          font-size: 30px;
          opacity: 1;
          position: absolute;
          font-family: FontAwesome, Arial, Helvetica, "Nimbus Sans L", sans-serif;
          font-weight: 500;
        }
      }
    }
  }

  &.banner {
    .slick__arrow {
      .slick-arrow:before {
        content: none;
        color: transparent;
        opacity: 1;
      }

      .slick-arrow.slick-prev {
        border-radius: 0;
        padding-left: 10px;

        &:hover:before {
          color: $red_1;
        }

        &:before {
          font-family: FontAwesome;
          content: "\f053";
          font-size: 48px;
          border-radius: 0;

          position: relative;
          top: 0;
          left: 0;
          color: rgba(90, 90, 90, 0.5);
        }
      }

      .slick-arrow.slick-next {
        border-radius: 0;
        width: 48px;
        height: 48px;
        padding-right: 10px;

        &:hover:before {
          color: $red_1;
        }

        &:before {
          font-family: FontAwesome;
          content: "\f054";
          font-size: 48px;
          border-radius: 0;
          position: relative;
          top: 0;
          left: 0;
          color: rgba(90, 90, 90, 0.5);
        }
      }
    }
  }
}

@import "slick_media";
