// non-mobile
@media (min-width: 768px) {
    .slick-arrows {
        &.top {
            .slick__arrow {
                position: absolute;
                overflow: hidden;
                top: -2em;
                right: 0;
                width: 106px;
                height: 48px;
                left: auto;
           }
        }
    }
}

// mobile
@media (max-width: 767px) {   
    .slick-arrows {
        &.square {
            
            &.over {
                .slick__arrow {
                    visibility:visible;
                }
            }

           .slick__arrow {
                top: 50%;
                width: 100%;

                .slick-arrow {
                    width: 24px;
                    height: 24px;
                    
                    &:before {
                        top: 3px;
                        left: 4px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}