/* paths
  /get-started */
.custom-block {
  h1, h2, h3 {
    font-family: "kozuka-gothic-pro-n1", "kozuka-gothic-pro", arial, helvetica, sans-serif;
  }

  h2 {
    font-weight: 700;
    margin-bottom: 5px;
    line-height: auto;
    font-size: 2.5em;
  }

  h3 {
    font-weight: 100;
    line-height: auto;
    margin-bottom: 50px;
  }

  h2.light {
    font-weight: 100;
    color: #2b3e48;
    margin-bottom: 5px;
    line-height: auto;
  }

  h3.light {
    font-weight: 100;
    color: #2b3e48;
    line-height: auto;
    margin-bottom: 50px;
    font-size: 18px;
  }
}

@import "study_canada_media";
