@media (max-width:767px) and (orientation: portrait) {
  body {
    header {
      .logo-wrapper {
        align-items: start !important;
        justify-content: flex-start !important;
        width: 80% !important;
        padding: 0.25em 0;

        img {
          height: 70px !important;
        }
      }

      .menu-wrapper {
        width: 20% !important;
        align-items: end !important;
        justify-content: flex-end !important;
      }
    }
  }
}


@media (max-width:991px) {
  .overlay {
    z-index: 1 !important;
  }  

  .navbar-we-mega-menu.navbar.we-mobile-megamenu-active {
    background:$white_1 !important;

    .type-of-block {
      display:block;
    }

  }

  .navbar-we-mega-menu.navbar .nav .open>a, 
  .navbar-we-mega-menu.navbar .nav .open>a:focus, 
  .navbar-we-mega-menu.navbar .nav .open>a:hover,
  .navbar-we-mega-menu.navbar .nav-tabs>li.active>a, .navbar-we-mega-menu.navbar .nav-tabs>li.active>a:focus, .navbar-we-mega-menu.navbar .nav-tabs>li.active>a:hover {
    color:$red_1 !important;
    background: none !important;
  }

  body {
    .region-we-mega-menu {
      background: none !important;
    }

    header .logo-wrapper {
      align-items: start !important;
      justify-content: flex-start !important;
      width: 80% !important;
      padding: 0.25em 0;
    }

    .navbar-toggle .icon-bar, 
    .navbar-toggle:focus .icon-bar {
      background-color:$black_1 !important;
    }


    &.toggled {
      .region-we-mega-menu {
        .navbar-toggle {
          &.collapsed {
            visibility: hidden;
          }
        }

        .navbar-we-mega-menu.navbar ul {

          a,
          span {
            padding-left: 0;
            padding-right: 0;
          }

          >li {
            width: 100%;

            ul {
              padding: 0.25em;
              font-size: 1em;

              a,
              span {
                padding: 0.25em 0;
                line-height: 1.25em;
                font-size: smaller;
              }
            }
          }
        }
      }
    }
  }

  header {
    &.main-header {
      &.we-megamenu {

        .logo-wrapper {
          &.logo {

            img {
              padding:0 !important;
              padding-left:5px !important;
              height:70px !important;
            }
          }
        }

        .top {

          .search-container {
            margin-bottom: 0.5rem;
          }

          .top-links-container {
            margin-bottom: 0.5rem;
          }

          .row {
            margin-left: 0;
            margin-right: 0;
          }

          .language-switcher-language-url {
            margin-top: 0 !important;
          }

          .search {
            .col {
              padding-right: 0 !important;
              padding-left: 0 !important;

              .search-input {
                width: 100%;
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

// collapse menu
@media (max-width:1279px) {

  header {
    &.main-header {
      &.we-megamenu {

        nav.we-mobile-megamenu-active {
          .we-mega-menu-group>.we-mega-menu-submenu {
            visibility: visible !important;
          }
        }

        nav:not(.we-mobile-megamenu-active) {
          .we-mega-menu-ul {
            display: flex;
            flex-wrap: no-wrap;


            >.we-mega-menu-li {
              flex-basis: 0;
              max-width: 100%;
              flex-grow: 1;

              >a,
              >span {
                line-height: 1.25em !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width:992px) {

  header {

    &.main-header {
      &.we-megamenu {

        nav,
        ul,
        ul li,
        .contextual-region {
          position: unset;
          padding: 0;
          margin: 0;
          background: none;
          border: none;
          overflow:unset;
        }

        .logo {
          img {
            max-width: 291px;
            max-height: 80px;
          }
        }
        nav:not(.we-mobile-megamenu-active) {

          .we-mega-menu-ul {

            >.we-mega-menu-li {

              >a,
              >span {
                padding: 0.5rem 0.25rem 2rem 0.25rem;
              }

              &.dropdown-menu {
                .we-mega-menu-submenu {
                  left: 0;
                  right: 0;
                  /* text-align: left; */
                  padding: 40px 30px;

                  >.we-mega-menu-submenu-inner>.we-mega-menu-row>.we-mega-menu-col>ul>li:first-child>a,
                  >.we-mega-menu-submenu-inner>.we-mega-menu-row>.we-mega-menu-col>ul>li:first-child>span {
                    font-weight: 300;
                    color: $red_1;
                  }

                  .we-mega-menu-submenu {
                    padding: 0;

                    >.we-mega-menu-submenu-inner>.we-mega-menu-row>.we-mega-menu-col>ul>li:first-child a,
                    >.we-mega-menu-submenu-inner>.we-mega-menu-row>.we-mega-menu-col>ul>li:first-child span {
                      font-weight: 300;
                    }

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
