html[dir=rtl],
.arabic {

  body {
    overflow-x:hidden !important;
  }
  
  direction:rtl;
  text-align:right;

  /* just hide */
  #breadcrumb {
    float: right;
    direction: rtl;
    display: none;
  }
}

@media (max-width: 767px) {
  html[dir=rtl],
  .arabic {

    body {
      overflow-x:hidden;
    }
    
    .main {
      padding:0;
    }
    .sidebar__opener {
      padding:15px;

       i {
         left: 40px;
         right: auto;
         height:12px;
         width:12px;
       }
       .menu-icon {
         margin-right:30px;
       }
    }
  }
}

@import "main_media";