@media (max-width:1199px) {
    header .pull-right .search-wrap:hover input[type=text] {
        width: 400px;
      }
}

@media (min-width: 768px) and (orientation: portrait)
{
    html[dir=rtl] {
        .hero {
            height: 50vh;
            height: -webkit-calc(50vh - 0px);
            width: -webkit-calc(100vw - 0px);
        }
    }
}

@media (min-width: 1024px) and (orientation: portrait)
{
    html[dir=rtl] {
        .hero {
            height: 40vh;
        }
    }
}

@media (max-width:767px) {

    html[dir=rtl] { 

        #nav .back .btn {
            padding-right:0;
        }

        .tb-megamenu .nav-collapse.always-show .tb-megamenu-submenu.nav-child .back .btn .fa {
            left: 0;
            font-size: 20px;
            top: 45%;
            right: auto;
        }
    } 
}