html[dir=rtl] {

    body {
        text-align: right;
        font-family: DubaiRegular,kozuka-gothic-pro-n3,kozuka-gothic-pro,"open sans",arial,helvetica,sans-serif;
        font-size:1em;
    
        a {
            color: #d8212c;
        }

        .btn-primary {
            background: #d8212c;
            border-radius: 0;
            border: 0;
            text-transform: uppercase;
            color: #fff;
            font: 600 18px/1 "open sans",arial,helvetica,sans-serif;
            padding: 18px 26px;
            white-space: normal;
            text-align:right;
        }
        .btn_ico-left .fa {
            right: auto;
        }
                
    }

    .ajax-progress {
        float: none;
    }

    .custom-file-label {
        border-radius:0;
        &::after {
            border-left: inherit !important;;
            border-radius: 0.25rem 0 0 0.25rem !important;;
            left: -5px !important;
        }
    }

    /* slick */
    .arrow-block {
        .slick-prev {
            right:0 !important;
        }
        .slick-next {
            left:0 !important;
        }
    }   

    .main-content {
        .arrow.arrow-right {
            .slick__arrow {
                .slick-prev:before {
                    content:'\f178' !important;
                }

                .slick-next:before {
                    content:'\f177' !important;
                }

            }
        }
    }
    
    /* TODO:// needs to be cleaned ------------- */

    #block-views-block-news-features {
        margin-bottom:2em;
    }

    

    /* ------------- for the slick arrows on rtl */
    /* .slick-slide
        {
            float: left;
        } */

    /* ---- slider fix mostafazs commented 10 days ago
        https://github.com/kenwheeler/slick/issues/2968
        
        This works for me:

        [dir='rtl'] .slick-slide
        {
            float: left;
        }
        and

        .slick-slider .slick-track, .slick-slider .slick-list {
            direction: ltr;
        }
    */

    .cud-carousel .slick .slick__arrow {
        left: 0;
        right: auto;
    }

    .social-box .Photos .slick-prev,
    .cud-carousel .slick .slick__arrow .slick-prev {
        right:0;
    }
    .social-box .Photos .slick-prev:before {
        content: "\f061";
    }
    .cud-carousel .slick .slick__arrow .slick-prev:before {
        content: "\f054";
    }

    .social-box .Photos .slick-next,
    .cud-carousel .slick .slick__arrow .slick-next {
        left:0;
    }

    .social-box .Photos .slick-next:before {
        content: "\f060";
    }
    .cud-carousel .slick .slick__arrow .slick-next:before {
        content: "\f053";
    }
    
    /* --- slider fix --- */
    .language-switcher-language-url ul.links li.ar a {
        font-family: "DubaiRegular", "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
    }

    .iconized.program .blazy .grid .pocket.preview .content .body {
        display:block !important;
    }

    /* .col {
        img {
            width:100%;
        }
    } */
    
    // grid blazy
    [class*="block-grid-"] > .grid {
        float: right;
    }

    .clickable-opener i {
        right: 0;
    }

    .side-nav .side-nav__item .side-nav__item .side-nav__item:before {
        content: "\f060";
    }
    
    .side-nav .side-nav__item > a,
    .side-nav .side-nav__item > span {
        padding: 21px 0 21px 21px;
    }

    header {
        .tb-megamenu {
            
            a, span {
                text-align: right !important;
            }

            .row-fluid [class*='span'],
            .tb-megamenu-nav {
                float: right;
            }

            
            .tb-megamenu-block {
                .block-inner {
                    h3 {
                        white-space: nowrap !important;
                    }
                }
            }

            a, span {
                text-align:right !important;
            }
        }
    } 
}

@media (min-width: 768px) and (max-width: 979px) {
    html[dir=rtl] {
        header {
            .tb-megamenu .nav-collapse,
            .tb-megamenu .nav-collapse.collapse {
                float: right;
                margin-right:0.25rem;
            }
        }
    }
}

@media (max-width:767px) {
    html[dir=rtl] {
        header:not(.we-megamenu) .navbar-inverse .navbar-toggle
        {
            float:left;
        }

        header .lefsid.left {
            float: right;
        }

        header #nav .search-wrap button {
            top: 30%;
            -webkit-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
            transform: translateY(-30%);
            right: 8px;
            left:auto;
        }

        .main-footer .footer-links ul.social-icons {
            padding-top: 50px;

            a {
                font-size: 1.25em;
            }
        }
            
    }
}