@include media-breakpoint-down(sm) {
  .btn {
    padding: 12px 20px !important;
    font-size: 14px !important;
  }

  .card-img-overlay {
    &.overlay-to-bottom-75-100 {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.43+100;Neutral+Density */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.35) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.35) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.35) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#6e000000', GradientType=0);
      /* IE6-9 */
    }
  }

  .card {
    &.program {
        .tab-content {
            min-height:auto;
        }
    }
  }
}