.card {
    .tip-fixed {
        position: absolute;
        top: 12px;
        right: -6px;
        padding: 0 12px;
        font-size: .8666666667rem;
        font-weight: 700;
        color: #000;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);

    &.tip-new {
        color:#fff;
        background-color: #d5202a;
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          -moz-transform: scale(.9999);
          border-width: 6px 6px 0 0;
          border-color: #f15120 transparent transparent transparent;
          position: absolute;
          top: 100%;
          right: 0;
          display: block;
      }
    } 
  }

  .card-img-overlay {
    
    &.overlay-to-bottom-50-100 {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.43+100;Neutral+Density */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.35) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.35) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.35) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#6e000000', GradientType=0);
      /* IE6-9 */
    }

    &.overlay-to-bottom-75-100 {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.43+100;Neutral+Density */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.35) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.35) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.35) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#6e000000', GradientType=0);
      /* IE6-9 */
    }

    .overlay-content-detail {
      position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  }

  &:hover {

    .card-img-overlay {

      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.43+100;Neutral+Density */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#6e000000', GradientType=0);
      /* IE6-9 */

      z-index: 50;

      .overlay-content-detail {
        top: 50%;
        left: 50%;
        opacity: 1;
      }

      &.no-bg-hover {
        background: none !important;
        filter: none !important;
      }

      &.hover-remove-d-none {
        display:inline-block !important;

        @include media-breakpoint-down(md) {
            display: none !important;
        
        }
      }

      &.overlay-img-bg-white {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.43+100;Neutral+Density */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff00', endColorstr='#ffffff00', GradientType=0);
        /* IE6-9 */
      }
    }

    .card-img-overlay--on-top {
      position: relative;
      z-index: 100;
    }

    .d-none {
      &.d-none--hover-show {
        display: inline-block !important;
      }
    }
  }

  &.program {
    font-size: 14px;

    .card-title {
      min-height: 2.5rem;
    }

    .card-footer {
      min-height: 4.5rem;
    }

    .tab-content {
      border-left: 1px solid #dee2e6;
      border-right: 1px solid #dee2e6;
      border-bottom: 1px solid #dee2e6;
      border-radius: 0 0 5px 5px;

      .tab-pane {
        min-height: 10rem;
        overflow-y: auto;
        max-height: 10rem;
        overflow-x: hidden;
      }
    }
  }
}

@import "card_media";
