@include media-breakpoint-down(sm) {
  .S2019 {
    .collapsibleContent {
        div.collapse[aria-expanded=false] {
            .summary {
                display: none !important;
              }
              .full {
                display:none !important;
              }
        }

        div.collapse.show[aria-expanded="false"] {
            .summary {
              display: none !important;
            }
            .full {
              display:block !important;
            }
          }
    }
  }  
}