.S2019 {
  #block-indicud-page-title {
    display: none !important;
  }

  .collapsibleContent {

    div.collapse[aria-expanded="false"] {
      .summary {
        display: block !important;
        visibility:visible !important;
        position:relative !important;
        top:auto;
      }
      .full {
        display:none !important;
      }
    }

    div.collapsing[aria-expanded="false"] {
      height: auto !important;
      .summary {
        display: block !important;
        visibility:visible !important;
        position:relative !important;
        top:auto;
      }
      .full {
        display:none !important;
      }
    }

    div.collapse.show[aria-expanded="false"] {
      .summary {
        display: block !important;
        visibility:hidden !important;
        position:absolute !important;
        top:0;
      }
      .full {
        display:block !important;
      }
    }
  
    a.icons.collapsed {
      .far {
        &.fa-chevron-down {
          display: inline-block !important;
        }
  
        &.fa-chevron-up {
          display: none !important;
        }
      }
    }

    a.text.collapsed:after {
      content: '+ More';
    }

    a.text:not(.collapsed):after {
      content: '- Less';
    }

    a.icons:not(.collapsed) {
      .far {
        &.fa-chevron-down {
          display: none !important;
        }
  
        &.fa-chevron-up {
          display: inline-block !important;
        }
      }
    }
  }
}


@import "collapse_media";