@include media-breakpoint-down(xs) {

  .hidden-xs {
    display: none !important;
  }

  .invisible-xs {
    display:none !important;
  }

  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table !important;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }

  .visible-xs-block {
    display: block !important;
  }

  .visible-xs-inline {
    display: inline !important;
  }

  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@include media-breakpoint-down(sm) {
  .hidden-sm {
    display: none !important;
  }


  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table !important;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }

  .visible-sm-block {
    display: block !important;
  }
  
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }

  .table {
    .nowrap {
      white-space: wrap !important;
      width: auto !important;
    }
  }

  .cud {

    $variations: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);

    @each $v in $variations {
      .cud.w-#{$v}-sm-100 {
        width: 100% !important;
      }
    }

    &.fw-sm-100 {
      font-weight: 100;
    }

    &.fw-sm-200 {
      font-weight: 200;
    }

    &.fw-sm-300 {
      font-weight: 300;
    }

    &.fw-sm-500 {
      font-weight: 500;
    }

    &.fw-sm-700 {
      font-weight: 700;
    }

    &.fs-sm-14px {
      font-size: 14px !important;
    }

    &.fs-sm-12px {
      font-size: 12px !important;
    }

    &.fs-sm-1 {
      font-size: 1em !important;
    }

    &.fs-sm-1-25 {
      font-size: 1.25em !important;
    }

    &.fs-sm-1-5 {
      font-size: 1.5em !important;
    }

    &.fs-sm-1-75 {
      font-size: 1.75em !important;
    }

    &.fs-sm-2 {
      font-size: 2em !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .hidden-md {
    display: none !important;
  }

  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table !important;
  }

  tr.visible-md {
    display: table-row !important;
  }

  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }

  .visible-md-block {
    display: block !important;
  }

  .visible-md-inline {
    display: inline !important;
  }

  .visible-md-inline-block {
    display: inline-block !important;
  }

  .spring_2019 {
    .nav-link {
      padding-right: 0.25rem;
      font-size: 12px;
      padding-left: 0.25rem;
    }
  }

  .cud-fs,
  .cud {

    &.fs-1-25 {
      font-size: 1em;
      line-height: normal;
    }

    &.fs-1-5 {
      font-size: 1.1em;
      line-height: normal;
    }
  }
}

@include media-breakpoint-down(lg) {
  .hidden-lg {
    display: none !important;
  }
  
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table !important;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }

  .visible-lg-block {
    display: block !important;
  }

  .visible-lg-inline {
    display: inline !important;
  }
  
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}