body {

  font-family: kozuka-gothic-pro-n3, kozuka-gothic-pro, arial, helvetica, sans-serif;

  h1,
  .h1 {
    font-size: 2rem;
  }

  h2,
  .h2 {
    font-size: 1.75rem;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
  }

  h4,
  .h4 {
    font-size: 1.25rem;
  }

  h5,
  .h5 {
    font-size: 1.1rem;
  }

  h6,
  .h6 {
    font-size: 1rem;
  }

  &.spring_2019 {
    color: #333;
    font-weight: 300;
    font-size: 14px !important;

    &.path-frontpage {
      background: $white_3;

      a,
      a * {
        &:hover {
          color: $red_1 !important;
          text-decoration: none !important;
        }
      }
    }
  }
}

a {
  color: $red_1;
  &:hover  {
    text-decoration:none;
  }
}

.tab-pane {

  &.fade,
  .fade {
    opacity: initial;
  }
}

.btn,
a {

  &.active,
  &.active.focus,
  &.active:focus,
  &.active:hover,
  &:active,
  &:active.focus,
  &:active:focus,
  &:active:hover,
  &:focus,
  &:hover {
    border: 0;
    box-shadow: none;
    outline: 0;
  }

  &.nav-link.cud-active {
    background: $red_1;
    color: $white_1;
  }
}

.nav-tabs {
  .nav-link.active {
    border: 1px solid #dedede;
    border-bottom: 0;
  }
}


.bg-danger {
  background-color: $red_1 !important;
}

.text-danger {
  color: $red_1 !important;
}

.btn-primary,
.btn-secondary {
  background: $red_1;
  border-radius: 0;
  border: 0;
  color: #fff;
  font: 600 18px/1 "open sans", arial, helvetica, sans-serif;
  padding: 18px 26px;
  text-align: left;
  white-space: normal;

  &.active,
  &.active.focus,
  &.active:focus,
  &.active:hover,
  &:active,
  &:active.focus,
  &:active:focus,
  &:active:hover,
  &:focus,
  &:hover {
    background: $red_2;
  }
}

.btn-secondary {
  background: $gray_3;
}

.cud {
  &.ff-arial {
    font-family: Arial, sans-serif;
  }

  &.fw-100 {
    font-weight: 100;
  }

  &.fw-200 {
    font-weight: 200;
  }

  &.fw-300 {
    font-weight: 300;
  }

  &.fw-500 {
    font-weight: 500;
  }

  &.fw-700 {
    font-weight: 700;
  }


  &.fs-1-25 {
    font-size: 1.25em;
    line-height: normal;
  }

  &.fs-1-5 {
    font-size: 1.5em;
    line-height: normal;
  }

  &.fs-1,
  &.fs-1:before,
  &.fs-1:after {
    font-size: 1em !important;
  }

  &.fs-2,
  &.fs-2:before,
  &.fs-2:after {
    font-size: 2em !important;
  }

  &.fs-3,
  &.fs-3:before,
  &.fs-3:after {
    font-size: 3em !important;
  }


  &.fs-4,
  &.fs-4:before,
  &.fs-4:after {
    font-size: 4em !important;
  }


  &.fs-5,
  &.fs-5:before,
  &.fs-5:after {
    font-size: 5em !important;
  }

  &.text-white-non-important {
    color: $white_1;

    &:hover {
      color: $red_1;
    }
  }

  &.min-h-7 {
    min-height: 7rem
  }

  &.max-h-7 {
    max-height: 7rem
  }

  &.btn-important {
    background: $red_1;
  }

  &.display {
    &.display-5 {
      font-size: 2.0rem !important;
    }
  }

  &.top-5 {
    top:-5rem !important;
  }
  &.top-4 {
    top:-4em !important;
  }
  &.top-3 {
    top:-3em !important;
  }

  &.z-idx-100 {
    z-index:100 !important;
  }
  &.z-idx-200 {
    z-index:200 !important;
  }
  &.z-idx-300 {
    z-index:300 !important;
  }
  &.z-idx-400 {
    z-index:400 !important;
  }
  &.z-idx-500 {
    z-index:500 !important;
  }
}

.scroller {
  overflow-x: auto;
}

.affix {
  &.custom-affix {
    .scroll-indicator {
      display:block !important;
    }
  }
}

$variations: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);

@each $v in $variations {
  .border-radius-#{$v} {
    border-radius: $v * 1%;
  }
}

@each $v in $variations {
  .cud.w-#{$v} {
    width: $v * 1%;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }

  table.visible-print {
    display: table !important;
  }

  tr.visible-print {
    display: table-row !important;
  }

  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}



@import "common_media";
