.we-mega-menu-ul,
.flex-column-fix {
  &:after,
  .row:after,
  .col:after,
  &:before,
  .row:before,
  .col:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .overlay {
    display:none !important;
  }
  .navbar-we-mega-menu.navbar.we-mobile-megamenu-active {
    display:inline-block !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
  }
}