.back-to-page {
  margin: 0 0 38px;
  font-size: 18px;
  line-height: 1.2;
  color: #7e7f7f;
  font-weight: 700;
  text-transform: uppercase;

  a {
    color: #7e7f7f;
    text-decoration: none;
    position: relative;
    padding: 0;

    &:after {
      font-family: fontawesome;
      font-size: 18px;
      line-height: 1;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
      transform: translate(0, -50%) rotate(180deg);
      content: '\f177';
    }

    hr.less {
      margin: 0 0 1.5rem;
    }
  }

  &.inline {

    text-transform:none;
    
    a {
      display: inline-block;

      &:after {
        content: none;
      }
    }

  }

}

@media (max-width: 767px) {
  .back-to-page {
    font-size: 14px;
    margin: 0 0 2rem;

    a {
      padding: 0;

      &:after {
        font-size: 12px;
      }
    }
  }
}
