.btn {
  position: relative;
}
.btn-primary {
  background: #d8212c;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  font: 600 18px/1 "open sans", arial, helvetica, sans-serif;
  padding: 18px 26px;
  text-align: right;
  white-space: normal;
}
.btn-primary:hover {
  background: #ad1e25;
}
.btn_ico-right .fa, .btn_ico-left .fa {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn_ico-left {
  padding-right: 50px;
}
.btn_ico-left .fa {
  right: 20px;
}
.btn_ico-right {
  padding-left: 50px;
}
.btn_ico-right .fa {
  left: 20px;

  // ++g++
  right:initial;
}
.btn_transparent, .btn_transparent:hover, .btn_transparent:focus, .btn_transparent:active, .btn_transparent:active:focus {
  background: none;
  color: #d8212c;
}
.btn-advanced {
  background: #f2f2f2;
  border: none;
  color: #313a41;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  padding: 18px 44px 18px 44px;
  min-width: 194px;
  text-align: right;
  position: relative;
}
.btn-advanced:after, .btn-advanced:before {
  position: absolute;
  top: 50%;
  right: 17px;
  height: 3px;
  width: 13px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background: #3d3d3d;
  content: '';
}
.btn-advanced:before {
  background: #3d3d3d;
  width: 3px;
  height: 13px;
  right: 22px;
}
.btn-advanced:hover {
  background: #3d3d3d;
  color: #fff;
}
.btn-advanced:hover:after, .btn-advanced:hover:before {
  background: #fff;
}
.btn-black {
  background: #2e3e4b;
}
.btn-black:hover {
  background: #1b242b;
}
.btn.btn-full-width {
  width: 100%;
}
@media (max-width: 1024px) {
  .btn-primary {
    font-size: 14px;
    padding: 15px 18px;
  }
  .btn_ico-right {
    padding-left: 40px;
  }
  .btn_ico-right .fa {
    left: 18px;
  }
  .btn_ico-left {
    padding-right: 40px;
  }
  .btn_ico-left .fa {
    right: 18px;
  }
  .btn-advanced {
    padding: 15px 48px 15px 25px;
  }
}