.chk-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  font-size: 12px;
  margin: 0 5px;
}
.chk-btn span,
.chk-btn [type=checkbox] {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.chk-btn span {
  border: 1px solid #333d47;
  border-radius: 2px;
}
.chk-btn [type=checkbox] {
  opacity: 0;
}
.chk-btn [type=checkbox]:checked + span {
  background: #333d47;
}
.chk-btn [type=checkbox]:checked + span:before {
  content: '\f00c';
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  color: #fff;
  font-family: 'fontawesome';
}