.o-list {
  list-style: none;
  margin: 0 10px 21px 0;
  counter-reset: i;
}
.o-list li {
  position: relative;
  counter-increment: i;
}
.o-list li:before {
  content: counter(i);
  position: absolute;
  top: 0;
  right: 0;
  color: #d8212c;
  font-weight: 700;
}