.rad-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  font-size: 12px;
  margin: 0 5px;
}
.rad-btn span,
.rad-btn [type=radio] {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.rad-btn span {
  border-radius: 50%;
  border: 1px solid #333d47;
}
.rad-btn [type=radio] {
  opacity: 0;
}
.rad-btn [type=radio]:checked + span {
  background: #333d47;
}
.rad-btn [type=radio]:checked + span:before {
  content: '\f00c';
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  color: #fff;
  font-family: 'fontawesome';
}
@media (max-width: 767px) {
  .rad-btn {
    width: 18px;
    height: 18px;
  }
}