.u-leaf {
  list-style: none;

  li {
    position: relative;
    padding: 0 20px 0 0;
    margin: 0 0 12px;

    &:before {
      content: '';
      width: 9px;
      height: 11px;
      position: absolute;
      top: 0.4em;
      right: 0;
      background: url(../media/icons/leaf.svg) 100% 0 no-repeat;
      background-size: 100% auto;
    }
  }  
}

.u-normal {
  list-style: outside;
  padding-left: inherit;
  
  li {
    .u-normal {
      margin-top:1em;
      list-style-type:circle;
    }
  }
}

.u-none {
  list-style: none;

  li {
    list-style: none;

    &:before {
      content: none !important;
    }
  }
}