header {
  font-size: 14px;
  a:hover {
    text-decoration: none;
  }
  .lefsid {
    position: relative;
    z-index: 1001;

    .logoone {
      width:260px;
      margin: 15px 15px 15px 0;

    }
  }
  .tb-megamenu .nav li.dropdown>.dropdown-toggle .caret {
    display: none;
  }
}

.main-header {
  &.ignore {
    position:initial !important;
    padding:0 !important;
    margin:0 !important; 
    position: inherit !important;
  }
  .external-logos-special-container {
    &.left {
      position: absolute;
      left: -300px;
      width: 190px;
      float: left;
      margin: 9px 40px 15px 0;
      max-height: 80px;
      overflow: hidden;
      #logo, #logo-mini {
        display:none;
      }
    }

    &.right {
      position: absolute;
      left:initial;
      left:auto;
      right:0;
      width: 190px;
      float: left;
      margin: 9px 40px 15px 0;
      max-height: 80px;
      overflow: hidden;
      top:0;
       #logo-mini {
         display: none;
       }
    }

    #logo {
      fill: $black_1;
      width: 100%;
      height: 80px;
    }
    #logo-face-only {
      fill: $black_1;
      width: 100%;
      visibility: hidden;
    }
  }
}

/* no overlay and front page */

/* darken header background */

header.inner-hero-without-overlay,
.front-hero-without-overlay header {
  // 1/23/2019 box-shadow: 3px 0 10px 0 rgba(30, 30, 30, 0.1);
  // 1/23/2019 background-color: rgba(14, 30, 44, 0.5);
  // 17/9/2019 
  box-shadow: 3px 0 10px 0 rgba(30, 30, 30, 0.05);
  // 17/9/2019 
  background-color: rgba(14, 30, 44, 0.3);
  // box-shadow: 3px 0 10px 0 rgba(30, 30, 30, 0.0);
  // background-color: rgba(14, 30, 44, 0);
}

.front-hero-without-overlay .views-element-container header:hover {
  background-color:$white_1;
}

header.forced-hover,
header.inner-hero-without-overlay:hover,
header.inner-hero-without-overlay.without-hero,
header.inner-hero-without-overlay.headroom--not-top,
header.inner-hero-without-overlay.nav-opened,
.front-hero-without-overlay header:hover,
.front-hero-without-overlay header.without-hero,
.front-hero-without-overlay header.headroom--not-top,
.front-hero-without-overlay header.nav-opened {
  // 1/23/2019 background-color: $white_1;
  box-shadow: 3px 0 10px 0 rgba(30, 30, 30, 0.05);
  background-color: rgba(14, 30, 44, 0.8);
  .external-logos-special-container {
    #logo,
    #logo-mini {
      fill: $black_1 !important;
      /* display:none; */
    }
    /* #logo-mini {
      display:none;
    } */
  }
}

header {
  &.without-hero {
    .lefsid {
      .contact-details {
        // 1/23/2019
        // box-shadow: 1px 1px 5px $white_3;
        box-shadow: 1px 1px 5px $black_1;

      }
      &.open {
        .contact-details {
          &:before {
            /* box-shadow: 1px 1px 5px $white_3; */
          }
        }
      }
    }
  }
  .lefsid {
    position: relative;
    text-align: center;
    /* contact here */
    .contact-details {
      position: absolute;
      width: 500px;
      background: $white_1;
      left: -26%;
      display: none;
      color: $red_1;
      text-align: center;
      padding: 0 15px 15px 15px;
      top: 125%;
      font-family: "kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif;
      font-weight: 500;
      font-style: normal;
      .content {
        text-align: left;
        position: relative;
        top: -5px;
        h3 {
          font-size: 18px;
          margin-bottom: 5px;
          color: $black_4;
        }
        h3:not(:first-child) {
          margin-top: 25px;
        }
        table {
          width: 100%;
          font-size: 14px;
          tr th {
            width: 20%;
            color: $black_5;
          }
        }
      }
    }
    &.open {
      .contact-details {
        display: block;
        &:before {
          content: ' ';
          position: relative;
          width: 0;
          height: 0;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-bottom: 25px solid $white_1;
          top: -43px;
          text-shadow: none;
          box-shadow: none;
        }
      }
    }
    /* /contact here */

    &.full-width {
      width:100%;
    }

    /* external logos */
    .external-logos {
      overflow:hidden;
      .logo {
        height:80px;
        max-height: 80px;
        margin: 15px 0;
        padding-left: 10px;
        img {
          height: 100%;
        }
      }
    }
    /* /external logos */
  }
  .tb-megamenu {
    background: none;
    /* remove default button */
    button,
    .btn,
    .btn-navbar {
      display: none !important;
    }
    .tb-megamenu-nav {
      float: left;
      .tb-megamenu-item {
        position: static;
        float: left;
        /* first level - main */
        >a,
        >span {
          text-transform: uppercase;
          /* padding: 43px 12px; */
          font-family: "kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif;
          font-weight: 500;
          font-style: normal;
          background: none !important;
          color: $white_1 !important;
          border: 0;
          /* lots of items */
          padding: 45px 6px;
          font-size: 13px;
          line-height: 24px;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            display: block;
            height: 2px;
            background: #d8212c;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            opacity: 0.8;
            border:0;
          }
        }
        .tb-megamenu-submenu {
          &.dropdown-menu {
            width: 100%;
            font-family: "kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif;
            font-weight: 500;
            font-style: normal;
            list-style: none;
            margin: 0;
            // 1/23/2019 background-color: $white_1;
            background-color: rgba(14, 30, 44, 0.8);
            left: 0;
            right: 0;
            text-align: left;
            padding: 10px;
            border-bottom: none;
            border-radius: 0;
            border: 0;
            a,
            span {
              display: block;
              text-transform: none;
              &.mega-group-title {
                text-transform: none;
                color: $red_1 !important;
                font-family: "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
                font-weight: 300;
                font-style: normal;
                font-weight:bold;
              }
              &:after {
                background: none;
              }
            }
            .tb-megamenu-item {
              float: none;
              a,
              span {
                padding: 0;
              }
            }
            .mega-inner {
              padding: 0;
            }
            .tb-megamenu-column {
              .tb-megamenu-subnav {
                .tb-megamenu-item {
                  &:not(.mega-group) {
                    padding: 8px 0;
                  }
                  &.mega-group {
                    .mega-group-title {
                      padding: 8px 0;
                    }
                  }
                }
              }
              .tb-megamenu-block {
                a {
                  display: inline-block;
                }
              }
            }
          }
        }
        &:hover {
          a,
          span {
            color: $red_1;
          }
          /* TODO:// */
          /* IE hack for display:none external css not firing */
          /* see https://stackoverflow.com/questions/20356311/internet-explorer-11-ignores-list-stylenone-on-the-first-load */
          ul.tb-megamenu-subnav {
            display: block !important;
          }
          >a.tb-megamenu-clicked:after,
          >a:after {
            width: 100%;
          }
        }
        &.level-3 {
          a.mega-group-title {
            color: $black_4 !important;
          }
          .level-4 {
            span:before,
            a:before {
              content: "\f0da";
              padding-right: 5px;
              font-family: FontAwesome;
              font-size: inherit;
            }
          }
        }
      }
    }
    &:after {
      clear: both;
    }
  }
  .pull-right {
    padding-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    padding-right: 0;

    [class*="col-"] {
      padding-left:0;
      padding-right:0;
    }

    .row {
      margin-left:0;
      margin-right:0;
    }

    .arabic-programs {
      float: right;
      margin-bottom: 0.5em;
      clear:both;
      margin-top: 25px;

      a {
        white-space:nowrap;
        text-align:right;
        direction:rtl;
      }
    }

    .portal-wrap {
      padding-bottom: 35px;
      ul {
        top: 100%;
      }
      &:hover {
        border-bottom: 0;
        padding-bottom: 43px;
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: #d8212c;
        }
      }
    }
    .search-wrap {
      margin: 0;
      color: #fff;
      position: relative;
      margin-top: 0;
      .fa {
        font-size: 18px;
        color: $white_1;
      }
    }
    .search-wrap:hover input[type="text"] {
      width: 650px;
    }
  }
}

header.forced-hover,
header.without-hero,
header.headroom--not-top,
header.headroom--not-bottom:not(.headroom--top),
header:hover {
  .tb-megamenu {
    .tb-megamenu-nav {
      .tb-megamenu-item {
        >a {
          // 1/23/2019  color: $black_4 !important;
          color: $white_1 !important;
        }
        &:hover {
          >a {
            color: $red_1 !important;
          }
        }
      }
    }
  }
  .pull-right {
    .search-wrap {
      button {
        // 1/23/2019 color: $black_4;
        color: $white_1;
      }
    }
    .portal-wrap {
      // 1/23/2019 color: $black_4;
      color: $white_1;
      a {
        // 1/23/2019 color: $black_4;
        color: $white_1;

        &:hover {
          color: $red_1;
        }
      }
    }
  }
}

/* deprecated - indivirtual */

header .navbar-inverse .navbar-nav>li:hover>a,
header .navbar-inverse .navbar-nav>li.active>a {
  border-bottom: 0;
}

header .navbar-inverse .navbar-nav>li:hover>a:after,
header .navbar-inverse .navbar-nav>li.active>a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #d8212c;
}

header .sub-nav-wrap a,
header .sub-nav-wrap strong {
  font-family: "kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
}

header .sub-nav-wrap strong {
  color: #333;
}

header {
   .pull-right {
     .portal-wrap{
       &:hover {
         border-bottom: 0;
         &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: #d8212c;
         }
       }

       ul, ul li {
         list-style:none;
         padding:0;
         margin:0;
       }
     } 
   } 
}

header.nav-opened {
  /* background: $white_1; */
}

.touch {
  .portal-wrap {
    .portal-links {
      display: none !important;
    }
    &:after {
      content: none !important;
    }
    &.open {
      .portal-links {
        display: block !important;
      }
      &:after {
        content: '' !important;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #d8212c;
      }
    }
  }
}

@import "header_media";
