@media (min-width: 1681px) {
  header {
    &.main-header {
      >.container {
        position: relative;
        .external-logos-special-container {
          &.right {
            right: -275px;
          }
        }
      }
    }
  }
}

@media (min-width: 1441px) and (max-width: 1680px) {
  header {
    .pull-right {
      right: 50px;
    }
    &.main-header {
      .external-logos-special-container {
        &.right {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  header {
    .lefsid {
      .logoone {
        margin: 10px 10px 10px 0;
        
        width: 250px;
      }
    }
    .tb-megamenu {
      background: none;
      .tb-megamenu-nav {
        .tb-megamenu-item {
          >a,
          >span {
            padding-left: 5px;
            padding-right: 5px;
            font-size: 13px;
          }
        }
      }
    }
    .pull-right {
      right: 125px;
    }
    &.main-header {
      .external-logos-special-container {
        &.right {
          width: 125px;
        }
      }
    }
  }
}

@media (max-width:1279px) {
  header {
    &.main-header {
      .external-logos-special-container {
        &.right {
          display:none;
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  header .tb-megamenu .level-0>.level-1>.tb-megamenu-submenu {
    min-height: 250px;
  }
  header {
    .lefsid .logoone {
      width: 200px;
      margin: 0;
      a,
      span {
        background-size: 75% auto !important;
      }
    }
    .tb-megamenu {
      background: none;
      .tb-megamenu-nav {
        .tb-megamenu-item {
          >a,
          >span {
            font-size: 12px;
            padding: 32px 5px;
          }
        }
      }
    }
    .pull-right {
      top: -15px;
      right:75px;

      .portal-wrap {
        padding-bottom: 35px;
        a {
          font-size: 12px;
        }
      }
      .arabic-programs {
        font-size: 12px;
      }
      .search-wrap:hover input[type=text] {
        width: 500px;
      }
    }
    &.main-header {
      .external-logos-special-container {
        &.right {
          width: 125px;
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 991px) {

  header.headroom--not-top .pull-right .portal-wrap > a, 
  header.nav-opened .pull-right .portal-wrap > a {
      color: $white_1;
  }

  .main-header {
    #special-logo {
      .logoone {
        margin: 5px 5px 5px 50px;
      }
    }
    .external-logos-special-container {
      &.left {
        left: 0;
        width: 50px;
        margin: 0;
        height: 80px;
        #logo {
          visibility: hidden;
          position: absolute;
          z-index: 0;
          left: -99999px;
        }
        #logo-mini {
          height: 90px;
          width: 55px;
          display: block;
          visibility: visible;
        }
      }
      &.right {
        display: none;
      }
    }
  }
  header {
    .lefsid {
      .contact-details {
        left: 2%;
        width: 250px;
        .content {
          h3 {
            font-size: 14px;
            margin-bottom: 3px;
          }
          h3:not(:first-child) {
            margin-top: 5px;
          }
          table {
            font-size: 12px;
          }
        }
      }
      .logoone {
        width: 140px;
        margin: 2px 15px 2px 0;
        a,
        span {
          background-size: 100% auto !important;
        }
      }
      .external-logos {
        .logo {
          height: 55px;
          max-height: 55px;
          margin: 5px 0;
          padding-left: 10px;
          img {
            height: 100%;
          }
        }
      }
    }
    .tb-megamenu {
      background: none;
      .tb-megamenu-nav {
        .tb-megamenu-item {
          >a,
          >span {
            padding: 33px 3px;
            font-size: 11px;
            line-height: 1.5;
          }
          .tb-megamenu-submenu {
            &.dropdown-menu {
              .tb-megamenu-column {
                .tb-megamenu-subnav {
                  .tb-megamenu-item {
                    &:not(.mega-group) {
                      padding: 5px 0;
                    }
                    &.mega-group {
                      .mega-group-title {
                        padding: 5px 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .pull-right {
      padding-top: 0;
      right: 5px;

      .portal-wrap {
        padding-bottom: 30px;
        a {
          font-size: 12px !important;
          line-height: 1.5 !important;
        }
        ul {
          width: 300% !important;
          background:none !important;
        }
      }
      .arabic-programs {
        margin-top: 0;
        float: none;
        padding-left: 10px;
      }
      .search-wrap {
        margin-right: 0;
        margin-top: 0;
        width:100%;
        
        .fa {
          font-size: 12px;
          top: -1px;
        }
      }
      .search-wrap:hover input[type=text] {
        width: 455px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header {
    .tb-megamenu .tb-megamenu-nav .tb-megamenu-item .tb-megamenu-submenu.dropdown-menu .tb-megamenu-item a,
    .tb-megamenu .tb-megamenu-nav .tb-megamenu-item .tb-megamenu-submenu.dropdown-menu .tb-megamenu-item span {
      padding: 0;
      margin-left: 0;
    }
    .tb-megamenu .tb-megamenu-nav .tb-megamenu-item .tb-megamenu-submenu.dropdown-menu .tb-megamenu-column .tb-megamenu-block a {
      border: 0;
    }
    .tb-megamenu .row-fluid,
    .tb-megamenu .mega-dropdown-menu,
    .tb-megamenu .row-fluid [class*="span"] {
      width: auto !important;
      min-width: inherit !important;
      left: initial !important;
    }
    .tb-megamenu .row-fluid .span3 {
      width: 22.92817679558011% !important;
      margin-left: 1.5% !important;
    }
    .tb-megamenu .nav-collapse,
    .tb-megamenu .nav-collapse.collapse {
      display: block;
      float: left;
      position: initial;
      width: auto;
      background: none;
      clear: none;
      margin: 0;
      height: auto !important;
    }
    .tb-megamenu .always-show .mega>.mega-dropdown-menu,
    .tb-megamenu .always-show .dropdown-menu {
      display: none !important;
      position: absolute;
    }
    .tb-megamenu .always-show .tb-megamenu-nav .tb-megamenu-item.level-1.open,
    .tb-megamenu .always-show .tb-megamenu-nav .tb-megamenu-item.level-1:hover {
      .dropdown-menu {
        display: block !important;
      }
    }
  }
}

@media (max-width: 767px) {

  .main-header {
    .external-logos-special-container { 
      &.left {
        #logo-mini {
          height: 70px;
        }
      }
    }
  }

  header:not(.we-megamenu) {
    .pull-right {
      visibility: visible;
      padding: 0 15px !important;
      display:inline-block;
    }

    -webkit-box-shadow: none;
    box-shadow: none;
    .lefsid {
      .contact-details {
        left: -8%;
      }
      .logoone {
        width: 183px;
        margin: 5px;
        a,
        span {
          height: 60px !important;
        }
      }
    }
    .navbar-inverse {
      .navbar-toggle {
        width: 40px;
        height: 40px;
        margin: 10px 0 0;
        padding: 9px 5px;
        .icon-bar {
          height: 3px;
          width: auto;
          margin: 0 0 7px;
          border-radius: 0;
        }
        .icon-bar:last-child {
          margin-bottom: 0;
        }
      }
    }
    #nav {
      display: block;
      overflow: hidden;
      position: relative;
      text-align: left;
      height: 0;
      margin: 0 -15px;
      padding: 0;
      -webkit-transition: height .4s;
      -ms-transition: height .4s;
      transition: height .4s;
      color:$white_1;
      .back .btn {
        background: none !important;
        display: block !important;
        // color: $black_4 !important;
        color: $white_1 !important;
        outline: 0 !important;
        border: none !important;
        box-shadow: none;
        &:hover {
          color: $red_1 !important;
        }
      }
      .pull-right,
      .search-wrap,
      .portal-wrap {
        float: none !important;
        position: relative;
      }
      .pull-right {
        padding: 0 30px;
        margin-bottom: 150px;
        left: 0;
      }
      .search-wrap {
        position: relative;
        margin: 0;
        button {
          position: absolute;
          top: 25%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-size: 19px;
          right: 8px;
          color: #4a545d;
        }
        .search-input {
          position: static;
          display: block;
          width: 100% !important;
          background: #e9e9e9;
          direction:ltr;
          opacity: 1;
          color: #919191;
          font-size: 16px;
          font-weight: 600;
          height: 45px;
          padding: 0 40px 0 19px;
          line-height: auto;
        }
      }
      .portal-wrap {
        padding: 0;
        margin: 0 0 10px;
        .portal {
          font-size: 16px !important;
          line-height: 1.2 !important;
          text-transform: uppercase;
          padding: 10px 0;
          position: relative;
          display: block;
          margin: 0;
          .fa {
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 20px;
          }
        }
        .portal-links {
          position: static;
          display: block !important;
          width: auto;
          padding: 0;
          li {
            margin: 0;
          }
          a {
            font-size: 1em !important;
            padding: 10px 0;
            color:$white_1;
          }
        }
      }
      .portal-links:after,
      .portal-wrap .portal:after,
      .portal-wrap:hover:after {
        display: none;
        border: 0 !important;
      }
      /* #nav */
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #919191;
      }
      .back-opened {
        display: none;
      }
    }
    /* header */
    &.nav-opened {
      #nav {
        overflow: auto;
        height: 100vh;
      }
      .navbar-toggle {
        position: relative;
        .icon-bar {
          display: none;
        }
      }
      .navbar-toggle:after,
      .navbar-toggle:before {
        background: $red_1;
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-43deg);
        -ms-transform: translate(-50%, -50%) rotate(-43deg);
        transform: translate(-50%, -50%) rotate(-43deg);
        content: '';
      }
      .navbar-toggle:before {
        -webkit-transform: translate(-50%, -50%) rotate(43deg);
        -ms-transform: translate(-50%, -50%) rotate(43deg);
        transform: translate(-50%, -50%) rotate(43deg);
      }
    }
    /* header */
    /* the prepended / js manipulated menu */
    .tb-megamenu {
      .row-fluid .mega-col-nav {
        width: 100% !important;
        margin: 0 10px !important;
        .mega-group-title {
          text-transform: uppercase !important;
          font-size: inherit;
        }
        a {
          padding-left: 0 !important;
        }
        .mega-col-nav {
          margin-left: 0 !important;
        }
      }
      .nav-collapse {
        background: none;
        &.always-show {
          position: initial;
          display: block !important;
          overflow: unset;
          overflow-y: auto !important;
          overflow-x: unset !important;
          height: auto !important;
          &.back-opened {
            height: 100vh !important;
          }
          .mega>.mega-dropdown-menu,
          .dropdown-menu {

            h3 {
              color: $white_1;
            }

            display: none !important;
          }
          .tb-megamenu-nav {
            margin: 24px 0 26px;
            padding: 0 30px;
            display: block;
            width: 100%;
            >li {
              >a,
              >span {
                padding: 10px 0;
                font-family: "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 16px;
                border: none;
                // 1/23/2019 color: $black_4 !important;
                color: $white_1 !important;
                text-transform:none;
              }
              &:hover>a,
              &:hover>span {
                color: $red_1 !important;
              }
              >a:after,
              >span:after,
              &:hover>a:after,
              &:hover>span:after {
                display: none;
                border: 0 !important;
              }
            }
            .tb-megamenu-item {
              float: none;
            }
            &.level-0 {
              margin-top: 0;
              padding: 0 15px;
            }
            &:not(.level-0) {
              display: none;
            }
          }
          .tb-megamenu-nav {
            &.level-0 {
              .tb-megamenu-item {
                &.open {
                  .tb-megamenu-submenu.nav-child {
                    position:relative !important;
                    display: block !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    padding-top: 0 !important;
                    background:none;
                  }
                }
              }
            }
          }
          .tb-megamenu-submenu.sub-nav-wrap .tb-megamenu-submenu {
            padding-left: 0 !important;
          }
          /* 2nd lvl */
          .tb-megamenu-submenu {
            margin: 0;
            border: 0;
            box-shadow: none;
            &.nav-child {
              /* position: absolute;
              z-index: 10;
              top: 1px; */
              right: auto;
              left: 0;
              /* min-height: 100vh; */
              width: 100%;
              /* -webkit-transition: transform 10s;
              -ms-transition: transform 10s;
              transition: transform 10s;
              -webkit-transform: translateX(-100%);
              -ms-transform: translateX(-100%);
              transform: translateX(-100%); */
              /* 3rd lvl */
              .tb-megamenu-submenu {
                background: none !important;
                position: relative !important;
                height: 100% !important;
                overflow: hidden;
                z-index: 10;
                display: block;
                top: 1px;
                right: auto;
                left: 0;
                padding: 10px 15px;
              }
              .back {
                margin: 0 0 15px;
                padding: 0;
                border-bottom: 1px solid #9a9a9a;
                .btn {
                  font-family: "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
                  font-size: 16px;
                  line-height: 1.2;
                  font-weight: 700;
                  font-style: normal;
                  padding: 15px 18px 15px 34px;
                  .fa {
                    left: 0;
                    font-size: 20px;
                    top: 45%;
                  }
                }
              }
              .tb-megamenu-column {
                margin: 0 !important;
              }
              .tb-megamenu-block,
              .mega-nav {
                margin: 0 15px;
                .mega-nav {
                  margin: 0;
                }
                .tb-megamenu-submenu {
                  padding-top: 0;
                }
              }
              .prepended {
                padding: 0 15px;
              }
              .block-inner {
                margin-top: 0;
                padding: 0;
                h1,
                h2,
                h3,
                h3 a {
                  font-size: initial;
                  font-family: "kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif;
                  ;
                  font-weight: 500;
                  font-style: normal;
                }
                .menu--image-container {}
              }
              ul li {
                float: none;
                width: auto;
                margin: 0;
                padding: 10px 0;
                ul li {
                  &.mega,
                  &:last-child {
                    padding-bottom: 0;
                    padding-top: 10px;
                  }
                  ul li {
                    padding: 0;
                    &:last-child {
                      padding-bottom: 0;
                    }
                  }
                }
                a {
                  border: none;
                  margin-left: 0 !important;
                  font-size: inherit;
                  text-transform: none;
                }
              }
            }
          }
          .tb-megamenu-nav .tb-megamenu-item>a:after,
          .tb-megamenu-nav .tb-megamenu-item>span:after {
            -webkit-transition: none;
            -moz-transition: none;
            transition: none;
            background: none;
            content: none !important;
          }
          .tb-megamenu-nav .tb-megamenu-item .tb-megamenu-submenu a,
          .tb-megamenu-nav .tb-megamenu-item .tb-megamenu-submenu span {
            // color: $black_4 !important;
            color: $white_1 !important;
            border: 0;
          }
          xtb-megamenu {
            .block-inner {
              padding-left: 10px;
              margin-top: 25px;
            }
          }
        }
        /* always */
      }
    }
  }
}

@media (max-width: 449px) {
  header {
    .lefsid {
      .contact-details {
        width: 100%;
        width: 100vw;
      }
    }
  }
}
