.main {
  overflow: hidden;
  position: relative;
  display: block;
  background: $white_3;

  .block-content-terms-and-conditions {
    padding-top:60px;
    border-top: 20px solid #eaeaea;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
    font-size:14px;

    h3 {
      font-size: 16px;
    }
  }
}

.main:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  background: #fff;
}

.main > .container {
  position: relative;
  font-weight: 300;
}

.main > .container:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 1px;
  /* background: #eaeaea; */
  display: block;
}

@media (max-width: 767px) {
  .main {
    background: none;

    .block-content-terms-and-conditions {
      padding-top: 30px;
      border-top: 10px solid #eaeaea;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 12px;
      h3 {
        font-size: 14px;
      }

      p {
        margin-bottom:1em;
      }
    }
  }
  
  .main:before {
    display: none;
  }
  .main > .container {
    position: relative;
  }
  .main > .container:before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -15px;
    right: -15px;
    height: 1px;
    /* background: #eaeaea; */
    display: block;
  }
}

@import
"main_media";