.sidebar {
  padding: 84px 5.1% 30px 0;
  width: 28.9%;
  min-width: 240px;
  min-height: 1px;
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;

  .body--block {
    padding: 15px 25px;
  }
  .program-table {
    th {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .movie {
    .views-field-title {
      font-weight: bold;
      color: $red_1;
      padding: 15px 0;
      font-size: 14px;
    }

    .views-field-body {
      font-size: 12px;
    }

    .views-field-field-simple-url{

      font-size:12px;
      font-family: Arial, Helvetica, sans-serif;

      i {
        padding-right: 5px;
      }
    }
  }
}

@media (min-width: 768px) {

  .sidebar__opener__empty {
    display: none;
  }

  .sticky-header .sidebar[data-state=sticky] {
    -webkit-transform: translateY(80px);
    -ms-transform: translateY(80px);
    transform: translateY(80px);
  }
}

@media (min-width: 992px) {
  .sticky-header .sidebar[data-state=sticky] {
    -webkit-transform: translateY(102px);
    -ms-transform: translateY(102px);
    transform: translateY(102px);
  }
}

@media (min-width: 1200px) {
  .sticky-header .sidebar[data-state=sticky] {
    -webkit-transform: translateY(110px);
    -ms-transform: translateY(110px);
    transform: translateY(110px);
  }
}

@media (max-width: 1024px) {
  .sidebar {
    padding-right: 2.5%;
    padding-top: 30px;
  }
}

@media (max-width: 767px) {

  header:not(.we-megamenu) {
    padding: 0 15px;

    .navbar-inverse .navbar-toggle {
      width: 30px;
      height: 30px;
      margin: 15px 0 0;
      padding: 9px 5px;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
      height: 2px;
      width: auto;
      margin: 0 0 5px;
      border-radius: 0;
    }
  }

  .sidebar__slide {
    padding:15px;

    &:last-child {
      margin-bottom:0;

      .sidebar__slide:last-child {
        margin-bottom:0;
      }
    }

    .sidebar__slide {
      padding:0;
      margin-bottom:1em;


    }

    .side-nav .side-nav__item > a,
    .side-nav .side-nav__item > span {
      padding: 5px 0;
      font-size: 0.8em;
    }

  }
  .sidebar {
    position: static;
    width: auto;
    padding: 0;
    /* margin: 0 -30px 36px; */
    background: #eaeaea;
    
    h3, .h3 {
      font-size:1em;
    }

    .clickable-opener {
      top:0;

      i {
        top:5px;
      }
    }

    .side-nav .side-nav__item {
      border-bottom:0;
    }
  }
  .appended-block-title,
  .sidebar__opener {
    position: relative;
    background: #eaeaea;
    padding:15px;
    margin: 0;
    font-size: 14px;
  }

  .sidebar__opener .menu-icon {
    font-size:1.3em;
  }

  .sidebar__opener i {
    position: absolute;
    right: 32px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
  }
  .sidebar__opener i:before, .sidebar__opener i:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin: -1px 0 0;
    width: 100%;
    height: 2px;
    background: #434b55;
  }
  .sidebar__opener i:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .active .sidebar__opener:after {
    display: none;
  }

  .sidebar__slide {
    display: none;
  }

  .sidebar.active .sidebar__opener {
    color: #fff;
    background: #424c56;
  }
  .sidebar.active .sidebar__opener i {
    color: inherit;
  }
  .sidebar.active .sidebar__opener i:before {
    background: #fff;
  }
  .sidebar.active .sidebar__opener i:after {
    display: none;
  }
}