html[dir="rtl"] {
  .iti {
    direction:ltr;

    .selected-flag {
        direction: ltr;
    }

    &.allow-dropdown input, 
    &.allow-dropdown input[type=text], 
    &.allow-dropdown input[type=tel], 
    &.separate-dial-code input, 
    &.separate-dial-code input[type=text], 
    &.separate-dial-code input[type=tel] {
        padding-right: 6px;
        padding-left: 52px;
        margin-left: 0;
        text-align: right;
    }
}
}