@font-face {
    font-family: 'DubaiLight';
    src: url('fonts/DubaiLight.eot');
    src: url('fonts/DubaiLight.eot') format('embedded-opentype'),
         url('fonts/DubaiLight.woff2') format('woff2'),
         url('fonts/DubaiLight.woff') format('woff'),
         url('fonts/DubaiLight.ttf') format('truetype'),
         url('fonts/DubaiLight.svg#DubaiLight') format('svg');
}
