@font-face {
    font-family: 'DubaiRegular';
    src: url('fonts/DubaiRegular.eot');
    src: url('fonts/DubaiRegular.eot') format('embedded-opentype'),
         url('fonts/DubaiRegular.woff2') format('woff2'),
         url('fonts/DubaiRegular.woff') format('woff'),
         url('fonts/DubaiRegular.ttf') format('truetype'),
         url('fonts/DubaiRegular.svg#DubaiRegular') format('svg');
}
