@font-face {
    font-family: 'DubaiBold';
    src: url('fonts/DubaiBold.eot');
    src: url('fonts/DubaiBold.eot') format('embedded-opentype'),
         url('fonts/DubaiBold.woff2') format('woff2'),
         url('fonts/DubaiBold.woff') format('woff'),
         url('fonts/DubaiBold.ttf') format('truetype'),
         url('fonts/DubaiBold.svg#DubaiBold') format('svg');
}
