@font-face {
    font-family: 'DubaiMedium';
    src: url('fonts/DubaiMedium.eot');
    src: url('fonts/DubaiMedium.eot') format('embedded-opentype'),
         url('fonts/DubaiMedium.woff2') format('woff2'),
         url('fonts/DubaiMedium.woff') format('woff'),
         url('fonts/DubaiMedium.ttf') format('truetype'),
         url('fonts/DubaiMedium.svg#DubaiMedium') format('svg');
}
