{# external logo specials #}
                    {# % if page.external_logos_special %}
                    <div class="external-logos-special-container right">
                        {{ page.external_logos_special }}
                    </div>
                    {% endif % #}
                    {# /external logo specials #}

                    <div class="container sticky">
                        <div class="row">

                                <div class="col col-3 col-lg-3 col-md-3 d-none d-sm-block">
                                        <div class="lefsid">
                                                {# logo #}
                                                {% if not page.custom.logo_hyperlink == 'non-clickable-logo' %}
                                                <div class="logoone">
                                                <a href="/ar"></a>
                                                </div>
                                                {% else %}
                                                <div class="logoone">
                                                <span class="logo">&nbsp;</span>
                                                </div>
                                                {% endif %}
                                        </div>
    
                                        {# external logos / right area #}
                                        {# % if page.external_logos %}
                                        <div class="external-logos">
                                            {{ page.external_logos }}
                                            </div>
                                        {% endif % #}
                                        {# external logos / right area #}
                                </div>

                            <div class="col col-12 col-lg-9 col-md-9">

                                    

                                    <nav class="navbar navbar-inverse navbar-static-top p-0" role="navigation">
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>

                                                <div class="lefsid visible-xs left">
                                                        {# logo #}
                                                        {% if not page.custom.logo_hyperlink == 'non-clickable-logo' %}
                                                        <div class="logoone">
                                                        <a href="/"></a>
                                                        </div>
                                                        {% else %}
                                                        <div class="logoone">
                                                        <span class="logo">&nbsp;</span>
                                                        </div>
                                                        {% endif %}
                                                </div>
                                            </div>
                                            
                                            {# Collect the nav links, forms, and other content for toggling #}
                                            <div class="collapse navbar-collapse" id="nav">
                                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        {{ page.header }}

                                                        <div class="pull-right indicud">
                                                                {{ page.header_extras }}
                                                        </div>
                                                    </div>
                                            </div>
                                    </nav>

                                  
                        
                            </div>
                            
                        </div><!-- /row -->
                    </div><!--/container sticky -->