<div class="container">

    {% set external_logos_special_id = '' %}
    {% if page.external_logos_special %}
        {% set external_logos_special_id = 'special-logo' %}
    {% endif %}

    {% set full_left_side_class = '' %}
    {% if not page.header %}
        {% set full_left_side_class = ' full-width' %}
    {% endif %}

    {% set external_logos_class = '' %}
    {% if page.external_logos %}
        {% set external_logos_class = ' just-too-many-logos' %}
    {% endif %}

    <div id="{{ external_logos_special_id }}" class="lefsid{{ full_left_side_class }} {{ external_logos_class }}">
        {# external logo specials #}
        {% if page.external_logos_special %}
            <div class="external-logos-special-container left">
                {{ page.external_logos_special }}
            </div>
        {% endif %}
        {# /external logo specials #}

        {# logo #}
        {% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
            <div class="logoone">
                <a href="/"></a>
            </div>
        {% else %}
            <div class="logoone">
                <span class="logo">&nbsp;</span>
            </div>
        {% endif %}

        {% if page.contact %}
            <div class="contact-details animated bounceInDown">
                {{ page.contact }}
            </div>
        {% endif %}
        {# /logo #}

        {# external logos / right area #}
        {% if page.external_logos %}
            <div class="external-logos">
                {{ page.external_logos }}
            </div>
        {% endif %}
        {# external logos / right area #}

    </div>

    {% if page.header %}
    <nav class="navbar navbar-inverse navbar-static-top p-0" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        {# Collect the nav links, forms, and other content for toggling #}
        <div class="collapse navbar-collapse" id="nav">

            {# tb menu & extras #}
           
                {{ page.header }}

                <div class="pull-right indicud">
                    {{ page.header_extras }}
                </div>
           


        </div>
    </nav> 
    {% endif %}

    {# external logo specials #}
    {% if page.external_logos_special %}
        <div class="external-logos-special-container right">
            {{ page.external_logos_special }}
        </div>
      {% endif %}
    {# /external logo specials #}
</div>
