@mixin ff($fontName, $fileName) {
	@font-face {
		font-family: "#{$fontName}";
		src: url("../fonts/#{$fileName}.eot");
		src: url("../fonts/#{$fileName}.woff") format("woff"),
			url("../fonts/#{$fileName}.woff") format("woff2"),
			url("../fonts/#{$fileName}.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}
}

// http://compass-style.org/reference/compass/helpers/sprites/
@mixin get-sprite($map, $sprite, $x2: false, $repeat: no-repeat, $height: true, $width: true) {
	//http://compass-style.org/reference/compass/helpers/sprites/#sprite-file
	$sprite-image: sprite-file($map, $sprite);

	// http://compass-style.org/reference/compass/helpers/sprites/#sprite-url
	$sprite-map-url: sprite-url($map);

	// http://compass-style.org/reference/compass/helpers/sprites/#sprite-position
	$sprite-position: sprite-position($map, $sprite);

	@if $x2 == true {
		$sprite-position: round(nth(sprite-position($map, $sprite), 1) / 2) round(nth(sprite-position($map, $sprite), 2) / 2);
	}

	// Returns background
	background: $sprite-map-url $sprite-position $repeat;

	@if $x2 == true {
		background-size: ceil(sprite-width($map) / 2) auto;
	}

	// http://compass-style.org/reference/compass/helpers/image-dimensions/
	// Checks to see if the user wants height returned
	@if $height == true {
		// Gets the height of the sprite-image
		$sprite-height: image-height($sprite-image);

		@if $x2 == true {
			$sprite-height: ceil(image-height($sprite-image) / 2);
		}

		// Returns the height
		height: $sprite-height;
	}
	// http://compass-style.org/reference/compass/helpers/image-dimensions/
	// Checks to see if the user wants height returned
	@if $width == true {
		// Gets the width of the sprite-image
		$sprite-width: image-width($sprite-image);

		@if $x2 == true {
			$sprite-width: ceil(image-width($sprite-image) / 2);
		}

		// Returns the width
		width: $sprite-width;
	}
}

@mixin sprite-pwh($map, $sprite, $x2: false, $wh: true) {
	$sprite-image: sprite-file($map, $sprite);
	$sprite-position: sprite-position($map, $sprite);

	@if $x2 == true {
		$sprite-position: round(nth(sprite-position($map, $sprite), 1) / 2) round(nth(sprite-position($map, $sprite), 2) / 2);
	}

	background-position: $sprite-position;

	@if $wh == true {
		// get width
		$sprite-width: image-width($sprite-image);

		@if $x2 == true {
			$sprite-width: ceil(image-width($sprite-image) / 2);
		}

		width: $sprite-width;

		// get height
		$sprite-height: image-height($sprite-image);

		@if $x2 == true {
			$sprite-height: ceil(image-height($sprite-image) / 2);
		}

		height: $sprite-height;
	}
}