.tooltip.primary .tooltip-inner          { min-width:350px; background-color:    #444444 !important; }
.tooltip.primary.top > .tooltip-arrow    { border-top-color:    #444444 !important; }
.tooltip.primary.right > .tooltip-arrow  { border-right-color:  #444444 !important; }
.tooltip.primary.bottom > .tooltip-arrow { border-bottom-color: #444444 !important; }
.tooltip.primary.left > .tooltip-arrow   { border-left-color:   #444444 !important; }

.z-index-1 {
 z-index:1 !important;
}