/* animate.css */

.image .student {
  -moz-animation-duration: 0.5s;
  -moz-animation-delay: -0.25s;
  -moz-animation-iteration-count: 1;
  -o-animation-duration: 0.5s;
  -o-animation-delay: -0.25s;
  -o-animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: -0.25s;
  -webkit-animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-delay: -0.25s;
  animation-iteration-count: 1;
}

/* generics */

.edit-mode {
  position: absolute;
  bottom: 10px;
  right: 10px;

  i {
    font-size: 14px;
  }
}

.icon-custom-leaf {
  background: url(../media/icons/leaf.svg) center center no-repeat;
  display: inline-block;
  width: 20px;
  height: 1em;
}

table.no-border, .no-border {
  border: 0;

  th, td {
    border: 0;
  }
}

/* for basic table responsiveness, some table  doesn't need to have a title */
table.responsive {
  h1, h2, h3, h4, h5 {
    margin:0;
  }

  p:last-of-type {
    margin:0;
  }
}

table.bt {
  &.no-title {
    tr {
      td {
        &:before {
          display: none;
        }
      }
    }
  }
  &.h-vertical {
    tr th:nth-child(1),
    tr td:nth-child(1) {
      width:100%;
      color: inherit;
      background: inherit;
    }
  }
}

.sitemap,
table {

  ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 16px;

    li {

      line-height: 1.5em;

      &:before {
        content: "\f138";
        position: relative;
        left: -16px;
        font-family: FontAwesome;
        font-size: 14px;
        color: $red_1;
      }

      ul {
        padding-left: 16px;

        li {
          &:before {
            color: $black_4;
          }

          ul {
            li {
              &:before {
                color: $black_3;
              }
            }
          }
        }
      }
    }
  }
}

table {
  &.center {
    thead th,
    th {
      text-align: center;
    }

    td {
      text-align: left;
    }
  }
}

.f11 {
  font-size: 11px;
  line-height: 14px;
}

table {
  &.f11 {
    thead th,
    th {
      font-size: 11px;
      line-height: 14px;
    }
  }
  &.f11-all {
    font-size: 11px;
    line-height: 14px;
  }
}

.f12 {
  font-size: 12px;
  line-height: 16px;
}

table {
  &.f12 {
    thead th,
    th {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &.f12-all {
    font-size: 12px;
    line-height: 16px;
  }
}

.f13 {
  font-size: 13px;
  line-height: 18px;
}

table {
  &.f13 {
    thead th,
    th {
      font-size: 13px;
      line-height: 18px;
    }
  }
  &.f13-all {
    font-size: 13px;
    line-height: 18px;
  }
}

.f14 {
  font-size: 14px;
  line-height: 20px;
}

table {
  &.f14 {
    thead th,
    th {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &.f14-all {
    font-size: 14px;
    line-height: 20px;
  }
}

.b-w-line {
  border-bottom: 1px solid $white_1;
}

table.b-w-line {
  thead th,
  th {
    border-bottom: 1px solid $white_1;
  }

  th:last-child {
    border-bottom: initial;
  }
}

table {

  &.h-red {
    thead th,
    th {
      background: $red_1;
      color: $white_1;
      padding: 15px;
    }
  }

  &.h-vertical {
    tr td:nth-child(1),
    tr th:nth-child(1) {
      background: $red_1;
      color: $white_1;
      padding: 10px;
      font-weight: bold;
    }

    tr th:nth-child(1),
    tr td:nth-child(1) {
      width: 200px;
    }

    &.w250 {
      tr th {
        width: 250px;
      }
    }

    &.w150 {
      tr th {
        width: 150px;
      }
    }
  }
}

.simpletabs {
  list-style: none;
  margin: 0 0 25px 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 10px;

    a {
      font-size: 14px;
      float: left;
      display: block;
      position: relative;
      color: $black_3;
      text-decoration: none;
      border: 1px solid $gray_1;
      padding: 10px 20px;

      &:hover {
        background: $red_1;
        color: $white_1;
      }
    }

    &.current {
      background: $red_1;

      a {
        color: $white_1;
      }
    }
  }
}

.tabbed-area {
  &.summon {

    form {
      input[type='text'] {
        height: 53px;
        background: #fff;
        border: 1px solid #e3e3e3;
        color: #afafae;
        font-size: 18px;
        padding: 13px 15px;
        line-height: initial;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70%;
        margin-right: 5%;
      }

      input[type='button'],
      input[type='submit'] {
        width: 22%;
        padding: 12px;
        box-shadow: none;
        background: none;
        border: 1px solid #d5202a;
      }

      input[type='button'] {
        margin-left: 5px;
      }
    }

    .box-wrap {
      position: relative;

      #box-one {

        .summon-header {
          &:before {
            content: ' ';
            background: url(/sites/default/files/general/2016/lrc/summon-icon.png) no-repeat;
            display: inline-block;
          }
        }
      }

      #box-two {
        display: none;

        input[type='text'],
        select {
          width: 50%;
          margin-right: 2%;
        }

        table {
          width: 100%;
          margin-bottom: 10px;

          label {
            margin-bottom: 0;
          }
        }

        .SS_TitleSearchForm,
        .SS_AtoZLinks,
        .SS_CategorySelector,
        .SS_UIDSearchForm {
          margin-bottom: 25px;
        }

      }

    }

  }
}

.img-circle {
  &.overlay {
    &.play {
      position:relative;

      &:before {
        font-family: FontAwesome;
        content: '\f04b';
        opacity: 0.75;
        font-size: 5em;
        position: absolute;
        width: 10px;
        top: 25%;
        left: 50%;
        margin-left: -15px;
      }

      &:hover {
        &:before {
          opacity:1;
          color:$red_1;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .tabbed-area {
    &.summon {

      .box-wrap {
        #box-one,
        #box-two {
          select,
          input[type='text'] {
            width: 100%;
            margin: 0 0 15px
          }
        }
      }
    }
  }

  .img-circle {
    &.overlay {
      &.play {  
        &:before {
          top: 20%;
        }
      }
    }
  }
}

.field--tags {
  clear: both;
}

.filters {
  .filters-holder {
    padding: 0;
  }
}