@font-face {
    font-family: 'Gotham HTF Medium';
    src: url("/themes/indicud/font/GothamHTF-Medium.eot");
    src: url("/themes/indicud/font/GothamHTF-Medium.eot?#iefix") format("embedded-opentype"),
    url("/themes/indicud/font/gothamhtf-medium-webfont.woff2") format("woff2"),
    url("/themes/indicud/font/gothamhtf-medium-webfont.woff") format("woff"),
    url("/themes/indicud/font/GothamHTF-Medium.ttf") format("truetype");
}