  // Variables
  $lato: 'Lato';


  @media (max-width: 991px) {
  .front-testimonials {
    &.cud-carousel {
      .slick {
        background:$white_3 !important;
      }
    }
  }

  .front-faculties {
    .first {
      font-size: 1em !important;
    }

    .second {
      font-size: 1.25em !important;
    }
  }

  .front-quick-features {
    .col {
      span {
        font-size: 0.75rem !important;
      }
    }
  }

  .front-videos-publications-events {

    .carousel-indicators {
      li {
        margin: 0 0.25em;
        width: 1rem;
        height: 1rem;
        border: 0;
      }
    }

    .card {

      font-size:1rem !important;
      .card-title {
        font-size: 1.25em !important;
      }
    }
  }

  .front-featured-events,
  .front-location-video {
    .fa-1x, .fa-2x, .fa-3x {
      font-size:1rem;
    }
    
    .card {
      .fa-9x {
        font-size: 6em !important;
      }
      .card-title {
        font-size: 1.25em !important;
        padding-left: 0 !important;
      }
    }
  }

  .highlighted {
    &.container {
      max-width: 100% !important;
    }
  }

  .wrapper-counter {
    .countdown {
      margin: 0 auto;

      .figure {
        height: 55px;
        width: 50px;
        border-radius: 5px;

        >span {
          font: normal 2.97em/53px $lato;
        }
      }
    }
  }  
}

@media (max-width: 767px) {
  .front-faculties {
    .first {
      
    }

    .second {
     
    }
  }

  .front-quick-features {
    .col {
      span {
        
      }
    }
  }

  .front-videos-publications-events {
    .carousel-indicators {
      li {
      
      }
    }

    .card {
      .card-title {
      
      }
    }
  }

  .front-videos-publications-events,
  .front-featured-events,
  .front-location-video {
    .card {
      .fa-6x,
      .fa-9x {
        font-size: 3em !important;
      }
      .card-title {
       
      }
    }
  }

  .highlighted {
    &.container {
     
    }
  }

  .wrapper-counter {
    .countdown {
      margin: 0 auto;

      .figure {
        height: 34px;
        width: 35px;
        border-radius: 3px;

        >span {
          font: normal 1.90em/30px $lato;
        }
      }
      &.transformer {
        .figure {
          width:15px;

          > span {
            font: normal 1.1em/1.1em Arial;
          }
        }
      }
    }
  }  
}

