.spring_2019 {


  .hero .hero__content:after {
    content: none !important;
  }

  .front-faculties {
    .first {
      font-size: 1.75em;
      line-height: 1em;
      font-weight: 400;
    }

    .second {
      font-size: 2.5em;
      line-height: 1.25em;
      font-weight: 500;
    }
  }

  .front-videos-publications-events {

    .views_slideshow_cycle_teaser_section {
      position: relative;
      /* height: auto !important;
      width: 100%; */
      /* overflow: hidden !important; */

      .views_slideshow_cycle_slide {
        width: 100.5%;
      }
    }

    .views-slideshow-controls-bottom {
      .widget_pager.widget_pager_bottom {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        z-index: 100;
        width: 50%;
        right: 25%;
        left: 25%;
        overflow: hidden;
        text-align: center;

        div {
          display: inline;

          &.views_slideshow_pager_field_item {
            .views-content-counter {
              color: #fff;
              padding: 0.1em 0.25em;
              font-family: 'Gotham HTF Medium';
              border-radius: 100%;

              &:hover {
                cursor: pointer;
              }
            }

            &.active {
              .views-content-counter {
                background-color: rgba(136, 136, 136, 0.5);
              }
            }
          }
        }
      }
    }

    .carousel-indicators {
      margin-left: auto !important;
      margin-right: auto !important;
      z-index: 100 !important;

      li {
        margin: 0 0.25em;
        width: 1rem;
        height: 1rem;
        border: 0;
      }
    }

    .card {
      .card-title {
        font-size: 2.5em;
        line-height: 1.25em;
        font-weight: 500;
      }
    }
  }


  .front-testimonials {
    position: relative;

    &.cud-carousel {
      margin-left: -15px;
      margin-right: -15px;

      .slick {
        background: $white_1;
      }

      header {
        box-shadow: none !important;

        h2 {
          text-transform: none;

          &:before,
          &:after {
            content: none;
          }
        }

        &:hover {
          background: none !important;
        }
      }
    }
  }

  .front-location-video {
    &:hover {
      .card-text {
        i {
          color: #d5202a !important;
          cursor: pointer;
        }
      }
    }
  }

  .front-quick-features {
    background: #efefef;
    border: 0;
    box-shadow: none;
    outline: 0;

    .col {
      span {
        font-weight: 300;
        color: #505a61;
      }

      &:hover {
        span {
          font-weight: 500;
        }
      }
    }
  }

  .secondary {

    &.video-testimonial,
    header {
      background: #efefef !important;
      border: 0;
      box-shadow: none !important;
      outline: 0;
    }

    h2,
    h2 a {
      color: #505a61 !important;
      padding-bottom: 1em !important;

      &:before,
      &:after {
        content: none !important;
      }
    }
  }

  .front-social-icons {
    svg {
      &.socialmedia {
        path {
          fill: #7a7a7a;
          stroke-width: 0.26458332;
        }

        &:hover {
          path {
            fill: $red_1 !important;
          }
        }
      }
    }
  }

  .front-featured-events,
  .front-quick-features {
    img {
      -webkit-filter: grayscale(50%);
      -moz-filter: grayscale(50%);
      -o-filter: grayscale(50%);
      -ms-filter: grayscale(50%);
      filter: grayscale(50%);

      -webkit-transition: transition all 1s ease-in-out;
      -moz-transition: transition all 1s ease-in-out;
      -ms-transition: transition all 1s ease-in-out;
      -o-transition: transition all 1s ease-in-out;
      transition: transition all 1s ease-in-out;

      &:hover {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        filter: grayscale(0%);

        opacity: 0.5;
      }
    }
  }

  .secondary,
  .front-featured-events,
  .front-testimonials,
  .front-location-video,
  .front-quick-features,
  .front-videos-publications-events,
  .front-faculties {

    &:after,
    .row:after,
    .col:after,
    &:before,
    .row:before,
    .col:before {
      display: none;
    }
  }

  .front-featured-events {
    .card {
      &:hover {

        .fa,
        .fab,
        .far {
          color: #fff !important;
        }
      }
    }
  }

  .front-social-career-links {
    h6 {
      font-size: 12px;

      a {
        padding: 5px !important;
      }
    }
  }

  .main-footer {
    .footer-links {
      background: none !important;
      min-height: auto !important;
    }
  }
}


.wrapper-counter {
  // Variables
  $lato: 'Lato';

  // Countdown
  .countdown {
    margin: 0 auto;

    /* -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out; */

    /* .bloc-time {
      / * float: left;
      margin-right: 45px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      } * /
    }  */

    .count-title {
      display: block;
      margin-bottom: 15px;
      font: normal 0.94em $lato;
      color: #1a1a1a;
      text-transform: uppercase;
    }

    .figure {
      position: relative;
      // float: left;
      height: 110px;
      width: 100px;
      // margin-right: 10px;
      margin-right: 3px;
      // background-color: #d5202a;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
      -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);

      /* &:last-child {
        margin-right: 0;
      } */

      >span {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        font: normal 5.94em/107px $lato;
        font-weight: 700;
        color: #f7f7f7;
      }

      .top,
      .bottom-back {
        &:after {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
        }
      }

      .top {
        z-index: 3;
        // background-color: #de4848;
        // background-color: rgba(223, 38, 47, 1);
        // background-color:rgba(0,0,0,0.55);
        transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        -moz-border-radius-topleft: 10px;
        -webkit-border-top-left-radius: 10px;
        border-top-left-radius: 10px;
        -moz-border-radius-topright: 10px;
        -webkit-border-top-right-radius: 10px;
        border-top-right-radius: 10px;
        -moz-transform: perspective(200px);
        -ms-transform: perspective(200px);
        -webkit-transform: perspective(200px);
        transform: perspective(200px);
      }

      .bottom {
        z-index: 1;

        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background-color: rgba(0, 0, 0, .02);
        }
      }

      .bottom-back {
        z-index: 2;
        top: 0;
        height: 50%;
        overflow: hidden;
        // background-color: #de4848;
        // background-color: rgba(223, 38, 47, 1);
        -moz-border-radius-topleft: 10px;
        -webkit-border-top-left-radius: 10px;
        border-top-left-radius: 10px;
        -moz-border-radius-topright: 10px;
        -webkit-border-top-right-radius: 10px;
        border-top-right-radius: 10px;

        span {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }

      .top,
      .top-back {
        height: 50%;
        overflow: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .top-back {
        z-index: 4;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.25);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -moz-transform: perspective(200px) rotateX(180deg);
        -ms-transform: perspective(200px) rotateX(180deg);
        -webkit-transform: perspective(200px) rotateX(180deg);
        transform: perspective(200px) rotateX(180deg);
        -moz-border-radius-bottomleft: 10px;
        -webkit-border-bottom-left-radius: 10px;
        border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -webkit-border-bottom-right-radius: 10px;
        border-bottom-right-radius: 10px;

        span {
          position: absolute;
          top: -100%;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }

    &.transformer {
      /* -webkit-transform: scale(0.5)!important;
        -moz-transform: scale(0.5)!important;
        -o-transform: scale(0.5)!important;
        -ms-transform: scale(0.5)!important;
        transform: scale(0.5) !important; */

      .slash {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .figure {
        background-color: transparent;
        box-shadow: none;
        width: 35px;

        >span {
          font: normal 3.5rem/3.5rem $lato;
        }

        .top,
        .bottom-back {
          &:after {
            border-bottom: 0;
          }
        }

        .top {
          background-color: transparent;
        }

        .bottom {
          z-index: 1;

          &:before {
            background-color: transparent;
          }
        }

        .bottom-back {
          display: none;
        }

        .top,
        .top-back {
          visibility: hidden;
        }

        .top-back {
          display: none;
        }
      }

    }
  }

  .circle-wrap {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #9e00b1;
  }
  
  .circle-wrap .circle .mask.full,
  .circle-wrap .circle .fill {
    animation: fill forwards 10s infinite;
    transform: rotate(135deg);
  }
  
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  
  .circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }  
}

@import "panes_media";
