.hero-navigation-promotion-in-one {
  .slick-arrow {
    &.slick-prev {
      float:right;
      padding-right:5px;
      &:before {
        content: "\f053";
      }
    }
    &.slick-next {
      float:left;
      padding-left:5px;
      &:before {
        content: "\f054";
      }
    }
  }
}

@import "hero_media";
