[dir='rtl'] {
    .slick-arrows {
        &.square {
        .slick__arrow {

                .slick-arrow {
                    &.slick-prev {
                        right: 0;
                        left: auto;
                    }
                    &.slick-next {
                        right: auto;
                        left: 0;
                    }
                }
            }
        }
    }
}

@import "slick_media";