.sliding-popup-bottom {
    /* background: $red_1 !important; */
    .eu-cookie-compliance-content {
        /* background: $red_1; */
        max-width: 40%;
        padding: 0;
        line-height: 1;

        .eu-cookie-compliance-message {
            float: left;
            margin: 9px;
            max-width: 60%;

            h2 {
                font-size: 11px;
                margin: 0;
                color:$white_1;
            }

            p {
                font-size: 11px;
                font-weight: 300;
            }

            .eu-cookie-compliance-more-button {
                font-size: 10px;
            }
        }

        .eu-cookie-compliance-buttons {
            margin-bottom:1rem;

            .agree-button,
            .decline-button {
                background: none;
                box-shadow: none;
                font-size: 0.75rem;
                color: $white_1;
                text-shadow: none;
                font-weight: 300;
            }

            .agree-button {
                font-weight:700;
            }
        }
    }
}

@import "cookie_compliance_media";