main.without-hero {
  margin-top:0 !important;
}
header {
  &.main-header {

    .row:before, 
    .row:after {
      display: none !important;
    }

    position:relative;
    box-shadow:none;

    #block-10-reasons-to-choose-cud {

      .type-of-block {
        display:block;
      }

      .body h3 {
        font-size:1rem;
      }

      > h3,
      .url {
        display:none;
      }
    }
    
    &.we-megamenu {
      // box-shadow: 3px 0 10px 0 rgba(30, 30, 30, 0.01);
      // background-color: rgba(14, 30, 44, 0.3);
      background-color: #fff !important;

      &:hover {
        // box-shadow: 3px 0 10px 0 rgba(30, 30, 30, 0.05);
        // background-color: rgba(14, 30, 44, 0.8);
        background-color: #fff !important;
      }
      
      nav, nav.main {
        background:none;
        &:before {
          background:none;
          content:none;
        }
      }

      .top {

        a,
        span {
          border-top: 0 !important;
          font-size: 12px !important;
          line-height: 12px !important;
          padding: 0.5em !important;
          color:#000 !important;
        }

        .img-flag {
          height: 1em;
          margin: 0 5px;
        }

        .quick-links,
        .language-switcher-language-url {
          .dropdown {
            .dropdown-toggle {
              background: none;
              border: 0;
              padding: 0 0.5em;
              box-shadow: none !important;
              border-radius: 0;
              display: inherit;
              line-height: 1.25em;
              white-space:nowrap;

              &:after {
                display: inline-block;
                margin-left: 0.255em;
                vertical-align: 0.255em;
                content: "";
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
                font-size: 11px;
              }
            }

            &.show {
              .dropdown-toggle {
                background: $white_1;
                color:$red_1;
                * {
                  color:$red_1 !important;
                }

                &:after {
                  color:$red_1;
                }
              }
            }
          }

          .dropdown-menu {
            background: $white;
            position: absolute !important;
            overflow: hidden;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            z-index: 99999;
            margin-top: 0;
            border: 0;
            padding: 0.25rem 0;
            min-width: 5em;

            .dropdown-divider {
              margin: 0.25rem 0;
              border-top: 1px solid $red_1;
            }

            .dropdown-item {
              padding: 0.35rem 0.5rem !important;

              &:hover,
              &:focus,
              &.active,
              &:active {
                color: $gray_1 !important;
                text-decoration: none;
                background-color: $black_3 !important;
                font-weight:300;
                /* text-shadow:1px 1px 1px $white_1; */

                .img-flag {
                  height: 1.25em;
                }
              }
            }
          }
        }

        .search {
          .search-input {
            width: 0%;
            opacity: 0;
            border: none;
            background: $gray_2;
            padding-right: 50px;
            color: $black_3_1;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
            font-weight: 100;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
          }

          .fa-search {
            background: none;
            color:#000;
            border: none;
            font-size: 1em;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
          }

          &:hover {
            .search-input {
              width: 75%;
              opacity: 1;
            }

            .search-btn {
              .fa-search {
                color: $red_1;
                font-size: 1.5em;
              }
            }
          }
        }
      }

      .menu-wrapper {
        justify-content: flex-end;
      }

      .logo-wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      a,
      span {
        font-family: 'kozuka-gothic-pro-n3', 'kozuka-gothic-pro', arial, helvetica, sans-serif;
        color: $black_1 !important;
        font-weight: 300;

        &:before {
          content: none;
        }

        &:hover {
          color: $red_1 !important;
          font-weight: 500 !important;
        }
      }

      nav:not(.we-mobile-megamenu-active) {
        .we-mega-menu-ul {
          display: flex;
          flex-wrap: no-wrap;
          width: 100%;


          >.we-mega-menu-li {
            flex-basis: 0;
            max-width: 100%;
            flex-grow: 1;

            >a,
            >span {
              line-height: 1.25em !important;
              text-align: center;
              align-items: center;
              justify-content: center;
              text-shadow: none !important;

              &:after {
                content: '';
                position: absolute;
                top: auto;
                bottom: 0;
                left: 0;
                width: 0;
                display: block;
                height: 2px;
                background: $red_1;
                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                opacity: .8;
                border: 0;
              }


            }

            &:hover {

              >a,
              >span {
                color: $red_1 !important;
                cursor: pointer;
                text-shadow: none;

                &:after {
                  width: 100%;
                }
              }

            }

            &.active {

              >a,
              >span {
                &:after {
                  width: 100%;
                }
              }

            }
          }
        }
      }


      .navbar-we-mega-menu .we-mega-menu-group>.we-mega-menu-submenu {
        visibility: hidden !important;
        background: none !important;
      }

      .we-mega-menu-submenu li.we-mega-menu-li a,
      .we-mega-menu-submenu li.we-mega-menu-li.active>a,
      .we-mega-menu-submenu li.we-mega-menu-li.active>a:hover,
      .we-mega-menu-submenu li.we-mega-menu-li.active>a:focus,
      .we-mega-menu-submenu li.we-mega-menu-li.active>.we-megamenu-nolink {
        // border-bottom: 1px solid rgba(0, 0, 0, 0.01);
      }

      .we-mega-menu-ul>.we-mega-menu-li.active>a,
      .we-mega-menu-ul>.we-mega-menu-li.active>a:hover,
      .we-mega-menu-ul>.we-mega-menu-li.active>a:focus,
      .we-mega-menu-ul>.we-mega-menu-li.active-trail>a,
      .we-mega-menu-ul>.we-mega-menu-li.active-trail>a:hover,
      .we-mega-menu-ul>.we-mega-menu-li.active-trail>a:focus {
        // background-color: rgba(0, 0, 0, 0.05);

      }

      nav {

        .we-mega-menu-ul {
          >.we-mega-menu-li {

            >a,
            >span {
              font-weight: 500;
              display: flex;
              background: none;
              text-transform: uppercase !important;
              font-style: normal;
              color: $black_1 !important;
              border: 0;
              line-height: 1.25em;
              position:relative;
              text-shadow: none !important;

              &:before,
              &:after {
                content: none;
              }
            }

            &.dropdown-menu {

              a,
              span {
                border: 0;
                text-transform: inherit;
              }

              .we-mega-menu-submenu {
                width: 100%;
                font-style: normal;
                list-style: none;
                margin: 0;
                // background-color: rgba(14, 30, 44, .8);
                padding: 5px;
                border-radius: 0;
                border: 0;

                ul {

                  li:first-child {
                    a {
                      color: $red_1;
                    }
                  }

                  li {
                    width: 100%;
                  }
                }
              }
            }

            &:hover {
              &.dropdown-menu {
                .we-mega-menu-submenu {
                  .we-mega-menu-group>.we-mega-menu-submenu {
                    visibility: visible !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
