.action-arrow-bottom {
  position: relative;
  padding-bottom: 1.5rem;
  display: inline-block;

  &:before {
    content: " ";
    height: 2px;
    background: $red_1;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &:after {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    content: "\f178";
    position: absolute;
    bottom: -5px;
    color: $red_1;
    right: -3.5rem;
    display: block;
  }
}

.small {
    &.news-and-events {
        .slide__content,
        .grid__content {
            margin:0;
        }
            .content {
                h3 {
                    font-size:1em;
                    line-height:initial;
                }
                .content {
                    margin-bottom:5px !important;
                }
                p {
                    display: none;
                }
            }
    }

    .bootstrap {
        .slick__arrow button{
            height:25px;
            width:25px;

            &.slick-prev {
                &:before {
                    font-size:1rem;
                }
            }
    
            &.slick-next {
                &:before {
                    font-size:1rem;
                }
            }
        }
    }
}

.bootstrap {
    .slick__arrow button{
        display: inline-block;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 0;

        &.slick-prev {
            &:before {
                content: '\f053';
                color:$red_1;
                font-family:FontAwesome;
            }
        }

        &.slick-next {
            &:before {
                content: '\f054';
                color:$red_1;
                font-family: FontAwesome;
            }
        }
        
        &:hover {
            background: rgba(255, 255, 255, 0.8);
        }
    }
   

  &.content-news {

    .headline,
    .feature {
      position: relative;
      display: block;
      color: $white_1;

      &:after {
        content: " ";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(10, 10, 10, 0);
        background: -moz-linear-gradient(top, rgba(10, 10, 10, 0) 46%, rgba(10, 10, 10, 0.59) 100%, #080808 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(46%, rgba(10, 10, 10, 0)), color-stop(100%, rgba(10, 10, 10, 0.59)), color-stop(100%, #080808));
        background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 46%, rgba(10, 10, 10, 0.59) 100%, #080808 100%);
        background: -o-linear-gradient(top, rgba(10, 10, 10, 0) 46%, rgba(10, 10, 10, 0.59) 100%, #080808 100%);
        background: -ms-linear-gradient(top, rgba(10, 10, 10, 0) 46%, rgba(10, 10, 10, 0.59) 100%, #080808 100%);
        background: linear-gradient(to bottom, rgba(10, 10, 10, 0) 46%, rgba(10, 10, 10, 0.59) 100%, #080808 100%);

      }


      .title {
        position: absolute;
        z-index: 1;
        color: $white_1;
        bottom: 5px;
        padding: 10px;
        font-weight: 500;
        font-size: 1.1em;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
    }

    &.features {
        .views-field-nothing {
            border-bottom:2px solid $white_1;
        }
    }
    &.headlines {
        .slide--0 .views-field-nothing {
            border-right:1px solid $white_1;
        }
        .slide--1 .views-field-nothing {
            border-left:1px solid $white_1;
        }

      li.grid {
          padding:0;
        &:nth-child(odd) {
          .col {
            // padding-right: 0 !important;
          }
        }

        &:nth-child(even) {
          .col {
            // padding-left: 0 !important;
          }
        }
      }
    }
  }
}