.programs-spring-2019 {
  .views-exposed-form {
    padding: 1rem 0;

    label {
      display:none;
    }
    
    input {
      margin: 0;
    }
    
    input[type=button],
    input[type=submit] {
      width: 100%;
      text-align: center;
      padding: 12px;
      box-shadow: none;
      background: 0 0;
      border: 1px solid #d5202a;
      color: #d5202a;
      height: 53px;
    }
  }
}



.bootstrap {
  &.programs {
    ul.blazy {
      list-style: none;
      padding: 0;

      ul {
        font-family: Arial;
        font-size: 14px;
        letter-spacing: 0;
      }

      .row {
        border-bottom: 1px solid #efefeff2;
        padding-bottom: 3rem;
        margin-bottom: 5rem;
      }

      .fees {

        ul {
          list-style: none;
          padding: 0;


          .prefix {
            padding-right: 0.5rem;
          }

          .suffix {
            padding-left: 0.25rem;
          }
        }
      }

      .views-field-nothing {
        border: 1px solid $white_2;
        margin-bottom: 1rem;

        h1 {
          font-size: 1.75rem !important;
          line-height: 2.15rem !important;
          text-transform: initial !important;
        }

        .description {
          color: $black_3;
          font-size: 14px;
        }

        &:hover {
          background: $white_3;
          border-color: $gray_2;
        }
      }
    }
  }
}


.page-node-type-unified-programs,
.path-our-programs .ui-dialog {

  .body {
    clear: both;
  }

  .ui-dialog-titlebar {
    background: #808080;

    .ui-dialog-title {
      /* visibility: hidden; */
      font-weight: 400 !important;
    }

    .ui-button {
      color: transparent;
    }
  }
  
  .image {
    position: relative;
    margin-bottom: 3rem;

    .fees-dates {
      margin: 2.5rem 0 !important;
    }

    .titles {
      color: $white_1;
      position: absolute;
      bottom: 5em;
      right: -8em;

      .title {
        position: relative;
        padding-right: 5em;
        padding-left: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        text-align: left;

        &:before {
          content: " ";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: $red_1;
        }

        span {
          color: $white_1;
          position: relative;
          font-weight: 300;
          font-style: normal;
          text-transform: initial;
          font-size: 35px;
        }

      }

    }

    &.bottom {
      margin: 0 !important;
      padding: 0 !important;

      img {
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
}

.path-our-programs .ui-dialog {
  z-index: 500 !important;

  .u-normal {

    .u-normal,
    li {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }

  .image {

    img {
      margin-bottom: 0;
      margin-right: 0;
      width: auto;
    }

    .fees-dates {
      margin: 0 !important;
      padding: 1.5rem !important;
      margin-bottom: 1.5rem !important;
      border: 1px solid $white_2;
      background: $white_3;
    }

    .titles {
      .title {
        padding-top: 0.1em !important;
        padding-bottom: 0.1rem !important;

        span {
          font-size: 22px !important;
          line-height: 22px !important;
          vertical-align: middle !important;
        }
      }
    }
  }
}


@import "programs_media";
