@media (max-width: 1024px) {
    .page-node-type-unified-programs {
        .image {
            .titles {
                right: -2em;
                bottom: 1em;;

                .title {
                    padding-right: 2.5em;
                    margin-bottom: 1rem;
                    
                    span {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width:767px) {
    .page-node-type-unified-programs {
        h1, .h1 {
            font-size: 12px;
        }

        .fees-dates {
            h5,
            .field-course-fees,
            .dates {
                font-size: 14px;
            }
        } 

        .image {
            .titles {
                right: 0;
                bottom:2em;

                .title {
                    margin-bottom: 0.5em;
                }
            }
        }
    }

    .blazy {
        .fees {
            clear:both;
        }
        .dates, .fees {
            margin-top:1rem;
        }
    }
}