{#-- see cud.module -> cud_theme --#}
{#-- works in conjunction with cud-custom-front-events.html.twig --#}
<div class="col-md-6 events">
    {{ title_prefix }}
    {% if label %}
        <a href="/events"><h2{{ title_attributes }}>{{ label|striptags|trim }}</h2></a>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        {{ content }}
    {% endblock %}
</div>
