<div class="hero-navigation-promotion-in-one">

    {% block content %}

        {% if content.slick %}
            <div class="slick-hero-wrapper landing-page">
                {{ content.slick }}
            </div>

        {% else %}
            {% if content.video %}
                <div class="slick-hero-wrapper">
                    <div class="hero video" data-overlay="{{ content.videoFrontOverlayClass }}">
                        {% set ext = content.video|slice(-4) %}
                        {% if ext in ['.mp4','.ogg','webm'] %}

                            <video width="100%" height="auto" autoplay loop>
                                {% if ext == 'webm' %}
                                    <source src="{{ content.video }}" type="video/webm">
                                {% elseif ext == '.mp4' %}
                                    <source src="{{ content.video }}" type="video/mp4">
                                {% elseif ext == '.ogg' %}
                                    <source src="{{ content.video }}" type="video/ogg">
                                {% endif %}
                                Not supported.
                            </video>

                        {% endif %}

                    </div>
                </div>
            {% elseif content.video_youtube %}
                <div class="slick-hero-wrapper">

                      <div class="hero video" data-overlay="{{ content.videoFrontOverlayClass }}">

                        <div class="video-container">
                                <div id="player">
                                </div>
                        </div>
                        <style type="text/css">

                                .container-fluid.wopadd.home-section {
                                    height: auto !important;
                                }

                                .hero-navigation-promotion-in-one .slick-hero-wrapper .hero {
                                    height: auto !important;
                                }

                                .video-container {
                                    position: relative;
                                    padding-bottom: 56.25%;
                                    padding-top: 0;
                                    height: 0; overflow: hidden;
                                }

                                .video-container iframe,
                                .video-container object,
                                .video-container embed {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                        </style>
                        <script type="text/javascript">

                            var playerVars = { autoplay: 1, controls: 0, disablekb: 1, loop: 1, showinfo: 0 };
                            var isMaybeMobile = false;

                            rspHelper.addMQ({
                                '(max-width: 767px)': {
                                    on: function () {
                                        playerVars = { controls: 0, disablekb: 1, loop: 1, showinfo: 0 };
                                        isMaybeMobile = true;
                                    }
                                }
                            });


                                // This code loads the IFrame Player API code asynchronously.
                                var tag = document.createElement('script');
                                var id = "{{ content.video_youtube }}";

                                tag.src = "https://www.youtube.com/iframe_api";
                                var firstScriptTag = document.getElementsByTagName('script')[0];
                                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                                // This function creates an <iframe> (and YouTube player)
                                //    after the API code downloads.
                                var player;
                                function onYouTubeIframeAPIReady() {
                                    player = new YT.Player('player', {
                                        width: '100%',
                                        height: '100%',
                                        frameBorder: 0,
                                        playlist: id,
                                        videoId: id,
                                        playerVars: playerVars,
                                        events: {
                                            'onReady': onPlayerReady,
                                            'onStateChange': onPlayerStateChange
                                        }
                                    });

                                    console.log(player);
                                }

                                // The API will call this function when the video player is ready.
                                function onPlayerReady(event) {
                                    player.mute();
                                    if (!isMaybeMobile)
                                    {
                                        event.target.playVideo();
                                    }
                                }

                                // The API calls this function when the player's state changes.
                                //    The function indicates that when playing a video (state=1),
                                //    the player should play for six seconds and then stop.
                                var done = false;
                                function onPlayerStateChange(event) {
                                    /* if (event.data == YT.PlayerState.PLAYING && !done) {
                                     setTimeout(stopVideo, 6000);
                                     done = true;
                                     } */

                                    if (event.data === YT.PlayerState.ENDED) {
                                        player.mute();
                                        if (!isMaybeMobile)
                                        {
                                            player.playVideo();
                                        }
                                    }
                                }

                                function stopVideo() {
                                    player.mute();
                                    player.stopVideo();
                                }
                        </script>

                        {{ content.primary_promotion }}
                    </div>
                </div>
            {% else %}
                <div class="hero empty">

                </div>
            {% endif %}


        {% endif %}

    {% endblock %}
</div>