<div class="hero-navigation-promotion-in-one">

    {% block content %}
        <style type="text/css">
            {{ content.styles|raw }}
        </style>

        {% if content.slick %}
            <div class="slick-hero-wrapper"  data-slicktime="{{ content.slick_slick_time }}" data-slicktimefirst="{{ content.slick_slick_time_first_persistent }}">
                {{ content.slick }}
                {{ content.primary_promotion }}

                {# % if is_admin %}
                    <p style="font-size:50px;position:absolute;right:0;top:150px;z-index:50">{{ content.session }}</p>
                {% endif % #}

            </div>

        {% else %}
            {% if content.video %}
                <div class="slick-hero-wrapper">
                    <div class="hero video" data-overlay="{{ content.videoFrontOverlayClass }}">
                        {% set ext = content.video|slice(-4) %}
                        {% if ext in ['.mp4','.ogg','webm'] %}

                            <video width="100%" height="auto" autoplay loop>
                                {% if ext == 'webm' %}
                                    <source src="{{ content.video }}" type="video/webm">
                                {% elseif ext == '.mp4' %}
                                    <source src="{{ content.video }}" type="video/mp4">
                                {% elseif ext == '.ogg' %}
                                    <source src="{{ content.video }}" type="video/ogg">
                                {% endif %}
                                Not supported.
                            </video>

                        {% endif %}

                        {{ content.primary_promotion }}


                        {# % if is_admin %}
                            <a class='edit-node' href='/node/{{ content.extras.nid }}/edit'>edit</a>
                            { # <p style="font-size:50px;position:absolute;right:0;top:150px;z-index:50">{{ content.session }}</p> # }
                        {% endif % #}

                    </div>
                </div>
            {% elseif content.video_youtube %}
                <div class="slick-hero-wrapper">

                      <div class="hero video" data-overlay="{{ content.videoFrontOverlayClass }}">

                        <div class="video-container">
                                <div id="player">
                                </div>
                        </div>
                        <style text="text/css">

                                .container-fluid.wopadd.home-section {
                                    height: auto !important;
                                }

                                .hero-navigation-promotion-in-one .slick-hero-wrapper .hero {
                                    height: auto !important;
                                }

                                .video-container {
                                    position: relative;
                                    padding-bottom: 56.25%;
                                    padding-top: 0;
                                    height: 0; overflow: hidden;
                                }

                                .video-container iframe,
                                .video-container object,
                                .video-container embed {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                        </style>
                        <script>

                            var playerVars = { autoplay: 1, controls: 0, disablekb: 1, loop: 1, showinfo: 0 };
                            var isMaybeMobile = false;

                            rspHelper.addMQ({
                                '(max-width: 767px)': {
                                    on: function () {
                                        playerVars = { controls: 0, disablekb: 1, loop: 1, showinfo: 0 };
                                        isMaybeMobile = true;
                                    }
                                }
                            });


                                // This code loads the IFrame Player API code asynchronously.
                                var tag = document.createElement('script');
                                var id = "{{ content.video_youtube }}";

                                tag.src = "https://www.youtube.com/iframe_api";
                                var firstScriptTag = document.getElementsByTagName('script')[0];
                                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                                // This function creates an <iframe> (and YouTube player)
                                //    after the API code downloads.
                                var player;
                                function onYouTubeIframeAPIReady() {
                                    player = new YT.Player('player', {
                                        width: '100%',
                                        height: '100%',
                                        frameBorder: 0,
                                        playlist: id,
                                        videoId: id,
                                        playerVars: playerVars,
                                        events: {
                                            'onReady': onPlayerReady,
                                            'onStateChange': onPlayerStateChange
                                        }
                                    });
                                }

                                // The API will call this function when the video player is ready.
                                function onPlayerReady(event) {
                                    player.mute();
                                    if (!isMaybeMobile)
                                    {
                                        event.target.playVideo();
                                    }
                                }

                                // The API calls this function when the player's state changes.
                                //    The function indicates that when playing a video (state=1),
                                //    the player should play for six seconds and then stop.
                                var done = false;
                                function onPlayerStateChange(event) {
                                    /* if (event.data == YT.PlayerState.PLAYING && !done) {
                                     setTimeout(stopVideo, 6000);
                                     done = true;
                                     } */

                                    if (event.data === YT.PlayerState.ENDED) {
                                        player.mute();
                                        if (!isMaybeMobile)
                                        {
                                            player.playVideo();
                                        }
                                    }
                                }

                                function stopVideo() {
                                    player.mute();
                                    player.stopVideo();
                                }
                        </script>

                        {{ content.primary_promotion }}
                    </div>
                </div>
            {% else %}
                <div class="hero empty">

                </div>
            {% endif %}


        {% endif %}

        {# for random_image_or_video in content.random_image_or_video_content.child %}

            <!-- /header -->
            <div id="hero" data-overlay="{{ random_image_or_video.overlay_class }}"
                 data-sliderLocation="{{ random_image_or_video.slider_location_class }}" class="hero">
                { # make it part hero image # }
                <style type="text/css">
                    .front-hero-without-overlay .hero .primary-promotion {
                        width: 450px;
                        background-color: {{ random_image_or_video.slider_overlay_class }};
                    }

                    .front-hero-without-overlay .hero .primary-promotion.CC {
                        top: 50%;
                        left: 50%;
                        right: inherit;
                    }

                    .front-hero-without-overlay .hero .primary-promotion.TL {
                        top: 25%;
                        left: 17%;
                        right: inherit;
                    }

                    .front-hero-without-overlay .hero .primary-promotion.BL {
                        top: 60%;
                        left: 17%;
                        right: inherit;
                    }

                    .front-hero-without-overlay .hero .primary-promotion.TR {
                        top: 25%;
                        left: inherit;
                        right: -13%;
                    }

                    .front-hero-without-overlay .hero .primary-promotion.BR {
                        top: 60%;
                        left: inherit;
                        right: -13%;
                    }

                </style>
                <section class="container primary-promotion {{ random_image_or_video.slider_location_class }}">
                    {{ content.primary_promotion }}
                    <p>{{ content.session }}</p>

                </section>

                { # % if random_image_or_video.link %}
                      <a href="{{ random_image_or_video.link }}">
                {% endif % # }

                {% if random_image_or_video.overlay %}
                    <style type="text/css">
                        .hero:before {
                            background: {{ random_image_or_video.overlay }};
                        }
                    </style>
                {% endif %}




            </div>

        {% endfor #}

    {% endblock %}
    <div class="main-pointer"><a name="carousel" id="carousel"  class="pointer  animated infinite fadeInDownCustom"><i class="fa fa-chevron-down" aria-hidden="true">&nbsp;</i></a></div>
</div>