<div{{ attributes }}>
    {% block content %}

        {% if content.tree %}

            {% set programs = content.tree.programs %}

            {% if programs|length %}

                <ul id="programs">

                    {% if programs.levels %}
                        {% set levels = programs.levels %}

                        {% for level in levels %}

                            {% set custom_classes =  ['level-',  loop.index]|join %}

                            {% if loop.index == loop.first %}
                                {% set custom_classes = "level-first" %}
                            {% elseif loop.index == loop.last %}
                                    {% set custom_classes = "level-last" %}
                            {% endif %}

                            {% if level.url %}
                                {% if level.id == 'applynow' %}
                                    {% set custom_classes =  [custom_classes, ' ' ,level.id]|join %}
                                {% endif %}
                            {% endif %}

                            <li class="{{ custom_classes }}">
                                {% if level.url %}
                                    {% if level.id == 'applynow' %}
                                        <a class="default apply ga-apply-now" data-opener target="_blank" href="{{ level.url }}">{{ level.title|t }}</a>
                                    {% endif %}
                                {% else %}
                                    <a class="ga-program-level" data-opener href="javascript:void(0)">{{ level.title }}</a>
                                {% endif %}

                                {% if level.faculties|length %}

                                    <div data-slide class="cud-popup container col-md-12">
                                        {% set faculties = level.faculties %}

                                        {% set noColumnTotal = 12 %}
                                        {% set noColumnClass = (noColumnTotal / 2)|round(0, 'ceil') %}

                                        {% set columnFaculty = (faculties|length / 2)|round(0, 'ceil') %}

                                        {% for i in range(0, columnFaculty - 1) %}
                                            <div class="col-md-{{ noColumnClass }}">

                                                {% set arrPerFacultyToDisplay = faculties|slice(i*columnFaculty, columnFaculty) %}

                                                {% for faculty in arrPerFacultyToDisplay %}

                                                    <div class="{{ faculty.id }} faculty-container">
                                                        <h4 class="faculty" data-todo="{{ faculty.url }}"><a  class="ga-faculty"
                                                                                                              href="{{ faculty.url }}">{{ faculty.title }}</a>
                                                        </h4>

                                                        {% if faculty.departments|length %}

                                                            {% set departments = faculty.departments %}
                                                            {% for department in departments %}
                                                                <h4 class="department" data-todo="{{ department.id }}">
                                                                    <a  class="ga-department"
                                                                        href="{{ department.url }}">{{ department.title }}</a>
                                                                </h4>

                                                                {% if department.programs|length %}
                                                                    {% set programs = department.programs %}
                                                                    <ul>
                                                                        {% for program in programs %}
                                                                            <li class="{# program.subprograms|length > 0 ? "with-subprogram" : "" #}">
                                                                                {% set dir = '' %}
                                                                                {% set style = '' %}
                                                                                {% if program.langcode == 'ar' %}
                                                                                    {% set dir = 'rtl' %}
                                                                                    {% set style = 'text-align:left' %}
                                                                                {% endif %}
                                                                                <a class="id-{{ program.id }} ga-program" style="{{ style }}" dir="{{ dir }}"
                                                                                   href="{{ program.url }}">

                                                                                    {% if program.alternate_title and program.langcode == '' %}
                                                                                        {{ program.alternate_title }}
                                                                                    {% else %}
                                                                                        {{ program.title }}
                                                                                    {% endif %}

                                                                                </a>

                                                                                {#% if program.subprograms|length > 0 %}
                                                                                    <ul class="subprogram">
                                                                                        {% for sub_program in program.children %}
                                                                                            <li>
                                                                                                <a href="{{ sub_program.link }}">{{ sub_program.text }}</a>
                                                                                            </li>
                                                                                        {% endfor %}
                                                                                    </ul>
                                                                                {% endif %#}
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>

                                                                {% endif %}

                                                            {% endfor %}

                                                        {% elseif faculty.programs|length %}

                                                            {% if faculty.programs|length %}
                                                                {% set programs = faculty.programs %}

                                                                <ul>
                                                                    {% for program in programs %}
                                                                        <li class="{# program.subprograms|length > 0 ? "with-subprogram" : "" #}">
                                                                            {% set dir = '' %}
                                                                            {% set style = '' %}
                                                                            {% if program.langcode == 'ar' %}
                                                                                {% set dir = 'rtl' %}
                                                                                {% set style = 'text-align:right' %}
                                                                            {% endif %}
                                                                            <a class="id-{{ program.id }} ga-program" style="{{ style }}" dir="{{ dir }}"
                                                                               href="{{ program.url }}">

                                                                                {% if program.alternate_title and program.langcode == '' %}
                                                                                    {{ program.alternate_title }}
                                                                                {% else %}
                                                                                    {{ program.title }}
                                                                                {% endif %}

                                                                            </a>

                                                                            {#% if program.subprograms|length > 0 %}
                                                                                <ul class="subprogram">
                                                                                    {% for sub_program in program.children %}
                                                                                        <li>
                                                                                            <a href="{{ sub_program.link }}">{{ sub_program.text }}</a>
                                                                                        </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            {% endif %#}
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>

                                                            {% endif %}

                                                        {% endif %}

                                                    </div>

                                                {% endfor %}

                                            </div>

                                        {% endfor %}
                                    </div>

                                {% endif %}
                            </li>
                        {% endfor %}

                    {% endif %}

                </ul>

            {% endif %}

        {% endif %}
    {% endblock %}
</div>