<div{{ attributes }} class="menu--block">
    {% import _self as menus %}

    {{ title_prefix }}
    {% if label %}
        <h3>{{ label }}<i>&nbsp;</i></h3>
    {% else %}
        <h3>Menu &nbsp;<i>&nbsp;</i></h3>
    {% endif %}
    {{ title_suffix }}



    {% set items = content['#items'] %}
    {{ menus.menu_links(items, attributes, 0) }}

    {% macro menu_links(items, attributes, menu_level) %}
        {% import _self as menus %}
        {% if items %}



            {% if menu_level == 0 %}
                <div class="sidebar__slide" data-oclose-slide>
                <ul{{ attributes.addClass('side-nav') }}>
            {% else %}
                <ul class="u-list side-nav__sub-menu" data-slide>
            {% endif %}


            {% for item in items %}
                {% set classes = [
                'side-nav__item',
                'menu-item',
                item.is_expanded ? 'menu-item--expanded',
                item.is_collapsed ? 'menu-item--collapsed',
                item.in_active_trail ? 'menu-item--active-trail',
                ] %}
                <li{{ item.attributes.addClass(classes) }}>
                    {{ link(item.title, item.url) }}
                    {% if item.below %}
                        <a href="#" class="clickable-opener" data-opener><i></i></a>
                        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                    {% endif %}
                </li>
            {% endfor %}


            </ul>
            {% if menu_level == 0 %}
                </div> {# side bar slide#}
            {% endif %}
        {% endif %}

    {% endmacro %}


</div> {# attributes#}