<div class="col-md-6 news">
    {{ title_prefix }}
    {% if label %}
        <a href="/news"><h2{{ title_attributes }}>{{ label|striptags|trim }}</h2></a>
    {% endif %}
    {{ title_suffix }}
    {% block content %}

        {# the news content is in .module #}
        {{ content }}

    {% endblock %}
</div>
