<div class="secondary-promotion-in-one">
    {% block content %}
        {% if content.slick %}
            <div class="slick-hero-wrapper">
                {{ content.slick }}
            </div>
        {% endif %}

    {% endblock %}
</div>