<div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}

        {# { kint(content.school_and_programs) } #}


        {# big singular listing #}
        {% if content.category_school_and_programs|length > 0 %}
            {% if content.no_column_slices <= 0 %}
                <ul id="programs">
                    {% for category in content.category_school_and_programs %}
                        <li>
                            <a href="{{ category.link }}">{{ category.text }}</a>
                            <div class="cud-popup container col-md-12">
                                <div class="col-md-12">
                                    {% if category.children|length > 0 %}
                                        <ul>
                                            {% for school in category.children %}
                                                <li>
                                                    <a href="{{ school.link }}">{{ school.text }}</a>

                                                    {% if school.children|length > 0 %}
                                                        <ul>
                                                            {% for program in school.children %}
                                                                <li class="{{ program.children|length > 0 ? "with-subprogram" : "" }}">

                                                                    <a href="{{ program.link }}">{{ program.text }}</a>

                                                                    {% if program.children|length > 0 %}
                                                                        <ul class="subprogram">
                                                                            {% for sub_program in program.children %}
                                                                                <li>
                                                                                    <a href="{{ sub_program.link }}">{{ sub_program.text }}</a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}

                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}

                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>



            {% else %}

                {% set noColumnTotal = 12 %}
                {% set noColumnClass = (noColumnTotal / content.no_column_slices)|round(0, 'ceil') %}

                <ul id="programs">
                    {% for category in content.category_school_and_programs %}
                        <li>
                            <a class="{{ category.class }}" data-opener href="{{ category.link }}">{{ category.text }}</a>


                            <div class="cud-popup container col-md-12" data-slide>
                                {% if category.children|length > 0 %}

                                    {% set columnPerSchoolDepartment = (category.children|length / content.no_column_slices)|round(0, 'ceil') %}

                                    {% for i in range(0, content.no_column_slices -1) %}
                                        <div class="col-md-{{ noColumnClass }}">

                                            {% set arrPerSchoolDepartmentToDisplay = category.children|slice(i*columnPerSchoolDepartment, columnPerSchoolDepartment ) %}

                                            {% for school in arrPerSchoolDepartmentToDisplay %}

                                                <h4 data-todo="{{ school.link }}"><a href="{{ school.link }}">{{ school.text }}</a></h4>

                                                {% if school.children|length > 0 %}
                                                    <ul>
                                                        {% for program in school.children %}
                                                            <li class="{{ program.children|length > 0 ? "with-subprogram" : "" }}">
                                                                <a href="{{ program.link }}">{{ program.text }}</a>

                                                                {% if program.children|length > 0 %}
                                                                    <ul class="subprogram">
                                                                        {% for sub_program in program.children %}
                                                                            <li>
                                                                                {# |replace({'':''}) #}
                                                                                <a href="{{ sub_program.link }}">{{ sub_program.text }}</a>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endif %}

                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}



                                            {% endfor %}

                                        </div>
                                    {% endfor %}



                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>



            {% endif %}
        {% endif %}


    {% endblock %}
</div>
