{#-- see cud.module -> cud_theme --#}
{#-- works in conjunction with block--cud-custom-front-events.html.twig --#}
{% if front_events|length > 0 %}
    <div class="icontainer">
        <ul>
            {% for e in front_events %}
                {% set plus_shown = 0 %}

                <li>
                    <div class="{{ e.status>= 1 ? "active" : "inactive" }}">
                        {% if e.link and e.status %}
                        <a href="{{ e.link }}">
                            {% endif %}

                            {% if e.date|length > 0 %}
                                <span class="date">
                            {% for d in e.date %}
                                {% if d %}
                                    {% if loop.first %}
                                        <strong>{{ d.start|date("d", false) }}</strong>
                                        <small>{{ d.start|date("M", false) }}</small>
                                    {% else %}
                                        {% if plus_shown <= 0 %}
                                            <i class="fa fa-calendar-plus-o" aria-hidden="true">&nbsp;</i>
                                        {% endif %}

                                        {% set plus_shown = plus_shown + 1 %}
                                    {% endif %}

                                    {% if date("now") >= date(d.start) and date("now") <= date(d.end) %}
                                    <i class="fa fa-calendar-check-o" aria-hidden="true">&nbsp;</i>
                                {% endif %}

                                    {#-- if e.date_end % }
                                        < span class="date-end">
                                                     {{ e.date_end }}
                                            </ span>
                                    { % endif % --#}
                                {% endif %}

                            {% endfor %}
                            </span>
                            {% endif %}


                            <span class="img-circle">
                                {% if e.image %}
                                    {{ e.image }}
                                {% else %}
                                    <img class="w-100" src="{{ directory }}/media/default/red-logo-maple-date.jpg"/>
                                {% endif %}
                            </span>

                            {% if e.title %}
                                <span class="content">
                                    <strong>{{ e.title }}</strong>
                                </span>
                            {% endif %}

                            {% if e.body %}
                                <div class="body">{{ e.body }}</div>
                            {% endif %}

                            {% if e.link and e.status %}
                        </a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endif %}