<div class="student-work-container">
  <h2 class="website">Website</h2>
  <div{{ attributes }}>
      {% if multiple %}
      <div class="website">
      {% endif %} 
        
        {% for item in items %}
          <iframe src={{ item.content }}></iframe>
        {% endfor %} 
        
      {% if multiple %}
      </div>
      {% endif %}
      </div>
</div>