<div class="student-work-container">
  <h2 class="video">Video</h2>
  <div{{ attributes }}>
      {% if multiple %}
      <div class="video">
      {% endif %} 
        
        {% for item in items %}
          {{ item.content }}
        {% endfor %} 
        
      {% if multiple %}
      </div>
      {% endif %}
      </div>
</div>