<div class="student-work-container">
  <h2 class="pdf">PDF</h2>
  <div{{ attributes }}>
      {% if multiple %}
      <div class="pdf">
      {% endif %} 
        
        {% for item in items %}
          {{ item.content }}
        {% endfor %} 
        
      {% if multiple %}
      </div>
      {% endif %}
      </div>
</div>