{#
  primary hero body 
  slider purposes - view: primary_hero
#}

{% if label_hidden %}
  {% if multiple %}
      {% for item in items %}
      {{ item.content }}
      {% endfor %}
  {% else %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% endif %}
{% else %}
    {% if multiple %}
    {% endif %}
    {% for item in items %}
     {{ item.content }}
    {% endfor %}
    {% if multiple %}
    {% endif %}
  </div>
{% endif %}
