<div class="input-group mb-1 input-group-file">
  <div class="input-group-prepend">
    <span class="input-group-text">
     {% if language.getId() == 'ar' %}
      تحميل
      {% else %}
      Upload
      {% endif %}
    </span>
  </div>
  <div class="custom-file">
    <input{{ attributes.addClass('custom-file-input') }}>{{ children }}

    {% if language.getId() == 'ar' %}
    <label class="custom-file-label" for="{{ attributes.id }}" data-browse="تصفح">
      اختر الملف
      {% else %}
    <label class="custom-file-label" for="{{ attributes.id }}">
      Choose file
      {% endif %}</label>
  </div>
</div>