{#
/**
 * @file
 * Theme override for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - title: The link text.
 *   - href: The link URL. If omitted, the 'title' is shown as a plain text
 *     item in the links list. If 'href' is supplied, the entire link is passed
 *     to l() as its $options parameter.
 *   - attributes: (optional) HTML attributes for the anchor, or for the <span>
 *     tag if no 'href' is supplied.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @see template_preprocess_links()
 */
#}
{% if links -%}

    {%- if heading -%}
        {%- if heading.level -%}
            <{{heading.level}}{{heading.attributes}}>{{ heading.text }}</{{heading.level}}>
        {%- else -%}
            <h2{{heading.attributes}}>{{ heading.text }}</h2>
        {%- endif -%}
    {%- endif -%}


    {# current is custom defined #}
    {%- if links.current -%}

        {%
                set classes = [
                    'current-language',
                    'd-none',
                    'dropdown'
                ]
                %}

        {% set current =  links.current %}

        {# 
                            no specified language, get english
                            fallback. 
                        #}
        {% if not current %}
            {% for key, item in links %}
                {% if (key is same as ("en")) %}
                    {% set current =  item %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="dropdown text-align-center">

            <div class="btn btn-secondary dropdown-toggle small p-0" role="button" id="quicklinksLanguageLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {%- if current.link -%}
                    {{ current.link }}
                {%- elseif current.text_attributes -%}
                    <span{{current.text_attributes}}>{{ current.text }}</span>
                {%- else -%}
                    {{ current.text }}
                {%- endif -%}
            </div>

            <div class="dropdown-menu" aria-labelledby="quicklinksLanguageLink">
                {% for key, item in links %}
                    {# ignore current #}
                    {% if key is not same as("current") %}
                        <div class="dropdown-item small nowrap">
                            {%- if item.link -%}
                                {{ item.link }}
                            {%- elseif item.text_attributes -%}
                                <span{{item.text_attributes}}>{{ item.text }}</span>
                            {%- else -%}
                                {{ item.text }}
                            {%- endif -%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {%- else -%}

        <ul{{attributes}}>
            {% for key, item in links %}
                {% if key is not same as("current") %}
                    <li{{item.attributes}}>
                        {%- if item.link -%}
                            {{ item.link }}
                        {%- elseif item.text_attributes -%}
                            <span{{item.text_attributes}}>{{ item.text }}</span>
                        {%- else -%}
                            {{ item.text }}
                        {%- endif -%}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {%- endif -%}
{%- endif %}
