{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<header role="banner">
  {% if logo %}
    <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
    </a>
  {% elseif site_name or site_slogan %}
    {% if site_name %}
      <h1>
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      </h1>
    {% endif %}

    {% if site_slogan %}
      <div>{{ site_slogan }}</div>
    {% endif %}
  {% endif %}
</header>

<main role="main">
  <div class="hero">
    <img src="./sites/default/files/general/2017/main-canadian-university-dubai--1920x1080.jpg" />
  </div>
  <div class="card p-0 m-0  d-flex position-absolute" style="top:0;width:100vw;height:100vh;background:none;z-index:100;">
        <div class="justify-content-center align-self-center my-auto m-5 p-5" style="border-radius:10px;background:rgba(255,0,0,0.8)">
            {% if title %}
                <h1 class="position-relative text-light text-center display-4 red cud fs-sm-1-5" style="z-index:1000">{{ title }}</h1>
            {% endif %}

            <div class="body text-light text-center cud fw-300 fs-sm-1" style="font-size:1.25rem">
              {{ page.highlighted }}

                {{ page.content }}
            </div>
            
      </div>     
    </div>
</main>

{% if page.sidebar_first %}
  <aside role="complementary">
    {{ page.sidebar_first }}
  </aside>
{% endif %}

{% if page.sidebar_second %}
  <aside role="complementary">
    {{ page.sidebar_second }}
  </aside>
{% endif %}

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
