{#
/**
 * @file
 * Default theme implementation to display an oEmbed resource in an iframe.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html>
    <head>
        <style>
          iframe {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            width: 100%;
            height: 100%;
          }
        </style>
      </head>

  <body style="margin: 0">
    {{ media|raw }}
  </body>
</html>
