{% if node.isPublished() %}
	{% else %}
		<h1 class="unpublished">Unpublished</h1>
{% endif %}

<article{{attributes}}>

	{{ title_prefix }}
	{% if not page %}
		<h2{{title_attributes}}>
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h2>
	{% endif %}
	{{ title_suffix }}

	{% if display_submitted %}
		<footer>
			{{ author_picture }}
			<div{{author_attributes}}>
				{% trans %}Submitted by
				{{ author_name }}
				on
				{{ date }}{% endtrans %}
				{{ metadata }}
			</div>
		</footer>
	{% endif %}

	<div{{content_attributes}}>
		<div class="get-started">
			<div class="faculty container text-align-center position-relative">
				<div class="row  mt-3 mb-3">
					<div class="col col-12 col-md-6 animate" data-animate-effect="pulse" alt="Faculty of Architecture and Interior Design">
						<div class="card text-white border-0 rounded-0">
							<div class="card-img">
								<img class="w-100" alt="Faculty of Architecture and Interior Design" data-entity-type="file" data-entity-uuid="a4537b32-2716-46a5-b918-b55156daa77c" src="/sites/default/files/inline-images/faculty-engineering-architecture.jpg"/>
							</div>
							<div class="card-img-overlay d-flex align-items-start justify-content-start flex-column bg-transparent">
								<div class="listing h-100 w-100 text-align-left d-none scroller">
									<ul class="u-list">
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Architecture">Bachelor of Architecture</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Science in Interior Design">Bachelor of Science in Interior Design</a>
										</li>
									</ul>
								</div>
								<!-- /listing -->
							</div>
						</div>
						<div class="card text-white border-0 rounded-0">
							<div class="card-footer bg-transparent">
								<h4 class="text-dark cud fs-sm-1">Faculty of Architecture and Interior Design</h4>
							</div>
						</div>
					</div>
					<div class="col col-12 col-md-6 animate" data-animate-effect="pulse" alt="Faculty of Communication, Arts and Sciences">
						<div class="card text-white border-0 rounded-0">
							<div class="card-img">
								<img  class="w-100" alt="Faculty of Communication, Arts and Sciences" data-entity-type="file" data-entity-uuid="f1c12b36-aa97-4a8b-8721-7b054a856070" src="/sites/default/files/inline-images/faculty-communication-arts-sciences.jpg"/>
							</div>
							<div class="card-img-overlay d-flex align-items-start justify-content-start flex-column bg-transparent">
								<div class="listing h-100 w-100 text-align-left d-none scroller">
									<ul class="u-list">
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Associate Degree in Food Safety">Associate Degree in Food Safety</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Arts in Communication in Advertisement">Bachelor of Arts in Communication in Advertisement</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Arts in Communication in Journalism">Bachelor of Arts in Communication in Journalism</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Arts in Communication in Public Relations">Bachelor of Arts in Communication in Public Relations</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Arts in Psychology">Bachelor of Arts in Psychology</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Science in Environmental Health Management">Bachelor of Science in Environmental Health Management</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Science in Health Information Management">Bachelor of Science in Health Information Management</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Science in Health Organization Management">Bachelor of Science in Health Organization Management</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" dir="rtl" href="/form/open-house?programs=برنامج بكالوريوس الآداب في الإتصال - الإعلان">برنامج بكالوريوس الآداب في الإتصال - الإعلان</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" dir="rtl" href="/form/open-house?programs=برنامج بكالوريوس الآداب في الإتصال - الصحافة">برنامج بكالوريوس الآداب في الإتصال - الصحافة</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" dir="rtl" href="/form/open-house?programs=برنامج بكالوريوس الآداب في الإتصال - العلاقات العامة">برنامج بكالوريوس الآداب في الإتصال - العلاقات العامة</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" dir="rtl" href="/form/open-house?programs=برنامج بكالوريوس الآداب في الإتصال - العلاقات العامة">برنامج بكالوريوس الآداب في الإتصال - العلاقات العامة</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" dir="rtl" href="/form/open-house?programs=بكالوريوس الآداب فى علم النفس">برنامج بكالوريوس الآدابكالوريوس الآداب فى علم النفس</a>
										</li>
									</ul>
								</div>
								<!-- /listing -->
							</div>
						</div>
						<div class="card text-white border-0 rounded-0">
							<div class="card-footer bg-transparent">
								<h4 class="text-dark cud fs-sm-1">Faculty of Communication, Arts and Sciences</h4>
							</div>
						</div>
					</div>
					<div class="col col-12 col-md-6 animate" data-animate-effect="pulse" alt="Faculty of Engineering, Applied Science and Technology">
						<div class="card text-white border-0 rounded-0">
							<div class="card-img">
								<img  class="w-100" alt="Faculty of Engineering, Applied Science and Technology" data-entity-type="file" data-entity-uuid="a4537b32-2716-46a5-b918-b55156daa77c" src="/sites/default/files/inline-images/faculty-engineering-architecture.jpg"/>
							</div>
							<div class="card-img-overlay d-flex align-items-start justify-content-start flex-column bg-transparent">
								<div class="listing h-100 w-100 text-align-left d-none scroller">
									<ul class="u-list">
										
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Computer and Networking Engineering Technology">Bachelor of Computer and Networking Engineering Technology</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Science in Electrical Engineering – Electronics">Bachelor of Science in Electrical Engineering – Electronics</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Science in Electrical Engineering – Mechatronics">Bachelor of Science in Electrical Engineering – Mechatronics</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Science in Electrical Engineering – Telecommunications">Bachelor of Science in Electrical Engineering – Telecommunications</a>
										</li>
									
									</ul>
								</div>
								<!-- /listing -->
							</div>
						</div>
						<div class="card text-white border-0 rounded-0">
							<div class="card-footer bg-transparent">
								<h4 class="text-dark cud fs-sm-1">Faculty of Engineering, Applied Science and Technology</h4>
							</div>
						</div>
					</div>
					<div class="col col-12 col-md-6 animate" data-animate-effect="pulse" alt="Faculty of Management">
						<div class="card text-white border-0 rounded-0">
							<div class="card-img">
								<img  class="w-100" alt="Faculty of Management" data-entity-type="file" data-entity-uuid="73c2471e-6bb1-41d5-974b-c234efde0d09" src="/sites/default/files/inline-images/faculty-management.jpg"/>
							</div>
							<div class="card-img-overlay d-flex align-items-start justify-content-start flex-column bg-transparent">
								<div class="listing h-100 w-100 text-align-left d-none scroller">
									<ul class="u-list">
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Associate Degree in Marketing">Associate Degree in Marketing</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Business Administration in Forensic Accounting">Bachelor of Business Administration in Forensic Accounting</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Business Administration in Accounting and Finance">Bachelor of Business Administration in Accounting and Finance</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Business Administration in e-Business">Bachelor of Business Administration in e-Business</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Business Administration in Events and Tourism">Bachelor of Business Administration in Events and Tourism</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Business Administration in Human Resource Management">Bachelor of Business Administration in Human Resource Management</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Business Administration in International Business">Bachelor of Business Administration in International Business</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Business Administration in Luxury Marketing">Bachelor of Business Administration in Luxury Marketing</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Business Administration in Marketing">Bachelor of Business Administration in Marketing</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Business Administration in Operations and Supply Chain Management">Bachelor of Business Administration in Operations and Supply Chain Management</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Bachelor of Business Administration in Sports Management">Bachelor of Business Administration in Sports Management</a>
										</li>
									</ul>
								</div>
								<!-- /listing -->
							</div>
						</div>
						<div class="card text-white border-0 rounded-0">
							<div class="card-footer bg-transparent">
								<h4 class="text-dark cud fs-sm-1">Faculty of Management</h4>
							</div>
						</div>
					</div>
					<div class="col col-12 col-md-3 d-none d-md-block">
						<!-- empty -->
					</div>

					<div class="col col-12 col-md-6 animate" data-animate-effect="pulse" alt="Master of Business Administration and MITGov">
						<div class="card text-white border-0 rounded-0">
							<div class="card-img">
								<img  class="w-100" alt="Master of Business Administration and MITGov" data-entity-type="file" data-entity-uuid="2401bfb9-ee2d-4984-8e32-09408b84fa23" src="/sites/default/files/inline-images/faculty-management-graduate-mit-gov.jpg"/>

							</div>
							<div class="card-img-overlay d-flex align-items-start justify-content-start flex-column bg-transparent">
								<div class="listing h-100 w-100 text-align-left d-none scroller">
									<ul class="u-list">
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Master in Information Technology Management and Governance">Master in Information Technology Management and Governance</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Master of Business Administration in Double Concentration">Master of Business Administration in Double Concentration</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Master of Business Administration in Finance">Master of Business Administration in Finance</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Master of Business Administration in General Management">Master of Business Administration in General Management</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Master of Business Administration in Human Resource Management">Master of Business Administration in Human Resource Management</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Master of Business Administration in Islamic Banking">Master of Business Administration in Islamic Banking</a>
										</li>
										<li>
											<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/open-house?programs=Master of Business Administration in Marketing">Master of Business Administration in Marketing</a>
										</li>
									</ul>
								</div>
								<!-- /listing -->
							</div>
						</div>
						<div class="card text-white border-0 rounded-0">
							<div class="card-footer bg-transparent">
								<h4 class="text-dark cud fs-sm-1">MBA and MITGov</h4>
							</div>
						</div>
					</div>

					<div class="col col-12 col-md-3 d-none d-md-block">
						<!-- empty -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- /faculty container -->

			<div class="front-location-video row">
				<div class="col col-12 col-lg-12 col-md-12">
					<div class="card b-0">
						<div class="card-img">
							<div class="row mt-0 mb-0">
								<div class="col col-12 col-md-6 m-0 d-flex my-3 my-md-0"><img class="w-100 my-auto px-5 align-self-center" alt="Canada is closer than you think - video" data-align="left" data-entity-type="file" data-entity-uuid="666c9741-e155-416e-8ff5-16d4110942a9" src="/sites/default/files/inline-images/video-image-1-1.jpg"/></div>

								<div class="col col-12 col-md-6 m-0 d-flex my-3 my-md-0"><img class="w-100 my-auto" alt="Canada is closer than you think - video" data-align="right" data-entity-type="file" data-entity-uuid="fb3ef8bf-3cbb-4ea0-837a-9e59c14f008f" src="/sites/default/files/inline-images/video-image-2.jpg"/></div>
							</div>
						</div>

						<div class="video b-0 d-none position-absolute w-100 h-100" id="player2"><!-- empty --></div>

						<div class="card-img-overlay d-flex flex-column">
							<p class="card-text text-align-center my-auto mx-auto text-center">
								<span class="player2 d-inline-block" data-id="HKiL2xohLbg">
									<i aria-hidden="true" class="far fa-play-circle fa-9x text-secondary"><!-- empty --></i>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /video container -->

			
			<div class="clearfix bottom location container text-align-center position-relative  mt-3 mb-3">
				<div class="row mt-0 mb-0">
					<div class="col m-0 col-6 col-sm-3"><img class="w-100" alt="Canadian University Dubai" data-entity-type="file" data-entity-uuid="51bb7c0b-2517-428a-879a-634c80009d0e" src="/sites/default/files/inline-images/location-canadian-university-dubai.jpg"/>
						<h4 class="d-block text-align-center m-3 cud fs-sm-1">Canadian University Dubai</h4>
					</div>

					<div class="col m-0 col-6 col-sm-3"><img class="w-100" alt="DIFC" data-entity-type="file" data-entity-uuid="d3001d41-2842-43d2-8c0c-81fe84dbae4b" src="/sites/default/files/inline-images/location-difc.jpg"/>
						<h4 class="d-block text-align-center m-3 cud fs-sm-1">DIFC</h4>
					</div>

					<div class="col m-0 col-6 col-sm-3"><img class="w-100" alt="Sheikh Zayed Road" data-entity-type="file" data-entity-uuid="830f074f-a26d-4fdc-baeb-5e1bab4c9b96" src="/sites/default/files/inline-images/location-sheikh-zayed-road.jpg"/>
						<h4 class="d-block text-align-center m-3 cud fs-sm-1">Sheikh Zayed Road</h4>
					</div>

					<div class="col m-0 col-6 col-sm-3"><img class="w-100" alt="City Walk" data-entity-type="file" data-entity-uuid="0141da18-ac08-452c-979b-8e6ddf88cfb2" src="/sites/default/files/inline-images/location-city-walk.jpg"/>
						<h4 class="d-block text-align-center m-3 cud fs-sm-1">City Walk</h4>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /location thumbs container -->

		</div>
		<!-- popup -->
		<!-- /get-started -->

		{{ content|without('body') }}
	</div>

</article>
