{% if not node.isPublished() %}
<h1 class="unpublished">Unpublished</h1>
{% endif %}

<article {{ attributes }}>

  <div {{ content_attributes }}>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-4">
      {% if content.field_image.0 %}
      {{ content.field_image.0 }}
      {% endif %}
    </div>
    <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-8">
      {{ title_prefix }}
      {% if not page %}
      <h2 {{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
      {% endif %}
      {{ title_suffix }}

      {% if content.field_partner_program %}
      <h3>{{ content.field_partner_program }}</h3>
      {% endif %}
      {{ content.body }}
    </div>

    <div class="gallery-reference">
      {{ content.field_gallery_reference }}
    </div>
  </div>
  
</article>
