{# check: display mode #}

{% if node.isPublished() %}
{% else %}
    <h1 class="unpublished">Unpublished</h1>
{% endif %}


<article{{ attributes }}>
    <div class="content">
        <div{{ content_attributes }}>
            {{ content }}
        </div>
    </div>
</article>