{% if node.isPublished() %}
    {% else %}
        <h1 class="unpublished">Unpublished</h1>
{% endif %}

<article {{ attributes }}>

    {{ title_prefix }}
    {% if not page %}
        <h2 {{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
        <footer>
            {{ author_picture }}
            <div {{ author_attributes }}>
                {% trans %}Submitted by
                {{ author_name }}
                on
                {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}

    <div
        {{ content_attributes.addClass('mb-3') }}>

        {# { node.field_department.target_id } #}

        {% if content.field_department or content.field_faculty %}
            <div class="back-to-page inline">
                <i class="fa fa-long-arrow-left">&nbsp;</i>
                {% if language.getId() == 'ar' %}
                    العودة إلى
                {% else %}
                    Back to
                {% endif %}

                {% if content.field_department %}
                    {{ content.field_department }}
                {% elseif content.field_faculty %}
                    {{ content.field_faculty }}
                {% endif %}
            </div>
        {% endif %}

        {% if (content.field_is_new|render|striptags|trim != '') or (content.field_program_minor|render|striptags|trim != '') or (content.field_program_years|render|striptags|trim != '') or (content.field_program_credit_hours|render|striptags|trim != '') or
    (content.field_program_opening_dates|render|striptags|trim != '') %}

            {% if content.field_is_new|render|striptags|trim == 'On' %}
                 <div class="row flex-column-fix cud fs-1-1 fs-sm-1 fw-500">
                    <div class="col col-12 pb-2 pb-lg-3 pb-md-3 text-center">
                        <div class="card border-0 p-2">
                            <div class="card-img border-o">
                                    <i class="fas fa-certificate fa-3x red animated pulse infinite"><!-- empty --></i>
                                <div class="card-img-overlay no-bg-hover border-o text-light">
                                    New
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row flex-column-fix cud fs-1-1 fs-sm-1 fw-500">
                {% if content.field_program_minor|render|striptags|trim != '' %}
                    <div class="col col-6 col-md-5 pb-2 pb-lg-3 pb-md-3">
                        <div class="row m-0 mr-2 flex-column-fix">
                            <div class="col col-2 col-md-2 p-0">
                                <i class="far cud fs-1-5 fa-file-certificate red"><!-- empty --></i>
                            </div>
                            <div class="col col-9 p-0">
                                {{ content.field_program_minor }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if content.field_program_years|render|striptags|trim != '' %}
                    <div class="col col-6 col-md-5 pb-2 pb-lg-3 pb-md-3">
                        <div class="row m-0 mr-2 flex-column-fix">
                            <div class="col col-2 col-md-2 p-0">
                                <i class="far cud fs-1-5  fa-calendar-alt red"><!-- empty --></i>
                            </div>
                            <div class="col col-9 p-0">
                                {{ content.field_program_years }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if content.field_program_credit_hours|render|striptags|trim != '' %}
                    <div class="col col-6 col-md-5 pb-2 pb-lg-3 pb-md-3">
                        <div class="row m-0 mr-2 flex-column-fix">
                            <div class="col col-2 col-md-2 p-0">
                                <i class="far cud fs-1-5  fa-clock red"><!-- empty --></i>
                            </div>
                            <div class="col col-9 p-0">
                                {{ content.field_program_credit_hours }}</div>
                        </div>
                    </div>

                {% endif %}
                {% if content.field_program_opening_dates|render|striptags|trim != '' %}
                    <div class="col col-6 col-md-5 pb-2 pb-lg-3 pb-md-3">
                        <div class="row m-0 mr-2 flex-column-fix">
                            <div class="col col-2 col-md-2 p-0">
                                <i class="far cud fs-1-5 fa-calendar-day red"><!-- empty --></i>
                            </div>
                            <div class="col col-9 p-0">
                                {{ content.field_program_opening_dates }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if language.getId() != 'en' %}
                    {% if content.field_also_in_arabic|render|striptags|trim == 'On' %}
                        {% if language.getId() != 'ar' %}
                            <div class="col col-12">Also available in
                                <a href="/ar{{ path }}">
                                    <strong class="red">Arabic (عربي)</strong>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}

            </div>
            <!-- row content -->

           <div class="row flex-column-fix cud fs-1-1 fs-sm-1 fw-500">
                {% if content.field_faculty|render|striptags|trim != '' %}
                    <div class="col col-6 col-md-5 pb-2 pb-lg-3 pb-md-3">
                        <div class="row m-0 mr-2 flex-column-fix">
                            <div class="col col-2 col-md-2 p-0">
                                <i class="cud fs-1-5 fab fa-canadian-maple-leaf red"><!-- empty --></i>
                            </div>
                            <div class="col col-9 p-0">
                                {{ content.field_faculty.0 }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if content.field_department|render|striptags|trim != '' %}
                    <div class="col col-6 col-md-5 pb-2 pb-lg-3 pb-md-3">
                        <div class="row m-0 mr-2 flex-column-fix">
                            <div class="col col-2 col-md-2 p-0">
                                <i class="cud fs-1-5 fab fa-canadian-maple-leaf red"><!-- empty --></i>
                            </div>
                            <div class="col col-9 p-0">
                                {{ content.field_department.0 }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>


            <div class="course-info mt-3 mb-2 mb-md-5">

                <div class="row">
                    <div class="col col-6 col-md-5">
                        {% set link = '/applyonline' %}

                        {# if arabic - force the payment form // to custom arabic online payment #}
                        {# as cams is not ready for such #}
                        {# % if language.getId() == 'ar' %}
                            {% set link = '/ar/payment/form/arabic' %}
                        {% endif % #}

                        {# 
                            if the simple url single is defined, use it
                            the node is translated, so if a different language is used
                            the field will override automatically

                            but likely used in the english more often
                            such as new program(s) that might be plugged or in the student system
                        #}
                        {% if content.field_simple_url_single|render|striptags|trim != '' %}
                            {% set link = content.field_simple_url_single|render|striptags|trim %}
                        {% endif %}
                        
                        {% if content.field_external_alternate_title|render|striptags|trim != '' %}
                            {% set link = link ~ '?program=' ~ (content.field_external_alternate_title|render|striptags|trim|url_encode) %}
                        {% elseif label %}
                            {% set link = link ~ '?program=' ~ (label|render|striptags|trim|url_encode) %}
                        {% endif %}

                        <a class="btn btn-primary btn_ico-right btn-full-width" href="{{ link }}">
                            {% if language.getId() == 'ar' %}
                                طلب التحاق
                                <i class="fa fa-long-arrow-left"><!-- empty --></i>
                            {% else %}
                                Apply online
                                <i class="fa fa-long-arrow-right"><!-- empty --></i>
                            {% endif %}

                        </a>
                    </div>

                    {# % set l = '' %}
                                                    {% if language.getId() == 'ar' %}
                                                      {% set l = '/' ~ language.getId() %}
                                                    {% endif %}
                                        
                                                      {{ l }}/node/{{ node.field_study_plan.target_id|striptags }}
                                        
                                                      1/23/2019
                                                      see: indicud -> preprocess_node
                                                    #}

                    {% if custom_study_plan_url %}
                        <div class="col col-6 col-md-5">
                            <a class="btn btn-primary btn-black btn_ico-right btn-full-width use-ajax" data-dialog-options="{&quot;dialogClass&quot;:&quot;pidia&quot;,&quot;width&quot;:&quot;900&quot;}" data-dialog-type="modal" href="{{ custom_study_plan_url }}">

                                {% if language.getId() == 'ar' %}
                                    الخطة الدراسية
                                    <i class="fa fa-long-arrow-left"><!-- empty --></i>
                                {% else %}
                                    Study plan
                                    <i class="fa fa-long-arrow-right"><!-- empty --></i>
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}

                    <div class="col col-2 col-md-2 col-md-2 d-none d-sm-block">&nbsp;</div>
                </div>
            </div>

           
        {% endif %}

        {{ content.body }}
    </div>

</article>
