{% if node.isPublished() %}
	{% else %}
		<h1 class="unpublished">Unpublished</h1>
{% endif %}

<article{{attributes}}>

	{{ title_prefix }}
	{% if not page %}
		<h2{{title_attributes}}>
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h2>
	{% endif %}
	{{ title_suffix }}

	{% if display_submitted %}
		<footer>
			{{ author_picture }}
			<div{{author_attributes}}>
				{% trans %}Submitted by
				{{ author_name }}
				on
				{{ date }}{% endtrans %}
				{{ metadata }}
			</div>
		</footer>
	{% endif %}


	<div{{content_attributes}}>

		{% if content.field_personnel_email.0 %}
			<div class="S2019">
				<div class="row flex-column-fix custom-affix">
					<div
						class="col col-12 p-3 scroll-indicator d-none d-sm-block d-md-none show-on-mobile"><!-- empty -->
					</div>
					{% if content.field_image.0 %}
						<div
							class="col col-5 col-md-3 m-auto m-md-0">
							{# { content.field_image.0 } #}
							<img class="w-100" src="{{ file_url(content.field_image['#items'][0].entity.uri.value) }}"/>
						</div>
						<div class="col col-7 col-md-9">
							<div class="d-none d-md-block show-on-desktop">
								<table class="table table-hover border-0 cud fs-sm-1 nowrap">
									{% if label %}
										<tr>
											<td style="width:20%;white-space:nowrap;" class="p-0 pl-1 py-1 border-0 text-muted">Name</td>
											<th class="p-0 py-1 border-0">{{ label }}</th>
										</tr>
									{% endif %}

									{% if content.field_personnel_highest_degree.0 %}
										<tr>
											<td style="width:20%;white-space:nowrap;" class="p-0 pl-1 py-1 border-0 text-muted">Highest Degree</td>
											<th class="p-0 py-1 border-0">{{ content.field_personnel_highest_degree.0 }}</th>
										</tr>
									{% endif %}

									{% if content.field_personnel_position.0 %}
										<tr>
											<td style="width:20%;white-space:nowrap;" class="p-0 pl-1 py-1 border-0 text-muted">Position</td>
											<th class="p-0 py-1 border-0">{{ content.field_personnel_position.0 }}</th>
										</tr>
									{% endif %}

									{% if content.field_personnel_other_titles.0 %}
										<tr>
											<td style="width:20%;white-space:nowrap;" class="p-0 pl-1 py-1 border-0 text-muted">Titles</td>
											<th class="p-0 py-1 border-0">{{ content.field_personnel_other_titles.0 }}</th>
										</tr>
									{% endif %}

									{% if content.field_personnel_email.0 %}
										<tr>
											<td style="width:20%;white-space:nowrap;" class="p-0 pl-1 py-1 border-0 text-muted">Email</td>
											<th class="p-0 py-1 border-0">{{ content.field_personnel_email.0  }}</th>
										</tr>
									{% endif %}

									{% if content.field_personnel_telephone.0 %}
										<tr>
											<td style="width:20%;white-space:nowrap;" class="p-0 pl-1 py-1 border-0 text-muted">Telephone/Ext</td>
											<th class="p-0 py-1 border-0">{{ content.field_personnel_telephone.0  }}</th>
										</tr>
									{% endif %}

									{% if content.field_personnel_office_location.0 %}
										<tr>
											<td style="width:20%;white-space:nowrap;" class="p-0 pl-1 py-1 border-0 text-muted">Location</td>
											<th class="p-0 py-1 border-0">{{ content.field_personnel_office_location.0  }}</th>
										</tr>
									{% endif %}

									{% if content.field_faculty.0 %}
										<tr>
											<td style="width:20%;white-space:nowrap;" class="p-0 pl-1 py-1 border-0 text-muted">Faculty</td>
											<th class="p-0 py-1 border-0">{{ content.field_faculty.0 }}</th>
										</tr>
									{% endif %}

									{% if content.field_department.0 %}
										<tr>
											<td style="width:20%;white-space:nowrap;" class="p-0 pl-1 py-1 border-0 text-muted">Department</td>
											<th class="p-0 py-1 border-0">{{ content.field_department.0 }}</th>
										</tr>
									{% endif %}

								</table>
							</div>
							<div class="d-sm-block d-md-none show-on-mobile">
								{% if label %}
									<span class="text-muted small cud fw-300">Name</span>
									<span class="cud fs-sm-12px fw-700">{{ label }}</span>
								{% endif %}
								{% if content.field_personnel_position.0 %}
									<br/>
									<span class="text-muted small cud fw-300">Position</span>
									<span class="cud fs-sm-12px fw-700">{{ content.field_personnel_position.0 }}</span>
								{% endif %}
								{% if content.field_personnel_email.0 %}
									<br/>
									<span class="text-muted small cud fw-300">Email</span>
									<span class="cud fs-sm-12px fw-700">{{ content.field_personnel_email.0 }}</span>
								{% endif %}
								{% if content.field_personnel_telephone.0 %}
									<br/>
									<span class="text-muted small cud fw-300">Telephone/Ext</span>
									<span class="cud fs-sm-12px fw-700">{{ content.field_personnel_telephone.0 }}</span>
								{% endif %}
								{% if content.field_personnel_office_location.0 %}
									<br/>
									<span class="text-muted small cud fw-300">Location</span>
									<span class="cud fs-sm-12px fw-700">{{ content.field_personnel_office_location.0 }}</span>
								{% endif %}
								{% if content.field_personnel_highest_degree.0 %}
									<br/>
									<span class="text-muted small cud fw-300">Highest Degree</span>
									<span class="cud fs-sm-12px fw-700">{{ content.field_personnel_highest_degree.0 }}</span>
								{% endif %}
								{% if content.field_personnel_other_titles.0 %}
									<br/>
									<span class="text-muted small cud fw-300">Titles</span>
									<span class="cud fs-sm-12px fw-700">{{ content.field_personnel_other_titles.0 }}</span>
								{% endif %}
								{% if content.field_faculty.0 %}
									<br/>
									<span class="text-muted small cud fw-300">Faculty</span>
									<span class="cud fs-sm-12px fw-700">{{ content.field_faculty.0 }}</span>
								{% endif %}

								{% if content.field_department.0 %}
									<br/>
									<span class="text-muted small cud fw-300">Department</span>
									<span class="cud fs-sm-12px fw-700">{{ content.field_department.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col col-12 pt-2">
							<hr class="scroll-indicator d-none text-muted"/>
						</div>
						<div class="col col-12 pb-2 pb-md-3 scroll-indicator text-center d-none">
							<a href="#movedown">
								<i class="far fa-arrows-v fa-2x text-info"><!-- empty --></i>
							</a>
						</div>
					{% else %}
						<div class="col col-12">{{ content.body }}</div>
					{% endif %}
				</div>
				<div class="row flex-column-fix custom-affix-sibling">
					<div class="col col-12  col-offset cud fs-sm-12px">
						<div id="movedown-container">
							<a name="movedown" class="onepixel"><!-- empty --></a>
						</div>

						{% if content.field_personnel_biography.0 %}
							<div
								class="mb-2 mb-md-4">
								{# { content.field_personnel_biography['#title'] } #}
								{% if node.field_personnel_biography.summary|length > 0 %}
									<div class="collapsibleContent">
										<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingTitleContentNavigationBiography">
											<div class="row flex-column-fix">
												<div class="col col-9">
													<h3 class="m-0 cud fs-sm-1-5">Biography</h3>
												</div>
												<div class="col col-3 d-flex align-items-center justify-content-end">
													<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseBiography" aria-expanded="false" aria-controls="collapseBiography">
														<i class="far fa-chevron-down text-dark"><!-- empty --></i>
														<i class="far fa-chevron-up text-dark"><!-- empty --></i>
													</a>
												</div>
											</div>
										</div>
										<div class="collapse d-block" id="collapseBiography" aria-expanded="false">
											<div class="collapseInnerElementContent">
												<div class="summary">
													{{ node.field_personnel_biography.summary|t }}
												</div>
												<div class="full">
													{{ content.field_personnel_biography.0 }}
												</div>
											</div>
										</div>
										<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseBiography" aria-expanded="false" aria-controls="collapseBiography"></a>
									</div>
								{% else %}
									<div class="mb-2 mb-md-4">
										<div class="d-none d-md-block show-on-desktop">
											<h3 class="cud fs-sm-1-5">Biography</h3>
											{{ content.field_personnel_biography.0 }}
										</div>
										<div class="d-sm-block d-md-none show-on-mobile">
											<div class="collapsibleContent">
												<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingPersonalBiography">
													<div class="row flex-column-fix">
														<div class="col col-9">
															<h3 class="m-0 cud fs-sm-1-5">Biography</h3>
														</div>
														<div class="col col-3 d-flex align-items-center justify-content-end">
															<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapsePersonalBiography" aria-expanded="false" aria-controls="collapsePersonalBiography">
																<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																<i class="far fa-chevron-up text-dark"><!-- empty --></i>
															</a>
														</div>
													</div>
												</div>
												<div class="collapse d-block" id="collapsePersonalBiography" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_biography.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_biography.0 }}
														</div>
													</div>
												</div>
												<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapsePersonalBiography" aria-expanded="false" aria-controls="collapsePersonalBiography"></a>
											</div>
										</div>
									</div>
								{% endif %}
							</div>
						{% endif %}

						{% if content.field_personnel_res_interests[0] %}
							<div class="mb-2 mb-md-4">
								<div class="d-none d-md-block show-on-desktop">
									<h3 class="cud fs-sm-1-5">Research Interests Keywords</h3>
									{% for key,value in node.field_personnel_res_interests %}{{ content.field_personnel_res_interests[key]["#plain_text"]|trim }}{% if not loop.last %}, {% endif %}{% endfor %}
								</div>
								<div class="d-sm-block d-md-none show-on-mobile">
									<div class="collapsibleContent">
										<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingResearchInterestKeywords">
											<div class="row flex-column-fix">
												<div class="col col-9">
													<h3 class="m-0 cud fs-sm-1-5">Research Interests Keywords</h3>
												</div>
												<div class="col col-3 d-flex align-items-center justify-content-end">
													<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseResearchInterestKeywords" aria-expanded="false" aria-controls="collapseResearchInterestKeywords">
														<i class="far fa-chevron-down text-dark"><!-- empty --></i>
														<i class="far fa-chevron-up text-dark"><!-- empty --></i>
													</a>
												</div>
											</div>
										</div>
										<div class="collapse" id="collapseResearchInterestKeywords" aria-expanded="false">
											{% for key,value in node.field_personnel_res_interests %}{{ content.field_personnel_res_interests[key]["#plain_text"]|trim }}{% if not loop.last %}, {% endif %}{% endfor %}
										</div>
										<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseResearchInterestKeywords" aria-expanded="false" aria-controls="collapseResearchInterestKeywords"></a>
									</div>
								</div>
							</div>
						{% endif %}

						{% if content.field_personnel_ap_books.0 or content.field_personnel_ap_book_chapters.0 or 
						content.field_personnel_ap_journals.0 or content.field_personnel_ap_conf_papers.0 or
						content.field_personnel_ap_research.0 or content.field_personnel_prof_membership.0 or 
						contnet.field_personnel_awards_honors.0 or content.field_personnel_other_contrib.0 or content.field_personnel_participation.0 %}
							<div class="mb-2 mb-md-4">
								<h3 class="mb-2 mb-md-4 cud fs-sm-1-5 text-danger">Academic Publications</h3>
								{% if content.field_personnel_ap_books.0 %}
									<div class="mb-2 mb-md-4">
										{% if node.field_personnel_ap_books.summary|length > 0 %}
											<div class="collapsibleContent">
												<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingTitleContentNavigationBooks">
													<div class="row flex-column-fix">
														<div class="col col-9">
															<h3 class="m-0 cud fs-sm-1-5">Books</h3>
														</div>
														<div class="col col-3 d-flex align-items-center justify-content-end">
															<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseBooks" aria-expanded="false" aria-controls="collapseBooks">
																<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																<i class="far fa-chevron-up text-dark"><!-- empty --></i>
															</a>
														</div>
													</div>
												</div>
												<div class="collapse d-block" id="collapseBooks" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_ap_books.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_ap_books.0 }}
														</div>
													</div>
												</div>
												<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseBooks" aria-expanded="false" aria-controls="collapseBooks"></a>
											</div>
										{% else %}
											<div class="mb-2 mb-md-4">
												<div class="d-none d-md-block show-on-desktop">
													<h3 class="cud fs-sm-1-5">Books</h3>
													{{ content.field_personnel_ap_books.0 }}
												</div>
												<div class="d-sm-block d-md-none show-on-mobile">
													<div class="collapsibleContent">
														<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingAcademicPublicationBooks">
															<div class="row flex-column-fix">
																<div class="col col-9">
																	<h3 class="m-0 cud fs-sm-1-5">Books</h3>
																</div>
																<div class="col col-3 d-flex align-items-center justify-content-end">
																	<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseAcademicPublicationBooks" aria-expanded="false" aria-controls="collapseAcademicPublicationBooks">
																		<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																		<i class="far fa-chevron-up text-dark"><!-- empty --></i>
																	</a>
																</div>
															</div>
														</div>
														<div class="collapse d-block" id="collapseAcademicPublicationBooks" aria-expanded="false">
															<div class="collapseInnerElementContent">
																<div class="summary">
																	{{ node.field_personnel_ap_books.summary|t }}
																</div>
																<div class="full">
																	{{ content.field_personnel_ap_books.0 }}
																</div>
															</div>
														</div>
														<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseAcademicPublicationBooks" aria-expanded="false" aria-controls="collapseAcademicPublicationBooks"></a>
													</div>
												</div>
											</div>
										{% endif %}
									</div>
								{% endif %}

								{% if content.field_personnel_ap_book_chapters.0 %}
									<div class="mb-2 mb-md-4">
										{% if node.field_personnel_ap_book_chapters.summary|length > 0 %}
											<div class="collapsibleContent">
												<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingTitleContentNavigationBookChapters">
													<div class="row flex-column-fix">
														<div class="col col-9">
															<h3 class="m-0 cud fs-sm-1-5">Book Chapters</h3>
														</div>
														<div class="col col-3 d-flex align-items-center justify-content-end">
															<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseBookChapters" aria-expanded="false" aria-controls="collapseBookChapters">
																<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																<i class="far fa-chevron-up text-dark"><!-- empty --></i>
															</a>
														</div>
													</div>
												</div>
												<div class="collapse d-block" id="collapseBookChapters" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_ap_book_chapters.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_ap_book_chapters.0 }}
														</div>
													</div>
												</div>
												<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseBookChapters" aria-expanded="false" aria-controls="collapseBookChapters"></a>
											</div>
										{% else %}
											<div class="d-none d-md-block show-on-desktop">
												<h3 class="cud fs-sm-1-5">Book Chapters</h3>
												{{ content.field_personnel_ap_book_chapters.0 }}
											</div>
											<div class="d-sm-block d-md-none show-on-mobile">
												<div class="collapsibleContent">
													<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingAcademicPublicationBookChapters">
														<div class="row flex-column-fix">
															<div class="col col-9">
																<h3 class="m-0 cud fs-sm-1-5">Book Chapters</h3>
															</div>
															<div class="col col-3 d-flex align-items-center justify-content-end">
																<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseAcademicPublicationBookChapters" aria-expanded="false" aria-controls="collapseAcademicPublicationBookChapters">
																	<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																	<i class="far fa-chevron-up text-dark"><!-- empty --></i>
																</a>
															</div>
														</div>
													</div>
													<div class="collapse d-block" id="collapseAcademicPublicationBookChapters" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_ap_book_chapters.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_ap_book_chapters.0 }}
														</div>
													</div>
												</div>
													<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseAcademicPublicationBookChapters" aria-expanded="false" aria-controls="collapseAcademicPublicationBookChapters"></a>
												</div>
											</div>
										{% endif %}
									</div>
								{% endif %}


								{% if content.field_personnel_ap_journals.0 %}
									<div class="mb-2 mb-md-4">
										{% if node.field_personnel_ap_journals.summary|length > 0 %}
											<div class="collapsibleContent">
												<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingTitleContentNavigationJournals">
													<div class="row flex-column-fix">
														<div class="col col-9">
															<h3 class="m-0 cud fs-sm-1-5">Journals</h3>
														</div>
														<div class="col col-3 d-flex align-items-center justify-content-end">
															<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseJournals" aria-expanded="false" aria-controls="collapseJournals">
																<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																<i class="far fa-chevron-up text-dark"><!-- empty --></i>
															</a>
														</div>
													</div>
												</div>
												<div class="collapse d-block" id="collapseJournals" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_ap_journals.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_ap_journals.0 }}
														</div>
													</div>
												</div>
												<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseJournals" aria-expanded="false" aria-controls="collapseJournals"></a>
											</div>
										{% else %}
											<div class="d-none d-md-block show-on-desktop">
												<h3 class="cud fs-sm-1-5">Journals</h3>
												{{ content.field_personnel_ap_journals.0 }}
											</div>
											<div class="d-sm-block d-md-none show-on-mobile">
												<div class="collapsibleContent">
													<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingAcademicPublicationJournals">
														<div class="row flex-column-fix">
															<div class="col col-9">
																<h3 class="m-0 cud fs-sm-1-5">Journals</h3>
															</div>
															<div class="col col-3 d-flex align-items-center justify-content-end">
																<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseAcademicPublicationJournals" aria-expanded="false" aria-controls="collapseAcademicPublicationJournals">
																	<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																	<i class="far fa-chevron-up text-dark"><!-- empty --></i>
																</a>
															</div>
														</div>
													</div>
													<div class="collapse d-block" id="collapseAcademicPublicationJournals" aria-expanded="false">
														<div class="collapseInnerElementContent">
															<div class="summary">
																{{ node.field_personnel_ap_journals.summary|t }}
															</div>
															<div class="full">
																{{ content.field_personnel_ap_journals.0 }}
															</div>
														</div>
													</div>
													<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseAcademicPublicationJournals" aria-expanded="false" aria-controls="collapseAcademicPublicationJournals"></a>
												</div>
											</div>
										{% endif %}
									</div>
								{% endif %}

								{% if content.field_personnel_ap_conf_papers.0 %}
									<div class="mb-2 mb-md-4">
										{% if node.field_personnel_ap_conf_papers.summary|length > 0 %}
											<div class="collapsibleContent">
												<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingTitleContentNavigationConferencePapers">
													<div class="row flex-column-fix">
														<div class="col col-9">
															<h3 class="m-0 cud fs-sm-1-5">Conference Papers</h3>
														</div>
														<div class="col col-3 d-flex align-items-center justify-content-end">
															<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseConferencePapers" aria-expanded="false" aria-controls="collapseConferencePapers">
																<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																<i class="far fa-chevron-up text-dark"><!-- empty --></i>
															</a>
														</div>
													</div>
												</div>
												<div class="collapse d-block" id="collapseConferencePapers" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_ap_conf_papers.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_ap_conf_papers.0 }}
														</div>
													</div>
												</div>
												<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseConferencePapers" aria-expanded="false" aria-controls="collapseConferencePapers"></a>
											</div>
										{% else %}
											<div class="d-none d-md-block show-on-desktop">
												<h3 class="cud fs-sm-1-5">Conference Papers</h3>
												{{ content.field_personnel_ap_conf_papers.0 }}
											</div>
											<div class="d-sm-block d-md-none show-on-mobile">
												<div class="collapsibleContent">
													<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingAcademicConferencePapers">
														<div class="row flex-column-fix">
															<div class="col col-9">
																<h3 class="m-0 cud fs-sm-1-5">Conference Papers</h3>
															</div>
															<div class="col col-3 d-flex align-items-center justify-content-end">
																<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseAcademicConferencePapers" aria-expanded="false" aria-controls="collapseAcademicConferencePapers">
																	<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																	<i class="far fa-chevron-up text-dark"><!-- empty --></i>
																</a>
															</div>
														</div>
													</div>
													<div class="collapse d-block" id="collapseAcademicConferencePapers" aria-expanded="false">
														<div class="collapseInnerElementContent">
															<div class="summary">
																{{ node.field_personnel_ap_conf_papers.summary|t }}
															</div>
															<div class="full">
																{{ content.field_personnel_ap_conf_papers.0 }}
															</div>
														</div>
													</div>
													<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseAcademicConferencePapers" aria-expanded="false" aria-controls="collapseAcademicConferencePapers"></a>
												</div>
											</div>
										{% endif %}
									</div>
								{% endif %}

								{% if content.field_personnel_ap_research.0 %}
									<div class="mb-2 mb-md-4">
										{% if node.field_personnel_ap_research.summary|length > 0 %}
											<div class="collapsibleContent">
												<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingTitleContentNavigationResearch">
													<div class="row flex-column-fix">
														<div class="col col-9">
															<h3 class="m-0 cud fs-sm-1-5">Research
																<small>Projects/Grants/Programs</small>
															</h3>
														</div>
														<div class="col col-3 d-flex align-items-center justify-content-end">
															<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseResearch" aria-expanded="false" aria-controls="collapseResearch">
																<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																<i class="far fa-chevron-up text-dark"><!-- empty --></i>
															</a>
														</div>
													</div>
												</div>
												<div class="collapse d-block" id="collapseResearch" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_ap_research.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_ap_research.0 }}
														</div>
													</div>
												</div>
												<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseResearch" aria-expanded="false" aria-controls="collapseResearch"></a>
											</div>
										{% else %}
											<div class="d-none d-md-block show-on-desktop">
												<h3 class="cud fs-sm-1-5">Research
													<small>Projects/Grants/Programs</small>
												</h3>
												{{ content.field_personnel_ap_research.0 }}
											</div>
											<div class="d-sm-block d-md-none show-on-mobile">
												<div class="collapsibleContent">
													<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingAcademicResearch">
														<div class="row flex-column-fix">
															<div class="col col-9">
																<h3 class="m-0 cud fs-sm-1-5">Research
																	<small>Projects/Grants/Programs</small>
																</h3>
															</div>
															<div class="col col-3 d-flex align-items-center justify-content-end">
																<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseAcademicResearch" aria-expanded="false" aria-controls="collapseAcademicResearch">
																	<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																	<i class="far fa-chevron-up text-dark"><!-- empty --></i>
																</a>
															</div>
														</div>
													</div>
													<div class="collapse d-block" id="collapseAcademicResearch" aria-expanded="false">
														<div class="collapseInnerElementContent">
															<div class="summary">
																{{ node.field_personnel_ap_research.summary|t }}
															</div>
															<div class="full">
																{{ content.field_personnel_ap_research.0 }}
															</div>
														</div>
													</div>
													<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseAcademicResearch" aria-expanded="false" aria-controls="collapseAcademicResearch"></a>
												</div>
											</div>
										{% endif %}
									</div>
								{% endif %}

								{% if content.field_personnel_prof_membership.0 %}
									<div class="mb-2 mb-md-4">
										{% if node.field_personnel_prof_membership.summary|length > 0 %}
											<div class="collapsibleContent">
												<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingTitleContentNavigationMembership">
													<div class="row flex-column-fix">
														<div class="col col-9">
															<h3 class="m-0 cud fs-sm-1-5">Professional Memberships</h3>
														</div>
														<div class="col col-3 d-flex align-items-center justify-content-end">
															<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseMembership" aria-expanded="false" aria-controls="collapseMembership">
																<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																<i class="far fa-chevron-up text-dark"><!-- empty --></i>
															</a>
														</div>
													</div>
												</div>
												<div class="collapse d-block" id="collapseMembership" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_prof_membership.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_prof_membership.0 }}
														</div>
													</div>
												</div>
												<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseMembership" aria-expanded="false" aria-controls="collapseMembership"></a>
											</div>
										{% else %}
											<div class="d-none d-md-block show-on-desktop">
												<h3 class="cud fs-sm-1-5">Professional Memberships</h3>
												{{ content.field_personnel_prof_membership.0 }}
											</div>
											<div class="d-sm-block d-md-none show-on-mobile">
												<div class="collapsibleContent">
													<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingAcademicMembership">
														<div class="row flex-column-fix">
															<div class="col col-9">
																<h3 class="m-0 cud fs-sm-1-5">Professional Memberships</h3>
															</div>
															<div class="col col-3 d-flex align-items-center justify-content-end">
																<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseAcademicMembership" aria-expanded="false" aria-controls="collapseAcademicMembership">
																	<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																	<i class="far fa-chevron-up text-dark"><!-- empty --></i>
																</a>
															</div>
														</div>
													</div>
													<div class="collapse d-block" id="collapseAcademicMembership" aria-expanded="false">
														<div class="collapseInnerElementContent">
															<div class="summary">
																{{ node.field_personnel_prof_membership.summary|t }}
															</div>
															<div class="full">
																{{ content.field_personnel_prof_membership.0 }}
															</div>
														</div>
													</div>
													<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseAcademicMembership" aria-expanded="false" aria-controls="collapseAcademicMembership"></a>
												</div>
											</div>
										{% endif %}
									</div>
								{% endif %}

								{% if content.field_personnel_participation.0 %}
									<div class="mb-2 mb-md-4">
										{% if node.field_personnel_participation.summary|length > 0 %}
											<div class="collapsibleContent">
												<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingTitleContentNavigationScientific">
													<div class="row flex-column-fix">
														<div class="col col-9">
															<h3 class="m-0 cud fs-sm-1-5">Participation in Scientific Boards and Committees</h3>
														</div>
														<div class="col col-3 d-flex align-items-center justify-content-end">
															<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseScientific" aria-expanded="false" aria-controls="collapseScientific">
																<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																<i class="far fa-chevron-up text-dark"><!-- empty --></i>
															</a>
														</div>
													</div>
												</div>
												<div class="collapse d-block" id="collapseScientific" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_participation.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_prof_membership.0 }}
														</div>
													</div>
												</div>
												<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseScientific" aria-expanded="false" aria-controls="collapseScientific"></a>
											</div>
										{% else %}
											<div class="d-none d-md-block show-on-desktop">
												<h3 class="cud fs-sm-1-5">Participation in Scientific Boards and Committees</h3>
												{{ content.field_personnel_participation.0 }}
											</div>
											<div class="d-sm-block d-md-none show-on-mobile">
												<div class="collapsibleContent">
													<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingScientific">
														<div class="row flex-column-fix">
															<div class="col col-9">
																<h3 class="m-0 cud fs-sm-1-5">Participation in Scientific Boards and Committees</h3>
															</div>
															<div class="col col-3 d-flex align-items-center justify-content-end">
																<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseScientific" aria-expanded="false" aria-controls="collapseScientific">
																	<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																	<i class="far fa-chevron-up text-dark"><!-- empty --></i>
																</a>
															</div>
														</div>
													</div>
													<div class="collapse d-block" id="collapseScientific" aria-expanded="false">
														<div class="collapseInnerElementContent">
															<div class="summary">
																{{ node.field_personnel_participation.summary|t }}
															</div>
															<div class="full">
																{{ content.field_personnel_participation.0 }}
															</div>
														</div>
													</div>
													<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseScientific" aria-expanded="false" aria-controls="collapseScientific"></a>
												</div>
											</div>
										{% endif %}
									</div>
								{% endif %}

								{% if content.field_personnel_awards_honors.0 %}
									<div class="mb-2 mb-md-4">
										{% if node.field_personnel_awards_honors.summary|length > 0 %}
											<div class="collapsibleContent">
												<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingTitleContentNavigationAwardsHonors">
													<div class="row flex-column-fix">
														<div class="col col-9">
															<h3 class="m-0 cud fs-sm-1-5">Awards and Honors</h3>
														</div>
														<div class="col col-3 d-flex align-items-center justify-content-end">
															<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseAwardsHonors" aria-expanded="false" aria-controls="collapseAwardsHonors">
																<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																<i class="far fa-chevron-up text-dark"><!-- empty --></i>
															</a>
														</div>
													</div>
												</div>
												<div class="collapse d-block" id="collapseAwardsHonors" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_awards_honors.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_awards_honors.0 }}
														</div>
													</div>
												</div>
												<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseAwardsHonors" aria-expanded="false" aria-controls="collapseAwardsHonors"></a>
											</div>
										{% else %}
											<div class="d-none d-md-block show-on-desktop">
												<h3 class="cud fs-sm-1-5">Awards and Honors</h3>
												{{ content.field_personnel_awards_honors.0 }}
											</div>
											<div class="d-sm-block d-md-none show-on-mobile">
												<div class="collapsibleContent">
													<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingAcademicAwardsAndHonors">
														<div class="row flex-column-fix">
															<div class="col col-9">
																<h3 class="m-0 cud fs-sm-1-5">Awards and Honors</h3>
															</div>
															<div class="col col-3 d-flex align-items-center justify-content-end">
																<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseAcademicAwardsAndHonors" aria-expanded="false" aria-controls="collapseAcademicAwardsAndHonors">
																	<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																	<i class="far fa-chevron-up text-dark"><!-- empty --></i>
																</a>
															</div>
														</div>
													</div>
													<div class="collapse d-block" id="collapseAcademicAwardsAndHonors" aria-expanded="false">
														<div class="collapseInnerElementContent">
															<div class="summary">
																{{ node.field_personnel_awards_honors.summary|t }}
															</div>
															<div class="full">
																{{ content.field_personnel_awards_honors.0 }}
															</div>
														</div>
													</div>
													<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseAcademicAwardsAndHonors" aria-expanded="false" aria-controls="collapseAcademicAwardsAndHonors"></a>
												</div>
											</div>
										{% endif %}
									</div>
								{% endif %}


								{% if content.field_personnel_other_contrib.0 %}
									<div class="mb-2 mb-md-4">
										{% if node.field_personnel_other_contrib.summary|length > 0 %}
											<div class="collapsibleContent">
												<div class="card-header bg-transparent px-0 border-0" role="tab" id="headingTitleContentNavigationOthers">
													<div class="row flex-column-fix">
														<div class="col col-9">
															<h3 class="m-0 cud fs-sm-1-5">Other Academic Contributions</h3>
														</div>
														<div class="col col-3 d-flex align-items-center justify-content-end">
															<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseOthers" aria-expanded="false" aria-controls="collapseOthers">
																<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																<i class="far fa-chevron-up text-dark"><!-- empty --></i>
															</a>
														</div>
													</div>
												</div>
												<div class="collapse d-block" id="collapseOthers" aria-expanded="false">
													<div class="collapseInnerElementContent">
														<div class="summary">
															{{ node.field_personnel_other_contrib.summary|t }}
														</div>
														<div class="full">
															{{ content.field_personnel_other_contrib.0 }}
														</div>
													</div>
												</div>
												<a role="button" class="nowrap text collapsed my-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseOthers" aria-expanded="false" aria-controls="collapseOthers"></a>
											</div>
										{% else %}
											<div class="d-none d-md-block show-on-desktop">
												<h3 class="cud fs-sm-1-5">Other Academic Contributions</h3>
												{{ content.field_personnel_other_contrib.0 }}
											</div>
											<div class="d-sm-block d-md-none show-on-mobile">
												<div class="collapsibleContent">
													<div class="card-header bg-transparent px-0 pb-0 pb-md-3 border-0" role="tab" id="headingAcademicOtherContrib">
														<div class="row flex-column-fix">
															<div class="col col-9">
																<h3 class="m-0 cud fs-sm-1-5">Other Academic Contributions</h3>
															</div>
															<div class="col col-3 d-flex align-items-center justify-content-end">
																<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseAcademicOtherContrib" aria-expanded="false" aria-controls="collapseAcademicOtherContrib">
																	<i class="far fa-chevron-down text-dark"><!-- empty --></i>
																	<i class="far fa-chevron-up text-dark"><!-- empty --></i>
																</a>
															</div>
														</div>
													</div>
													<div class="collapse d-block" id="collapseAcademicOtherContrib" aria-expanded="false">
														<div class="collapseInnerElementContent">
															<div class="summary">
																{{ node.field_personnel_other_contrib.summary|t }}
															</div>
															<div class="full">
																{{ content.field_personnel_other_contrib.0 }}
															</div>
														</div>
													</div>
													<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseAcademicOtherContrib" aria-expanded="false" aria-controls="collapseAcademicOtherContrib"></a>
												</div>
											</div>
										{% endif %}
									</div>
								{% endif %}


							</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% else %}
			<div class="row mb-3">
				{% if content.field_image.0 %}
					<div class="col col-4 col-lg-3 col-md-3">{{ content.field_image.0 }}</div>
					<div
						class="col col-8 col-lg-9 col-md-9">
						{# % if content.body['#object'].body.summary|length % }
																																																																																																																																																						                        <nav>
																																																																																																																																																						                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
																																																																																																																																																						                                <a class="nav-item nav-link small active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true"><i class="fa far fa-user"><!-- empty --></i> Profile</a>
																																																																																																																																																						                                <a class="nav-item nav-link small" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fa far fa-phone"><!-- empty --></i> Contact</a>
																																																																																																																																																						                            </div>
																																																																																																																																																						                        </nav>
																																																																																																																																																						                        
																																																																																																																																																						                        <div class="tab-content mt-3" id="nav-tabContent">
																																																																																																																																																						                            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">{ { content.body['#object'].body.summary } }</div>
																																																																																																																																																						                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">{ { content.body } }</div>
																																																																																																																																																						                        </div>
																																																																																																																																																						                    { % else % }
																																																																																																																																																						                        {{ content.body }}
																																																																																																																																																						                    { % endif % #}

						{{ content.body }}
					</div>
				{% else %}
					<div class="col col-12">{{ content.body }}</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col col-12">{{ content.field_body_extras }}</div>
			</div>
		{% endif %}

	</div>

</article>
