{% if node.isPublished() %}
	{% else %}
		<h1 class="unpublished">Unpublished</h1>
{% endif %}

<article{{attributes}}>

	{{ title_prefix }}
	{% if not page %}
		<h2{{title_attributes}}>
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h2>
	{% endif %}
	{{ title_suffix }}

	{% if display_submitted %}
		<footer>
			{{ author_picture }}
			<div{{author_attributes}}>
				{% trans %}Submitted by
				{{ author_name }}
				on
				{{ date }}{% endtrans %}
				{{ metadata }}
			</div>
		</footer>
	{% endif %}

	<div class="row flex-column-fix">
		<div class="col col-6 col-md-4">
			{{ content.field_image }}
		</div>
		<div class="col col-12 col-md-8">
			{{ content.body }}
			{{ content.field_group_privilege }}
		</div>
	</div>
</article>
