{% if not node.isPublished() %}
<h1 class="unpublished">Unpublished</h1>
{% endif %}

<article {{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
  <h2 {{ title_attributes }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
  <footer>
    {{ author_picture }}
    <div {{ author_attributes }}>
      {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
      {{ metadata }}
    </div>
  </footer>
  {% endif %}

  <div {{ content_attributes }}>
    {## { content } ##}

    {{ content.body }}

    {% if custom_node_field_image_show != 'hidden' %}
        <h3>Gallery <i class="fa fa-camera red x-small"></i></h3>
        {{ content.field_image }}
    {% endif %}

    {# % if content.field_tags %}
       {{ content.field_tags }}
    {% endif % #}


    {# % if content.field_is_headline %}

    { # % set is_headline = content.field_is_headline|render|striptags %}
    {% if is_headline == 0 %}
    <span>Non-headline</span>
    {% endif % # }
    {% endif % #}

    {# % if content.field_is_feature %}
    { # % set is_feature = content.field_is_feature|render|striptags %}
    {% if is_feature == 0 %}
    <span>Non-feature</span>
    {% endif % # }
    {% endif % #}

  </div>

</article>
