{% if node.isPublished() %}
{% else %}
    <h1 class="unpublished">Unpublished</h1>
{% endif %}

<article{{ attributes }}>

    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
        <footer>
            {{ author_picture }}
            <div{{ author_attributes }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}

    {# <div{{ content_attributes }}>
        {{ content }}
    </div> #}

    {% set content_body %}
    {{ content.body[0]|raw }}
    {% endset %}

    <iframe src="{{ content_body|striptags }}" width="100%" height="700px"
            style="height:700px !important; margin-bottom:25px !important" frameborder="0">
    </iframe>

</article>
