{% if node.isPublished() %}
{% else %}
    <h1 class="unpublished">Unpublished</h1>
{% endif %}

<article{{ attributes }}>

    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
        <footer>
            {{ author_picture }}
            <div{{ author_attributes }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}

    <div{{ content_attributes }}>

        {{ custom_node_hero_image }}

        {{ content.body }}

        <div class="p-3 bg-light">
            {% if custom_node_field_date_html %}
                <div class="row mb-3 flex-column-fix">
                    <div class="col col-4 col-md-3 date">
                        <strong><i class="fa far fa-calendar" aria-hidden="true"><!-- empty --></i></strong> <span class="date">Date</span>
                    </div>
                    <div class="red col col-8 col-md-9">
                        {{ custom_node_field_date_html }}
                    </div>
                </div>
            {% endif %}

            {% if content.field_event_type %}
                <div class="row mb-3 flex-column-fix">
                    <div class="col col-4 col-md-3 type">
                        <strong><i class="fa far fa-cog" aria-hidden="true"><!-- empty --></i></strong> <span class="type">Type</span>
                    </div>
                    <div class="red col col-8 col-md-9">
                        {{ content.field_event_type }}
                    </div>
                </div>
            {% endif %}


            {% if content.field_event_audience %}
                <div class="row mb-3 flex-column-fix">
                    <div class="col col-4 col-md-3 audience">
                        <strong><i class="fa far fa-user-o" aria-hidden="true"><!-- empty --></i></strong> <span class="audience">Audience</span>
                    </div>
                    <div class="red col col-8 col-md-9">
                        {{ content.field_event_audience }}
                    </div>
                </div>
            {% endif %}
            {% if custom_node_field_image_show != 'hidden' %}
                <div class="row mb-3 flex-column-fix">
                        <div class="col col-4 col-md-3 gallery">
                            <strong><i class="fa far fa-camera" aria-hidden="true"><!-- empty --></i></strong> <span  class="small gallery">Gallery</span>
                        </div>
                        <div class="red col col-8 col-md-9">
                            {{ content.field_image }}
                        </div>
                </div>
            {% endif %}
        </div>
    </div>

</article>
