{% if node.isPublished() %}
	{% else %}
		<h1 class="unpublished">Unpublished</h1>
{% endif %}

<article{{attributes}}>

	{{ title_prefix }}
	{% if not page %}
		<h2{{title_attributes}}>
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h2>
	{% endif %}
	{{ title_suffix }}

	{% if display_submitted %}
		<footer>
			{{ author_picture }}
			<div{{author_attributes}}>
				{% trans %}Submitted by
				{{ author_name }}
				on
				{{ date }}{% endtrans %}
				{{ metadata }}
			</div>
		</footer>
	{% endif %}

	<div{{content_attributes}}>
		<div class="get-started">
			<div class="top container text-align-center position-relative">
				<div class="text-one row  position-absolute w-100">
					<div class="col-lg-5 col-md-5 d-none d-sm-block"><!-- empty --></div>

					<div class="col-lg-7 col-md-7  text-align-left">
						<span class="canada d-block text-align-left">Canada</span>
						<span class="is-closer d-block text-align-left">is closer than you think</span>
					</div>
				</div>
				<!-- /text-one -->

				<div class="art"><img alt="Get started" class="w-100" data-entity-type="file" data-entity-uuid="1ce9064f-9403-4f59-bcb8-821d525348fc" src="/sites/default/files/inline-images/new-get-started-main-hero.jpg"/></div>

				<div class="text-two row  position-absolute w-100">
					<div class="col-lg-6 col-md-6">
						<span class="education d-block pl-3 pr-3">An education without borders</span>
						<span class="dubai d-block pl-3 pr-3">DUBAI IN JAN, CANADA IN SEP</span>
						<span class="get-started d-block pl-3 pr-3">Get started</span>
					</div>

					<div class="col-lg-6 col-md-6 d-none d-sm-block"><!-- empty --></div>
				</div>
				<!-- /text-two -->
			</div>
			<!-- /container -->

			<div class="form container text-align-center position-relative">
				<div class="row">
					<div class="col form">[block:webform_external_landing_study_in_canada]</div>

					<div class="col text">
						<div class="content">
							<h2>Canada is closer than you think</h2>

							<h3>Start your degree in Dubai, graduate in Canada.</h3>

							<p>Canadian University Dubai (CUD) is your portal to Canadian education. Alongside our 23 partner universities we have a track record of transferring students to Canada’s most elite education institutions. You can choose to start your degree at CUD and transfer after one or two years, or incorporate a period of Canadian-based study in your program. For many CUD students, graduating from a Canadian university has opened the door to further study, employment and residency in Canada.</p>

							<p class="inspiring"><img alt="Inspiring, Transforming" data-align="right" data-entity-type="file" data-entity-uuid="7bff3018-58b3-443d-a710-9aeb7fe104e6" src="/sites/default/files/inline-images/inspiring-transforming-minds.png"/></p>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /form container -->

			<div class="faculty container text-align-center position-relative">
				<div class="row  mt-3 mb-3">
					<div class="col col-12 col-lg-6 col-md-6 col-sm-6"><img alt="Faculty of Communication, Arts and Sciences" data-entity-type="file" data-entity-uuid="f1c12b36-aa97-4a8b-8721-7b054a856070" src="/sites/default/files/inline-images/faculty-communication-arts-sciences.jpg"/>
						<h4 class="d-block text-align-center m-3">Faculty of Communication, Arts and Sciences</h4>

						<div class="listing d-none m-3 p-3">
							<h3>Faculty of Communication, Arts and Sciences</h3>

							<ul class="u-list">
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Associate Degree in Food Safety">Associate Degree in Food Safety</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Arts in Communication in Advertisement">Bachelor of Arts in Communication in Advertisement</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Arts in Communication in Journalism">Bachelor of Arts in Communication in Journalism</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Arts in Communication in Public Relations">Bachelor of Arts in Communication in Public Relations</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Arts in Psychology">Bachelor of Arts in Psychology</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Science in Environmental Health Management">Bachelor of Science in Environmental Health Management</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Science in Health Information Management">Bachelor of Science in Health Information Management</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Science in Health Organization Management">Bachelor of Science in Health Organization Management</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" dir="rtl" href="/form/get-started?program=برنامج بكالوريوس الآداب في الإتصال - الإعلان">برنامج بكالوريوس الآداب في الإتصال - الإعلان</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" dir="rtl" href="/form/get-started?program=برنامج بكالوريوس الآداب في الإتصال - الصحافة">برنامج بكالوريوس الآداب في الإتصال - الصحافة</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" dir="rtl" href="/form/get-started?program=برنامج بكالوريوس الآداب في الإتصال - العلاقات العامة">برنامج بكالوريوس الآداب في الإتصال - العلاقات العامة</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" dir="rtl" href="/form/get-started?program=برنامج بكالوريوس الآداب في الإتصال - العلاقات العامة">برنامج بكالوريوس الآداب في الإتصال - العلاقات العامة</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" dir="rtl" href="/form/get-started?program=بكالوريوس الآداب فى علم النفس">برنامج بكالوريوس الآدابكالوريوس الآداب فى علم النفس</a>
								</li>
							</ul>
						</div>
						<!-- /listing -->
					</div>

					<div class="col col-12 col-lg-6 col-md-6 col-sm-6"><img alt="Faculty of Engineering and Architecture" data-entity-type="file" data-entity-uuid="a4537b32-2716-46a5-b918-b55156daa77c" src="/sites/default/files/inline-images/faculty-engineering-architecture.jpg"/>
						<h4 class="d-block text-align-center m-3">Faculty of Engineering and Architecture</h4>

						<div class="listing d-none m-3 p-3">
							<h3>Faculty of Engineering and Architecture</h3>

							<ul class="u-list">
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Architecture">Bachelor of Architecture</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Computer and Networking Engineering Technology">Bachelor of Computer and Networking Engineering Technology</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Science in Electrical Engineering – Electronics">Bachelor of Science in Electrical Engineering – Electronics</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Science in Electrical Engineering – Mechatronics">Bachelor of Science in Electrical Engineering – Mechatronics</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Science in Electrical Engineering – Telecommunications">Bachelor of Science in Electrical Engineering – Telecommunications</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Science in Interior Design">Bachelor of Science in Interior Design</a>
								</li>
							</ul>
						</div>
						<!-- /listing -->
					</div>
				</div>
				<!-- row -->

				<div class="row  mt-3 mb-3">
					<div class="col col-12 col-lg-6 col-md-6 col-sm-6"><img alt="Faculty of Management" data-entity-type="file" data-entity-uuid="73c2471e-6bb1-41d5-974b-c234efde0d09" src="/sites/default/files/inline-images/faculty-management.jpg"/>
						<h4 class="d-block text-align-center m-3">Faculty of Management</h4>

						<div class="listing d-none m-3 p-3">
							<h3>Faculty of Management</h3>

							<ul class="u-list">
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Associate Degree in Marketing">Associate Degree in Marketing</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Business Administration in Forensic Accounting">Bachelor of Business Administration in Forensic Accounting</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Business Administration in Accounting and Finance">Bachelor of Business Administration in Accounting and Finance</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Business Administration in e-Business">Bachelor of Business Administration in e-Business</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Business Administration in Events and Tourism">Bachelor of Business Administration in Events and Tourism</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Business Administration in Human Resource Management">Bachelor of Business Administration in Human Resource Management</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Business Administration in International Business">Bachelor of Business Administration in International Business</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Business Administration in Luxury Marketing">Bachelor of Business Administration in Luxury Marketing</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Business Administration in Marketing">Bachelor of Business Administration in Marketing</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Business Administration in Operations and Supply Chain Management">Bachelor of Business Administration in Operations and Supply Chain Management</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Bachelor of Business Administration in Sports Management">Bachelor of Business Administration in Sports Management</a>
								</li>
							</ul>
						</div>
						<!-- /listing -->
					</div>

					<div class="col col-12 col-lg-6 col-md-6 col-sm-6"><img alt="Master of Business Administration and MITGov" data-entity-type="file" data-entity-uuid="2401bfb9-ee2d-4984-8e32-09408b84fa23" src="/sites/default/files/inline-images/faculty-management-graduate-mit-gov.jpg"/>
						<h4 class="d-block text-align-center m-3">MBA and MITGov</h4>

						<div class="listing d-none m-3 p-3">
							<h3>MBA and MITGOv</h3>

							<ul class="u-list">
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Master in Information Technology Management and Governance">Master in Information Technology Management and Governance</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Master of Business Administration in Double Concentration">Master of Business Administration in Double Concentration</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Master of Business Administration in Finance">Master of Business Administration in Finance</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Master of Business Administration in General Management">Master of Business Administration in General Management</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Master of Business Administration in Human Resource Management">Master of Business Administration in Human Resource Management</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Master of Business Administration in Islamic Banking">Master of Business Administration in Islamic Banking</a>
								</li>
								<li>
									<a class="use-ajax" data-dialog-options="{&quot;width&quot;:&quot;750&quot;,&quot;height&quot;:&quot;850&quot;,&quot;position&quot;:{&quot;my&quot;:&quot;center&quot;,&quot;at&quot;:&quot;center&quot;}}" data-dialog-type="modal" href="/form/get-started?program=Master of Business Administration in Marketing">Master of Business Administration in Marketing</a>
								</li>
							</ul>
						</div>
						<!-- /listing -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- /faculty container -->

			<div class="bottom video container text-align-center position-relative  mt-3 mb-3" data-target="#exampleModalCenter" data-toggle="modal">
				<div class="row mt-0 mb-0">
					<div class="col m-0 col-sm-6 col-12"><img alt="Canada is closer than you think - video" data-align="left" data-entity-type="file" data-entity-uuid="666c9741-e155-416e-8ff5-16d4110942a9" src="/sites/default/files/inline-images/video-image-1-1.jpg"/></div>

					<div class="col m-0 col-sm-6 col-12"><img alt="Canada is closer than you think - video" data-align="right" data-entity-type="file" data-entity-uuid="fb3ef8bf-3cbb-4ea0-837a-9e59c14f008f" src="/sites/default/files/inline-images/video-image-2.jpg"/></div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->

			<div class="w-100 d-none"><!-- empty --></div>

			<div class="clearfix bottom location container text-align-center position-relative  mt-3 mb-3">
				<div class="row mt-0 mb-0">
					<div class="col m-0 col-6 col-sm-3"><img alt="Canadian University Dubai" data-entity-type="file" data-entity-uuid="51bb7c0b-2517-428a-879a-634c80009d0e" src="/sites/default/files/inline-images/location-canadian-university-dubai.jpg"/>
						<h4 class="d-block text-align-center m-3">Canadian University Dubai</h4>
					</div>

					<div class="col m-0 col-6 col-sm-3"><img alt="DIFC" data-entity-type="file" data-entity-uuid="d3001d41-2842-43d2-8c0c-81fe84dbae4b" src="/sites/default/files/inline-images/location-difc.jpg"/>
						<h4 class="d-block text-align-center m-3">DIFC</h4>
					</div>

					<div class="col m-0 col-6 col-sm-3"><img alt="Sheikh Zayed Road" data-entity-type="file" data-entity-uuid="830f074f-a26d-4fdc-baeb-5e1bab4c9b96" src="/sites/default/files/inline-images/location-sheikh-zayed-road.jpg"/>
						<h4 class="d-block text-align-center m-3">Sheikh Zayed Road</h4>
					</div>

					<div class="col m-0 col-6 col-sm-3"><img alt="City Walk" data-entity-type="file" data-entity-uuid="0141da18-ac08-452c-979b-8e6ddf88cfb2" src="/sites/default/files/inline-images/location-city-walk.jpg"/>
						<h4 class="d-block text-align-center m-3">City Walk</h4>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
			<!-- Modal -->

			<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCenter" role="dialog">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle"><!-- empty --></h5>
							<button aria-label="Close" class="close" data-dismiss="modal" type="button">
								<span aria-hidden="true">×</span>
							</button>
						</div>

						<div class="modal-body">
							<iframe allowfullscreen="1" frameborder="0" height="400" src="https://www.youtube.com/embed/HKiL2xohLbg?enablejsapi=1&amp;controls=0&amp;autoplay=1&amp;fs=1&amp;loop=1" width="100%"><!-- empty --></iframe>
						</div>

						<div class="modal-footer">
							<button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- popup -->
		<!-- /get-started -->
	</div>

</article>
