{% if node.isPublished() %}
	{% else %}
		<h1 class="unpublished">Unpublished</h1>
{% endif %}

{# Note: twig_field_value module doesn't work on conditions, leave it for body and/or simple use 

Key
{% set selectedColor = content.field_colors['#items'].getString() %}
Value
{{ content.field_colors[0] }}

#}
<article{{attributes}}>

	{% set content_field_student_work_type_value = content.field_student_work_type['#items'].getString() %}

	<div class="row flex-column-fix mt-3">
		<div class="col col-12 col-md-7">
			{% if "Logo" in content_field_student_work_type_value or "Magazine" in content_field_student_work_type_value or "Advertisement" in content_field_student_work_type_value or "Letterhead" in content_field_student_work_type_value or "BusinessCard" in content_field_student_work_type_value or "Brochure" in content_field_student_work_type_value %}

				{{ content.field_image }}

				{{ content.field_file }}

				{{ content.field_video|field_value }}

				{{ content.field_simple_url }}

			{% endif %}

			{% if "Website" in content_field_student_work_type_value %}
				{{ content.field_simple_url }}

				{{ content.field_file }}

				{{ content.field_video|field_value }}
			{% endif %}

			{% if "Video" in content_field_student_work_type_value %}
				{{ content.field_video|field_value }}

				{{ content.field_file }}

				{{ content.field_simple_url }}
			{% endif %}
		</div>

		<div class="col col-12 col-md-5">
			{% if content.field_faculty|field_target_entity.id == 20869 %}
				{# Faculty of Communication, Arts and Sciences #}
				<table class="table table-hover table-striped border">

					{% if content.field_student_work_type %}
						<tr>
							<th>Type</th>
							<td>{{ content.field_student_work_type|field_value }}</td>
						</tr>
					{% endif %}
					{% if content.field_student_work_name %}
						<tr>
							<th>Name</th>
							<td>{{ content.field_student_work_name|field_value }}</td>
						</tr>
					{% endif %}
					{% if content.field_student_work_course %}
						<tr>
							<th>Course</th>
							<td>{{ content.field_student_work_course|field_value }}</td>
						</tr>
					{% endif %}
					{% if content.field_student_work_instructor %}
						<tr>
							<th>Instructor</th>
							<td>{{ content.field_student_work_instructor|field_value }}</td>
						</tr>
					{% endif %}
					{% if content.field_student_work_term %}
						<tr>
							<th>Term</th>
							<td>{{ content.field_student_work_term|field_value }}</td>
						</tr>
					{% endif %}
					{% if content.field_department %}
						<tr>
							<th>Department</th>
							<td>{{ content.field_department|field_target_entity.title.value|replace({'Department of':""})}}</td>
						</tr>
					{% endif %}
					{% if content.field_faculty %}
						<tr>
							<th>Faculty</th>
							<td>{{ content.field_faculty|field_target_entity.title.value|replace({'Faculty of':""})}}</td>
						</tr>
					{% endif %}

				</table>
			{% else %}
				<h2 class="title">{{ title }}</h2>
				{{ content.body }}
			{% endif %}
		</div>
	</div>
</article>
