{% if node.isPublished() %}
    {% else %}
        <h1 class="unpublished">Unpublished</h1>
{% endif %}

{% if content.field_image.0 %}
    <div class="image">
        {{ content.field_image.0 }}

        {# --- title --- #}

        {% set flabel = node.label %}

        {% if node.field_alternate_title|length > 0 %}
            {# 
                                                                                                                                                                                                                                                                    kint(node.field_alternate_title.value) // node raw
                                                                                                                                                                                                                                                                    content.field_alternate_title[0]['#text'] // render array
                                                                                                                                                                                                                                                                  #}

            {% set flabel = node.field_alternate_title.value %}

        {% endif %}

        {% set flabel = flabel|split('|') %}

        <div class="titles">
            {% for l in flabel %}
                {% if language.getId() == 'ar' %}
                    <h1 class="title text-align-right">
                        <span>{{ l }}</span>
                    </h1>
                {% else %}
                    <h1 class="title">
                        <span>{{ l }}</span>
                    </h1>
                {% endif %}
            {% endfor %}
        </div>

        {# <div class="summary">
                                                                                                                                                                                    {{ node.body.summary }}
                                                                                                                                                                                  </div> #}

        {# --- /title --- #}
    </div>
{% endif %}

{% if content.field_program_start_term|render|striptags|trim|length > 0 %}
    <div class="row mt-3">
        <div class="col col-12 col-md-4">
            {{ content.field_program_start_term.0 }}
        </div>
        <div class="col col-6 col-md-4">
            {{ content.field_program_details.0 }}
        </div>
        <div class="col col-6 col-md-4">
            {{ content.field_program_actions.0 }}
        </div>
    </div>
    {% if content.field_program_overview|render|striptags|trim|length > 0 %}
        <div class="row mt-3 mb-5 p-0 mx-0">
            <div class="col col-12 p-0 bg-secondary mb-2 mb-md-5">
                <ul class="nav nav-unified-programs" id="unified-programs-tab" role="tablist">
                    {% if content.field_program_overview.0 %}
                        <li class="nav-item">
                            <a class="nav-link active p-3 cud fw-500 active" id="unified-program-overview-tab" data-toggle="pill" href="#unified-program-overview" role="tab" aria-controls="unified-program-overview" aria-selected="true">Overview</a>
                        </li>
                    {% endif %}

                    {% if content.field_program_overview.0 %}
                        <li class="nav-item">
                            <a class="nav-link p-3 cud fw-500" id="unified-program-courses-tab" data-toggle="pill" href="#unified-program-courses" role="tab" aria-controls="unified-program-courses" aria-selected="true">Courses</a>
                        </li>
                    {% endif %}

                    {% if content.field_program_careers_pathways.0 %}
                        <li class="nav-item">
                            <a class="nav-link p-3 cud fw-500" id="unified-program-careers-pathways-tab" data-toggle="pill" href="#unified-program-careers-pathways" role="tab" aria-controls="unified-program-careers-pathways" aria-selected="true">Careers and Pathways</a>
                        </li>
                    {% endif %}

                    {% if content.field_program_fees_expenses.0 %}
                        <li class="nav-item">
                            <a class="nav-link p-3 cud fw-500" id="unified-program-fees-expenses-tab" data-toggle="pill" href="#unified-program-fees-expenses" role="tab" aria-controls="unified-program-fees-expenses" aria-selected="true">Fees and Expenses</a>
                        </li>
                    {% endif %}

                    {% if content.field_program_app_admission.0 %}
                        <li class="nav-item">
                            <a class="nav-link p-3 cud fw-500" id="unified-program-application-admission-tab" data-toggle="pill" href="#unified-program-application-admission" role="tab" aria-controls="unified-program-application-admission" aria-selected="true">Application/Admission Information</a>
                        </li>
                    {% endif %}

                    {% if content.field_program_additional_info.0 %}
                        <li class="nav-item">
                            <a class="nav-link p-3 cud fw-500" id="unified-program-additional-info-tab" data-toggle="pill" href="#unified-program-additional-info" role="tab" aria-controls="unified-program-additional-info" aria-selected="true">Additional Information</a>
                        </li>
                    {% endif %}

                    {% if content.field_program_instructor.0 %}
                        <li class="nav-item">
                            <a class="nav-link p-3 cud fw-500" id="unified-program-instructor-tab" data-toggle="pill" href="#unified-program-instructor" role="tab" aria-controls="unified-program-instructor" aria-selected="true">Instructor</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col col-12 p-0">
                <div class="tab-content" id="unified-programs-tabContent">
                    {% if content.field_program_overview.0 %}
                        <div class="tab-pane fade show active" id="unified-program-overview" role="tabpanel" aria-labelledby="unified-program-overview-tab">
                            {{ content.field_program_overview.0 }}
                        </div>
                    {% endif %}

                    {% if content.field_program_courses.0 %}
                        <div class="tab-pane fade" id="unified-program-courses" role="tabpanel" aria-labelledby="unified-program-courses-tab">
                            {{ content.field_program_courses.0 }}
                        </div>
                    {% endif %}

                    {% if content.field_program_careers_pathways.0 %}
                        <div class="tab-pane fade" id="unified-program-careers-pathways" role="tabpanel" aria-labelledby="unified-program-careers-pathways-tab">
                            {{ content.field_program_careers_pathways.0 }}
                        </div>
                    {% endif %}

                    {% if content.field_program_fees_expenses.0 %}
                        <div class="tab-pane fade" id="unified-program-fees-expenses" role="tabpanel" aria-labelledby="unified-program-fees-expenses-tab">
                            {{ content.field_program_fees_expenses.0 }}
                        </div>
                    {% endif %}

                    {% if content.field_program_app_admission.0 %}
                        <div class="tab-pane fade" id="unified-program-application-admission" role="tabpanel" aria-labelledby="unified-program-application-admission-tab">
                            {{ content.field_program_app_admission.0 }}
                        </div>
                    {% endif %}

                    {% if content.field_program_additional_info.0 %}
                        <div class="tab-pane fade" id="unified-program-additional-info" role="tabpanel" aria-labelledby="unified-program-additional-info-tab">
                            {{ content.field_program_additional_info.0 }}
                        </div>
                    {% endif %}

                    {% if content.field_program_instructor.0 %}
                        <div class="tab-pane fade" id="unified-program-instructor" role="tabpanel" aria-labelledby="unified-program-instructor-tab">
                            {{ content.field_program_instructor.0 }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% else %}
    {# old one, if the new field is not used #}
    <div class="infoblock p-3">
        {% if node.field_department.target_id == "108" %}

            {% if (content.field_course_fees.value is not empty) or (content.field_course_start_dates|length > 0) %}
                <div class="fees-dates p-0 row">

                    {% if node.field_course_fees.value is not empty %}
                        <div class="fees col col-6 col-lg-4 col-md-4">
                            {% if language.getId() == 'ar' %}
                                <h5 class="p-0 mb-2">الرسوم</h5>
                            {% else %}
                                <h5 class="p-0 mb-2">Full fees</h5>
                            {% endif %}

                            {{ content.field_course_fees }}
                        </div>
                    {% else %}
                        <div class="fees col col-6 col-lg-4 col-md-4">
                            {% if language.getId() == 'ar' %}
                                <h5 class="p-0 mb-2">الرسوم</h5>
                            {% else %}
                                <h5 class="p-0 mb-2">Full fees</h5>
                            {% endif %}
                            <p>TBA</p>
                        </div>
                    {% endif %}

                    {% if content.field_course_start_dates['#items']|length > 0 %}
                        <div class="dates col col-6 col-lg-4 col-md-4">

                            {% if language.getId() == 'ar' %}
                                <h5 class="p-0 mb-2">موعد بداية الدراسة</h5>
                            {% else %}
                                <h5 class="p-0 mb-2">Upcoming Start Dates</h5>
                            {% endif %}

                            {% for d in content.field_course_start_dates['#items'] %}
                                {% if loop.first %}
                                    <ul class="u-none">
                                    {% endif %}

                                    <li>
                                        <i class="fa fa-calendar">&nbsp;</i>
                                        {{ d.get('value').getValue()|date("d M Y (D)") }}</li>

                                    {% if loop.last %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="dates col col-6 col-lg-4 col-md-4">
                            {% if language.getId() == 'ar' %}
                                <h5 class="p-0 mb-2">موعد بداية الدراسة</h5>
                            {% else %}
                                <h5 class="p-0 mb-2">Upcoming Start Dates</h5>
                            {% endif %}

                            <p>TBA</p>
                        </div>
                    {% endif %}

                    <div class="cta col col-12 col-lg-4 col-md-4 text-align-right">

                        {% set apply_url = "/corporate-training/contact?program=" ~ node.title.value|url_encode %}

                        {% if content.field_simple_url.0|render|trim|length > 0 %}
                            {% set apply_url = content.field_simple_url.0|render|trim ~ node.id %}

                            <a href={{ apply_url }} class="btn btn-primary btn_ico-right w-100">
                                {% if language.getId() == 'ar' %}
                                    سجل الآن
                                {% else %}
                                    Apply
                                {% endif %}
                                <i class='fa fa-paper-plane'>&nbsp;</i>
                            </a>

                        {% else  %}

                            <a href={{ apply_url }} class="btn btn-primary btn_ico-right use-ajax w-100" data-dialog-type="modal" data-dialog-options="{&quot;dialogClass&quot;:&quot;pidia&quot;,&quot;width&quot;:&quot;900&quot;}">
                                {% if language.getId() == 'ar' %}
                                    سجل الآن
                                {% else %}
                                    Apply
                                {% endif %}
                                <i class='fa fa-paper-plane'>&nbsp;</i>
                            </a>
                        {% endif %}
                    </div>
                    <!-- cta -->

                </div>
                <!-- fees dates -->
            {% endif %}

        {% endif %}
        {# target id #}
    </div>

    <article {{ attributes }}>
        {{ content.body }}
    </article>

{% endif %}


{% if content.field_image.1 is not empty %}
    <div class="image bottom">
        {{ content.field_image.1 }}
    </div>
{% endif %}
