{% if node.isPublished() %}
{% else %}
<h1 class="unpublished">Unpublished</h1>
{% endif %}

<article {{ attributes }}>

  <div class="row m-0 p-0">
    <div class="col col-6 col-md-4">
        {{ content.field_image }}
    </div>
    <div class="col col-12 col-md-8 cud fs-sm-1">
      {{ content.body }}
    </div>
  </div>

</article>
