<div id="page-wrapper">
    <div id="page" class="page-container {{ page.custom.layout.width }}">

<section
				class="wopadd home-section flex-column-fix">
					{# new menu - we_megamenu #}
					<header class="main-header we-megamenu">
						<div class="container sticky d-flex text-align-left p-0">
							{# logo #}
							{# DONT :://:://DELETE:://::// for spring 2020; new icon #}
								{% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
									<div class="d-flex logo-wrapper mr-3 logo  position-relative"> 
									<a href="/">
										<img src="{{ base_path }}{{ active_theme_path() }}/media/logo/bigger/logo-original.png"/>
									</a>
								</div>
							{% else %}
								<div class="d-flex logo-wrapper mr-2 logo-wrapper">
									<span class="logo"><!-- empty --></span>
								</div>
							{% endif %}
							{# /logo #}

							<div class="d-flex menu-wrapper flex-column justify-content-center text-right">
								{{ page.header_2019v01 }}
							</div>
						</div>
					</header>
			</section>

        {% if page.banner %}
            {{ page.banner }}
        {% endif %}

        <main role="main" class="main {{ page.custom.with_or_without_hero }}">
            <a id="main-content"></a>

            {% if page.sidebar_first %}
                <div class="container-wrapper with-sidebar">
                    <div class="container">
                        <div class="row">
                            <div class="sidebar col-md-3">
                                {{ page.sidebar_first }}
                            </div>
                            <div class="main-content col-md-9">
                                <div class="main-container">
                                    {% if page.content_top %}
                                        <div id="content_top" class="content_top">
                                            {{ page.content_top }}
                                        </div>
                                    {% endif %}

                                    {% if page.breadcrumb %}
                                        <div id="breadcrumb" class="breadcrumb">
                                            <div class="container">
                                                {{ page.breadcrumb }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {{ page.content }}
                                </div>

                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>
                <!--  /ontainer wrapper-->
            {% else %}

                {% if page.content_top %}
                    <div id="content_top" class="content-top">
                        {{ page.content_top }}
                    </div>
                {% endif %}

                <div class="container-wrapper">
                    <div class="fluid-container" ">
                        {% if page.breadcrumb %}
                            <div id=" breadcrumb" class="breadcrumb">
                                <div class="container">
                                    {{ page.breadcrumb }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="main-container">
                            {{ page.content }}
                        </div>
                    </div>


                    {% if page.content_bottom %}
                        <div id="content_bottom" class="content-bottom">
                            {{ page.content_bottom }}
                        </div>
                    {% endif %}

                </div>
            {% endif %}


        </main>

        {% if page.content_after %}
            {# <div class="discover container">
                                                        {{ page.content_after }}
                                                    </div> #}
            <div>
                {{ page.content_after }}
            </div>
        {% endif %}

        <footer class="container-fluid wopadd main-footer">
            <div class="footer-links">
                {% if page.footer_link %}
                    {{ page.footer_link }}
                {% endif %}
            </div>

            <div class="copyrights">
                <div class="container">
                    {% if page.footer_copyright %}
                        {{ page.footer_copyright }}
                    {% endif %}
                </div>
            </div>
        </footer>

    </div>
</div>

<div class="outro">
	{% if page.footer_last %}
		{{ page.footer_last }}
	{% endif %}

	{# administrative trivial debugging; just inspecting variables and or display block of interest #}
	{% if is_admin %}

		{% if page.admin_only %}
			{{ page.admin_only }}
		{% endif %}

		<div class="admin key-values">	
			<ul class="u-normal">
				{% for key, value in _context.node.status %}
					<li>{{ key }}</li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}
</div>