{# http://d8.generic.loc/faculties-and-departments/architecture-and-interior-design?new-landing-page=newc828f378a24a365b2ef9f24a7552621dnew #}

<main role="main" id="main">
	<a id="main-content"></a>

	<div class="layout-container spring_2019">
		<div
			class="wrapper">
<section
				class="wopadd home-section flex-column-fix">
					{# new menu - we_megamenu #}
					<header class="main-header we-megamenu">
						<div class="container sticky d-flex text-align-left p-0">
							{# logo #}
							{# DONT :://:://DELETE:://::// for spring 2020; new icon #}
								{% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
									<div class="d-flex logo-wrapper mr-3 logo  position-relative"> 
									<a href="/">
										<img src="{{ base_path }}{{ active_theme_path() }}/media/logo/bigger/logo-original.png"/>
									</a>
								</div>
							{% else %}
								<div class="d-flex logo-wrapper mr-2 logo-wrapper">
									<span class="logo"><!-- empty --></span>
								</div>
							{% endif %}
							{# /logo #}

							<div class="d-flex menu-wrapper flex-column justify-content-center text-right">
								{{ page.header_2019v01 }}
							</div>
						</div>
					</header>
			</section>

			{# 
				FAID_Accordions will act as parent for all child accordions
				This will ensure that child making this as parent will automatically closes opened accordions 
				and opens the selected accordion

				see js: for menu burger open close behavior: $("[data-toggle='collapse']")
			#}
			<div class="mt-3 pt-3 mt-md-5 pt-md-5 highlighted container-fluid p-0" id="FAID_Accordions">
				<div class="pb-3 pb-md-5 mt-3 mt-md-5 department-programs">
					<div class="container p-auto p-md-0">
						<div class="row department-programs flex-column-fix m-0">
							<div
								class="col col-12 p-0 pt-md-3 pb-md-3">
								<!--Accordion wrapper-->
								<div>
									<a name="departments"><!-- empty --></a>
								</div>
								<div
									class="accordion md-accordion accordion-3 z-depth-1-half mb-0" id="accordionFacultyDepartments" role="tablist" aria-multiselectable="true">
									<!-- Accordion card -->
									<div
										class="card cud border-0 rounded-0">

										<!-- Card header -->
										<div class="card-header bg-transparent" role="tab" id="headingFacultiesDepartments">
											<div class="row">
												<div class="col col-11 px-0 px-md-3">
													<h5 class="d-inline-block m-0 cud fw-200 fs-sm-14px">Faculty of Architecture and Interior Design</h5>
												</div>
												<div
													class="col col-1 px-0 px-md-3 d-flex align-items-center justify-content-end">
													{# https://codepen.io/designcouch/pen/Atyop #}
													<div id="nav-burger-icon" class="float-right m-0" data-toggle="collapse" data-parent="#FAID_Accordions" href="#collapseFacultyDepartments" aria-expanded="true" aria-controls="collapseFacultyDepartments">
														<span></span>
														<span></span>
														<span></span>
														<span></span>
														<span></span>
														<span></span>
													</div>
												</div>
											</div>

										</div>

										<!-- Card body -->
										<div id="collapseFacultyDepartments" class="collapse" role="tabpanel" aria-labelledby="headingFacultiesDepartments" data-parent="#FAID_Accordions">
											<div class="card-body pt-2">
												<ul class="nav">
													<li class="nav-item">
														<a class="nav-link active cud-active" href="#departments">Departments</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#architecture-interior-design">About</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#welcome">Welome to FAID</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#deans-message">Dean's message</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#faculty-members">Faculty members</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#highlight">Highlights</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- / Accordion card -->
								</div>
								<!--/ Accordion wrapper-->
							</div>

							<div class="col col-6 col-lg-6 col-md-6 p-0" data-clickable="true" data-href="#architecture-interior-design" data-add-class="selected" data-secondary-target-id="#program-architecture-or-interior-design" data-secondary-change-target-href="/faculties-and-departments/architecture-and-interior-design/architecture">
								<div class="card text-white border-0 rounded-0">

									<img alt="Department of Architecture" class="w-100" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/front-block-department-architecture.jpg">

									<div class="card-img-overlay d-flex align-items-start flex-column p-2 p-md-5">
										<div class="card-title mt-auto text-white">
											<h5 class="text-white second second text-uppercase fw-100 text-dark cud fs-2 fs-sm-12px">Architecture</h5>
										</div>
									</div>
									<div class="card-img-overlay d-flex align-items-center">
										<div class="card-title text-white mx-auto">
											<h5 class="text-white second second text-uppercase fw-100 text-dark cud fs-2 fs-sm-12px js-custom-none d-none">
												<i class="fad fa-check-circle fa-3x"></i>
											</h5>
										</div>
									</div>
								</div>
							</div>

							<div class="col col-6 col-lg-6 col-md-6 p-0" data-clickable="true" data-href="#architecture-interior-design" data-add-class="selected" data-secondary-target-id="#program-architecture-or-interior-design" data-secondary-change-target-href="/faculties-and-departments/architecture-and-interior-design/interior-design">
								<div class="card text-white border-0 rounded-0">

									<img alt="Department of Interior Design" class="w-100" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/front-blockdepartment-interior-design.jpg">

									<div class="card-img-overlay d-flex align-items-start flex-column p-2 p-md-5">
										<div class="card-title mt-auto text-white">

											<h5 class="text-white second text-uppercase fw-100 text-dark cud fs-2 fs-sm-12px">Interior Design</h5>
										</div>
									</div>
									<div class="card-img-overlay d-flex align-items-center">
										<div class="card-title text-white mx-auto">
											<h5 class="text-white second second text-uppercase fw-100 text-dark cud fs-2 fs-sm-12px js-custom-none d-none">
												<i class="fad fa-check-circle fa-3x"></i>
											</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- / departments -->
					</div>
				</div>
				<!-- /department-programs -->

				<div class="bg-transparent pb-3 pb-md-5 program-tiles" style="background:#dcdcdc !important">
					<div class="container p-auto p-md-0">
						<div class="row progrma-tiles flex-column-fix m-0">
							<div class="col col-12 p-0 pt-md-3 pb-md-3">
								<div>
									<a name="architecture-interior-design"><!-- empty --></a>
								</div>
								<!--Accordion wrapper-->
								<div
									class="accordion md-accordion accordion-3 z-depth-1-half mb-0" id="accordionProgramTiles" role="tablist" aria-multiselectable="true">
									<!-- Accordion card -->
									<div
										class="card bg-transparent cud border-0 rounded-0">

										<!-- Card header -->
										<div class="card-header bg-transparent" role="tab" id="headingProgramTiles">
											<div class="row">
												<div class="col col-11 px-0 px-md-3">
													<h5 class="d-inline-block m-0 cud fw-200 fs-2 fs-sm-14px">About</h5>
												</div>
												<div
													class="col col-1 px-0 px-md-3 d-flex align-items-center justify-content-end">
													{# https://codepen.io/designcouch/pen/Atyop #}
													<div id="nav-burger-icon" class="float-right m-0" data-toggle="collapse" data-parent="#FAID_Accordions" href="#collapseProgramTiles" aria-expanded="true" aria-controls="collapseProgramTiles">
														<span></span>
														<span></span>
														<span></span>
														<span></span>
														<span></span>
														<span></span>
													</div>
												</div>
											</div>

										</div>

										<!-- Card body -->
										<div id="collapseProgramTiles" class="collapse" role="tabpanel" aria-labelledby="headingProgramTiles" data-parent="#FAID_Accordions">
											<div class="card-body pt-2">
												<ul class="nav">
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#departments">Departments</a>
													</li>
													<li class="nav-item">
														<a class="nav-link active cud-active" href="#architecture-interior-design">About</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#welcome">Welome to FAID</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#deans-message">Dean's message</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#faculty-members">Faculty members</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#highlight">Highlights</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- / Accordion card -->
								</div>
								<!--/ Accordion wrapper-->
							</div>


							<div class="col col-12 col-md-6 p-0">
								<div class="row m-0 p-0 flex-column-fix">
									<div class="col col-6 p-0" data-clickable="true" data-href="/faculties-and-departments/architecture-and-interior-design" id="program-architecture-or-interior-design">
										<div class="card text-white border-0 rounded-0 animate" data-animate-effect="pulse"><img alt="Department of Architecture" class="w-100" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/about-the-program.jpg">
											<div class="card-img-overlay d-flex align-items-start justify-content-start flex-column">
												<div class="card-title">
													<h5 class="text-white cud fs-1-5 fs-sm-12px fw-100 text-white">About the program</h5>
												</div>
											</div>
										</div>
									</div>
									<div class="col col-6 p-0" data-clickable="true" data-href="#deans-message">
										<div class="card text-white border-0 rounded-0 animate" data-animate-effect="pulse"><img alt="Department of Architecture" class="w-100" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/message-from-the-head.jpg">
											<div class="card-img-overlay d-flex align-items-end justify-content-end flex-column">
												<div class="card-title mb-0">
													<h5 class="text-white cud fs-1-5 fs-sm-12px fw-100 text-white text-align-right mb-0">Message<br/>from the Head</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col col-12 col-md-6 p-0">
								<div class="row m-0 p-0 flex-column-fix">
									<div class="col col-6 p-0">
										<div class="card text-white w-100 h-100 border-0 rounded-0 animate" data-animate-effect="pulse" data-clickable="true" data-href="#faculty-members" style="background-color:#b3b2bf">
											<div class="card-img-overlay d-flex align-items-end justify-content-start flex-column">
												<div class="card-title">
													<h5 class="text-white cud fs-1-5 fs-sm-12px fw-100 text-white text-align-right">Meet the Faculty</h5>
												</div>
											</div>
										</div>
									</div>
									<div class="col col-6 p-0">
										<div class="card text-white border-0 rounded-0 animate" data-animate-effect="pulse" data-clickable="true" data-href="/applyonline?landing-page=faculty-of-architecture-and-interior-design"><img alt="Department of Architecture" class="w-100" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/apply-now.jpg">
											<div class="card-img-overlay d-flex align-items-end justify-content-end flex-column">
												<div class="card-title mb-0">
													<h5 class="text-white cud fs-1-5 fs-sm-12px fw-100 text-dark text-align-right mb-0" style="text-color:#000 !important">Apply now</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col col-12 col-md-6 p-0">
								<div class="row m-0 p-0 flex-column-fix">
									<div class="col col-6 p-0 d-flex flex-column">
										<div class="card text-white w-100 h-50 border-0 rounded-0 animate" data-animate-effect="pulse" data-clickable="true" data-href="/spring2019v1/about/accreditation-ranking-awards" style="background-color:#6c6a80">
											<div class="card-img-overlay d-flex align-items-end justify-content-start flex-column">
												<div class="card-title">
													<h5 class="text-white cud fs-1-5 fs-sm-12px fw-100 text-white text-align-right">Accreditations & Associations</h5>
												</div>
											</div>
										</div>
										<div class="card text-white border-0 rounded-0" data-clickable="true" data-href="#"><img alt="CIDA Student Data" class="w-100" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/cida-student-data.jpg">
											<div class="card-img-overlay d-flex align-items-start justify-content-end flex-column">
												<div class="card-title mb-0">
													<h5 class="text-white cud fs-1-5 fs-sm-12px fw-100 text-white text-align-right mb-0">CIDA Student Data</h5>
												</div>
											</div>
										</div>
									</div>
									<div class="col col-6 p-0 d-flex flex-column">
										<div class="card text-white border-0 rounded-0 animate" data-animate-effect="pulse"  data-clickable="true" data-href="/international-education/study-canada"><img alt="Study Abroad" class="w-100" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/block-faculty-architecture-and-interior-design-study.jpg">
											<div class="card-img-overlay d-flex flex-column text-align-right">
												<div class="card-title text-white">
													<h5 class="text-white second second cud fs-1-5 fs-sm-12px fw-100 text-light">Study Abroad</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col col-12 col-md-6 p-0">
								<div class="row m-0 p-0 flex-column-fix">
									<div class="col col-12 p-0">
										<div class="card text-white border-0 rounded-0 animate" data-animate-effect="pulse" data-clickable="true" data-href="#highlight"><img alt="Department of Architecture" class="w-100" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/news-and-events.jpg">
											<div class="card-img-overlay d-flex align-items-end justify-content-end flex-column">
												<div class="card-title mb-0">
													<h5 class="text-white cud fs-1-5 fs-sm-12px fw-100 text-white text-align-right mb-0" style="text-color:#000 !important">News and Events</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row m-0 p-0 flex-column-fix">
									<div class="col col-6 p-0">
										<div class="card text-white w-100 h-100 border-0 rounded-0" style="background-color:#69687d">
											<div class="card-img-overlay d-flex align-items-end justify-content-start flex-column">
												<div class="card-title">
													<h5 class="text-white cud fs-1-5 fs-sm-12px fw-100 text-white text-align-right">&nbsp;</h5>
												</div>
											</div>
										</div>
									</div>
									<div class="col col-6 p-0">
										<div class="card text-white border-0 rounded-0" data-clickable="true" data-href="#"><img alt="Department of Architecture" class="w-100" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/facilities.jpg">
											<div class="card-img-overlay d-flex align-items-end justify-content-end flex-column">
												<div class="card-title mb-0">
													<h5 class="text-white cud fs-1-5 fs-sm-12px fw-100 text-white text-align-right mb-0">Facilities</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- / container -->
				</div>
				<!-- /program relavant tiles -->

				<div class="bg-transparent pb-3 pb-md-5 welcome-to-the" style="background:#aaa !important">
					<div class="container p-auto p-md-0">
						<div class="row progrma-tiles flex-column-fix m-0">
							<div class="col col-12 p-0 pt-md-3 pb-md-3">
								<div>
									<a name="welcome"><!-- empty --></a>
								</div>

								<!--Accordion wrapper-->
								<div
									class="accordion md-accordion accordion-3 z-depth-1-half mb-0" id="accordionWelcomeFaculty" role="tablist" aria-multiselectable="true">
									<!-- Accordion card -->
									<div
										class="card cud border-0 bg-transparent rounded-0">

										<!-- Card header -->
										<div class="card-header bg-transparent" role="tab" id="headingWelcomeFaculty">
											<div class="row">
												<div class="col col-11 px-0 px-md-3">
													<h5 class="d-inline-block m-0 cud fw-200 fs-sm-14px">&nbsp;</h5>
												</div>
												<div
													class="col col-1 px-0 px-md-3 d-flex align-items-center justify-content-end">
													{# https://codepen.io/designcouch/pen/Atyop #}
													<div id="nav-burger-icon" class="float-right m-0" data-toggle="collapse" data-parent="#FAID_Accordions" href="#collapseWelcomeFaculty" aria-expanded="true" aria-controls="collapseWelcomeFaculty">
														<span></span>
														<span></span>
														<span></span>
														<span></span>
														<span></span>
														<span></span>
													</div>
												</div>
											</div>

										</div>

										<!-- Card body -->
										<div id="collapseWelcomeFaculty" class="collapse" role="tabpanel" aria-labelledby="headingWelcomeFaculty" data-parent="#FAID_Accordions">
											<div class="card-body pt-2">
												<ul class="nav">
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#departments">Departments</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#architecture-interior-design">About</a>
													</li>
													<li class="nav-item">
														<a class="nav-link active cud-active" href="#welcome">Welome to FAID</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#deans-message">Dean's message</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#faculty-members">Faculty members</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#highlight">Highlights</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- / Accordion card -->
								</div>
								<!--/ Accordion wrapper-->


							</div>
							<div class="col col-12 p-0">
								<div class="card text-white rounded-0"><img alt="Department of Architecture" class="w-100 d-none d-sm-none d-md-inline" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/background-welcome-faculty.jpg">
									<div class="card-img-overlay no-bg-hover d-none d-sm-none d-md-none d-lg-inline">
										<div class="card-title text-white">
											<div class="row p-0 flex-column-fix">
												<div class="col col-3"></div>
												<div class="col col-9">
													<div class="row p-0 flex-column-fix">
														<div class="col col-1 p-0"></div>
														<div class="col col-8 welcome-to-the-faculty text-dark p-0" style="font-size: 13px !important;line-height: 1.05em; font-weight: 200;">
															<h5>Welcome to the<br/>Faculty of Architecture and Interior Design</h3>
															<p style="margin-bottom:0.4em">The Faculty offers two of the best Bachelor degree programs in Architecture and Interior Design in the GCC. The Bachelor of Architecture is a 5-year terminal degree program forming graduates poised to fulfil local professional registration while matching licensing requirements of international associations of architecture.</p>
															<p style="margin-bottom:0.4em">The BSc in Interior Design has a marked emphasis on creativity and problem solving in conjunction with adaptability, rationality and accountability in design thinking. Both programs are benchmarked against Canadian and American standards and offer opportunities to transfer or undertake a period of study in North America. The Faculty plans to offer in the near future a 4-year BSc degree program in Architecture followed by a Master of Science (MSc) in Architecture – Urban Planning.</p>
															<p style="margin-bottom:0.4em">We offer a transdisciplinary curriculum with the first two years being shared across both the Bachelor of Architecture and the BSc in Interior Design programs, allowing for a mutual approach to design thinking and problem solving. You will experience the latest design technology coupled with phenomenal teaching from international faculty in a fun, enriching, and future facing environment.</p>
															<p style="margin-bottom:0.4em">Throughout each of the programs you will develop the fundamental skills and technical knowledge that will position you for professional practice or further study in the field. You will gain a thorough understanding of the global traditions of Architecture, Interior Design and Art, together with the principles of human behavior and design theories. Alongside this, you will explore the professional, managerial, financial, and ethical aspects of the design industry, and gain valuable work experience through internship and real-world project opportunities.</p>
															<p style="margin-bottom:0.4em">Dubai is a city at the forefront of design innovation and CUD is located in the heart of the downtown district, less than one mile away from the world famous Burj Khalifa. Our programs are centered on contemporary, challenging creative projects rooted in a historical, theoretical and local context and our strong industry links means that our graduates enjoy excellent employment opportunities both locally and internationally. You can rest assured that when you graduate you will be well equipped to work in the profession and to make your impact on the environment around us.</p>
														</div>
														<div class="col col-3"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body d-inline d-md-inline d-lg-none">

										<div class="col col-12 welcome-to-the-faculty text-dark p-0" style="font-size: 12px !important;line-height: 1.25em; font-weight: 200;">
											<h5>Welcome to the<br/>Faculty of Architecture and Interior Design</h3>
											<p style="margin-bottom:0.5em">The Faculty offers two of the best Bachelor degree programs in Architecture and Interior Design in the GCC. The Bachelor of Architecture is a 5-year terminal degree program forming graduates poised to fulfil local professional registration while matching licensing requirements of international associations of architecture.</p>
											<p style="margin-bottom:0.5em">The BSc in Interior Design has a marked emphasis on creativity and problem solving in conjunction with adaptability, rationality and accountability in design thinking. Both programs are benchmarked against Canadian and American standards and offer opportunities to transfer or undertake a period of study in North America. The Faculty plans to offer in the near future a 4-year BSc degree program in Architecture followed by a Master of Science (MSc) in Architecture – Urban Planning.</p>
											<p style="margin-bottom:0.5em">We offer a transdisciplinary curriculum with the first two years being shared across both the Bachelor of Architecture and the BSc in Interior Design programs, allowing for a mutual approach to design thinking and problem solving. You will experience the latest design technology coupled with phenomenal teaching from international faculty in a fun, enriching, and future facing environment.</p>
											<p style="margin-bottom:0.5em">Throughout each of the programs you will develop the fundamental skills and technical knowledge that will position you for professional practice or further study in the field. You will gain a thorough understanding of the global traditions of Architecture, Interior Design and Art, together with the principles of human behavior and design theories. Alongside this, you will explore the professional, managerial, financial, and ethical aspects of the design industry, and gain valuable work experience through internship and real-world project opportunities.</p>
											<p style="margin-bottom:0.5em">Dubai is a city at the forefront of design innovation and CUD is located in the heart of the downtown district, less than one mile away from the world famous Burj Khalifa. Our programs are centered on contemporary, challenging creative projects rooted in a historical, theoretical and local context and our strong industry links means that our graduates enjoy excellent employment opportunities both locally and internationally. You can rest assured that when you graduate you will be well equipped to work in the profession and to make your impact on the environment around us.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- container -->
				</div>
				<!-- /welcome-to-the-faculty -->

				<div class="bg-transparent pb-3 pb-md-5 welcome-from-the-dean">
					<div class="container p-auto p-md-0">
						<div class="row welcome-from-the-dean flex-column-fix m-0">
							<div class="col col-12 p-0 pt-md-3 pb-md-3">
								<div>
									<a name="deans-message"><!-- empty --></a>
								</div>
								<!--Accordion wrapper-->
								<div
									class="accordion md-accordion accordion-3 z-depth-1-half mb-0" id="accordionWelcomeDean" role="tablist" aria-multiselectable="true">
									<!-- Accordion card -->
									<div
										class="card bg-transparent cud border-0">

										<!-- Card header -->
										<div class="card-header bg-transparent" role="tab" id="headingWelcomeDean">
											<div class="row">
												<div class="col col-11 px-0 px-md-3">
													<h5 class="d-inline-block m-0 cud fw-200 fs-2 fs-sm-14px">Message from the Head</h5>
												</div>
												<div
													class="col col-1 px-0 px-md-3 d-flex align-items-center justify-content-end">
													{# https://codepen.io/designcouch/pen/Atyop #}
													<div id="nav-burger-icon" class="float-right m-0" data-toggle="collapse" data-parent="#FAID_Accordions" href="#collapseWelcomeDean" aria-expanded="true" aria-controls="collapseWelcomeDean">
														<span></span>
														<span></span>
														<span></span>
														<span></span>
														<span></span>
														<span></span>
													</div>
												</div>
											</div>

										</div>

										<!-- Card body -->
										<div id="collapseWelcomeDean" class="collapse" role="tabpanel" aria-labelledby="headingWelcomeDean" data-parent="#FAID_Accordions">
											<div class="card-body pt-2">
												<ul class="nav">
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#departments">Departments</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#architecture-interior-design">About</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#welcome">Welome to FAID</a>
													</li>
													<li class="nav-item">
														<a class="nav-link active cud-active" href="#deans-message">Dean's message</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#faculty-members">Faculty members</a>
													</li>
													<li class="nav-item">
														<a class="nav-link cud fw-300" href="#highlight">Highlights</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- / Accordion card -->
								</div>
								<!--/ Accordion wrapper-->
							</div>

							<div class="col col-12 p-0">
								<div class="row p-0">
									<div class="col col-12 col-md-6">
										<div class="row">
											<div class="col col-md-5 d-none d-sm-inline"></div>
											<div class="col col-9 col-md-7 mb-3 mb-md-0">
												<img alt="Department of Architecture" class="w-100" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/message-from-the-head.png">

											</div>
										</div>

									</div>
									<div class="col col-12 col-md-5 cud fw-100 fs-sm-12px">
										<p>Dr. Dekkiche graduated from the Mackintosh School of Architecture, University of Glasgow with a Master Degree in Architecture in 1986 and a Ph.D. in 1990.</p>
										<p>Dr. Dekkiche has been a practicing architect since 1983 with experience in Algeria, UK, and the USA. He taught at two distinguished universities in Algeria in the field of urban design and architecture. Playing a lead role in establishing a postgraduate department, his assignments included membership of  the course board developing curricula and research programs while being a chair of the scientific council of the department of architecture.</p>
										<p>He then progressed to work as an architect on projects in Arizona, California and Illinois as a Project Manager and Lead Designer. After more than two decades of international field practice, Dr. Dekkiche decided to return to academia and joined Canadian University Dubai as an associate professor to share his technical knowledge and skills by delivering sound and comprehensive design tools to students.</p>
										<p>Dr. Dekkiche's research interest includes healthcare, hospitality and educational design with special concerns in passive solar, sustainability, BIM and life cycle assessment of building materials. He strongly believes that architecture should be ethical and respect the environment.</p>

										<img alt="Department of Architecture" class="w-50 float-right pt-1 pt-mb-5 mt-1 mt-mb-5" src="{{ base_path }}{{ active_theme_path() }}/media/img/faculty/architecture-and-interior-design/signature-from-the-head.png">

									</div>
									<div class="col col-md-1 d-none d-sm-inline"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- container -->
				</div>
				<!-- /welcome-from-the-dean -->

				<div class="bg-dark pb-3 pb-md-5 faculty-members text-white">
					<div>
						<a name="faculty-members"><!-- empty --></a>
					</div>

					<div class="container p-auto p-md-0">
						<div class="row faculty-members flex-column-fix m-0">
							<div
								class="col col-12 p-0 pt-md-3 pb-md-3">
								<!--Accordion wrapper-->
								<div
									class="accordion md-accordion accordion-3 z-depth-1-half mb-0" id="accordionFacultyMembers" role="tablist" aria-multiselectable="true">
									<!-- Accordion card -->
									<div
										class="card bg-transparent cud border-0 rounded-0">

										<!-- Card header -->
										<div class="card-header bg-transparent" role="tab" id="headingFacultyMembers">
											<div class="row">
												<div class="col col-11 px-0 px-md-3">
													<h5 class="d-inline-block m-0 cud fw-200 fs-2 fs-sm-14px text-white">Faculty Members</h5>
												</div>
												<div
													class="col col-1 px-0 px-md-3 d-flex align-items-center justify-content-end">
													{# https://codepen.io/designcouch/pen/Atyop #}
													<div id="nav-burger-icon" class="float-right m-0" data-toggle="collapse" data-parent="#FAID_Accordions" href="#collapseFacultyMembers" aria-expanded="true" aria-controls="collapseFacultyMembers">
														<span class="bg-white"></span>
														<span class="bg-white"></span>
														<span class="bg-white"></span>
														<span class="bg-white"></span>
														<span class="bg-white"></span>
														<span class="bg-white"></span>
													</div>
												</div>
											</div>

										</div>

										<!-- Card body -->
										<div id="collapseFacultyMembers" class="collapse" role="tabpanel" aria-labelledby="headingFacultyMembers" data-parent="#FAID_Accordions">
											<div class="card-body pt-2">
													<ul class="nav">
													<li class="nav-item">
														<a class="nav-link text-secondary cud fw-300" href="#departments">Departments</a>
													</li>
													<li class="nav-item">
														<a class="nav-link text-secondary cud fw-300" href="#architecture-interior-design">About</a>
													</li>
													<li class="nav-item">
														<a class="nav-link text-secondary cud fw-300" href="#welcome">Welome to FAID</a>
													</li>
													<li class="nav-item">
														<a class="nav-link text-secondary cud fw-300" href="#deans-message">Dean's message</a>
													</li>
													<li class="nav-item">
														<a class="nav-link active cud-active" href="#faculty-members">Faculty members</a>
													</li>
													<li class="nav-item">
														<a class="nav-link text-secondary cud fw-300" href="#highlight">Highlights</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- / Accordion card -->
								</div>
								<!--/ Accordion wrapper-->
							</div>

							<div class="col col-12 p-0">
								{% if node_id > 0 %}
									{{ drupal_view('faculty_members', 'faculty_only', node_id) }}
								{% endif %}
							</div>
						</div>
					</div>
					<!-- container -->
				</div>
				<!-- /faculty-members -->

				<div class="highlighted bg-secondary pb-3 pb-md-5 news-and-events text-white" style="background-color:#4c4c4c !important">
					<div>
						<a name="highlight"><!-- empty --></a>
					</div>
					<div class="container p-auto p-md-0">
						<div class="row news-and-events flex-column-fix m-0">
							<div
								class="col col-12 p-0 pt-md-3 pb-md-3">
								<!--Accordion wrapper-->
								<div
									class="accordion md-accordion accordion-3 z-depth-1-half mb-0" id="accordionNewsEvents" role="tablist" aria-multiselectable="true">
									<!-- Accordion card -->
									<div
										class="card bg-transparent cud border-0 rounded-0">

										<!-- Card header -->
										<div class="card-header bg-transparent" role="tab" id="headingNewsEvents">
											<div class="row">
												<div class="col col-11 px-0 px-md-3">
													<h5 class="d-inline-block m-0 cud fw-200 fs-2 fs-sm-14px text-white">News and Events</h5>
												</div>
												<div
													class="col col-1 px-0 px-md-3 d-flex align-items-center justify-content-end">
													{# https://codepen.io/designcouch/pen/Atyop #}
													<div id="nav-burger-icon" class="float-right m-0" data-toggle="collapse" data-parent="#FAID_Accordions" href="#collapseNewsEvents" aria-expanded="true" aria-controls="collapseNewsEvents">
														<span class="bg-white"></span>
														<span class="bg-white"></span>
														<span class="bg-white"></span>
														<span class="bg-white"></span>
														<span class="bg-white"></span>
														<span class="bg-white"></span>
													</div>
												</div>
											</div>

										</div>

										<!-- Card body -->
										<div id="collapseNewsEvents" class="collapse" role="tabpanel" aria-labelledby="headingNewsEvents" data-parent="#FAID_Accordions">
											<div class="card-body pt-2">
												<ul class="nav">
													<li class="nav-item">
														<a class="nav-link text-secondary cud fw-300" href="#departments">Departments</a>
													</li>
													<li class="nav-item">
														<a class="nav-link text-secondary cud fw-300" href="#architecture-interior-design">About</a>
													</li>
													<li class="nav-item">
														<a class="nav-link text-secondary cud fw-300" href="#welcome">Welome to FAID</a>
													</li>
													<li class="nav-item">
														<a class="nav-link text-secondary cud fw-300" href="#deans-message">Dean's message</a>
													</li>
													<li class="nav-item">
														<a class="nav-link text-secondary cud fw-300" href="#faculty-members">Faculty members</a>
													</li>
													<li class="nav-item">
														<a class="nav-link active cud-active" href="#highlight">Highlights</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- / Accordion card -->
								</div>
								<!--/ Accordion wrapper-->
							</div>

							<div class="col col-12 p-0">
								{{ drupal_view('news_and_events_for_fd', 'faculty_and_or_department', node_id) }}
							</div>
						</div>
					</div>
					<!-- container -->
				</div>
				<!-- /news-events -->
			</div>


			 <footer class="container-fluid wopadd main-footer">
                {% if page.footer_link %}
                    <div class="footer-links">
                        {{ page.footer_link }}
                    </div>
                {% endif %}

                {% if page.footer_copyright %}
                    <div class="copyrights">
                        <div class="container">
                            {{ page.footer_copyright }}
                        </div>
                    </div>
                {% endif %}

            </footer>
		</div>
	</div>
</main>

<div class="outro">
	{% if page.footer_last %}
		{{ page.footer_last }}
	{% endif %}

	{# administrative trivial debugging; just inspecting variables and or display block of interest #}
	{% if is_admin %}

		{% if page.admin_only %}
			{{ page.admin_only }}
		{% endif %}

		<div class="admin key-values">	
			<ul class="u-normal">
				{% for key, value in _context.node.status %}
					<li>{{ key }}</li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}
</div>