<div class="wrapper">

<section
				class="wopadd home-section flex-column-fix">
					{# new menu - we_megamenu #}
					<header class="main-header we-megamenu">
						<div class="container sticky d-flex text-align-left p-0">
							{# logo #}
							{# DONT :://:://DELETE:://::// for spring 2020; new icon #}
								{% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
									<div class="d-flex logo-wrapper mr-3 logo  position-relative"> 
									<a href="/">
										<img src="{{ base_path }}{{ active_theme_path() }}/media/logo/bigger/logo-original.png"/>
									</a>
								</div>
							{% else %}
								<div class="d-flex logo-wrapper mr-2 logo-wrapper">
									<span class="logo"><!-- empty --></span>
								</div>
							{% endif %}
							{# /logo #}

							<div class="d-flex menu-wrapper flex-column justify-content-center text-right">
								{{ page.header_2019v01 }}
							</div>
						</div>
					</header>
			</section>

	{% if page.banner %}
		{{ page.banner }}
	{% endif %}
	{########## /header ##########}

	{% set with_sidebar = 0 %}
	{% if page.sidebar_first or page.sidebar_second %}
		{% set with_sidebar = 1 %}
	{% endif %}

	{########## body ##########}
	<main role="main" class="main{{ with_sidebar == 0 ? " without-sidebar" : " with-sidebar" }} {{ page.custom.with_or_without_hero }}">
		<a id="main-content"><!-- empty --></a>

		<div class="container p-0">
			{% if with_sidebar == 1 %}

				<aside class="sidebar">

					{% if page.sidebar_first %}
						<h3 class="visible-xs sidebar__opener" data-oclose-opener>
							<span class="menu-icon fa fa-bars" aria-hidden="true">&nbsp;</span>
							<i>&nbsp;</i>
						</h3>
						<div class="sidebar__slide" data-oclose-slide>
							{{ page.sidebar_first }}
						</div>
					{% endif %}

					{% if page.sidebar_second %}
						{{ page.sidebar_second }}
					{% endif %}

				</aside>
			{% endif %}

			{% if page.content %}

				{% if page.content_bottom_left_side or page.content_bottom_right_side  %}
					<div class="main-content">
						<div class="w-100 mb-3 mb-md-5 content">
							{{ page.content }}
						</div>
						<div class="w-100 mb-3 mb-md-5 after-content">
							<div class="row flex-column-fix">
								{% if page.content_bottom_left_side %}
									<div class="col col-12 col-md-9 bottom-left">
										{{ page.content_bottom_left_side }}
									</div>
								{% endif %}
								{% if page.content_bottom_right_side %}
									<div class="col col-12 col-md-3 bottom-right">
										{{ page.content_bottom_right_side }}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% else %}
					<div class="main-content">
						{{ page.content }}
					</div>
				{% endif %}
			{% endif %}
		</div>
	</main>

	{% if page.content_after %}
		<div class="after-main-content">
			{{ page.content_after }}
		</div>
	{% endif %}

	{########## /body  ##########}
	

	{########## footer  ##########}
	<footer class="container-fluid wopadd main-footer">
		<div class="footer-links">
			{% if page.footer_link %}
				{{ page.footer_link }}
			{% endif %}
		</div>

		<div class="copyrights">
			<div class="container">
				{% if page.footer_copyright %}
					{{ page.footer_copyright }}
				{% endif %}
			</div>
		</div>
	</footer>
	{########## /footer  ##########}

</div>

<div class="outro">
	{% if page.footer_last %}
		{{ page.footer_last }}
	{% endif %}

	{# administrative trivial debugging; just inspecting variables and or display block of interest #}
	{% if is_admin %}

		{% if page.admin_only %}
			{{ page.admin_only }}
		{% endif %}

		<div class="admin key-values">	
			<ul class="u-normal">
				{% for key, value in _context.node.status %}
					<li>{{ key }}</li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}
</div>