{# canada map #}
<div class="wrapper">
<section
				class="wopadd home-section flex-column-fix">
					{# new menu - we_megamenu #}
					<header class="main-header we-megamenu">
						<div class="container sticky d-flex text-align-left p-0">
							{# logo #}
							{# DONT :://:://DELETE:://::// for spring 2020; new icon #}
								{% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
									<div class="d-flex logo-wrapper mr-3 logo  position-relative"> 
									<a href="/">
										<img src="{{ base_path }}{{ active_theme_path() }}/media/logo/bigger/logo-original.png"/>
									</a>
								</div>
							{% else %}
								<div class="d-flex logo-wrapper mr-2 logo-wrapper">
									<span class="logo"><!-- empty --></span>
								</div>
							{% endif %}
							{# /logo #}

							<div class="d-flex menu-wrapper flex-column justify-content-center text-right">
								{{ page.header_2019v01 }}
							</div>
						</div>
					</header>
			</section>

    {% if page.banner %}


        <div id="block-custom-canada-map">

            <div class="hero canada-map">
                <div class="loading">
                    <img src="/sites/default/files/manual/canada-map/ajax-map-loader.gif"/>
                </div>
                <div
                    class="svg-container">
                    {#-- svg --#}
                    {% include '/themes/indicud/templates/map-svg.html.twig' %}
                </div>

            </div>

            <div class="controls">
                <button id="zoom-out"><img src="/sites/default/files/manual/canada-map/nav-minus.png"/></button>
                <button id="reset"><img src="/sites/default/files/manual/canada-map/nav-reset.png"/></button>
                <button id="zoom-in"><img src="/sites/default/files/manual/canada-map/nav-plus.png"/></button>
            </div>

            <div class="guide-canada-map container">

                <div class="init">

                    {% if (language.getId() == 'ar') %}

                        <h2>خيارات الانتقال إلى مؤسسات التعليم العالي في كندا</h2>
                        <h3>حدد اختيارك من احدى الجامعات الشريكة في كندا من خلال الخريطة التفاعلية</h3>

                        <ul class="region row">
                            <li class="col col-4 col-md-4 region hover">
                                <h4>اختر المقاطعة
                                </h4>

                                <p>لإظهار الجامعات الشريكة لدينا
                                </p>

                                <div class="visual">
                                    &nbsp;
                                </div>
                            </li>
                            <li class="col col-4  col-md-4 region click">
                                <h4>اختر الجامعة
                                </h4>

                                <p>للمزيد من المعلومات أو شاهد الفيديو لعرض الأراء</p>

                                <div class="visual">
                                    &nbsp;
                                </div>
                            </li>
                            <li class="col col-4 col-md-4 region drag">
                                <h4>استخدم محرك البحث
                                </h4>

                                <p>لتكبير أو تصغير الخريطة ولتحديد وجهتك</p>

                                <div class="visual">
                                    &nbsp;
                                </div>
                            </li>
                        </ul>

                        <div id="get-started" class="bottom">
                            <span class="get-started">إبدأ هنا</span>
                            <span class="got-it button">حسناً فهمت</span>
                        </div>

                    {% else %}
                        <h2>Our Transfer Students Interactive Map</h2>


                        <h3>Find your study in Canada options with our interactive map</h3>

                        <ul class="region row">
                            <li class="col col-4 col-md-4 region hover">
                                <h4>Click on<br/>a Province</h4>

                                <p>To show the universities<br/>we’re in partnership with.</p>

                                <div class="visual">
                                    &nbsp;
                                </div>
                            </li>
                            <li class="col col-4 col-md-4 region click">
                                <h4>Select<br/>A University</h4>

                                <p>To find out more or watch<br/>a video testimonial</p>

                                <div class="visual">
                                    &nbsp;
                                </div>
                            </li>
                            <li class="col col-4 col-md-4 region drag">
                                <h4>Use your<br/>Mouse scroller</h4>

                                <p>To zoom in and out<br/>
                                    of the map. Pan to navigate.</p>

                                <div class="visual">
                                    &nbsp;
                                </div>
                            </li>
                        </ul>

                        <div id="get-started" class="bottom">
                            <span class="get-started">Get started</span>
                            <span class="got-it button">Okay Got it!</span>
                        </div>
                    {% endif %}
                </div>
                <!-- init -->

                <!-- preloaded listing -->
                <div class="listing">
                    <a class="close">close</a>
                    <h1 class="name"></h1>
                    <div class="scroller-container">
                        <div class="scroller">
                            <ul class="schools"></ul>
                        </div>
                    </div>
                </div>

                <!-- school -->
                <div class="main-university row">

                    <div class="header row">
                        <h2 class="name col col-10 col-md-10">&nbsp;</h2>
                        <a class="close col col-2 col-md-2">close</a>
                    </div>

                    <div class="body row">
                        <div class="info col col-4 col-md-4">
                            <div id="canada-map-normal" class="normal">
                                <div class="logo col-md-12">
                                    <img src=""/>
                                </div>
                                <div class="desc col-md-12">
                                    &nbsp;
                                </div>
                                <div class="actions">
                                    <ul>
                                        <li class="apply">
                                            <a class="apply-now" href="https://cudportal.cud.ac.ae/apply/login.asp" target="_blank">Apply Now
                                                <i class="fa fa-long-arrow-right"></i>
                                            </a>
                                        </li>
                                        <li class="form">
                                            <a class="get-more-info" href="#">Get more information
                                                <i class="fa fa-long-arrow-right"></i>
                                            </a>
                                        </li>
                                        <li class="meet">
                                            <a class="meet-specialist" href="https://www.cud.ac.ae/contact/book-vip-tour" target="_blank">Meet our Transfer Specialist
                                                <i class="fa fa-long-arrow-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="canada-map-form" class="form">

                                <h2>Thank you for your interest</h2>
                                <h5>Fill out the form below for us to know how we can help you further</h5>

                                {% if page.sidebar_second %}
                                    {{ page.sidebar_second }}
                                {% endif %}

                            </div>
                        </div>
                        <div class="videos col-col-8 col-md-8">

                            <div class="main">
                                <img src=""/>
                                <div class="video-container">
                                    <div id="player"></div>
                                </div>
                                <script src="/themes/indicud/devel/scripts/rspHelper.js"></script>
                                <script>
                                    var tag = document.createElement('script');

                                    tag.src = "https://www.youtube.com/iframe_api";
                                    var firstScriptTag = document.getElementsByTagName('script')[0];
                                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                                    var playerVars = {
                                        autoplay: 1,
                                        controls: 0,
                                        disablekb: 1,
                                        loop: 1,
                                        showinfo: 0
                                    };
                                    var isMaybeMobile = false;

                                    rspHelper.addMQ({
                                        '(max-width: 767px)': {
                                            on: function () {
                                                playerVars = {
                                                    controls: 0,
                                                    disablekb: 1,
                                                    loop: 1,
                                                    showinfo: 0
                                                };
                                                isMaybeMobile = true;
                                            }
                                        }
                                    });

                                    var player;
                                    function onYouTubeIframeAPIReady() {
                                        player = new YT.Player('player', {
                                            height: '390',
                                            width: '640',
                                            videoId: '',
                                            playerVars: playerVars,
                                            events: {
                                                'onReady': onPlayerReady,
                                                'onStateChange': onPlayerStateChange
                                            }
                                        });
                                    }

                                    function onPlayerReady(event) {
                                        event.target.playVideo();
                                    }

                                    var done = false;
                                    function onPlayerStateChange(event) {
                                        // if (event.data == YT.PlayerState.PLAYING && !done) {
                                        //     setTimeout(stopVideo, 6000);
                                        //     done = true;
                                        // }
                                    }

                                    function stopVideo() {
                                        player.stopVideo();
                                    }
                                </script>
                            </div>
                            <div class="infobox">
                                <div class="student">
                                    <span class="info_name">&nbsp;</span>
                                    <span class="info_description">&nbsp;</span>
                                </div>
                            </div>
                            <div class="thumbs">
                                <div class="more videos">
                                    <span class="more">More videos</span>
                                </div>
                                <ul class="thumb-videos col-md-12"></ul>
                            </div>
                        </div>
                        <!-- videos -->
                        <div class="galleries col-md-8">

                            <div class="main">
                                <img src=""/>
                            </div>
                            <div class="infobox">
                                <div class="student">
                                    <span class="info_name">&nbsp;</span>
                                    <span class="info_description">&nbsp;</span>
                                </div>
                            </div>
                            <div class="thumbs">
                                <div class="more gallery">
                                    <span class="more">More gallery</span>
                                </div>
                                <div class="thumb-gallery"></div>
                            </div>
                        </div>
                        <!-- videos -->
                    </div>

                </div>

            </div>
        </div>

        {{ attach_library('cud/canadamap') }}


    {% endif %}

    {% set with_sidebar = 0 %}
    {% if page.sidebar_first or page.sidebar_second %}
        {% set with_sidebar = 1 %}
    {% endif %}

    <main role="main" class="main{{ with_sidebar == 0 ? " without-sidebar" : " with-sidebar" }} {{ page.custom.with_or_without_hero }}">
        <a id="main-content"></a>

        <div class="container">

            {% if with_sidebar == 1 %}
                {% if page.sidebar_first %}
                    <aside class="sidebar">

                        <h3 class="visible-xs sidebar__opener" data-oclose-opener>
                            <span class="menu-icon fa fa-bars" aria-hidden="true">&nbsp;</span>
                            <i>&nbsp;</i>
                        </h3>
                        <div class="sidebar__slide" data-oclose-slide>
                            {{ page.sidebar_first }}
                        </div>

                    </aside>
                {% endif %}
            {% endif %}


            <div class="main-content">
                {{ page.content }}
            </div>
        </div>


    </main>

    {% if page.content_after %}
        <div class="discover container">
            {{ page.content_after }}
        </div>
    {% endif %}


    <footer class="container-fluid wopadd main-footer">
        <div class="footer-links">
            {% if page.footer_link %}
                {{ page.footer_link }}
            {% endif %}
        </div>

        <div class="copyrights">
            <div class="container">
                {% if page.footer_copyright %}
                    {{ page.footer_copyright }}
                {% endif %}
            </div>
        </div>

    </footer>

</div>


<div class="outro">
	{% if page.footer_last %}
		{{ page.footer_last }}
	{% endif %}

	{# administrative trivial debugging; just inspecting variables and or display block of interest #}
	{% if is_admin %}

		{% if page.admin_only %}
			{{ page.admin_only }}
		{% endif %}

		<div class="admin key-values">	
			<ul class="u-normal">
				{% for key, value in _context.node.status %}
					<li>{{ key }}</li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}
</div>