{# /farsi #}
<div class="wrapper">

    {% set with_sidebar = 0 %}
    {% if page.sidebar_first or page.sidebar_second %}
        {% set with_sidebar = 1 %}
    {% endif %}

    <main role="main"
          class="main{{ with_sidebar == 0 ? " without-sidebar" : " with-sidebar" }}">
        <a id="main-content"></a>

        <div class="container">
            {% if with_sidebar == 1 %}

                <aside class="sidebar">

                    {% if page.sidebar_first %}
                        <h3 class="visible-xs sidebar__opener" data-oclose-opener><span class="menu-icon fa fa-bars"
                                                                                          aria-hidden="true">&nbsp;</span>
                            <i>&nbsp;</i></h3>
                        <div class="sidebar__slide" data-oclose-slide>
                            {{ page.sidebar_first }}
                        </div>
                    {% endif %}

                    {% if page.sidebar_second %}
                            {{ page.sidebar_second }}
                    {% endif %}

                </aside>
            {% endif %}

            <div class="main-content">
                {{ page.content }}
            </div>
        </div>


    </main>

    {% if page.content_after %}
        <div class="discover container">
            {{ page.content_after }}
        </div>
    {% endif %}

</div>

<div class="outro">
	{% if page.footer_last %}
		{{ page.footer_last }}
	{% endif %}

	{# administrative trivial debugging; just inspecting variables and or display block of interest #}
	{% if is_admin %}

		{% if page.admin_only %}
			{{ page.admin_only }}
		{% endif %}

		<div class="admin key-values">	
			<ul class="u-normal">
				{% for key, value in _context.node.status %}
					<li>{{ key }}</li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}
</div>