<main role="main" id="main" class="{{ page.custom.video }}" data-video="{{ page.custom.video }}">
	<a id="main-content"></a>


	<div class="post-graduation p-0">
		<div
			class="wrapper">
			<!-- home Content -->
	<section
				class="wopadd home-section flex-column-fix">
					{# new menu - we_megamenu #}
					<header class="main-header we-megamenu">
						<div class="container sticky d-flex text-align-left p-0">
							{# logo #}
							{# DONT :://:://DELETE:://::// for spring 2020; new icon #}
								{% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
									<div class="d-flex logo-wrapper mr-3 logo  position-relative"> 
									<a href="/">
										<img src="{{ base_path }}{{ active_theme_path() }}/media/logo/bigger/logo-original.png"/>
									</a>
								</div>
							{% else %}
								<div class="d-flex logo-wrapper mr-2 logo-wrapper">
									<span class="logo"><!-- empty --></span>
								</div>
							{% endif %}
							{# /logo #}

							<div class="d-flex menu-wrapper flex-column justify-content-center text-right">
								{{ page.header_2019v01 }}
							</div>
						</div>
					</header>
			</section>

			<!-- /#home-content-wrapper -->
			<div class="fluid-container mb-5  flex-column-fix">
				<div class="row">
					<div class="col col-12 p-0 text-center">
						<div class="d-none d-md-block card border-0">
							<img src="{{ base_path ~ directory }}/media/img/canada-day/primary-hero-canda-day-2020.jpg" alt="Canada Day 2020" title="Canada Day 2020"/>
						</div>
						<div class="d-block d-md-none card border-0">
							<img src="{{ base_path ~ directory }}/media/img/canada-day/mobile-primary-hero-canda-day-2020.jpg" alt="Canada Day 2020" title="Canada Day 2020"/>
						</div>
					</div>
				</div>
			</div>

			{% if page.content %}
				<div class="container mt-3 mb-3  flex-column-fix">
					<div class="row">
						<div class="col col-12">
							{{ page.content }}
						</div>
					</div>
				</div>
			{% endif %}

			<div class="container mb-5  flex-column-fix">
				<h3>Past Canada Day celebrations</h3>


				<div class="testimonials row" dir="ltr">
					<div class="col-4">
						<img class="w-100" src="/themes/indicud/media/img/canada-day/gallery/thumb/gallery-canada-day-01.jpg"/>						
					</div>
					<div class="col-4">
						<img class="w-100" src="/themes/indicud/media/img/canada-day/gallery/thumb/gallery-canada-day-02.jpg"/>
					</div>
					<div class="col-4">
						<img class="w-100" src="/themes/indicud/media/img/canada-day/gallery/thumb/gallery-canada-day-03.jpg"/>
					</div>
					<div class="col-4">
						<img class="w-100" src="/themes/indicud/media/img/canada-day/gallery/thumb/gallery-canada-day-04.jpg"/>						
					</div>
					<div class="col-4">
						<img class="w-100" src="/themes/indicud/media/img/canada-day/gallery/thumb/gallery-canada-day-05.jpg"/>
					</div>
					<div class="col-4">
						<img class="w-100" src="/themes/indicud/media/img/canada-day/gallery/thumb/gallery-canada-day-06.jpg"/>
					</div>
				</div>
			</div>

			<div class="container mb-5  flex-column-fix">
				<h3>Hear from our students that have successfully transferred to Canada</h3>

				<div class="testimonials row" dir="ltr">


					{# <div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7aH1ew0Cwsg?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen></iframe>
						</div>
					</div>

					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zJz6IJAaVPc?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen></iframe>
						</div>
					</div>

					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ekW4AHMYb54?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen></iframe>
						</div>
					</div>

					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7aH1ew0Cwsg?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen></iframe>
						</div>
					</div>

					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zJz6IJAaVPc?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen></iframe>
						</div>
					</div>

					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ekW4AHMYb54?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen></iframe>
						</div>
					</div> #}

					<div class="video-slide col-4 Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PL0uDFGW1wT1cLtVIpVJV4RqgC6QDYH_eA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sXfqrujv50s?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SWslE7wzVQg?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>


					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M7VTwsd8egA?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>

					<div class="video-slide col-4 Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PL0uDFGW1wT1cLtVIpVJV4RqgC6QDYH_eA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sXfqrujv50s?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SWslE7wzVQg?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M7VTwsd8egA?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>

			<div class="row  flex-column-fix">
				<div class="col col-12">
					<footer class="container wopadd main-footer">
						{% if page.footer_link %}
							<div class="footer-links">
								{{ page.footer_link }}
							</div>
						{% endif %}

						{% if page.footer_copyright %}
							<div class="copyrights">
								<div class="container">
									{{ page.footer_copyright }}
								</div>
							</div>
						{% endif %}

					</footer>
				</div>
			</div>


		</div>
	</div>
</main>
<div
	class="canada-day register form  flex-column-fix">
	<!-- Modal -->
	<div class="modal" id="candaWebformCenter" tabindex="-1" role="dialog" aria-labelledby="candaWebformCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="candaWebformLongTitle">Quiz Registration</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width:auto;height:auto;">
						<span aria-hidden="true">
							<i class="fa fa-times-circle-o text-white"></i>
						</span>
					</button>
				</div>
				<div class="modal-body">
					{{ drupal_entity('webform', 'canada_day') }}
				</div>
			</div>
		</div>
	</div>

</div>

<div class="outro">
	{% if page.footer_last %}
		{{ page.footer_last }}
	{% endif %}

	{# administrative trivial debugging; just inspecting variables and or display block of interest #}
	{% if is_admin %}

		{% if page.admin_only %}
			{{ page.admin_only }}
		{% endif %}

		<div class="admin key-values">
			<ul class="u-normal">
				{% for key, value in _context.node.status %}
					<li>{{ key }}</li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}
</div>
<style>


	.post-graduation .slider {
		display: none;
	}
	.post-graduation .slider.slick-initialized {
		display: block;
	}

	.post-graduation .main-title {
		font-size: 1.75rem;
	}

	.testimonials-prev {
		display: block;
		position: absolute;
		z-index: 1000;
		top: 50%;
		transform: translateY(-50%);
		left: 1rem;
		cursor: pointer;
	}

	.testimonials-next {
		display: block;
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1000;
		cursor: pointer;
	}
	/* .language-switcher-language-url ul.links li {
		white-space: nowrap !important;
	} */

	.post-graduation .cid-rYBPYBkcrA .mbr-slider .carousel-control-prev {
		left: 0;
		margin-left: 2.5rem;
		right: auto;
	}

	.post-graduation .cid-rYBPYBkcrA .mbr-slider .carousel-control-next {
		right: 0;
		margin-right: 2.5rem;
		left: auto;
	}

	.post-graduation .video-container.main-frame .mbr-background-video {
		display: none !important;
	}

	@media(max-width:767px) {
		/* .language-switcher-language-url {
			display:none;
		} */

		.post-graduation .main-title {
			text-align: center;
		}

		.post-graduation .main-hero-banner {
			min-height: 235px;
			object-fit: cover;
		}
		.post-graduation .main-arrow-right {
			width: 100px;
			height: 100px;
			bottom: -50px;
		}
	}

	@media(min-width:768px) {

		.post-graduation .home-section {
			background: #fff;
		}


		.post-graduation header .lefsid .logoone a,
		.post-graduation header .lefsid .logoone span {
			height: 65px;
			background: url('{{ base_path ~ directory }}/media/logo/bigger/logo-post-graduation.png') center center no-repeat;
		}

		.post-graduation header .lefsid .logoone {
			width: 260px;
			margin: 9px 10px 15px 0;
		}

		.post-graduation header .pull-right .portal-wrap > a .fa {
			display: inline-block !important;
			color: #000 !important;
		}

		.post-graduation header .pull-right .portal-wrap > a span {
			display: none;
		}

		.post-graduation .header .pull-right .portal-wrap {
			padding-bottom: 25px;
		}

		.post-graduation .main-arrow-right {
			position: absolute;
			right: 0;
			bottom: -60px;
			padding: 1.25rem;
			width: 120px;
			height: 120px;
		}

		/* .post-graduation .language-switcher-language-url {
			visibility: hidden;
			display: none;
		} */

		.post-graduation #block-navigation-extras-v2.mt-1 {
			margin: 2rem 0 0 !important;
			padding: 0 !important;
		}

		.post-graduation header .tb-megamenu-nav .tb-megamenu-item > a,
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > span {
			padding: 32px 6px;
		}
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > a,
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > span {
			color: #000 !important;
		}

		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item:last-child > a,
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item:last-child > span {
			color: #d5202a !important;
			font-weight: 700;
		}

		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item .tb-megamenu-submenu.dropdown-menu {
			background: #fff !important;
		}

		.post-graduation header .tb-megamenu .tb-megamenu-block .block-inner h1,
		.post-graduation header .tb-megamenu .tb-megamenu-block .block-inner h2,
		.post-graduation header .tb-megamenu .tb-megamenu-block .block-inner h3 {
			color: #000 !important;
		}

		.post-graduation header .pull-right .search-wrap .fa {
			color: #000 !important;
		}

		.post-graduation header .pull-right .arabic-programs > a,
		header .pull-right .portal-wrap > a {
			color: #000 !important;
		}

		.post-graduation header .pull-right .portal-wrap ul {
			background: #fff !important;
			min-width: 150px;
		}

		.post-graduation header.forced-hover .pull-right .portal-wrap,
		.post-graduation header.forced-hover .pull-right .portal-wrap a,
		.post-graduation header.forced-hover .pull-right .search-wrap button,
		.post-graduation header.headroom--not-bottom:not(.headroom--top) .pull-right .portal-wrap,
		.post-graduation header.headroom--not-bottom:not(.headroom--top) .pull-right .portal-wrap a,
		.post-graduation header.headroom--not-bottom:not(.headroom--top) .pull-right .search-wrap button,
		.post-graduation header.headroom--not-top .pull-right .portal-wrap,
		.post-graduation header.headroom--not-top .pull-right .portal-wrap a,
		.post-graduation header.headroom--not-top .pull-right .search-wrap button,
		.post-graduation header.without-hero .pull-right .portal-wrap,
		header.without-hero .pull-right .portal-wrap a,
		.post-graduation header.without-hero .pull-right .search-wrap button,
		header:hover .pull-right .portal-wrap,
		.post-graduation header:hover .pull-right .portal-wrap a,
		header:hover .pull-right .search-wrap button {
			color: #000 !important;
		}
	}


	@media(max-width:1440px) {
		.main-header .container {
			padding: 0;
		}

		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > a,
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > span {
			font-size: 12px;
		}
	}

	@media(min-width:1441px) {

		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > a,
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > span {
			font-size: 13px;
		}
	}
</style>
