<main role="main" id="main" class="{{ page.custom.video }}" data-video="{{ page.custom.video }}">
	<a id="main-content"></a>


	<div class="post-graduation p-0">
		<div
			class="wrapper">
			<!-- home Content -->
<section
				class="wopadd home-section flex-column-fix">
					{# new menu - we_megamenu #}
					<header class="main-header we-megamenu">
						<div class="container sticky d-flex text-align-left p-0">
								<div class="d-flex logo-wrapper mr-3 logo  position-relative"> 
									<a href="/">
										<img class="mb-3" src="{{ base_path }}{{ active_theme_path() }}/media/logo/bigger/logo.png"/>
									</a>
								</div>
						</div>
					</header>
			</section>


			<!-- /#home-content-wrapper -->

			<div class="fluid-container mb-5 flex-column-fix">
				<div class="row">
					<div class="col col-12 p-0 text-center">
						<div class="d-none d-md-block card border-0">
							<a href="./graduation"><img src="{{ base_path ~ directory }}/media/img/sample/sample.jpg" alt="" title=""/></a>
						</div>
						<div class="d-block d-md-none card border-0">
							<a href="./graduation"><img src="{{ base_path ~ directory }}/media/img/sample/sample-mobile.jpg" alt="" title=""/></a>
						</div>
					</div>
				</div>
			</div>

			<div class="container mb-5 text-left" dir="ltr">
				<div class="row">
					<div class="col col-12 col-md-7">
						<h1 dir="ltr" class="main-title nowrap">Welcome to the
							<br class="d-block d-lg-none"/>Consetetur sit eos et lorem</h1>
						
						<p dir="ltr"  class="cud fw-100">5<sup>th</sup> Consetetur sit eos et lorem duis takimata dolor takimata. Vulputate duis diam iusto erat magna et nibh. Velit amet aliquyam ipsum. Esse ipsum duo et dolores duo diam dolor sit vero vero ipsum. Eirmod dolore sadipscing lorem et wisi facilisi sit voluptua. Luptatum at vel aliquam est.</p>

						<p dir="ltr"  class="cud fw-100">Est in dolor dolor gubergren nonumy dolor adipiscing tempor labore esse at possim laoreet ipsum amet diam eirmod assum. Elit accumsan clita et sed et imperdiet erat invidunt amet. Et ut justo diam justo gubergren sit erat in ut. Iriure magna aliquyam stet lorem aliquam justo duo. Liber magna aliquyam stet aliquyam laoreet dolores kasd iriure eu. Sit elitr clita est vel volutpat. Ut iusto et invidunt kasd exerci est consetetur. Sit sed eum vero no ut dolor ut dolore velit tincidunt kasd sed. Diam sed kasd. Sit et justo nulla molestie accusam sed ut augue diam lorem accusam accusam no ut. Adipiscing et clita takimata dolor kasd consetetur facilisis et odio sit erat takimata facilisis sit.</p>
						
						<p dir="ltr"><a class="rounded btn btn-primary" href="#">Join open day <i class="far fa-long-arrow-right"><!-- empty --></i></a></p>
					</div>
					<div class="col col-12 col-md-5">
						<h2 class="text-center">On top of the World</h2>
						<div class="video-container main-frame">
							<iframe allowfullscreen="allowFullScreen" frameborder="0" height="250" src="https://www.youtube.com/embed/XKDSld-CrHU?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" width="100%"></iframe>
						</div>
					</div>
				</div>
			</div>


			<div class="container mb-5 flex-column-fix">
				<div class="row">

					<div class="col col-4 col-md-2 text-center">
						<a class="ga-applyonline" href="/faculties-and-departments" title=""><img src="./themes/indicud/media/icons/custom/prospectus.png">
							<span class="d-block py-3">Academics</span>
						</a>
					</div>

					<div class="col col-4 col-md-2 text-center">
						<a class="ga-applyonline" href="./fall-2020-financial-relief#register" title=""><img src="./themes/indicud/media/icons/custom/apply-now.png">
							<span class="d-block py-3">Apply Now</span>
						</a>
					</div>

					<div class="col col-4 col-md-2 text-center">
						<a href="/downloads/university-publications" title=""><img src="./themes/indicud/media/icons/custom/prospectus.png">
							<span class="d-block py-3">Prospectus</span>
						</a>
					</div>

					<div class="col col-4 col-md-2 text-center">
						<a href="/fees" title=""><img src="./themes/indicud/media/icons/custom/tuition.png">
							<span class="d-block py-3">Fees</span>
						</a>
					</div>

					<div class="col col-4 col-md-2 text-center">
						<a href="/frequently-asked-questions" title=""><img src="./themes/indicud/media/icons/custom/faqs.png">
							<span class="d-block py-3">FAQs</span>
						</a>
					</div>

					<div class="col col-4  col-md-2 text-center">
						<a class="cud-our-chat-button our-chat-button" href="/" title=""><img src="./themes/indicud/media/icons/custom/livechat.png">
							<span class="d-block py-3">Live Chat</span>
						</a>
					</div>

				</div>
			</div>

			<div class="container mb-5 flex-column-fix">
				<div class="features row" dir="ltr">
					<div class="col col-12 col-md-4 mb-3 text-center">
						<a href="/canada-day"><img class="w-100" src="https://picsum.photos/324/184" /></a>
					</div>
					<div class="col col-12 col-md-4 mb-3 text-center">
						<a href="/news/canadian-university-dubai-receives-prestigious-certification-education-public-relations-cepr"><img class="w-100" src="https://picsum.photos/324/184" /></a>
					</div>				
					<div class="col col-12 col-md-4 mb-3 text-center">
						<a href="/fall-2020-financial-relief"><img class="w-100" src="https://picsum.photos/324/184" /></a>					
					</div>
				</div>
			</div>

			<div class="container mb-5 flex-column-fix">
				<div class="row">
					<div class="col col-12">
						<div class="card mb-md-0 w-100">
							<div class="card-img d-none d-md-block">
								<a href="/news/canadian-university-dubai-city-walk-campus-expansion"><img alt="" src="{{ base_path ~ directory }}/media/img/sample/sample-1920x1080.jpg"></a>
							</div>
							<div class="card-img d-block d-md-none">
								<a href="/news/canadian-university-dubai-city-walk-campus-expansion"><img alt="" src="{{ base_path ~ directory }}/media/img/sample/sample-1920x1080.jpg"></a>
							</div>							
						</div>
					</div>
				</div>
			</div>


			{# <div class="container mb-5">
				<div class="row">
					<div class="col col-12">
						<script async src="https://tool.socialwallpro.com/widgets/embed-social/embed.js" data-ratio="16/9" data-mode="display" data-wallurl="https://tool.socialwallpro.com/event/widget/animation/5ed7615b81cae?handleFullScreen=false" data-width="responsive" data-height="auto"></script>

					</div>
				</div>
			</div> #}


			<div class="container mb-4">
				<div class="row">
					<div class="col-12 text-center">
						<h1 class="mb-2 cud fs-sm-1-5">Success Stories &amp; Testimonials</h1>
						<h2 class="cud fs-sm-1">Hear from students &amp; graduates</h2>
					</div>
				</div>
			</div>


			<div class="container mb-5 flex-column-fix">
				<div class="filter text-center mx-auto">
					<ul class="list-inline testimonial-types">
						<li class="list-inline-item mb-2">
							<button data-id="All" style="border-radius:25px" class="btn btn-primary testimonial-type">All</button>
						</li>
						<li class="list-inline-item mb-2">
							<button data-id="Students" style="border-radius:25px"  class="btn btn-primary testimonial-type">Students</button>
						</li>
						<li class="list-inline-item mb-2">
							<button data-id="Transfer" style="border-radius:25px"  class="btn btn-primary testimonial-type">Transfer Students</button>
						</li>
						<li class="list-inline-item mb-2">
							<button data-id="Alumni" style="border-radius:25px"  class="btn btn-primary testimonial-type">Alumni</button>
						</li>
					</ul>
				</div>
				<div class="testimonials row" dir="ltr">
					<div class="video-slide col-4 Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/w6GTf6ATlho?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen=""></iframe>
						</div>
					</div>
					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1t1_a1BZ04o?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen=""></iframe>
						</div>
					</div>
					<div class="col-4 video-slide Students">
						<div class="embed-responsive embed-responsive-16by9" style="height:auto">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EQSNnARq-yI?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
			</div>


			<div class="row flex-column-fix">
				<div class="col col-12">
					<footer class="container wopadd main-footer">
						{% if page.footer_link %}
							<div class="footer-links">
								{{ page.footer_link }}
							</div>
						{% endif %}

						{% if page.footer_copyright %}
							<div class="copyrights">
								<div class="container">
									{# page.footer_copyright #}
								</div>
							</div>
						{% endif %}

					</footer>
				</div>
			</div>


		</div>
	</div>

</main>
<div class="outro">
	{% if page.footer_last %}
		{{ page.footer_last }}
	{% endif %}

	{# administrative trivial debugging; just inspecting variables and or display block of interest #}
	{% if is_admin %}

		{% if page.admin_only %}
			{{ page.admin_only }}
		{% endif %}

		<div class="admin key-values">
			<ul class="u-normal">
				{% for key, value in _context.node.status %}
					<li>{{ key }}</li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}
</div>

<style>

html[lang='ar'] .home-section {
	height:auto !important;
}

.post-graduation .main-title {
			font-size:1.75rem;
		}

	.testimonials-prev {
		display: block;
		position: absolute;
		z-index: 1000;
		top: 50%;
		transform: translateY(-50%);
		left:1rem;
		cursor:pointer;
	}

	.testimonials-next {
		display: block;
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1000;
		cursor:pointer;
	}
	.language-switcher-language-url ul.links li {
		white-space: nowrap !important;
	}

	.post-graduation .cid-rYBPYBkcrA .mbr-slider .carousel-control-prev {
		left: 0;
		margin-left: 2.5rem;
		right: auto;
	}

	.post-graduation .cid-rYBPYBkcrA .mbr-slider .carousel-control-next {
		right: 0;
		margin-right: 2.5rem;
		left: auto;
	}

	.post-graduation .video-container.main-frame .mbr-background-video {
		display: none !important;
	}

	@media(max-width:767px) {
		/* .language-switcher-language-url {
			display:none;
		} */

		.post-graduation .main-title {
			text-align:center;
		}

		.post-graduation .main-hero-banner {
			min-height: 235px;
			object-fit: cover;
		}
		.post-graduation .main-arrow-right {
			width: 100px;
			height: 100px;
			bottom: -50px;
		}
	}

	@media(min-width:768px) {

		.post-graduation .home-section {
			background: #fff;
		}


		.post-graduation header .lefsid .logoone a,
		.post-graduation header .lefsid .logoone span {
			height: 65px;
			background: url('{{ base_path ~ directory }}/media/logo/bigger/logo-post-graduation.png') center center no-repeat;
		}

		.post-graduation header .lefsid .logoone {
			width: 260px;
			margin: 9px 10px 15px 0;
		}

		.post-graduation header .pull-right .portal-wrap > a .fa {
			display: inline-block !important;
			color: #000 !important;
		}

		.post-graduation header .pull-right .portal-wrap > a span {
			display: none;
		}

		.post-graduation .header .pull-right .portal-wrap {
			padding-bottom: 25px;
		}

		.post-graduation .main-arrow-right {
			position: absolute;
			right: 0;
			bottom: -60px;
			padding: 1.25rem;
			width: 120px;
			height: 120px;
		}

		/* .post-graduation .language-switcher-language-url {
			visibility: hidden;
			display: none;
		} */

		.post-graduation #block-navigation-extras-v2.mt-1 {
			margin: 2rem 0 0 !important;
			padding: 0 !important;
		}

		.post-graduation header .tb-megamenu-nav .tb-megamenu-item > a,
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > span {
			padding: 32px 6px;
		}
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > a,
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > span {
			color: #000 !important;
		}

		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item:last-child > a,
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item:last-child > span {
			color: #d5202a !important;
			font-weight:700;
		}

		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item .tb-megamenu-submenu.dropdown-menu {
			background: #fff !important;
		}

		.post-graduation header .tb-megamenu .tb-megamenu-block .block-inner h1,
		.post-graduation header .tb-megamenu .tb-megamenu-block .block-inner h2,
		.post-graduation header .tb-megamenu .tb-megamenu-block .block-inner h3 {
			color: #000 !important;
		}

		.post-graduation header .pull-right .search-wrap .fa {
			color: #000 !important;
		}

		.post-graduation header .pull-right .arabic-programs > a,
		header .pull-right .portal-wrap > a {
			color: #000 !important;
		}

		.post-graduation header .pull-right .portal-wrap ul {
			background: #fff !important;
			min-width: 150px;
		}

		.post-graduation header.forced-hover .pull-right .portal-wrap,
		.post-graduation header.forced-hover .pull-right .portal-wrap a,
		.post-graduation header.forced-hover .pull-right .search-wrap button,
		.post-graduation header.headroom--not-bottom:not(.headroom--top) .pull-right .portal-wrap,
		.post-graduation header.headroom--not-bottom:not(.headroom--top) .pull-right .portal-wrap a,
		.post-graduation header.headroom--not-bottom:not(.headroom--top) .pull-right .search-wrap button,
		.post-graduation header.headroom--not-top .pull-right .portal-wrap,
		.post-graduation header.headroom--not-top .pull-right .portal-wrap a,
		.post-graduation header.headroom--not-top .pull-right .search-wrap button,
		.post-graduation header.without-hero .pull-right .portal-wrap,
		header.without-hero .pull-right .portal-wrap a,
		.post-graduation header.without-hero .pull-right .search-wrap button,
		header:hover .pull-right .portal-wrap,
		.post-graduation header:hover .pull-right .portal-wrap a,
		header:hover .pull-right .search-wrap button {
			color: #000 !important;
		}
	}

	@media (max-width:1200px) {
		.main-header .container {
			max-width:100% !important;
		}
	}

	@media(max-width:1440px) {
		.main-header .container {
			padding:0;
		}

		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item>a, 
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item>span {
			font-size: 12px;
		}
	}

	@media(min-width:1441px) {

		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item>a, 
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item>span {
			font-size: 13px;
		}
	}
	
	
	
body.spring_2019 .main-footer .footer-links {
		background: url(/staging/themes/indicud/css/../media/default/canada-leaf2.png) bottom center no-repeat #414c55 !important;
		min-height: 380px !important;
		position: relative !important;
	}
</style>
