<div class="wrapper spring_2019">
<section
				class="wopadd home-section flex-column-fix">
					{# new menu - we_megamenu #}
					<header class="main-header we-megamenu">
						<div class="container sticky d-flex text-align-left p-0">
							{# logo #}
							{# DONT :://:://DELETE:://::// for spring 2020; new icon #}
								{% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
									<div class="d-flex logo-wrapper mr-3 logo  position-relative"> 
									<a href="/">
										<img src="{{ base_path }}{{ active_theme_path() }}/media/logo/bigger/logo-original.png"/>
									</a>
								</div>
							{% else %}
								<div class="d-flex logo-wrapper mr-2 logo-wrapper">
									<span class="logo"><!-- empty --></span>
								</div>
							{% endif %}
							{# /logo #}

							<div class="d-flex menu-wrapper flex-column justify-content-center text-right">
								{{ page.header_2019v01 }}
							</div>
						</div>
					</header>
			</section>


	{% if page.banner %}


		{{ page.banner }}


	{% endif %}

	{% set with_sidebar = 0 %}
	{% if page.sidebar_first or page.sidebar_second or page.secondary_menu %}
		{% set with_sidebar = 1 %}
	{% endif %}

	<main role="main" class="main{{ with_sidebar == 0 ? " without-sidebar" : " with-sidebar" }} {{ page.custom.with_or_without_hero }}">
		<a id="main-content"></a>

		<div class="container flex-column-fix">
			{% if with_sidebar == 1 %}
				{% if page.secondary_menu %}
					<div class="col col-12 p-0 pt-md-3 pb-md-3">
						<!--Accordion wrapper-->
						<div class="accordion md-accordion accordion-3 z-depth-1-half mb-0" id="accordionTitleContentNavigation" role="tablist" aria-multiselectable="true">
							<!-- Accordion card -->
							<div class="card cud border-0 rounded-0">

								<!-- Card header -->
								<div class="card-header bg-transparent px-0" role="tab" id="headingTitleContentNavigation">
									<div class="row flex-column-fix">
										<div class="col col-9 col-md-11">
											<h1 class="d-inline-block m-0" style="color:#000">{{ page['#title'] }}</h1>
										</div>
										<div
											class="col col-3 col-md-1 d-flex align-items-center justify-content-end">
											{# https://codepen.io/designcouch/pen/Atyop #}
											<div id="nav-burger-icon" class="float-right m-0" data-toggle="collapse" data-parent="#accordionTitleContentNavigation" href="#collapseTitleContentNavigation" aria-expanded="true" aria-controls="collapseTitleContentNavigation">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
											</div>
										</div>
									</div>

								</div>

								<!-- Card body -->
								<div id="collapseTitleContentNavigation" class="collapse" role="tabpanel" aria-labelledby="headingTitleContentNavigation" data-parent="#accordionTitleContentNavigation">
									<div class="card-body px-0">
										{{ page.secondary_menu }}
									</div>
								</div>
							</div>
							<!-- / Accordion card -->
					</div>
				<!--/ Accordion wrapper-->
				{% endif %}
			{% endif %}
			
			<div class="main_content row flex-column-fix">
				{% if page.content %}
					<div class="col col-12">
						{{ page.content }}
					</div>
				{% endif %}
				<div class="col col-12 bottom">
					<div class="row flex-column-fix">
						{% if page.content_bottom_left_side %}
							<div class="col col-12 col-md-9 bottom-left">
								{{ page.content_bottom_left_side }}
							</div>
						{% endif %}
						{% if page.content_bottom_right_side %}
							<div class="col col-12 col-md-3 bottom-right">
								{{ page.content_bottom_right_side }}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</main>

	{% if page.content_after %}
		<div class="after-main-content">
			{{ page.content_after }}
		</div>
	{% endif %}


	<footer class="container-fluid wopadd main-footer">
		<div class="footer-links">
			{% if page.footer_link %}
				{{ page.footer_link }}
			{% endif %}
		</div>

		<div class="copyrights">
			<div class="container">
				{% if page.footer_copyright %}
					{{ page.footer_copyright }}
				{% endif %}
			</div>
		</div>

	</footer>

</div>

<div class="outro">
	{% if page.footer_last %}
		{{ page.footer_last }}
	{% endif %}

	{# administrative trivial debugging; just inspecting variables and or display block of interest #}
	{% if is_admin %}

		{% if page.admin_only %}
			{{ page.admin_only }}
		{% endif %}

		<div class="admin key-values">	
			<ul class="u-normal">
				{% for key, value in _context.node.status %}
					<li>{{ key }}</li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}
</div>