<div class="wrapper">
<section
				class="wopadd home-section flex-column-fix">
					{# new menu - we_megamenu #}
					<header class="main-header we-megamenu">
						<div class="container sticky d-flex text-align-left p-0">
							{# logo #}
							{# DONT :://:://DELETE:://::// for spring 2020; new icon #}
								{% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
									<div class="d-flex logo-wrapper mr-3 logo  position-relative"> 
									<a href="/">
										<img src="{{ base_path }}{{ active_theme_path() }}/media/logo/bigger/logo-original.png"/>
									</a>
								</div>
							{% else %}
								<div class="d-flex logo-wrapper mr-2 logo-wrapper">
									<span class="logo"><!-- empty --></span>
								</div>
							{% endif %}
							{# /logo #}

							<div class="d-flex menu-wrapper flex-column justify-content-center text-right">
								{{ page.header_2019v01 }}
							</div>
						</div>
					</header>
			</section>
    {% if page.banner %}


        {{ page.banner }}


    {% endif %}

    {% set with_sidebar = 0 %}
    {% if page.sidebar_first or page.sidebar_second %}
        {% set with_sidebar = 1 %}
    {% endif %}

    <main role="main" class="main{{ with_sidebar == 0 ? " without-sidebar" : " with-sidebar" }} {{ page.custom.with_or_without_hero }}">
        <a id="main-content"></a>

        <div class="container">

            {% if with_sidebar == 1 %}
                {% if page.sidebar_first %}
                    <aside class="sidebar">

                        <h3 class="visible-xs sidebar__opener" data-oclose-opener>
                            <span class="menu-icon fa fa-bars" aria-hidden="true">&nbsp;</span>
                            <i>&nbsp;</i>
                        </h3>
                        <div class="sidebar__slide" data-oclose-slide>
                            {{ page.sidebar_first }}
                        </div>

                    </aside>
                {% endif %}
            {% endif %}


            <div class="main-content">
                {{ page.content }}
            </div>
        </div>


    </main>

    {% if page.content_after %}
        <div class="container">
            {{ page.content_after }}
        </div>
    {% endif %}


    <footer class="container-fluid wopadd main-footer">
        <div class="footer-links">
            {% if page.footer_link %}
                {{ page.footer_link }}
            {% endif %}
        </div>

        <div class="copyrights">
            <div class="container">
                {% if page.footer_copyright %}
                    {{ page.footer_copyright }}
                {% endif %}
            </div>
        </div>

    </footer>

</div>


<div class="outro">
	{% if page.footer_last %}
		{{ page.footer_last }}
	{% endif %}

	{# administrative trivial debugging; just inspecting variables and or display block of interest #}
	{% if is_admin %}

		{% if page.admin_only %}
			{{ page.admin_only }}
		{% endif %}

		<div class="admin key-values">	
			<ul class="u-normal">
				{% for key, value in _context.node.status %}
					<li>{{ key }}</li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}
</div>