{# /graduation - bespoke devs staging /graduation #}

<main role="main" id="main" class="{{ page.custom.video }}" data-video="{{ page.custom.video }}">
	<a id="main-content"></a>


	<div class="post-graduation p-0">
		<div
			class="wrapper">
			<!-- home Content -->
<section
				class="wopadd home-section flex-column-fix">
					{# new menu - we_megamenu #}
					<header class="main-header we-megamenu">
						<div class="container sticky d-flex text-align-left p-0">
							{# logo #}
							{# DONT :://:://DELETE:://::// for spring 2020; new icon #}
								{% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
									<div class="d-flex logo-wrapper mr-3 logo  position-relative"> 
									<a href="/">
										<img src="{{ base_path }}{{ active_theme_path() }}/media/logo/bigger/logo-original.png"/>
									</a>
								</div>
							{% else %}
								<div class="d-flex logo-wrapper mr-2 logo-wrapper">
									<span class="logo"><!-- empty --></span>
								</div>
							{% endif %}
							{# /logo #}

							<div class="d-flex menu-wrapper flex-column justify-content-center text-right">
								{{ page.header_2019v01 }}
							</div>
						</div>
					</header>
			</section>

			<!-- /#home-content-wrapper -->
			<div class="fluid-container mb-5">
				<div class="row">
					<div class="col col-12 p-0 text-center">
						<div class="d-none d-md-block card border-0">
							<img src="{{ base_path ~ directory }}/media/img/graduation-2020/post/virtual-graduation-dubai--university-burj-khalifa.jpg" alt="" title=""/>
						</div>
						<div class="d-block d-md-none card border-0">
							<img src="{{ base_path ~ directory }}/media/img/graduation-2020/post/mobile--virtual-graduation-dubai--university-burj-khalifa.jpg" alt="" title=""/>
						</div>
					</div>
				</div>
			</div>


			<div class="container mt-3 mb-3">
				<div class="row">
					<div class="col col-12 col-md-8 mx-auto">
						<h1 class="main-title mb-0 cud fw-500 fs-sm-1-5 text-center">VIRTUAL GRADUATION CEREMONY
						</h1>
						<h1 class="main-title mb-3 cud fw-500 fs-sm-1-5 text-center">CLASS OF 2020
						</h1>
						<h4 class="mb-3 cud fw-100 font-italic fs-sm-1-25 text-center">The Beauty of Endurance commemorates our 10th
							<br class="d-none d-md-block"/>
							graduation ceremony
						</h4>
						<h3 class="mb-3 cud fw-100 text-center">FRIDAY, JUNE 5, 2020 | 20:00 (GMT+4)
						</h3>
						<div class="text-center mb-1 mb-md-3">
							<div class="mb-1 video-container mx-auto">
								<iframe allowfullscreen="allowFullScreen" frameborder="0" height="337" src="https://www.youtube.com/embed/ZWNnq69O_fs?controls=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;mute=0" width="598"></iframe>
							</div>
							<div class="text-center">
								<a href="https://www.cud.ac.ae/fall-2020-financial-relief#register" class="btn btn-primary px-5 py-3" style="border-radius:50px;background-color:#d5202a;outline:0;border:0;">Apply Online
									<i class="far far-long-arrow-right"><!-- empty --></i>
								</a>
							</div>
						</div>

						<h1 class="mb-3 cud fw-500 fs-sm-1-5 text-center">Canadian University Dubai 10th Graduation
							Ceremony Reaches New Heights
						</h1>
						<h4 class="mb-1 cud fw-100 font-italic fs-sm-1-25 text-center">Under the patronage of His Excellency Sheikh Nahayan Mabarak Al Nahayan, Minister of Tolerance, the Class of 2020 illuminates the world's tallest building</h4>
					</div>

				</div>
			</div>

			<div class="container mb-5">
				<div class="row">
					<div class="col col-12">
						<div class="news mb-5">
							<p class="cud fw-100 text-justify">
								<strong>Dubai, United Arab Emirates, 6th June 2020:</strong>
								Canadian University Dubai made history last night as it became the first university in the world to display images of its graduating class on the world’s tallest building, the Burj Khalifa. The ceremony was the leading Dubai based university’s 10th graduation event and recognized its class of 2020 by illuminating one of the most iconic buildings in the world with the faces of this year’s graduates.
							</p>
							<p class="cud fw-100 text-justify">The virtual graduation ceremony took place in the presence of His Excellency Sheikh Nahayan Mabarak Al Nahayan, Minister of Tolerance, as well as the university’s chancellor, President, faculty members and students under the theme of ‘The Beauty of Endurance’, and was live streamed on the university’s website through YouTube and Facebook.
							</p>
							<p class="cud fw-100 text-justify">A building known for being a symbol of infinite possibilities, Canadian University Dubai projected graduate's images across the iconic Burj Khalifa's exterior LED screens as part of the university's virtual graduation ceremony. This never before seen event was a reminder to its 2020 graduates that the future is bright after the university had to postpone its graduation ceremony this year due to the COVID-19 pandemic. It was also a way to bring its graduates together virtually after months of social distancing.</p>
							<p class="cud fw-100 text-justify">
								<strong>Mr. Buti Saeed Al Ghandi, Chancellor, Canadian University Dubai, said:</strong>
								<span class="text-italic">“Just a little over two months ago, we took the necessary steps to move to a virtual campus, and now we have hosted our first ever virtual graduation. These seamless digital changes prove the sheer determination, hard work and compassion to succeed from our students and faculty in this time of uncertainty.”</span>
							</p>
							<p class="cud fw-100 text-justify">
								<strong>Dr. Karim Chelli, President and Vice-Chancellor, Canadian University Dubai said:</strong>
								<span class="text-italic">“The past few months have been unprecedented. COVID-19 disrupted our routines and forced us to look at things differently. We came to understand that the world is changing. [Gradutes] you simultaneously adapted and stayed focused, and you supported each other with empathy through virtual platforms. The Canadian University Dubai family has learned from you. You showed us that rethinking the status quo adds value to our organization."</span>
							</p>
							<p class="cud fw-100 text-justify">
								<strong>Laith Wazani, 2020 Graduate of Canadian University Dubai commented:</strong>
								<span class="text-italic">“It really has been a year to remember for the Canadian University Dubai faculty members and we wanted to join our students and celebrate together their graduation from afar. Together we have faced many challenges and had to learn new ways to adapt and change to deliver a healthy learning environment during a global pandemic but it is safe to say we have gone above and beyond and it is a pleasure to see the class of 2020 graduate in the most memorable way possible.”</span>
							</p>
							<p class="cud fw-100 text-justify">
								<strong>Dana Haroun, 2020 Graduate of Canadian University Dubai said:</strong>
								<span class="text-italic">“Canadian University Dubai showed us that no matter what the situation is, they can find a way to celebrate us and make us feel happy. Having my picture displayed on the most iconic building of Dubai made me feel really appreciated and thrilled.”</span>
							</p>

							<p class="cud fw-100 font-italic">
								<strong>Permalink:
									<a href="https://www.cud.ac.ae/news/canadian-university-dubais-10th-graduation-ceremony-reaches-new-heights">Canadian University Dubai’s 10th Graduation Ceremony Reaches New Heights</a>
								</strong>
							</p>
						</div>
						
						<div class="thumbs">
							<h3>Gallery
								<i aria-hidden="true" class="fa fa-camera x-small"><!-- empty --></i>
							</h3>
							{{ drupal_view('gallery', 'grad_2020') }}
						</div>
					</div>
				</div>
			</div>

			
			<div class="container mb-4">
				<div class="row">
					<div class="col-12 text-center">
						<h1 class="main-title mb-2 cud fs-sm-1-5">Watch our Virtual Graduation 2020</h1>
						<h2 class="cud fs-sm-1">Highlight videos</h2>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col col-12 col-md-4">
						<div class="text-center mb-2 mb-md-5">
							<div class="embed-responsive embed-responsive-16by9" style="height:auto">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_y2S2BOyy34" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div class="col col-12 col-md-4">
						<div class="text-center mb-2 mb-md-5">
							<div class="embed-responsive embed-responsive-16by9" style="height:auto">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G7IoBUkeeOw" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div class="col col-12 col-md-4">
						<div class="text-center mb-2 mb-md-5">
							<div class="embed-responsive embed-responsive-16by9" style="height:auto">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aTX22dWSVHc" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container mb-5">
				<div class="row">
					<div class="col col-12 text-center">
						<h1 class="cud fs-sm-1-5">Join the discussion.. <a href="https://twitter.com/hashtag/cudgrad" target="_blank">#CUDGRAD</a></h1>
						<a href="https://twitter.com/hashtag/cudgrad" target="_blank" class="btn btn-primary bg-transparent"><i class="fab fa-twitter fa-5x"  style="color: rgb(29, 161, 242);"><!-- empty --></i></a>
						{# <script async src="https://tool.socialwallpro.com/widgets/embed-social/embed.js" data-ratio="16/9" data-mode="display" data-wallurl="https://tool.socialwallpro.com/event/widget/animation/5ed7615b81cae?handleFullScreen=false" data-width="responsive" data-height="auto"></script> #}

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col col-12">
					<footer class="container wopadd main-footer">
						{% if page.footer_link %}
							<div class="footer-links">
								{{ page.footer_link }}
							</div>
						{% endif %}

						{% if page.footer_copyright %}
							<div class="copyrights">
								<div class="container">
									{{ page.footer_copyright }}
								</div>
							</div>
						{% endif %}

					</footer>
				</div>
			</div>


		</div>
	</div>

</main>
<div class="outro">
	{% if page.footer_last %}
		{{ page.footer_last }}
	{% endif %}

	{# administrative trivial debugging; just inspecting variables and or display block of interest #}
	{% if is_admin %}

		{% if page.admin_only %}
			{{ page.admin_only }}
		{% endif %}

		<div class="admin key-values">
			<ul class="u-normal">
				{% for key, value in _context.node.status %}
					<li>{{ key }}</li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}
</div>

<style>
.post-graduation .main-title {
			font-size:1.75rem;
		}
	.language-switcher-language-url ul.links li {
		white-space: nowrap !important;
	}

	.post-graduation .cid-rYBPYBkcrA .mbr-slider .carousel-control-prev {
		left: 0;
		margin-left: 2.5rem;
		right: auto;
	}

	.post-graduation .cid-rYBPYBkcrA .mbr-slider .carousel-control-next {
		right: 0;
		margin-right: 2.5rem;
		left: auto;
	}

	.post-graduation .video-container.main-frame .mbr-background-video {
		display: none !important;
	}

	@media(min-width:768px) {
		.post-graduation .home-section {
			background: #fff;
		}


		.post-graduation header .lefsid .logoone a,
		.post-graduation header .lefsid .logoone span {
			height: 65px;
			background: url('{{ base_path ~ directory }}/media/logo/bigger/logo-post-graduation.png') center center no-repeat;
		}

		.post-graduation header .lefsid .logoone {
			width: 260px;
			margin: 9px 30px 15px 0;
		}

		.post-graduation header .pull-right .portal-wrap > a .fa {
			display: inline-block !important;
			color: #000 !important;
		}

		.post-graduation header .pull-right .portal-wrap > a span {
			display: none;
		}

		.post-graduation .header .pull-right .portal-wrap {
			padding-bottom: 25px;
		}

		.post-graduation .main-arrow-right {
			position: absolute;
			right: 0;
			bottom: -60px;
			padding: 1.25rem;
			width: 120px;
			height: 120px;
		}

		.post-graduation .language-switcher-language-url {
			visibility: hidden;
			display: none;
		}

		.post-graduation #block-navigation-extras-v2.mt-1 {
			margin: 2rem 0 0 !important;
			padding: 0 !important;
		}

		.post-graduation header .tb-megamenu-nav .tb-megamenu-item > a,
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > span {
			padding: 32px 6px;
		}
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > a,
		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item > span {
			color: #000 !important;
		}

		.post-graduation header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item .tb-megamenu-submenu.dropdown-menu {
			background: #fff !important;
		}

		.post-graduation header .tb-megamenu .tb-megamenu-block .block-inner h1,
		.post-graduation header .tb-megamenu .tb-megamenu-block .block-inner h2,
		header .tb-megamenu .tb-megamenu-block .block-inner h3 {
			color: #000 !important;
		}

		.post-graduation header .pull-right .search-wrap .fa {
			color: #000 !important;
		}

		.post-graduation header .pull-right .arabic-programs > a,
		header .pull-right .portal-wrap > a {
			color: #000 !important;
		}

		.post-graduation header .pull-right .portal-wrap ul {
			background: #fff !important;
			min-width: 150px;
		}

		.post-graduation header.forced-hover .pull-right .portal-wrap,
		.post-graduation header.forced-hover .pull-right .portal-wrap a,
		.post-graduation header.forced-hover .pull-right .search-wrap button,
		.post-graduation header.headroom--not-bottom:not(.headroom--top) .pull-right .portal-wrap,
		.post-graduation header.headroom--not-bottom:not(.headroom--top) .pull-right .portal-wrap a,
		.post-graduation header.headroom--not-bottom:not(.headroom--top) .pull-right .search-wrap button,
		.post-graduation header.headroom--not-top .pull-right .portal-wrap,
		.post-graduation header.headroom--not-top .pull-right .portal-wrap a,
		.post-graduation header.headroom--not-top .pull-right .search-wrap button,
		.post-graduation header.without-hero .pull-right .portal-wrap,
		header.without-hero .pull-right .portal-wrap a,
		.post-graduation header.without-hero .pull-right .search-wrap button,
		header:hover .pull-right .portal-wrap,
		.post-graduation header:hover .pull-right .portal-wrap a,
		header:hover .pull-right .search-wrap button {
			color: #000 !important;
		}
	}

	@media(max-width:767px) {
		.post-graduation .main-arrow-right {
			width: 100px;
			height: 100px;
			bottom: -50px;
		}
	}
</style>
