{# 
	view: banner_hero_basic 
	display: node_dependent # pages that utilizes landing page hero banners that has node dependency field provided
	slider: settings none
	slider: caption tick id box # this will be used in the theme slider function for finding the correct landing page hero banner node
#}

{% block slick_slide_banner_hero_basic %}
	<div class="slide__media">
		{% set media = item.slide %}
		{% if not item.custom.force_mobile_image %}
			{% set media = item.slide %}
		{% endif %}

		{# simple-url #}
		{% if item.custom.simple_url %}
			<a href="{{ item.custom.simple_url }}">
			{% endif %}

			<div class="card border-0">
				<div class="card-img">
					{% if item.custom.slide_secondary %}
						{# night and day / before and after #}
						<div class="d-none d-md-block">
							<div class="before-and-after cocoen">
								{{ item.custom.slide_primary }}
								{{ item.custom.slide_secondary }}
							</div>
						</div>

						{% if item.custom.force_mobile_image_secondary %}
							<div class="d-md-none">
								<div class="before-and-after cocoen">
									{{ item.custom.force_mobile_image }}
									{{ item.custom.force_mobile_image_secondary }}
								</div>
							</div>
						{% else %}
							<div class="d-md-none">
								<div class="before-and-after cocoen">
									{{ item.custom.slide_primary }}
									{{ item.custom.slide_secondary }}
								</div>
							</div>
						{% endif %}
					{% else %}
						<div class="d-none d-md-block">
							{{ item.slide }}
						</div>
						{% if item.custom.force_mobile_image %}
							<div class="d-md-none {{is_this_with_video}}">
								{{ item.custom.force_mobile_image }}
							</div>
						{% else %}
							<div class="d-md-none {{is_this_with_video}}">
								{{ media }}
							</div>
						{% endif %}
					{% endif %}
				</div>
				
				{% if item.caption.data %}
					<div class="card-img-overlay no-bg-hover">
						{{ item.caption.data }}
					</div>
				{% endif %}
			</div>

			{{ item.custom.body }}

			{% if item.custom.simple_url %}
			</a>
		{% endif %}
		{# /simple-url #}

	</div>
{% endblock %}
