{# 

		make sure that the  captions are ticked on the view, the captions will be available on the entity part of the slider, see cud theme
		https://github.com/stamat/jquery.youtube-background
		
 #}

{% if settings.view_name == "primary_hero" %}
	{% set classes = [
    'slick__slide', 'slide', 'slide--' ~ delta,
    item.slide is empty ? 'slide--text',
    settings.layout ? 'slide--caption--' ~ settings.layout|clean_class,
    settings.class ? settings.class,
    'primary_hero' ]
	%}

{% endif %}

{% if item.custom.page_config %}
	<style type="text/css">
		{% if item.custom.page_config.hero.isPatternOverlay %}
			.hero-navigation-promotion-in-one .card .card-img-overlay.config-overlay-{{item.custom.nid}}{
				{{item.custom.page_config.hero.patternOverlay}}
			}
		{% else %}
			.hero-navigation-promotion-in-one .card .card-img-overlay.config-overlay-{{item.custom.nid}}{
				background: {{item.custom.page_config.hero.colorOverlay}}}
		{% endif %}
	</style>
{% endif %}

{% block slick_slide_primary_hero %}
	{% set media = item.slide %}

	<div class="slide__media" data-nid="{{ item.custom.nid }}" data-youtubeid="{{ item.custom.video }}" data-isnew="{{ item.custom.is_new }}">
		<div class="card m-0 p-0 border-0">
		
			{% if item.custom.is_livestream or item.custom.is_livestream_only  %}
					<div class="d-none d-md-block card-img border-0">
								<div class="youtube-background" data-ytbg-play-button="true" data-youtube="https://www.youtube.com/watch?v={{ item.custom.video }}"></div>

								<script type="text/javascript">
												jQuery(document).ready(function() {
																jQuery('[data-youtube]').youtube_background();
												});
								</script>
					</div>
						<div class="d-md-none card-img border-0">
							{% if item.custom.url %}
													<a href="{{ item.custom.url }}">							
												{% endif %}
							{% if item.custom.mobile_1 %}
										{{ item.custom.mobile_1 }}
							{% endif %}
								{% if item.custom.url %}
													</a>							
												{% endif %}
							</div>

							{% if item.custom.body %}
								<div class="d-none d-md-block card-img-overlay config-overlay-{{ item.custom.nid }} border-0 p-0 m-0">
									{{ item.custom.body }}
								</div>
								<div class="d-md-none card-img-overlay border-0 p-0 m-0">
									{{ item.custom.body }}
								</div>

							{% endif %} {# /if custom body #}
			{% else %}
						{% if item.custom.url and item.custom.is_popup %}
													<a href="{{ item.custom.url }}" class="popup">
												{% elseif item.custom.url %}
													<a href="{{ item.custom.url }}">							
												{% endif %}
												
							<div class="d-none d-md-block">
								{% if item.custom.hero_2 %}
									<div class="before-and-after cocoen">
										{{ item.custom.hero_1 }}
										{{ item.custom.hero_2 }}
									</div>
								{% else %}
									{{ media }}
								{% endif %}
							</div>

							{% if item.custom.mobile_1 %}
								<div class="d-md-none">
									{% if item.custom.mobile_2 %}
										<div class="before-and-after cocoen">
											{{ item.custom.mobile_1 }}
											{{ item.custom.mobile_2 }}
										</div>
									{% else %}
										{{ item.custom.mobile_1 }}
									{% endif %}
								</div>
							{% endif %}

							{% if item.custom.url %}
							</a>
							{% endif %}

							
							{% if item.custom.body %}
								<div class="d-none d-md-block card-img-overlay config-overlay-{{ item.custom.nid }} border-0 p-0 m-0">
									{{ item.custom.body }}
								</div>
								<div class="d-md-none card-img-overlay border-0 p-0 m-0">
									{{ item.custom.body }}
								</div>

							{% endif %} {# /if custom body #}
							
			{% endif %} {# / else not live #}

		</div>
	</div>
{% endblock %}
