{#
/**
 * @file
 * Default theme implementation for a slick wrapper.
 *
 * Available variables:
 * - items: A list of items containing main and thumbnail of slick.html.twig
 *   which can be re-position using option Thumbnail position.
 * - attributes: HTML attributes to be applied to the list.
 * - settings: An array containing the given settings.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'slick-wrapper',
    settings.nav ? 'slick-wrapper--asnavfor',
    settings.skin ? 'slick-wrapper--' ~ settings.skin|clean_class,
    settings.skin_thumbnail ? 'slick-wrapper--' ~ settings.skin_thumbnail|clean_class,
    settings.vertical ? 'slick-wrapper--v',
    settings.vertical_tn ? 'slick-wrapper--v-tn',
    settings.thumbnail_position ? 'slick-wrapper--tn-' ~ settings.thumbnail_position|clean_class,
    'over' in settings.thumbnail_position ? 'slick-wrapper--tn-overlay',
    'over' in settings.thumbnail_position ? 'slick-wrapper--tn-' ~ settings.thumbnail_position|replace({ 'over-' : '' }),
	(settings.view_name == "primary_hero") ? 'cud z-idx-100'
  ]
%}

{% set content %}
{% for item in items %}
	{{ item }}
{% endfor %}
{% endset %}

{% spaceless %}
	{% if settings.nav %}
		<div{{attributes.addClass(classes)|without('id')}}>
			{{ content }}
		</div>
	{% else %}
		{{ content }}
	{% endif %}
{% endspaceless %}

{# % if settings.view_name == "primary_hero" % }
	< div class="main-pointer position-absolute w-100">
		< a name="carousel" id="carousel" class="pointer animated infinite fadeInDownCustom">
			< i class="fa fa-chevron-down hidden-sm" aria-hidden="true"><!-- empty --></ i>
		< /a>
	< / div>
{ % endif % #}
