<li {{ attributes }} >

    {% if link['title'] != '' and link['url']  == '' %}
        <span {{ link['attributes'] }}>
            {# { link['title']|t } #}
            {{ link.title_translate|t }}
        </span>
    {% else %}
            {% if link %}
            <a href="{{ link['url'] }}" {{ link['attributes'] }}>
            {% endif %}

            {% if  item_config['xicon'] %}
                <i class="{{ item_config['xicon'] }}"></i>
            {% endif %}
            
            {% if link %}
                {# { link['title']|t } #}
                {{ link.title_translate|t }}
            
           {% endif %}
        
           {# ++g++ % if submenu and block_config['auto-arrow'] %}
               <span class="caret"></span>
                {% endif % #}
            {% if item_config['caption'] %}
                <span class="mega-caption"> {{ item_config['caption']|t }}</span>
            {% endif %}
      
            {% if link %}
            </a>
            {% endif %}

    {% endif %}
    {{ submenu }}
</li>