{% set is_with_image = 0 %}
{% for k, field in fields %}
    {% if k == "field_image" %}
        {% if field.content|length > 0 %}
            {% set is_with_image = 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="faculty-profile non-circular cud-news-events">

    {% if is_with_image == 1 %}
        <div class="faculty-profile-photo">
            {{ fields['field_image'].content }}
        </div>
    {% endif %}


    <div class="faculty-profile-text">
        <span><strong>{{ fields['title'].content }}</strong></span>

        <div>{{ fields['body'].content }}</div>

        <span class="small">{{ fields['created'].content }}</span>

        {% if fields['edit_node'].content %}
            {{ fields['edit_node'].content }}
        {% endif %}

    </div>
</div>