{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Reference: https://makedrupaleasy.com/articles/drupal-8-make-beautiful-views-exposed-filters-form-custom-twig-template-and-own-formating
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{# % if q is not empty % #}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{# { q } #}
{# % endif % #}
{# { form } #}

<div class="privileges">
<div class="row flex-column-fix">
  <div class="col col-12 col-md-9">
    <div class="form-group">
      {{ form.combine }}
    </div>
  </div>
  <div class="col col-12 col-md-3">
    {{ form.actions }}
  </div>
</div>
 <div class="row flex-column-fix">
    <div class="col col-md-4 d-none d-sm-block"><!-- empty --></div>
    <div class="col col-12 col-md-4 text-align-center">
        <div class="form-group">
            {{ form.field_group_privilege_value }}
        </div>
    </div>
    <div class="col col-md-4 d-none d-sm-block"><!-- empty --></div>
</div>

{{ form|without('combine', 'field_group_privilege_value', 'actions') }}
</div>