{% set is_with_image = 0 %}
{% for k, field in fields %}
    {% if k == "field_image" %}
        {% if field.content|length > 0 %}
            {% set is_with_image = 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="faculty-profile non-circular cud-news-events">


    <a href="{{ fields['path'].content|striptags }}">

        {% if is_with_image == 1 %}
            <div class="faculty-profile-photo">
                {{ fields['field_image'].content }}
            </div>
        {% endif %}


        <div class="faculty-profile-text">

            <strong class="faculty-profile-title">{{ fields['title'].content }}</strong>

            {{ fields['body'].content }}

        </div>
    </a>

</div>