{% set is_with_image = 0 %}
{% for k, field in fields %}
    {% if k == "field_image" %}
        {% if field.content|length > 0 %}
            {% set is_with_image = 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

<div data-href="{{ fields.field_video.content|striptags|trim }}" class="popup">
    <div class="testimonial">
        <div class="row">
            <div class="col col-4 col-md-4 col-xs-4 content">
                    <div class="image">{{ fields.field_image.content }}</div>
            </div>
            <div class="col col-8 col-md-8 col-xs-8">
                    <div class="body">{{ fields.body.content }}</div>
            </div>
        </div>
        <div class="row">
                <div class="col col-12 col-md-12 col-xs-12">
                        <div class="body b">{{ fields.body_1.content }}</div>
                  </div>         
            <div class="col col-12 col-md-12 col-xs-12">


                  <div class="watch"><span>
                      {% if language.getId() != 'ar' %}
                        Watch the video
                      {% else %}
                      شاهد الفيديو هنا
                      {% endif %}
                    </span></div>
           

           </div>          
        </div>
        {% if fields['edit_node'].content|striptags|trim != "" %}
        <div class="row">
                <div class="col col-12 col-md-12 col-xs-12">
                      {{ fields.edit_node.content }}
                </div>          
        </div>        
        {% endif %}
    </div>
</div>