<div class="group">
    <h2 class="group-title">{{ title }}</h2>
    {% if fields['title'] %}
        {{ fields['title'].content }}
        {% if fields['edit_node'].content %}
            {{ fields['edit_node'].content }}
        {% endif %}
    {% else %}
        <div class="details">
            {{ fields['field_image'].content }}
            {{ fields['body'].content }}
        </div>
    {% endif %}

</div>