{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Reference: https://makedrupaleasy.com/articles/drupal-8-make-beautiful-views-exposed-filters-form-custom-twig-template-and-own-formating
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{# % if q is not empty % #}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{# { q } #}
{# % endif % #}
{# { form } #}
<style type="text/css">
.form-item-categories label,
.form-item-fees label {
    display:none;
}
</style>
<div class="continuing-education">
<div class="row">
  <div class="col col-12 col-md-6">
    <div class="form-group">
      {{ form.contents }}
    </div>
  </div>
  <div class="col col-5 col-md-2">
    <div class="form-group">
      {{ form.fees }}
    </div>
  </div>
  <div class="col col-5 col-md-2">
    <div class="form-group">
      {{ form.categories }}
    </div>
  </div>
  <div class="col col-2 col-md-2 text-align-right">
    {{ form.actions }}
  </div>
</div>
 <div class="row">
    <div class="col col-md-4 d-none d-sm-block">&nbsp;</div>
    <div class="col col-12 col-md-4 text-align-center">
        <div class="form-group">
            {{ form.field_group_privilege_value }}
        </div>
    </div>
    <div class="col col-md-4 d-none d-sm-block">&nbsp;</div>
</div>

{{ form|without('contents', 'fees', 'categories', 'actions') }}
</div>