{% set is_with_image = 0 %}
{% for k, field in fields %}
	{% if k == "field_image" %}
		{# { kint(field.content|striptags('<img>')|trim) } #}
		{% if field.content|striptags('<img>')|trim|length > 0 %}
			{% set is_with_image = 1 %}
		{% endif %}
	{% endif %}
{% endfor %}

{% if is_with_image == 1 %}
	<div class="col col-4 col-md-3">
		<div class="img mb-3">
			{{ fields['field_image'].content }}
		</div>
	</div>
{% else %}
	<div class="col col-4 col-md-3">
		<div class="img mb-3">
			<img src="{{ directory }}/media/img/leave-grey.png"/>
		</div>
	</div>
{% endif %}

{# make sure that debug is off #}

<div class="col col-md-9">


	{% set field_date = fields['field_date'].content|render|striptags|split('|') %}
	{% set field_date_end = fields['field_date_end'].content|render|striptags|split('|') %}

	{% if field_date|length <= 3 %}
		<h3 class="cud fs-sm-1-25 mb-1 mb-md-2">{{ fields['title'].content }}</h3>

		<ul class="u-none small">
			{% for item in field_date %}
				{% set index = loop.index0 %}

				{% if index <= 2 %}
					{% if (field_date_end[index] is not null) and (field_date_end[index]|trim is not empty) %}
						<li>
							<i class="fa fa-calendar"><!-- empty--></i>
							{{ item }}
							&mdash;
							{{ field_date_end[index] }}</li>
					{% else %}
						<li>
							<i class="fa fa-calendar"><!-- empty--></i>
							{{ item }}</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	{% else %}
		<div class="S2019">
			<div class="collapsibleContent">
				<div class="card-header bg-transparent p-0 border-0" role="tab" id="headingTitleContentNavigationUpcomingDates{{ fields['nid'].content|render|striptags|trim }}">
					<div class="row flex-column-fix">
						<div class="col col-9">
							<h3 class="cud fs-sm-1-25 mb-1 mb-md-2">{{ fields['title'].content }}</h3>

						</div>
						<div class="col col-3 d-flex align-items-center justify-content-end">
							<a role="button" class="icons collapsed d-inline-block text-primary" data-toggle="collapse" href="#collapseUpcomingDates{{ fields['nid'].content|render|striptags|trim }}" aria-expanded="false" aria-controls="collapseUpcomingDates{{ fields['nid'].content|render|striptags|trim }}">
								<i class="far fa-chevron-down text-dark"><!-- empty --></i>
								<i class="far fa-chevron-up text-dark"><!-- empty --></i>
							</a>
						</div>
					</div>
				</div>
				<div class="collapse d-block" id="collapseUpcomingDates{{ fields['nid'].content|render|striptags|trim }}" aria-expanded="false">
					<div class="collapseInnerElementContent">
						<div class="summary">
							{% if field_date|length > 3 %}
								<ul class="u-none m-0 small">
									{% for item in field_date %}
										{% set index = loop.index0 %}

										{% if index <= 2 %}
											{% if (field_date_end[index] is not null) and (field_date_end[index]|trim is not empty) %}
												<li>
													<i class="fa fa-calendar"><!-- empty--></i>
													{{ item }}
													&mdash;
													{{ field_date_end[index] }}</li>
											{% else %}
												<li>
													<i class="fa fa-calendar"><!-- empty--></i>
													{{ item }}</li>
											{% endif %}
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</div>
						<div class="full">
							{% if field_date|length > 3 %}
								<ul class="u-none m-0 small">
									{% for item in field_date %}
										{% set index = loop.index0 %}

										{% if (field_date_end[index] is not null) and (field_date_end[index]|trim is not empty) %}
											<li>
												<i class="fa fa-calendar"><!-- empty--></i>
												{{ item }}
												&mdash;
												{{ field_date_end[index] }}</li>
										{% else %}
											<li>
												<i class="fa fa-calendar"><!-- empty--></i>
												{{ item }}</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
				<a role="button" class="nowrap text collapsed my-1 my-md-3 d-inline-block text-primary small" data-toggle="collapse" href="#collapseUpcomingDates{{ fields['nid'].content|render|striptags|trim }}" aria-expanded="false" aria-controls="collapseUpcomingDates{{ fields['nid'].content|render|striptags|trim }}"></a>
			</div>
		</div>

	{% endif %}

    {{ fields['edit_node'].content }}
</div>
