{% set is_with_image = 0 %}
{% for k, field in fields %}
	{% if k == "field_image" %}
		{% if field.content|length > 0 %}
			{% set is_with_image = 1 %}
		{% endif %}
	{% endif %}
{% endfor %}

<a class="use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;dialogClass&quot;:&quot;pidia&quot;,&quot;width&quot;:&quot;900&quot;}" href="{{ fields['path'].content|striptags }}">
	<div class="card d-inline-block h-100 w-100">

		<div class="card-header">
			<h6 class="card-title mb-0">{{ fields['title'].content }}</h6>
		</div>


		{% if is_with_image == 1 %}
			<div class="card-img-top p-3 text-center">
				<img class="mx-auto w-100" src="{{ fields['field_image'].content|render|trim|striptags }}" style="max-height:150px" />
			</div>
		{% endif %}


		<div class="card-body p-3 ">
			<p class="card-text">{{ fields['body'].content }}</p>
		</div>

		<div class="card-footer bg-transparent">
			<div class="description small font-weight-light">

				{% if fields['field_group_privilege'].content %}
					<p class="font-weight-normal mb-1">Privilege Group</p>
					{{ fields['field_group_privilege'].content }}
				{% endif %}

				<div class="xx-small">
					{{ fields['edit_node'].content }}
				</div>
			</div>
		</div>
	</div>
</a>
