<div class="faculty-profile">
    <div class="faculty-profile-text">
        <strong class="faculty-profile-title">{{ fields['title'].content }}</strong>
        <div class="biography">
            {{ fields['body'].content }}
        </div>
        {% if fields['edit_node'].content %}
            {{ fields['edit_node'].content }}
        {% endif %}
    </div>
</div>