{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{# % if q is not empty % #}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{# { q } #}
{# % endif % #}
{# { form } #}

<div class="row flex-column-fix">
  <div class="col col-12 col-lg-7 col-md-7 mb-2">
      {{ form.search }}
  </div>
  <div class="col col-6 col-lg-3 col-md-3 mb-2">
      {{ form.level }}
  </div>
  <div class="col col-6 col-lg-2 col-md-2 mb-2">
    {{ form.actions }}
  </div>
</div>

{{ form|without('search', 'level', 'actions') }}