<div class="faculty-profile">
    <div class="faculty-profile-photo">
        {{ fields['field_image'].content }}
    </div>
    <div class="faculty-profile-text">
        <strong class="faculty-profile-title">{{ fields['title'].content }}</strong>

        {% if "biography" in fields['field_tags'].content|trim %}
            <div class="biography">
                {{ fields['body'].content }}
            </div>
        {% else %}
            <div class="details">
                {{ fields['body_1'].content }}
            </div>
        {% endif %}

        {% if fields['edit_node'].content %}
            {{ fields['edit_node'].content }}
        {% endif %}
    </div>
</div>