<div class="faculty-profile">

	<div class="row">
		<div class="col col-4">
			<a class="use-ajax" href="{{ fields['view_node'].content|striptags|trim }}" data-dialog-type="dialog" data-dialog-options="{&quot;closeOnEscape&quot;:true, &quot;height&quot;:&quot;95%&quot;, &quot;width&quot;:&quot;60%&quot;,&quot;title&quot;:&quot;{{ fields['title'].content|striptags|trim }}&quot;}">

				<div class="faculty-profile-photo">
					{{ fields['field_image'].content }}
				</div>
			</a>
		</div>
		<div class="col col-8">
			<div class="faculty-profile-text">
				<a class="use-ajax" href="{{ fields['view_node'].content|striptags|trim }}" data-dialog-type="dialog" data-dialog-options="{&quot;closeOnEscape&quot;:true, &quot;height&quot;:&quot;95%&quot;, &quot;width&quot;:&quot;60%&quot;,&quot;title&quot;:&quot;{{ fields['title'].content|striptags|trim }}&quot;}">
					<strong class="faculty-profile-title">{{ fields['title'].content }}</strong>
				</a>

				{% if "biography" in fields['field_tags'].content|trim %}
					<div class="biography">
						<nav>
							<div class="nav nav-tabs" id="nav-tab{{ fields['nid'].content|striptags|trim }}" role="tablist{{ fields['nid'].content|striptags|trim }}">
								<a class="nav-item nav-link small active" id="nav-profile-tab{{ fields['nid'].content|striptags|trim }}" data-toggle="tab" href="#nav-profile{{ fields['nid'].content|striptags|trim }}" role="tab" aria-controls="nav-profile{{ fields['nid'].content|striptags|trim }}" aria-selected="true">
									<i class="fa far fa-user"><!-- empty --></i>
									Profile</a>
								<a class="nav-item nav-link small" id="nav-contact-tab{{ fields['nid'].content|striptags|trim }}" data-toggle="tab" href="#nav-contact{{ fields['nid'].content|striptags|trim }}" role="tab" aria-controls="nav-contact{{ fields['nid'].content|striptags|trim }}" aria-selected="false">
									<i class="fa far fa-phone"><!-- empty --></i>
									Contact</a>
							</div>
						</nav>

						<div class="tab-content mt-3" id="nav-tabContent{{ fields['nid'].content|striptags|trim }}">
							<div class="tab-pane fade show active" id="nav-profile{{ fields['nid'].content|striptags|trim }}" role="tabpanel" aria-labelledby="nav-profile-tab{{ fields['nid'].content|striptags|trim }}">{{ fields['body_1'].content }}</div>
							<div class="tab-pane fade" id="nav-contact{{ fields['nid'].content|striptags|trim }}" role="tabpanel" aria-labelledby="nav-contact-tab{{ fields['nid'].content|striptags|trim }}">{{ fields['body'].content }}</div>
						</div>
					</div>
				{% else %}
					{% if fields['field_personnel_email'].content|trim %}
						<div class="biography new-profile">
							<nav>
								<div class="nav nav-tabs" id="nav-tab{{ fields['nid'].content|striptags|trim }}" role="tablist{{ fields['nid'].content|striptags|trim }}">
									<a class="nav-item nav-link small active" id="nav-profile-tab{{ fields['nid'].content|striptags|trim }}" data-toggle="tab" href="#nav-profile{{ fields['nid'].content|striptags|trim }}" role="tab" aria-controls="nav-profile{{ fields['nid'].content|striptags|trim }}" aria-selected="true">
										<i class="fa far fa-user"><!-- empty --></i>
										Profile</a>
									<a class="nav-item nav-link small" id="nav-contact-tab{{ fields['nid'].content|striptags|trim }}" data-toggle="tab" href="#nav-contact{{ fields['nid'].content|striptags|trim }}" role="tab" aria-controls="nav-contact{{ fields['nid'].content|striptags|trim }}" aria-selected="false">
										<i class="fa far fa-phone"><!-- empty --></i>
										Contact</a>
								</div>
							</nav>

							<div class="tab-content mt-3" id="nav-tabContent{{ fields['nid'].content|striptags|trim }}">
								<div class="tab-pane fade show active" id="nav-profile{{ fields['nid'].content|striptags|trim }}" role="tabpanel" aria-labelledby="nav-profile-tab{{ fields['nid'].content|striptags|trim }}">
									{{ fields['field_personnel_biography'].content }}
								</div>
								<div class="tab-pane fade" id="nav-contact{{ fields['nid'].content|striptags|trim }}" role="tabpanel" aria-labelledby="nav-contact-tab{{ fields['nid'].content|striptags|trim }}">
									<ul class="u-none p-0 text-left mb-0">
										{% if fields['field_personnel_highest_degree'].content|trim %}
											<li class="pb-1">{{ fields['field_personnel_highest_degree'].content }}</li>
										{% endif %}

										{% if fields['field_personnel_position'].content|trim %}
											<li class="pb-1">{{ fields['field_personnel_position'].content }}</li>
										{% endif %}

										{% if fields['field_personnel_other_titles'].content|trim %}
											<li class="pb-1">{{ fields['field_personnel_other_titles'].content }}</li>
										{% endif %}

										{% if fields['field_personnel_email'].content|trim %}
											<li class="pb-1">
												<strong>
													<i class="far fa-envelope cud fw-100"><!--empty --></i>
													{{ fields['field_personnel_email'].content }}</strong>
											</li>
										{% endif %}

										{% if fields['field_personnel_telephone'].content|trim %}
											<li class="pb-1">
												<i class="far fa-phone cud fw-100"><!--empty --></i>
												{{ fields['field_personnel_telephone'].content }}</li>
										{% endif %}

										{% if fields['field_personnel_office_location'].content|trim %}
											<li class="pb-1">
												<i class="far fa-map-marker-alt cud fw-100"><!--empty --></i>
												{{ fields['field_personnel_office_location'].content }}</li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
					{% else %}
						<div class="details">

							<nav>
								<div class="nav nav-tabs" id="nav-tab{{ fields['nid'].content|striptags|trim }}" role="tablist{{ fields['nid'].content|striptags|trim }}">
									<a class="nav-item nav-link small active" id="nav-contact-tab{{ fields['nid'].content|striptags|trim }}" data-toggle="tab" href="#nav-contact{{ fields['nid'].content|striptags|trim }}" role="tab" aria-controls="nav-contact{{ fields['nid'].content|striptags|trim }}" aria-selected="false">
										<i class="fa far fa-phone"><!-- empty --></i>
										Contact</a>
								</div>
							</nav>

							<div class="tab-content mt-3" id="nav-tabContent{{ fields['nid'].content|striptags|trim }}">
								<div class="tab-pane fade show active" id="nav-contact{{ fields['nid'].content|striptags|trim }}" role="tabpanel" aria-labelledby="nav-contact-tab{{ fields['nid'].content|striptags|trim }}">{{ fields['body'].content }}</div>
							</div>
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
