<div class="row personnel">
    {% if fields['field_image'] %}
        <div class="col-sm-2">{{ fields['field_image'].content }}</div>
    {% endif %}
    <div class="col-sm-10 details-and-bio">
        <h2>{{ fields['title'].content }}</h2>


        {% if "biography" in fields['field_tags'].content|trim %}
            <div class="biography">
                {{ fields['body'].content }}
            </div>
        {% else %}
            <div class="details">
                {{ fields['body_1'].content }}
            </div>

        {% endif %}

        {% if fields['edit_node'].content %}
            {{ fields['edit_node'].content }}
        {% endif %}
    </div>
</div>