{% set is_with_image = 0 %}
{% for k, field in fields %}
    {% if k == "field_image" %}
        {% if field.content|length > 0 %}
            {% set is_with_image = 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="feature">
    <a href="{{ fields['path'].content|striptags|trim }}">
        {% if is_with_image == 1 %}
            {{ fields['field_image'].content }}
        {% endif %}
        <p><span>{{ fields['title'].content }}</span></p>
    </a>
</div>