<div class="region-we-mega-menu">
    <a class="navbar-toggle collapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <nav {{ attributes }}>
        <div class="container-fluid flex-column-fix">
            <div class="d-block w-100 mt-1 top mb-2">
                <div class="row d-none d-md-block">
                    <div class="col col-12 d-flex flex-row justify-content-end">
                        <div class="search py-1 px-3">
                            {% if (language.getDirection() == 'rtl') %}
                                <form accept-charset="UTF-8" action="/search/node" method="get" class="row flex-column-fix">
                                    <div class="col col-10 col-md-11 pr-1 text-align-left"><input autocomplete="off" class="search-input p-2 w-100" name="keys" placeholder="ادخل كلمة البحث ..." type="text"/></div>
                                    <div class="col col-2 col-md-1 search-btn text-align-right pr-0 align-middle d-flex justify-content-center flex-column">
                                        <button class="fas fa-search pt-1" type="submit"><!-- empty --></button>
                                    </div>
                                </form>
                            {% else %}
                                <form accept-charset="UTF-8" action="/search/node" method="get" class="row flex-column-fix">
                                    <div class="col col-10 col-md-11 pr-1 text-align-right"><input autocomplete="off" class="search-input p-1" name="keys" placeholder="Type your keyword..." type="text"/></div>
                                    <div class="col col-2 col-md-1 search-btn text-align-left pl-0 align-middle d-flex justify-content-center flex-column">
                                        <button class="fas fa-search" type="submit"><!-- empty --></button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                        {# <div class="align-middle p-0 d-flex justify-content-center applyonline">
                                <a href="/applyonline?src=main-site?o=front">
                                    <span class="nowrap">
                                        <i class="far fa-paper-plane"><!-- empty --></i>
                                        <span class="d-none d-sm-inline-block">Apply Online</span></span>
                                </a>
                            </div> #}
                        <div class="d-flex justify-content-center quick-links">
                                <div class="dropdown text-align-center">
                                    <a class="btn btn-secondary dropdown-toggle" href="/mycud-portals" role="button" id="quicklinksMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <span class="nowrap small"><i class="fas fa-link"><!-- empty --></i>
                                            <span class="d-none d-sm-inline-block">Portals</span></span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="quicklinksMenuLink">
                                     <a class="dropdown-item small" href="/mycud-portals">MyCUD Portals</a>

        <a class="dropdown-item small" href="/fall-2020-financial-relief#register" target="_blank">Apply Online</a>
        <a class="dropdown-item small" href="https://cudportal.cud.ac.ae/student/login.asp" target="_blank">Student Portal</a>
        <a class="dropdown-item small" href="https://cudportal.cud.ac.ae/faculty/login.asp" target="_blank">Faculty Portal</a>
        <a class="dropdown-item small" href="https://my.cud.ac.ae" target="_blank">MyCUD</a>
        <a class="dropdown-item small" href="https://outlook.com/cud.ac.ae" target="_blank">Email</a>
        <a class="dropdown-item small" href="https://cudac.sharepoint.com/SitePages/Home.aspx" target="_blank">SharePoint</a>
        <a class="dropdown-item small" href="https://cud.peoplegoal.com/business-sign-in" target="_blank">Performance Management</a>
        <a class="dropdown-item small" href="https://hr.cud.ac.ae/sites/DynamicsAx/EmployeeServices" target="_blank">Enterprise Portal</a>
        
                                    </div>
                                </div>
                            </div>
                            {% if is_store %}
                            <div class="d-flex justify-content-center store">
                                <a href="/life-on-campus/store">
                                    <span class="nowrap">
                                        <i class="fas fa-shopping-cart"><!-- empty --></i>
                                        <span class="d-none d-sm-inline-block">Shop</span></span>
                                </a>
                            </div>
                            {% endif %}
                                <div class="d-flex justify-content-center languages">
                                        {{ language_switcher }}
                                </div>
                    </div>
                    
                </div>
                <div class="row d-flex d-md-none">
                    <div class="col col-12 p-0">
                        <div class="search py-1 px-0">
                            {% if (language.getDirection() == 'rtl') %}
                                <form accept-charset="UTF-8" action="/search/node" method="get" class="row flex-column-fix">
                                    <div class="col col-10 col-md-11 pr-1 text-align-left"><input autocomplete="off" class="search-input p-2 w-100" name="keys" placeholder="ادخل كلمة البحث ..." type="text"/></div>
                                    <div class="col col-2 col-md-1 search-btn text-align-right pr-0 align-middle d-flex justify-content-center flex-column">
                                        <button class="fas fa-search pt-1" type="submit"><!-- empty --></button>
                                    </div>
                                </form>
                            {% else %}
                                <form accept-charset="UTF-8" action="/search/node" method="get" class="row flex-column-fix">
                                    <div class="col col-10 col-md-11 pr-1 text-align-right"><input autocomplete="off" class="search-input p-1" name="keys" placeholder="Type your keyword..." type="text"/></div>
                                    <div class="col col-2 col-md-1 search-btn text-align-left pl-0 align-middle d-flex justify-content-center flex-column">
                                        <button class="fas fa-search" type="submit"><!-- empty --></button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                     {# <div class="col col-6">
                        <div class="align-middle p-0 d-flex justify-content-center applyonline">
                                <a href="/applyonline?src=main-site?o=front">
                                    <span class="nowrap">
                                        <i class="far fa-paper-plane"><!-- empty --></i>
                                        <span class="d-none d-sm-inline-block">Apply Online</span></span>
                                </a>
                            </div>
                    </div> #}
                     <div class="col col-6">
                        <div class="d-flex justify-content-center quick-links">
                                <div class="dropdown text-align-center">
                                    <a class="btn btn-secondary dropdown-toggle" href="/mycud-portals" role="button" id="quicklinksMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <span class="nowrap small"><i class="fas fa-link"><!-- empty --></i>
                                            <span class="d-nonex d-sm-inline-block">Portals</span></span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="quicklinksMenuLink">

 <a class="dropdown-item small" href="/mycud-portals">MyCUD Portals</a>
                                    <a class="dropdown-item small" href="/fall-2020-financial-relief#register" target="_blank">Apply Online</a>
                                    <a class="dropdown-item small" href="https://cudportal.cud.ac.ae/student/login.asp" target="_blank">Student Portal</a>
                                    <a class="dropdown-item small" href="https://cudportal.cud.ac.ae/faculty/login.asp" target="_blank">Faculty Portal</a>
                                    <a class="dropdown-item small" href="https://my.cud.ac.ae" target="_blank">MyCUD</a>
                                    <a class="dropdown-item small" href="https://outlook.com/cud.ac.ae" target="_blank">Email</a>
                                    <a class="dropdown-item small" href="https://cudac.sharepoint.com/SitePages/Home.aspx" target="_blank">SharePoint</a>
                                    <a class="dropdown-item small" href="https://cud.peoplegoal.com/business-sign-in" target="_blank">Performance Management</a>
                                    <a class="dropdown-item small" href="https://hr.cud.ac.ae/sites/DynamicsAx/EmployeeServices" target="_blank">Enterprise Portal</a>
                                    
                                    </div>
                                </div>
                            </div>
                    </div>
                            {% if is_store %}
                            <div class="d-flex justify-content-center store">
                                <a href="/life-on-campus/store">
                                    <span class="nowrap">
                                        <i class="fas fa-shopping-cart"><!-- empty --></i>
                                        <span class="d-none d-sm-inline-block">Shop</span></span>
                                </a>
                            </div>
                            {% endif %}
                            {% if is_language %}
                                <div class="d-flex justify-content-center languages">
                                        {{ language_switcher }}
                                </div>
                             {% endif %}
                    
                </div>
            </div>
            {{ content }}
        </div>
    </nav>
</div>
