<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}">
        <title>{{ head_title|safe_join(' | ') }}</title>
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="google-site-verification" content="SfMdy6hqMTJ90u3QT4DYqhtr2QXGUKRIldzMxyByKNM"/>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K72ZZZ4');</script>
        <!-- End Google Tag Manager -->

        <meta http-equiv="cleartype" content="on">

        <script src="https://use.typekit.net/gjv1rkp.js"></script>
        <script>try {
                Typekit.load({async: true});
            } catch (e) {
            }</script>

        <css-placeholder token="{{ placeholder_token|raw }}">
            <js-placeholder token="{{ placeholder_token|raw }}">

        <meta name="robots" content="noindex" />
        <meta name="googlebot" content="noindex">
        <meta name="googlebot-news" content="nosnippet">
</head>

{% set body_classes = [
logged_in ? 'user-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'page-node-type-' ~ node_type|clean_class,
language_node_name ? language_node_name|clean_class,
db_offline ? 'db-offline',
'registrar',
not page.sidebar_first and not page.sidebar_second ? 'no-sidebars',
page.sidebar_first and not page.sidebar_second ? 'sidebar-first',
page.sidebar_second and not page.sidebar_first ? 'sidebar-second',
page.sidebar_first and page.sidebar_second ? 'both-sidebars'
] %}

<body{{ attributes.addClass(body_classes) }}>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K72ZZZ4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<a href="#main-content" class="visually-hidden focusable">
    {# -- { 'Skip to main content'|t } -- #}
</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">

</body>
</html>
