{# fall 2020 #}
<!DOCTYPE html><html{{ html_attributes }}>
    <head>
 <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K72ZZZ4');</script>
        <!-- End Google Tag Manager -->
<head-placeholder token="{{ placeholder_token|raw }}">
<title>{{ head_title|safe_join(' | ') }}</title>
<meta name="format-detection" content="telephone=no">
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="{{ active_theme_path() }}/landing-pages/2020/assets/images/for-fav-ico-79x80.png" type="image/x-icon">
    <meta name="description" content="">
         
        <meta name="google-site-verification" content="SfMdy6hqMTJ90u3QT4DYqhtr2QXGUKRIldzMxyByKNM"/>

       
    
    <title>Canadian University Dubai - Fall 2020 Semester Registrations</title>
   <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    
    {# < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/web/assets/mobirise-icons/mobirise-icons.css">
    < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/bootstrap/css/bootstrap.min.css">
    < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/bootstrap/css/bootstrap-grid.min.css">
    < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/bootstrap/css/bootstrap-reboot.min.css">
    < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/socicon/css/styles.css">
    < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/dropdown/css/style.css">
    < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/animatecss/animate.min.css">
    < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/tether/tether.min.css">
    < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/theme/css/style.css">
    < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/gallery/style.css">
    < link rel="preload" as="style" href="{{ active_theme_path() }}/landing-pages/2020/assets/mobirise/css/mbr-additional.css">
    < link rel="stylesheet" href="{{ active_theme_path() }}/landing-pages/2020/assets/mobirise/css/mbr-additional.css" type="text/css">
    < style >
    < / style >
    #}
    </head>
    <body>

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K72ZZZ4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <section class="menu cid-rYzs5NboLL" once="menu" id="menu2-a">
      <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger"><span></span><span></span><span></span><span></span></div>
        </button>
        <div class="menu-logo">
          <div class="navbar-brand"><span class="navbar-logo"><a href="#menu2-a"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/logo-3-291x80.png"  style="height: 3.8rem;"></a></span></div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item"><a class="nav-link link text-black display-4" href="index.html#tabs3-4">About us</a></li>
            <li class="nav-item"><a class="nav-link link text-black display-4" href="index.html#myPrograms">Programs</a></li>
            <li class="nav-item"><a class="nav-link link text-black display-4" href="index.html#countdown1-f">City Walk Campus</a></li>
            <li class="nav-item"><a class="nav-link link text-black display-4" href="index.html#clients-5">Transfer Partners</a></li>
            <li class="nav-item"><a class="nav-link link text-black display-4" href="index.html#content4-r">Success Stories</a></li>
          </ul>
          <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary display-4" href="index.html#form1-g"><span class="mbri-alert mbr-iconfont mbr-iconfont-btn"></span>Request Information</a></div>
        </div>
      </nav>
    </section>
    <section class="engine"><a href="https://mobirise.info/r">bootstrap template</a></section>
    <section class="header12 cid-rYzwP2ZWiQ cid-rYC9fQFkRf mbr-fullscreen mbr-parallax-background" id="header12-b" style="background-image: url({{ active_theme_path() }}/landing-pages/2020/assets/images/thumbnail-1275x717.jpg);">
      <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(127, 25, 51);"></div>
      <div class="container  ">
        <div class="media-container">
          <div class="col-md-12 align-center myDivMob">
            <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-2">30% Fee Reduction on Fall 2020 Programs</h1>
            <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-5">Study with us for an opportunity graduate in Canada</p>
            <div class="icons-media-container mbr-white">
              <div class="card col-6 col-sm-3">
                <div class="icon-block"><span class="mbr-iconfont mbri-globe-2" style="font-size: 60px;"></span></div>
                <h5 class="mbr-fonts-style display-5">Study in Canada</h5>
              </div>
              <div class="card col-6 col-sm-3">
                <div class="icon-block"><span class="mbr-iconfont mbri-users" style="font-size: 60px;"></span></div>
                <h5 class="mbr-fonts-style display-5">International Faculty</h5>
              </div>
              <!-- Add the extra clearfix for only the required viewport -->
              <div class="clearfix visible-sm"></div>
              <div class="card col-6 col-sm-3">
                <div class="icon-block"><span class="mbr-iconfont mbri-cash" style="font-size: 60px;"></span></div>
                <h5 class="mbr-fonts-style display-5">Scholarships</h5>
              </div>
              <div class="card col-6 col-sm-3">
                <div class="icon-block"><span class="mbr-iconfont mbri-briefcase" style="font-size: 60px;"></span></div>
                <h5 class="mbr-fonts-style display-5">Graduate Employability</h5>
              </div>
            </div>
          </div>
          <div class="mbr-media show-modal align-center py-2" data-modal=".modalWindow" title="10 Reasons to Choose Canadian University Dubai"><span class="mbr-iconfont mbri-play" style="color: rgb(255, 51, 102); fill: rgb(255, 51, 102);"></span></div>
          <div class="modalWindow" style="display: none;">
            <div class="modalWindow-container">
              <div class="modalWindow-video-container">
                <div class="modalWindow-video">
                  <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://youtu.be/itFpaX1l12E"></iframe>
                </div>
                <a class="close" role="button" data-dismiss="modal"><span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span><span class="sr-only">Close</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mbr-arrow hidden-sm-down" aria-hidden="true"><a href="#next"><i class="mbri-down mbr-iconfont"></i></a></div>
    </section>
    <section class="tabs3 cid-rYzkdEV3xO mbr-parallax-background" id="tabs3-4">
      <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>
      <div class="container">
        <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Your Portal to Canadian Education</h2>
        <h3 class="mbr-section-subtitle  display-5 align-center mbr-light mbr-fonts-style" style="color: #333333;">Delivering an outstanding international higher education experience in one of the world’s fastest-growing cities. Established in 2006 to provide programs based on Canadian curriculum and education principles, we offer students a gateway to pursue higher education, research, and employment opportunities in Canada. Canadian University Dubai education is ranked 41st overall, 8th in the UAE, and 2nd in Dubai, based on the 2020 QS Ranking for the Arab Region.</h3>
      
         <h3 class="mbr-section-subtitle  display-5 align-center mbr-light mbr-fonts-style" style="color: #333333;">“All our undergraduate and postgraduate degrees are accredited by the UAE Ministry of Higher Education and Scientific Research (UAE)”.</h3>
      </div>
      <div class="container-fluid">
        <div class="row tabcont" id="myPrograms">
          <ul class="nav nav-tabs pt-3 mt-5" role="tablist">
            <li class="nav-item mbr-fonts-style"><a class="nav-link show display-7" role="tab" data-toggle="tab" href="#tabs3-4_tab0" aria-selected="false">Undergraduate</a></li>
            <li class="nav-item mbr-fonts-style"><a class="nav-link  show active display-7" role="tab" data-toggle="tab" href="#tabs3-4_tab1" aria-selected="true">Postgraduate</a></li>
            <li class="nav-item mbr-fonts-style"><a class="nav-link show active display-7" role="tab" data-toggle="tab" href="#tabs3-4_tab2" aria-selected="true">Study in Canada</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row px-1">
          <div class="tab-content">
            <div id="tab1" class="tab-pane in active mbr-table" role="tabpanel">
              <div class="row tab-content-row">
                <div class="col-xs-12 col-md-6 col-lg-3" data-toggle="tooltip" data-html="true" data-type="primary" data-placement="bottom" title="<ul style='padding:1.5rem;text-align:left'><li>Bachelor of Business Administration in Accounting and Finance</li><li>Bachelor of Business Administration in e-Business</li><li>Bachelor of Business Administration in Events and Tourism</li><li>Bachelor of Business Administration in Human Resource Management</li><li>Bachelor of Business Administration in International Business</li><li>Bachelor of Business Administration in Marketing</li><li>Bachelor of Business Administration in Operations and Supply Management</li><li>Bachelor of Business Administration in Sports Management</li></ul>">
                  <div class="card-img "><span class="mbr-iconfont mbri-briefcase"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">Business &amp; Management</h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7"></p>            
                </div>
                 <div class="col-xs-12 col-md-6 col-lg-3" data-toggle="tooltip" data-html="true" data-type="primary" data-placement="bottom" title="<ul style='padding:1.5rem;text-align:left'><li>Bachelor of Science in Electrical Engineering - Telecommunications</li><li>Bachelor of Science in Electrical Engineering - Electronics</li><li>Bachelor of Science in Electrical Engineering - Mechatronics</li><li>Bachelor of Science in Network Engineering</li><li>Bachelor of Computer and Networking Engineering Technology</li></ul>">
                  <div class="card-img "><span class="mbr-iconfont mbri-speed"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">Engineering, Science, &amp; Technology</h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7"></p>
                </div>
                 <div class="col-xs-12 col-md-6 col-lg-3" data-toggle="tooltip" data-html="true" data-type="primary" data-placement="bottom" title="<ul style='padding:1.5rem;text-align:left'><li>Bachelor of Arts in Communication in Advertisement</li><li>Bachelor of Arts in Communication in Journalism</li><li>Bachelor of Arts in Communication in Public Relations</li><li>Bachelor of Arts in Creative Industries</li><li>Bachelor of Arts in Psychology</li><li>Bachelor of Arts in Sociology (Arabic)</li><li>Bachelor of Science in Environmental Health Management</li></ul>">
                 <div class="card-img "><span class="mbr-iconfont mbri-link"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">Communication &amp; Arts</h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7"></p>
                </div>
                 <div class="col-xs-12 col-md-6 col-lg-3" data-toggle="tooltip" data-html="true" data-type="primary" data-placement="bottom" title="<ul style='padding:1.5rem;text-align:left'><li>Bachelor of Architecture</li><li>Bachelor of Science in Interior Design</li></ul>">
                <div class="card-img "><span class="mbri-features mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">Architecture &amp; Design</h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7"></p>
                </div>
              </div>
            </div>
            <div id="tab2" class="tab-pane  mbr-table" role="tabpanel">
              <div class="row tab-content-row">
                  <div class="col-xs-12 col-md-6 col-lg-3" data-toggle="tooltip" data-html="true" data-type="primary" data-placement="bottom" title="<ul style='padding:1.5rem;text-align:left'><li>Master of Business Administration in General Management</li><li>Master of Business Administration in Human Resource Management</li><li>Master of Business Administration in Finance</li><li>Master of Business Administration in Marketing</li></ul>">
                 <div class="card-img "><span class="mbri-briefcase mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">Master of Business Administration (MBA)</h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7"></p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3"  data-toggle="tooltip" data-html="true" data-type="primary" data-placement="bottom" title="<ul style='padding:1.5rem;text-align:left'><li>Master in Information Technology Management and Governance</li></ul>">
                  <div class="card-img "><span class="mbri-devices mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">Master in Information Technology</h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7"></p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-globe-2 mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">IELTS &amp; TOEFL</h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7"></p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-growing-chart mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">Corporate Trainings</h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7"></p>
                </div>
              </div>
            </div>
            <div id="tab3" class="tab-pane  mbr-table" role="tabpanel">
              <div class="row tab-content-row" style="font-size: 1.5rem; color: #333333;">Content to be placed here to know how it works? <br>
                how to become eligible?<br>
                maybe FAQs? etc<br>
              </div>
            </div>
            <div id="tab4" class="tab-pane  mbr-table" role="tabpanel">
              <div class="row tab-content-row">
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-responsive mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">MOBILE FRIENDLY </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">No special actions required, all sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site, it will adapt automagically. </p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-responsive mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">MOBILE FRIENDLY </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">No special actions required, all sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site, it will adapt automagically. </p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-responsive mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">MOBILE FRIENDLY </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">No special actions required, all sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site, it will adapt automagically. </p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-responsive mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">MOBILE FRIENDLY </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">No special actions required, all sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site, it will adapt automagically. </p>
                </div>
              </div>
            </div>
            <div id="tab5" class="tab-pane  mbr-table" role="tabpanel">
              <div class="row tab-content-row">
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-bootstrap mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">IT'S EASY AND SIMPLE </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">Cut down the development time with drag-and-drop website builder. Drop the blocks into the page, edit content inline and publish - no technical skills required. </p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-bootstrap mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">IT'S EASY AND SIMPLE </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">Cut down the development time with drag-and-drop website builder. Drop the blocks into the page, edit content inline and publish - no technical skills required. </p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-bootstrap mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">IT'S EASY AND SIMPLE </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">Cut down the development time with drag-and-drop website builder. Drop the blocks into the page, edit content inline and publish - no technical skills required. </p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-bootstrap mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">IT'S EASY AND SIMPLE </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">Cut down the development time with drag-and-drop website builder. Drop the blocks into the page, edit content inline and publish - no technical skills required. </p>
                </div>
              </div>
            </div>
            <div id="tab6" class="tab-pane  mbr-table" role="tabpanel">
              <div class="row tab-content-row">
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-extension mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">TRENDY WEBSITE BLOCKS </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">Choose from the large selection  pre-made blocks - full-screen intro, bootstrap carousel, slider, responsive image gallery with, parallax scrolling, sticky header and more. </p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-extension mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">TRENDY WEBSITE BLOCKS </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">Choose from the large selection  pre-made blocks - full-screen intro, bootstrap carousel, slider, responsive image gallery with, parallax scrolling, sticky header and more. </p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-extension mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">TRENDY WEBSITE BLOCKS </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">Choose from the large selection  pre-made blocks - full-screen intro, bootstrap carousel, slider, responsive image gallery with, parallax scrolling, sticky header and more. </p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="card-img "><span class="mbri-extension mbr-iconfont"></span></div>
                  <h4 class="mbr-element-title  align-center mbr-fonts-style pb-2 display-5">TRENDY WEBSITE BLOCKS </h4>
                  <p class="mbr-section-text  align-center mbr-fonts-style display-7">Choose from the large selection  pre-made blocks - full-screen intro, bootstrap carousel, slider, responsive image gallery with, parallax scrolling, sticky header and more. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    {% if custom.fall_2020_version == "top" %}
    <section class="mbr-section form1 cid-rYBBplZcT9" id="form1-g">
      <div class="container">
        <div class="row justify-content-center">
          <div class="title col-12 col-lg-8">
            <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"><strong>30% Fee Reduction</strong> on Fall 2020 Programs</h2>
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">Secure your seat with us this Fall semester, <br>
              Get in touch to receive <strong>fee details and an academic calendar.</strong></h3>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="media-container-column col-lg-8" data-form-type="formoid">
            {{ page_top }}
            {{ page }}
            {{ page_bottom }}
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    <section class="countdown1 cid-rYAZpS7kV0" id="countdown1-f">
      <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);"></div>
      <div class="container ">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">New Campus<br>
          at City Walk</h2>
        <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">We are excited to announce our university’s major expansion this September to City Walk’s ‘iconic’ buildings! The next-generation campus will be a host of state of the art amenities, focusing on entrepreneurship, research, and a non-conventional approach to teaching and learning. Combining all the essential elements of technology, the new campus will bring a totally new experience to students.</h3>
      </div>
      {# < div class="container countdown-cont align-center">
        < div class="daysCountdown col-xs-3 col-sm-3 col-md-3" title="Days"></div >
        < div class="hoursCountdown col-xs-3 col-sm-3 col-md-3" title="Hours"></div >
        < div class="minutesCountdown col-xs-3 col-sm-3 col-md-3" title="Minutes"></div >
        < div class="secondsCountdown col-xs-3 col-sm-3 col-md-3" title="Seconds"></div >
        < div class="countdown pt-5 mt-2" data-due-date="2020/09/01"></div >
      </div > #}
    </section>
    <section class="clients cid-rYzp9Mjnis" data-interval="false" id="clients-5">
      <div class="container mb-5">
        <div class="media-container-row">
          <div class="col-12 align-center">
            <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">Transfer Partners</h2>
            <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">The following institutions accept Canadian University Dubai credits as transfer credits. All programs have at least one formal partner in Canada (or the US for Architecture). </h3>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="5000">
          <div class="carousel-inner" data-visible="5">
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/brock-university.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/centennial-college.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/douglas-college.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/lakehead-university.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/university-lethbridge.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/university-new-brunswick.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/queens-university-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/ryerson-university-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/university-ontario-institute-technology.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/vancouver-island-university.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/wilfrid-laurier-university-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/lawrence-technological-university.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/transfer/niagara-college_0.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>

            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/avans-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/concordia-university-montreal-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/deakin-university-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
             <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/georgetown-university-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/mc-gill-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
             <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/memorial-university-newfoundland-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/rutgers-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/simon-fraser-university-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
           <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/texas-a-m-university-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/university-college-london.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/university-alberta-logo_0.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/university-of-british-columbia-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/university-guelph-logo_0.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/university-of-manitoba-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/university-saskatchewan-logo-other.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/university-of-toronto-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/western-university-canada-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/university-of-windsor-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img "><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/other/york-university-logo.png" class="img-responsive clients-img" alt="" title=""></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-controls"><a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a><a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a></div>
        </div>
      </div>
    </section>
    <section class="mbr-section content4 cid-rYBQNZK41z" id="content4-r">
      <div class="container">
        <div class="media-container-row">
          <div class="title col-12 col-md-8">
            <h2 class="align-center pb-3 mbr-fonts-style display-2">Success Stories &amp; Testimonials</h2>
            <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Hear from students &amp; graduates</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="mbr-gallery mbr-slider-carousel cid-rYBPYBkcrA" id="gallery2-q">
      <div class="container">
        <div><!-- Filter -->
          <div class="mbr-gallery-filter container gallery-filter-active">
            <ul buttons="0">
              <li class="mbr-gallery-filter-all"><a class="btn btn-md btn-primary-outline active display-7" href="">All</a></li>
            </ul>
          </div>
          <!-- Gallery -->
          <div class="mbr-gallery-row">
            <div class="mbr-gallery-layout-default">
              <div>
                <div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/ydqXqI5gCVw" data-tags="Students">
                    <div href="#lb-gallery2-q" data-slide-to="0" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-22-37-14.jpg"><span class="icon-video"></span></div>
                  </div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/T3qS0h5rubU" data-tags="Students">
                    <div href="#lb-gallery2-q" data-slide-to="1" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-22-38-53.jpg"><span class="icon-video"></span></div>
                  </div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/0O2pjd3NlCM" data-tags="Students">
                    <div href="#lb-gallery2-q" data-slide-to="2" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-22-40.jpg"><span class="icon-video"></span></div>
                  </div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/c4bAkLeYDH8" data-tags="Transfer Students">
                    <div href="#lb-gallery2-q" data-slide-to="3" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-22-41-55.jpg"><span class="icon-video"></span></div>
                  </div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/yuccTLughRY" data-tags="Transfer Students">
                    <div href="#lb-gallery2-q" data-slide-to="4" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-22-43-23.jpg"><span class="icon-video"></span></div>
                  </div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/j7jWQUgeMgA" data-tags="Transfer Students">
                    <div href="#lb-gallery2-q" data-slide-to="5" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-23-7-12.jpg"><span class="icon-video"></span></div>
                  </div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/9GcY6h-XK3I" data-tags="Transfer Students">
                    <div href="#lb-gallery2-q" data-slide-to="6" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-22-45.jpg"><span class="icon-video"></span></div>
                  </div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/0e6Y05zfesA" data-tags="Alumni">
                    <div href="#lb-gallery2-q" data-slide-to="7" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-22-46-33.jpg"><span class="icon-video"></span></div>
                  </div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/63c-qyZf8y4" data-tags="Alumni">
                    <div href="#lb-gallery2-q" data-slide-to="8" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-22-49-19.jpg"><span class="icon-video"></span></div>
                  </div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/-OBiR2WQDeA" data-tags="Alumni">
                    <div href="#lb-gallery2-q" data-slide-to="9" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-23-0-34.jpg"><span class="icon-video"></span></div>
                  </div>
                  <div class="mbr-gallery-item mbr-gallery-item--p1 video-slide" data-video-url="https://youtu.be/0LVqXHyX1t8" data-tags="Alumni">
                    <div href="#lb-gallery2-q" data-slide-to="10" data-toggle="modal">
                      <div></div>
                      <img alt="" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mobirise2020410-1133232020-4-0-22-59-51.jpg"><span class="icon-video"></span></div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- Lightbox -->
          <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery2-q">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="carousel-inner">
                    <div class="carousel-item video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/background8.jpg" alt="" title=""></div>
                    <div class="carousel-item video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mbr-1920x1275.jpg" alt="" title=""></div>
                    <div class="carousel-item video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mbr-1920x1281.jpg" alt="" title=""></div>
                    <div class="carousel-item video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mbr-1920x1280.jpg" alt="" title=""></div>
                    <div class="carousel-item video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mbr-1920x1440.jpg" alt="" title=""></div>
                    <div class="carousel-item active video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mbr-1920x1276.jpg" alt="" title=""></div>
                    <div class="carousel-item video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mbr-1-1920x1280.jpg" alt="" title=""></div>
                    <div class="carousel-item video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mbr-2-1920x1280.jpg" alt="" title=""></div>
                    <div class="carousel-item video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mbr-3-1920x1280.jpg" alt="" title=""></div>
                    <div class="carousel-item video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mbr-2-1920x1280.jpg" alt="" title=""></div>
                    <div class="carousel-item video-container"><img src="{{ active_theme_path() }}/landing-pages/2020/assets/images/mbr-1-1920x1275.jpg" alt="" title=""></div>
                  </div>
                  <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-gallery2-q"><span class="mbri-left mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-gallery2-q"><span class="mbri-right mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Next</span></a><a class="close" href="#" role="button" data-dismiss="modal"><span class="sr-only">Close</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mbr-section content4 cid-rYBDhGVVwH" id="content4-k">
      <div class="container">
        <div class="media-container-row">
          <div class="title col-12 col-md-8">
            <h2 class="align-center pb-3 mbr-fonts-style display-2">Convenient Downtown Location</h2>
            <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">We are located in the hub of Dubai’s business district, close to the Dubai International Financial Centre (DIFC)</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="map1 cid-rYBBvgB7hd mb-0" id="map1-h">
      <div class="google-map">
        <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEIpgj38KyLFELm2bK9Y7krBkz1K-cMq8&amp;q=place_id:ChIJSRP2eGJCXz4RhAMe6EGbyFw" allowfullscreen=""></iframe>
      </div>
    </section>

    {% if custom.fall_2020_version == "show" %} 
     <section class="header8 cid-rYC9fQFkRf" id="header8-s">
      <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(120, 115, 36);"></div>
      <div class="container align-center">
        <div class="row justify-content-md-center">
          <div class="mbr-white col-md-10">
            <p class="mbr-text align-center py-2 mbr-fonts-style display-7">Renowned for academic excellence and a first-class student experience, we deliver a wide range of undergraduate and graduate programs across our faculties. <br>
              <br>
              As the first accredited Canadian university outside of Canada, studying at CUD gives students the opportunity to obtain a Canadian education while experiencing the unique culture and values of the United Arab Emirates and the dynamic city life of Dubai.</p>
            <div class="mbr-media show-modal align-center py-2" data-modal=".modalWindow"><span class="mbr-iconfont mbri-play" style="color: rgb(255, 51, 102); fill: rgb(255, 51, 102);"></span></div>
            <div class="icon-description align-center font-italic pb-3 mbr-fonts-style display-7"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="modalWindow" style="display: none;">
          <div class="modalWindow-container">
            <div class="modalWindow-video-container">
              <div class="modalWindow-video">
                <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://youtu.be/qsn_id5ixJ0"></iframe>
              </div>
              <a class="close" role="button" data-dismiss="modal"><span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span><span class="sr-only">Close</span></a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="mbr-section form1 cid-rYBBplZcT9" id="form1-g">
      <div class="container">
        <div class="row justify-content-center">
          <div class="title col-12 col-lg-8">
            <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"><strong>30% off</strong>on Pre-Registrations</h2>
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">Secure your seat with us this Fall semester, <br>
              we will send you <strong>fees details &amp; academic calendar</strong></h3>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="media-container-column col-lg-8" data-form-type="formoid">
            {{ page_top }}
            {{ page }}
            {{ page_bottom }}
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    
    <section class="cid-rYC9Ncotje mbr-reveal position-relative z-index-1" id="footer5-t">
      <div class="container">
        <div class="media-container-row">
          <div class="col-md-3">
            <div class="media-wrap"><a href="#menu2-a"><img  class="d-block w-100 h-100" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/awards/small/logo.png"></a></div>
          </div>
          <div class="clients col-md-9">
        <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="5000">
          <div class="carousel-inner" data-visible="3">
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img">
                     <img class="img-responsive w-100 clients-img" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/awards/small/caa-logo.png" alt="" title="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img">
                     <img class="img-responsive w-100 clients-img" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/awards/small/qs-logo.png" alt="" title="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img">
                     <img class="img-responsive w-100 clients-img" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/awards/small/forbes-logo.png" alt="" title="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img">
                     <img class="img-responsive w-100 clients-img" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/awards/small/acca-logo.png" alt="" title="">
                  </div>
                </div>
              </div>
            </div>
             <div class="carousel-item">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img">
                     <img class="img-responsive w-100 clients-img" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/awards/small/cfa-logo.png" alt="" title="">
                  </div>
                </div>
              </div>
            </div>
             <div class="carousel-item">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img">
                     <img class="img-responsive w-100 clients-img" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/awards/small/cima-logo.png" alt="" title="">
                  </div>
                </div>
              </div>
            </div>
             <div class="carousel-item">
              <div class="media-container-row">
                <div class="col-md-12">
                  <div class="wrap-img">
                     <img class="img-responsive w-100 clients-img" src="{{ active_theme_path() }}/landing-pages/2020/assets/images/awards/small/iaa-logo.png" alt="" title="">
                  </div>
                </div>
              </div>
            </div>
          </div>
   
      </div>
            
          
          </div>
        </div>
        <div class="footer-lower">
          <div class="media-container-row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="media-container-row mbr-white">
            <div class="col-md-6 copyright">
              <p class="mbr-text mbr-fonts-style display-4">© Copyright 2020 Canadian Univeristy Dubai - All Rights Reserved </p>
            </div>
            <div class="col-md-6">
              <div class="social-list align-right">
                <div class="soc-item"><a href="https://api.whatsapp.com/send?phone=+971585867849&text=Chat+from+Website" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-whatsapp socicon"></span ></a></div>
                <div class="soc-item"><a href="https://twitter.com/cuduae" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span></a></div>
                <div class="soc-item"><a href="https://www.facebook.com/CanadianUniversityDubai" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span></a></div>
                <div class="soc-item"><a href="https://www.youtube.com/user/webcud" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span></a></div>
                <div class="soc-item"><a href="https://www.instagram.com/canadianuniversitydubai/" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   {# < script src="{{ active_theme_path() }}/landing-pages/2020/assets/web/assets/jquery/jquery.min.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/popper/popper.min.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/bootstrap/js/bootstrap.min.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/smoothscroll/smooth-scroll.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/dropdown/js/nav-dropdown.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/dropdown/js/navbar-dropdown.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/touchswipe/jquery.touch-swipe.min.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/viewportchecker/jquery.viewportchecker.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/vimeoplayer/jquery.mb.vimeo_player.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/parallax/jarallax.min.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/mbr-tabs/mbr-tabs.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/countdown/jquery.countdown.min.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/mbr-clients-slider/mbr-clients-slider.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/masonry/masonry.pkgd.min.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/imagesloaded/imagesloaded.pkgd.min.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/tether/tether.min.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/playervimeo/vimeo_player.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/theme/js/script.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/slidervideo/script.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/gallery/player.min.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/gallery/script.js"></ script>
    < script src="{{ active_theme_path() }}/landing-pages/2020/assets/formoid/formoid.min.js"></ script> #}
        
    <input name="animation" type="hidden">
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>