<div class="wrapper">
    <header class="main-header {{ page.custom.with_or_without_hero }} {{ page.custom.with_or_without_overlay }}">

        <div class="red-logo-bar">
            <div class="container">
                <a href="/"><img src="/themes/indicud/media/logo/logo.svg"  /></a>
            </div>

        </div>
        <div class="container sticky">

            <div class="lefsid">

                {% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
                    <div class="logoone">
                        <a href="/"></a>
                    </div>
                 {% else %}
                     <div class="logoone">
                         <span class="logo">&nbsp;</span>
                     </div>
                {% endif %}

                {% if page.contact %}
                    <div class="contact-details animated bounceInDown">

                        {{ page.contact }}
                    </div>
                {% endif %}


            </div>


            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">

                {% if not page.custom.logo_hyperlink  == 'non-clickable-logo' %}
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#nav">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                {% endif %}

                {# Collect the nav links, forms, and other content for toggling #}
                <div class="collapse navbar-collapse" id="nav">

                    {# tb menu & extras #}
                    {% if page.header %}
                        {{ page.header }}
                    {% endif %}

                </div>
            </nav>
        </div>


    </header>

    {% if page.banner %}


        {{ page.banner }}



    {% endif %}

    {% set with_sidebar = 0 %}
    {% if page.sidebar_first or page.sidebar_second %}
        {% set with_sidebar = 1 %}
    {% endif %}

    <main role="main" class="main{{ with_sidebar == 0 ? " without-sidebar" : " with-sidebar" }} {{ page.custom.with_or_without_hero }}">
        <a id="main-content" tabindex="-1"></a>

        <div class="container">

            {% if with_sidebar == 1 %}
                <aside class="sidebar">

                    {{ page.sidebar_first }}

                    {{ page.sidebar_second }}

                </aside>
            {% endif %}


            <div class="main-content">
                {{ page.content }}
            </div>
        </div>


    </main>

    {% if page.content_after %}
        <div class="discover container">
            {{ page.content_after }}
        </div>
    {% endif %}


    <footer class="container-fluid wopadd main-footer">
        <div class="footer-links">
            {% if page.footer_link %}
                {{ page.footer_link }}
            {% endif %}
        </div>

        <div class="copyrights">
            <div class="container">
                {% if page.footer_copyright %}
                    {{ page.footer_copyright }}
                {% endif %}
            </div>
        </div>

    </footer>

</div>


{% if is_admin %}

    {% if page.admin_only %}
        {{ page.admin_only }}
    {% endif %}

    {#

    <ol>
        {% for key, value in _context.node.status %}
            <li>{{ key }}</li>
        {% endfor %}
    </ol>

    #}

{% endif %}