@media (max-width: 767px) {
  blockquote {
    padding: 0 31px;
    margin-bottom: 51px;
    font-size: 1rem;

    &:before,
    &:after {
      width: 19px;
      height: 17px;
    }

    &:before {
      top: 4px;
      left: 0;
    }

    &:after {
      top: auto;
      bottom: 4px;
      right: 8px;
    }
  }
}
