blockquote {
  position: relative;
  padding: 0 56px;
  margin: 0 0 40px;
  border: 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 27px;
    height: 25px;
    background-size: 100% auto;
  }

  &:before {
    left: 0;
    bottom: auto;
    top: 0;
    background-image: url(../media/icons/quote-l.svg);
  }

  &:after {
    right: 0;
    bottom: 0;
    top: auto;
    background-image: url(../media/icons/quote-r.svg);
  }

}

@import "blockquote_media";