@media (max-width:991px) {
    #nav-burger-icon {
        width: 20px;
        height: 14px;
        span {
          height: 2px;
    
          &:nth-child(1),
          &:nth-child(2) {
            top: 0;
          }
    
          &:nth-child(3),
          &:nth-child(4) {
            top: 6px;
          }
    
          &:nth-child(5),
          &:nth-child(6) {
            top: 12px;
          }
        }
    
        &.open {
          span {
    
            &:nth-child(1) {
             top: 3px;
            }
    
            &:nth-child(2) {
              top: 3px;
            }
        
            &:nth-child(5) {
              top: 9px;
            }
    
            &:nth-child(6) {
              top: 9px;
            }
          }
        }
      }
    
}