  /*
    https://codepen.io/designcouch/pen/Atyop
     ---
     --- > animate mid to form X on close
     --- 

        < div id="nav-icon2" class="float-right m-0">
            < span>< /span>
            < span>< /span>
            < span>< /span>
            < span>< /span>
		    < span>< /span>
		    < span>< /span>
	    < /div>
     */

  #nav-burger-icon {
    width: 30px;
    height: 19px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 50%;
      background: #555;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;

      &:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }

      &:nth-child(odd) {
        left: 0;
        border-radius: 9px 0 0 9px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: 8px;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 16px;
      }
    }

    &.open {
      span {

        &:nth-child(1),
        &:nth-child(6) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:nth-child(2),
        &:nth-child(5) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(1) {
          left: 2px;
          top: 5px;
        }

        &:nth-child(2) {
          left: calc(50% - 2px);
          top: 5px;
        }

        &:nth-child(3) {
          left: -50%;
          opacity: 0;
        }

        &:nth-child(4) {
          left: 100%;
          opacity: 0;
        }

        &:nth-child(5) {
          left: 2px;
          top: 16px;
        }

        &:nth-child(6) {
          left: calc(50% - 2px);
          top: 16px;
        }
      }
    }
  }


  @import "burger_media";