table {
    
    .text-align-center {
        text-align:center !important;
    }

    &.table-bordered {   
        .br-off-white {
            border-right:1px solid $white_5 !important;
        }
        .br-white {
            border-right:1px solid $white_1 !important;
        }
    }
}