.registrar {

  .red-logo-bar {
    background: $red_1;
    width: 100%;
    height: 32px;
    text-align:right;

    img {
      height:32px;
      padding:5px 0;
    }
  }

  main.without-hero {
    margin-top: 142px;
  }


  .registrar {
    &.logo-info {
      text-align: center;
      width: 60%;
      margin: 0 auto;
      font-size: 14px;

      img {
        max-width:500px !important;
        margin:0 auto;
      }
    }
  }
}