header .lefsid .logoone {
  width: 350px;
}

header.forced-hover .lefsid .logoone a,
header.without-hero .lefsid .logoone a,
header:hover .lefsid .logoone a,
header.headroom--not-top .lefsid .logoone a,
header.nav-opened .lefsid .logoone a,
header.forced-hover .lefsid .logoone span,
header.without-hero .lefsid .logoone span,
header:hover .lefsid .logoone span,
header.headroom--not-top .lefsid .logoone span,
header.nav-opened .lefsid .logoone span {
  background: url(../media/logo/bigger/logo-hover.png) no-repeat center center;
}

header .pull-right {
  z-index:50;
}

header .pull-right .search-wrap input[type='text'] {
  width:300px !important;
  opacity:1 !important;
  border-radius: 50px;
  border: 1px solid $white_1;
}

header .tb-megamenu .tb-megamenu-nav {
  clear:both !important;
}