@media (max-width:991px) {
  .main-content {
    .after-content {
      .sidebar__slide {
        display:block;
        padding:0;
        .side-nav {
          .side-nav__item {
            border:0;
          }
        }
      }
    }
  }
  .spring_2019 {
    .carousel-indicators {
      margin-right: 0;
      margin-left: 0;
      width: 100%;
    }

    .main {
      .main-content {
        padding-left:1rem !important;
        padding-right:1rem !important;
      }

      &.without-hero {
        margin-top: 80px;
      }
  
      &.without-sidebar {
        .main-content {
          width: 100%;
          padding: 1rem;
        }
      }

    }

    .members-list {
      h3 {
        font-size:1rem;
      }
    }    
  }
}

@media (max-width:767px) {
    .main {
        margin-top: 0px !important;
    }
}


@media (max-width:1200px) {
  .main-header .container {
    max-width:100% !important;
  }
}

@media(max-width:1440px) {
  .main-header .container {
    padding:0;
  }

 header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item>a, 
 header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item>span {
    font-size: 12px;
  }
}

@media(min-width:1441px) {

  header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item>a, 
  header .tb-megamenu .tb-megamenu-nav .tb-megamenu-item>span {
    font-size: 13px;
  }
}
