::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $gray_3;
  font-weight: 300;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $gray_3;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $gray_3;
  font-weight: 300;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $gray_3;
  font-weight: 300;
}

.btn {
  &:focus,
  &.focus,
  &:active,
  &.active,
  &:visited,
  &.visited {
    box-shadow: 0 0 0 0.1rem #d5202a26;
  }
}

.fees {
  .prefix {
    margin-right: 3px;
  }
}

#backtotop {
  left:50%;
  margin-left:-35px;
  bottom:0;
  right:50%;
  margin-right:-35px;
}

.spring_2019 {

  .btn-close {
    background: $red_1 !important;
  }

  .overlay {
    z-index: 10;
  }


  .main {
    background: $white_1;
    .main-content {
      article {
        header {
          background: none;
          box-shadow: none;
        }
      }
    }

    &.without-hero {
      margin-top: 97px;
    }

    &.without-sidebar {
      .main-content {
        width: 100%;
        padding: 60px 0;
      }
    }
  }

  main {
    .copyrights {
      background:$white_3;
      padding:0;   
    }
  }
}

@import "common_media";
