.page-node-type-faculty {
  .spring_2019 {
    ul {
      list-style:none;

      li {
        list-style:none;
        padding:0;
        margin:0;

        &:before {
          content:none;
        }
      }
    }
    .pager {
      .button {
        background: none;
        border: 1px solid #fff;
        border-radius: 0;
        color: #fff;
        font-weight: 100;
      }
    }    
    .personnel {    
      > .row > .col {
        &:hover {
          z-index:100;
        }
      }

      .views-field-nothing {
        .row {
          min-height: 185px;
          max-height: 185px;
        }
      }

      .office {
        background: #000 !important;

        * {
          font-weight: 100;
          font-size: 11px;
          line-height: 13px;
        }

        .u-list {
          margin-bottom:0;
        }

        .card-header,
        .card-body {
          a {
            font-size: 1rem;
            line-height: 1.1rem;
            display: inline-block;
            margin: 0 0 1rem 0;
          }
        }
      }
    }
    .news-and-events {
      .card {
        .card-header, .card-body, .card-footer, p, strong {
          color:#ccc !important;
        }
        &:hover {
          .card-header, .card-body, .card-footer, p, strong {
            color:#fff !important;
          }
        }
      }
    }
  }
}

@import "faculty_media";
