@media (max-width:767px) {
  .page-node-type-faculty {
    .spring_2019 {
      .personnel {
        .views-field-nothing .row {
            min-height: inherit;
            max-height: inherit;
        }
        .office {
            background:none !important;
        }
        .overflow-hidden {
          overflow: inherit !important;
        }

        .card-footer {
            margin-top: 1em !important;
        }
      }
    }
  }
}
