/* -------------------------------- custom pages -------------------------------- */
// get-started/new
.get-started {
  .top {
    .text-one {
      top: 5%;

      .canada {
        color: $red_1;
        text-transform: uppercase;
        line-height: 1em;
        font-size: 100px;
        /* media */
        margin-bottom: 0.25rem;
        font-weight: 600;
        text-shadow: -1px 0 $white_3, 0 1px $white_3, 1px 0 $white_3, 0 -1px $white_3;
      }

      .is-closer {
        display: inline-block;
        padding-left: 55%;
        font-size: 16px;
        color: $red_1;
        line-height: 1em;
        font-weight: 300;
        text-shadow: -1px 0 $white_3, 0 1px $white_3, 1px 0 $white_3, 0 -1px $white_3;
      }
    }

    .text-two {
      bottom: 5%;
      text-align: left;

      .education {
        font-size: 35px;
        font-weight: 500;
        color: #303e48;
        line-height: 1.25em;
      }

      .dubai {
        font-size: 36px;
        font-weight: 100;
        color: #303e48;
        line-height: 1.25em;
      }

      .get-started {
        font-size: 44px;
        color: $red_1;
        font-weight: 500;
      }
    }
  }

  .form {

    &.container {
      .row {
        padding: 35px 60px;
        background: $white_1_2;
        margin: 0;

        .col {
          padding: 0;
          text-align: left;

          &:first-child {
            padding-right: 90px;
          }

          &:last-child {
            padding-left: 90px;
          }

          &.form {

            h2 {
              color: $red_1;
              font-size: 44px;
              font-weight: 600;
            }

            legend {
              display: none;
            }

            h3 {
              color: #303e48;
              font-size: 24px;
              font-weight: 300;
            }

            fieldset {
              padding: 0;

              .intl-tel-input {
                width: 100%;
              }

              input[type=tel] {
                font-size: 1.25rem;
                min-height: 75px;
                color: #303e48;
                font-weight: 300;
                border: 1px solid #303e48;
                border-radius: 0;
              }

              input[type=text],
              select,
              input[type=email] {
                border-radius: 0;
                color: #303e48;
                min-height: 75px;
                width: 100%;
                font-size: 1.25rem;
                padding: 0 25px;
                font-weight: 300;
                border: 1px solid #303e48;
              }
            }

            .form-actions {
              padding: 0;

              .btn {
                font-size: 1.25rem;
                text-transform: uppercase;
                min-height: 75px;
              }
            }
          }

          &.text {

            padding-top: 300px;
            min-height: 850px;

            .content {
              h2 {
                color: $red_1;
                font-size: 39px;
                font-weight: 500;
                line-height: 1.1em;
                margin: 0;
              }

              h3 {
                color: #303e48;
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 30px;
              }

              p {
                font-size: 24px;
                color: #303e48;
                font-weight: 300;
                line-height: 1.25em;
                width: 85%;
                text-align: justify;
              }

              img {
                padding: 50px 75px 0 0;
                width: auto;
              }

            }
          }
        }
      }
    }
  }

  .faculty {
    .row {
      .col {
        &:hover {
          cursor: pointer;
          position: relative;
          background: $white_1;

          .listing {
            &.d-none {
              display: block !important;

              a {
                color: $white_1;

                &:hover {
                  color:$white_5;
                }
              }

              .u-list>li:before {                
                color: $white_1;
              }
            }
          }
        }
      }
    }
  }

  .bottom {
    &.video {
      cursor: pointer;
      border: 1px solid rgba(48, 62, 72, 0.3);

      .col:first-child {
        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          padding: 0 100px;
        }
      }

      &:before {
        content: '\f01d';
        font-family: fontawesome;
        font-size: 75px;
        border-width: 1px 1px 0 0;
        position: absolute;
        font-weight: 100;
        top: 50%;
        margin-top: -33px;
        left: 50%;
        margin-left: -37px;
        z-index: 1;
        color: $red_1;
      }

      &:hover {
        &:before {
          color: #303e48;
        }
      }
    }

    &.location {
      .row {
        .col:first-child {
          padding-left: 0;
          padding-right: 10px;
        }

        .col:nth-child(2) {
          padding-left: 0;
          padding-right: 5px;
        }

        .col:nth-child(3) {
          padding-left: 5px;
          padding-right: 0;
        }

        .col:last-child {
          padding-left: 10px;
          padding-right: 0;
        }
      }
    }
  }

}

/* /get-started/new/page */
.page-node-23686 {
  .canada {
    color: $red_1;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 600;
    text-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd;
    font-size: 5em;
  }

  .is-closer {
    font-size: 1.5em;
    color: $red_1;
    line-height: 1em;
    font-weight: 300;
    text-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd;
    text-align: right;
    padding-left:50%;
  }

  .education {
    font-weight: 500;
    color: #303e48;
    line-height: 1.25em;
  }

  .dubai {
    font-weight: 100;
    color: #303e48;
    line-height: 1.25em;
  }
}