.maintenance-page {
    header {
      padding: 25px;
      box-shadow: 3px 0 10px 0 rgba(30,30,30,.05);
      background: rgba(14,30,44,.25);
      >a {
        display: inline-block;
        margin-right: 1em;
      }
      >h1 {
        margin-top: 15px;
        font-size: 1.5em;
        margin-bottom: 0;
      }
    }
    main {
      margin: 0 auto;
      .hero, .hero img {
        height: -webkit-calc(100vh - 0px);
        width: -webkit-calc(100vw - 0px);
        object-fit: cover;
    }
    }
  }
  