.page-node-type-student-work {
  img {
    border: 1px solid $gray_1;
  }
  
  .field-file,
  .field-video,
  .field-simple-url {
    margin-bottom: 2.5em;
  }

  .field-simple-url {
    iframe {
      width: 100%;
      min-height: 750px;
    }
  }

  .website {
    iframe {
      width: 100%;
      min-height: 750px;
    }
  }

  .ui-dialog {

    .slick {
      .media {
        text-align: center;
        display: inline-block;
        width: 100%;
      }

      img {
        width: auto;
        margin: 0 auto;
      }
    }
  }

  .slick {
    margin-bottom: 2.5em;
    position: relative;

    img {
      width: auto;
      display: initial !important;
    }

    .slick__arrow {
      .slick-arrow {
        &:before {
          font-family: FontAwesome, Arial, Helvetica, "Nimbus Sans L", sans-serif;
          font-size: 30px;
          color: $red_1;
        }

        &.slick-prev {
          &:before {
            content: '\f177';
          }

          &:hover {
            &:before {
              color: $white_1;
            }
          }
        }

        &.slick-next {
          &:before {
            content: '\f178';
          }

          &:hover {
            &:before {
              color: $white_1;
            }
          }
        }
      }
    }
  }
}
