.spring_2019 {
  &.page-node-type-unified-programs {
    .main {
      &.without-sidebar {
        .main-content {
          padding: 20px 0;
        }
      }
    }
  }
}

.page-node-type-unified-programs {
  .nav-unified-programs {
    font-size: 1.25em;

    .nav-item {
      .nav-link {

        color: $white_1;

        &.active,
        &:hover {
          background: $blue_1;
          color: $red_1;
        }

        &.active {
          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: solid 10px $blue_1;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
          }
        }
      }

    }
  }
}

@import "unified_programs_media";
