header {
  .tb-megamenu {

    /* backgrounds */
    .level-0 {
      > .level-1 {

        /* discover */
        &:nth-child(1) {
          > .tb-megamenu-submenu {
            // 1/23/2019
            // background: rgba(14, 30, 44, 0.8);
          }
        }

        /* admission */
        &:nth-child(2) {
          > .tb-megamenu-submenu {
            // 1/23/2019 background: $white_1 url(../media/default/menu/menu-bg-admission.jpg) bottom right no-repeat;
            // background: rgba(14, 30, 44, 0.8);
            //  url(../media/default/menu/menu-bg-admission.jpg) bottom right no-repeat;
          }
        }

        /* academics */
        &:nth-child(3) {
          > .tb-megamenu-submenu {
            // 1/23/2019
            // background: rgba(14, 30, 44, 0.8); 
            // url(../media/default/menu/menu-bg-academics.jpg) bottom right no-repeat;
          }
        }

        /* campus life */
        &:nth-child(4) {
          > .tb-megamenu-submenu {
            // background: rgba(14, 30, 44, 0.8);
          }
        }

        /* advancement */
        &:nth-child(5) {
          > .tb-megamenu-submenu {
            // 1/23/2019
            // background: rgba(14, 30, 44, 0.8);
            // url(../media/default/menu/menu-bg-advancement.jpg) bottom right no-repeat;
          }
        }

        /* research */
        &:nth-child(6) {
          > .tb-megamenu-submenu {
             // 1/23/2019
            // background: rgba(14, 30, 44, 0.8);
            // background: $white_1 url(../media/default/menu/menu-bg-research.jpg) bottom right no-repeat;
          }
        }

      }
    }

    .tb-megamenu-block {

      margin-bottom: 0;

      .block-inner {

        h1, h2, h3 {
          font-size: 16px;
          line-height: 24px;
          padding: 10px 0;
          font-family: "DubaiMedium", "kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif;
		      font-weight: 500;
          font-style: normal;
          color: $white_1;
          text-transform: none;
          margin: 0;
        }

        .menu--image-container {
          // color: $white_1;

          img {
            width: 100%;

            &.inline {
              vertical-align: bottom;
              padding-left: 5px;
            }
          }

          p, a, span  {
            padding: 0;
            margin: 0;
          }

          h3 {

            // 1/23/2019 color: $black_4;
            // color: $white_1;
            // font-family: "DubaiMedium", "kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif;
			      // font-weight: 500;
            // font-style: normal;


            a {
              //  color: $black_4;
              color:$white_1;
              font-size: 16px;

              img {
                width: auto;
                opacity: 0.7;
              }

              &:hover {
                color:$red_1;
                opacity: 1;
              }

            }
          }

          .block-image {
            display: block !important;
          }

          .url {
            display: none !important;
          }

        }
      }

    }

    .tb-megamenu-nav.nav.level-0.items-6 {
      li:first-child {

        #tb-megamenu-column-3 {
          width: 47.8%;
        }

      }
    }
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  header {
    .tb-megamenu {
      .tb-megamenu-block {

        .block-inner {

          h1, h2, h3 {
            font-size: 14px;
            line-height: 1.5;
            padding: 10px 0;
          }

          .menu--image-container {
            h3 {
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  header {
    .tb-megamenu {
      .tb-megamenu-block {

        .block-inner {

          .menu--image-container {

            img {
              &.inline {
                width: 70%;
                vertical-align: middle;
                padding-left: 5px;
              }
            }
          }

          h1, h2, h3 {
            font-size: 14px;
            line-height: 24px;
            padding: 10px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  header {
    .tb-megamenu {
      .tb-megamenu-block {

        .block-inner {

          h1, h2, h3 {
            font-size: 12px;
            line-height: 1.5;
            padding: 5px 0;
          }

          .menu--image-container {

            img {
              &.inline {
                width: 60%;
                vertical-align: middle;
                padding-left: 5px;
              }
            }

            h3 {
              a {
                font-size: 12px;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
}

/* sidebar */
.sidebar {

  .no-border {
    .side-nav {
      &.buttons {
        border-bottom: 0;
      }
    }
  }
  
  hr {
    margin: 1.5em 0;
  }

  .menu--block:not(:last-child) {
    margin-bottom:1.5em;
  }
}

@media (max-width: 767px) {

  /* backgrounds */
  .level-0 {
    > .level-1 {
      > .tb-megamenu-submenu {
        background-size: 50% !important;
        /* background-position-x: calc(100% - 30px) !important;
        background-position-y: 3px !important; */
        background-position-y: calc(100% - 70px) !important;
      }
    }
  }

  .sidebar {

    .side-nav-custom__noslide {
      padding: 30px;
    }

    .sidebar__slide {

      &.with-icon .side-nav .side-nav__item > a i,
      &.with-icon .side-nav .side-nav__item > span i {
        top: 29px;
      }

      .sidebar__slide {
        display: block;
      }

      .appended-block-title {
        padding: 21px 30px;
        background: #ccc;
        margin-bottom: 0;
      }

    }

    .side-nav {
      margin: 0;

      &.buttons {
        a {
          display: block !important;
        }
      }
    }

    .slick {
      text-align: center;

      img {
        outline: 0;
        width: auto;
        max-width: auto;
        min-width: auto;
        margin: 0 auto;
      }

      .slide__caption {
        margin-top: 10px;
      }
    }
  }

}