.main-content {
    
  .arrow {
    &.arrow-right {
      &.arrow-hidden {
        .slick__arrow {
          display: none;
        }
      }
      &.arrow-block {
        .slick__arrow {
          position: absolute;
          overflow: hidden;
          top: 0;
          right: 0;
          width: 106px;
          height: 48px;
          left: auto;
        }
      }
      .slick__arrow {
        .slick-arrow {
          padding: 0;
          border: 0;
          width: 48px;
          height: 48px;
          background: $red_1;
          text-indent: -99999px;
          border-radius: 0;
          outline: 0;
        }
        .slick-prev {
          float: left;
          &:before {
            color: $white_1;
            content: '\f177';
            padding-right: 5px;
            text-indent: 0;
            position: absolute;
            top: 10px;
            left: 8px;
            font-family: FontAwesome, Arial, Helvetica, "Nimbus Sans L", sans-serif;
            font-size: 30px;
            opacity: 1;
          }
        }
        .slick-next {
          float: right;
          &:before {
            color: $white_2;
            content: '\f178';
            padding-right: 5px;
            text-indent: 0;
            position: absolute;
            top: 10px;
            left: 8px;
            font-family: FontAwesome, Arial, Helvetica, "Nimbus Sans L", sans-serif;
            font-size: 30px;
            opacity: 1;
          }
        }
      }
    }
  }
  .news {
    &.arrow {
      &.arrow-right.arrow-block {
        .slick__arrow {
          top: -3em;
        }
      }
      &.arrow-right.arrow-hidden {
        &:hover {
          .slick__arrow {
            display: inherit;
          }
        }
      }
    }

    &.features {
      margin-bottom: 1.5em;
      .slick {
        .slick-slide {
          border: 1px solid $white_3;

          a {
            text-decoration:none;
            float:left;

            &:hover {
              .content {
                h2 {
                  text-decoration:underline;
                  p {
                    color:$black_3;
                  }
                }
              }
            }
          }

          .image {
            display: table-cell;
            width: 66.33%;
            vertical-align: top;
          }
          .content {
            display: table-cell;
            width: 39.50%;
            vertical-align: top;
            padding: 10px;
            padding: 10px 2.5em;
            text-align: left;

            h2 {
              text-transform:none;
              line-height:1.1;
              font-size:28px;
              color:$red_1;
            }

            p {
              color:$black_2;
              text-decoration:none;
            }
          }
        }
      }
    }

    &.headlines {
      padding-top:3em;
      padding-bottom:3em;

      .slick {
        .slick-slide {

          a{
            &:hover {
              .content {
                color:$black_2;
              }
            }
          }

          .content {
            font-weight: 700;
            font-family : "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
            color: $black_2;
            padding: 10px 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .main-content {
    .news {

      &.arrow.arrow-right .slick__arrow,
      &.arrow.arrow-right.arrow-block .slick__arrow {
        .slick-arrow {
          width: 24px;
          height:24px;

          &:before {
            top: 5px;
            left: 4px;
            font-size: 15px;
          }
        }
      }

     &.arrow.arrow-right.arrow-block .slick__arrow {
        width: 53px;
      }


      &.features {
        .slick {
          .slick-slide {
            .image {
              width:100%;
              display:block;
            }
            .content {
              width:100%;
              display:block;
              h2 {
                font-size:18px;
              }

              P {
                line-height:1.1;
                font-size:12px;
              }
            }
          }
        }
      }

      &.headlines {
        padding:1.5em 0;
        .slick {
          .slick-slide {
            .content {
              line-height:1.1;
              font-size:12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-content {
    .slick-news-features {
      .slick__arrow {
        display: none;
      }
      .slick__slide .news-content {
        max-height: none;
      }
    }
  }
}
