@font-face {
  font-family: 'Gotham HTF Medium';
  src: url("/themes/indicud/css/font/GothamHTF-Medium.eot");
  src: url("/themes/indicud/css/font/GothamHTF-Medium.eot?#iefix") format("embedded-opentype"), url("/themes/indicud/css/font/gothamhtf-medium-webfont.woff2") format("woff2"), url("/themes/indicud/css/font/gothamhtf-medium-webfont.woff") format("woff"), url("/themes/indicud/css/font/GothamHTF-Medium.ttf") format("truetype");
}

@mixin calc($property,
$expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -ms-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.user-logged-in {
  #block-navigation-extras {
    &.contextual-region {
      position: inherit;
      .contextual {
        right: -100px;
      }
    }
  }
}

*:focus {
  outline: 0 !important;
}

/* module block - landing pages */

/* special page */

.path-payment {
  h1 {
    font-size: 2em;
    text-align: center;
  }
}

/* community outreach */

h1.co {
  font-size: 30px;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: none;
  margin: 35px 0;
  font-weight: normal;
  &.inner {
    margin-bottom: 18px;
  }
}

table.bordered-internal {
  font-size: 12px;
  width: 100%;
  margin-bottom: 1.5em;
  tr {
    th {
      padding: 20px;
    }
    td {
      font-size: 12px;
    }
    td:last-child {
      text-align: left;
    }
  }
  th,
  td {
    border-top: 1px dashed $black_2;
    border-bottom: 1px dashed $black_2;
    border-left: 1px solid $black_2;
    border-right: 1px solid $black_2;
    text-align: center;
  }
  tr {
    th:first-child,
    td:first-child {
      border-left: 0;
    }
    th:last-child,
    td:last-child {
      border-right: 0;
    }
  }
  tr:first-child {
    th,
    td {
      border-top: 1px solid $black_3;
    }
  }
  tr:last-child {
    th,
    td {
      border-bottom: 1px solid #6d6e72;
    }
  }
  tr:nth-child(1) {
    th {
      color: $red_1;
      font-weight: bold;
    }
  }
  tr:nth-child(3),
  tr:nth-child(5) {
    background: $white_5;
  }
}

body {
  #cboxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $black_1;
    z-index: 100;
  }
  #colorbox {
    z-index: 1000;
    #cboxLoadedContent {
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    #cboxClose {
      text-indent: 0;
      position: absolute;
      top: 0;
      right: 0;
      font-family: FontAwesome, Arial, Helvetica, "Nimbus Sans L", sans-serif;
      width: 50px;
      height: 50px;
      background: none;
      color: transparent;
      border: 0;
      text-align: center;
      &:before {
        text-shadow: 1px 1px 1px #777;
        font-family: FontAwesome, Arial, Helvetica, "Nimbus Sans L", sans-serif;
        position: absolute;
        content: '\f00d';
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
        color: $white_1;
        z-index: 10000;
        font-size: 40px
      }
    }
  }
}

@media (max-width: 991px) {
  body {
    #colorbox {
      #cboxClose {
        width: 25px;
        height: 25px;
        &:before {
          font-size: 20px
        }
      }
    }
  }
  table.bordered-internal {
    tr {
      th,
      td {
        text-align: left;
        ol,
        ul {
          padding-left: 16px;
        }
      }
    }
  }
}

/* programs */

.page-node-6077,
.page-node-5638 {
  #filter-programs::-ms-clear {
    display: none;
  }
  .main {
    >.container {
      &:before {
        display: none;
      }
    }
  }
  .school-with-program-listing {
    ul {
      list-style: none;
      padding-left: 0;
      li {
        &.school {
          border-bottom: 1px solid $white_3;
          &:last-child {
            border-bottom: 0;
          }
        }
        margin-bottom: 25px;
        .views-field-title {
          font-size: 22px;
          font-family: "kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif;
          margin-bottom: 12px;
          a {
            color: $black_5;
          }
        }
        .program-list {
          ul {
            display: inline-block;
            margin-left: -15px;
            margin-right: -15px;
            width: 100%;
            &.u-list {
              >li {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
            li {
              min-height: 250px;
              margin-bottom: initial;
              border-bottom: initial;
              &:before {
                display: none;
              }
              img {
                -webkit-filter: grayscale(80%);
                filter: grayscale(80%);
              }
              ul {
                li {
                  min-height: auto;
                }
              }
              .actions-wrapper {
                display: inline-block;
                position: relative;
                .actions {
                  position: absolute;
                  bottom: 8%;
                  right: 2%;
                  ul {
                    white-space: nowrap;
                    list-style: none;
                    margin: 0;
                    li {
                      display: inline-block;
                      padding: 0;
                      a {
                        opacity: 1;
                        i {
                          font-size: 18px;
                          -webkit-transition: transition all 1s ease-in-out;
                          -moz-transition: transition all 1s ease-in-out;
                          -ms-transition: transition all 1s ease-in-out;
                          -o-transition: transition all 1s ease-in-out;
                          transition: transition all 1s ease-in-out;
                          &:before {
                            padding: 10px;
                          }
                        }
                        span {
                          display: none;
                        }
                      }
                      &:hover {
                        a {
                          opacity: 1;
                          color: $red_1;
                          i {
                            transform: scale(1.1);
                            &:before {
                              text-align: center;
                              background: rgba(255, 255, 255, 0.3);
                              border-radius: 100%;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              .views-field-title {
                font-size: 18px;
                margin-top: 5px;
                min-height: 65px;
                max-height: 65px;
              }
              &:hover {
                img {
                  -webkit-filter: grayscale(0%);
                  filter: grayscale(0%);
                }
              }
            }
          }
        }
      }
    }
  }
}

/* fd-programs */

.path-programs {
  .views-element-container {
    .preview {
      padding: 0;
      a {
        text-decoration: none;
      }
      margin-bottom: 1.5em;
      .content {
        min-height: 150px;
        margin: 25px 30px;
        display: inline-block;
        .responsive-table {
          display: table;
          .row {
            display: table-row;
            .cell {
              display: table-cell;
              padding-bottom: 10px;
            }
            .cell:first-child {
              padding-right: 5px;
              width: 30%;
              p {
                white-space: nowrap;
              }
            }
            .cell:last-child {
              padding-left: 5px;
            }
          }
        }
        .title {
          color: $red_1;
          line-height: 1.1;
          position: relative;
          display: block;
          font-size: 1em;
          text-decoration: none;
        }
        p {
          margin: 0;
          font-size: 12px;
          color: $black_3;
          a,
          span {}
          a:hover {
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}

.path-events {
  h1 {
    font-size: 30px;
  }
  #block-indicud-content {
    .calendar-calendar .month-view .full td.date-box.today {
      background: rgba(40, 40, 40, 0.2);
    }
    .calendar-calendar .month-view .full tr td.single-day.today {
      background: rgba(40, 40, 40, 0.2);
      color: $white_1;
    }
    header {
      background: $red_1;
      h1,
      h2,
      h3 {
        margin: 10px;
        color: $white_1;
      }
      &:hover {
        background: $red_1;
      }
    }
  }
  .events {
    .row {
      min-height: 130px;
      padding-bottom: 20px;
      border-bottom: 1px solid $white_2;
      margin-bottom: 20px;
      &.active {
        opacity: 1;
        .content,
        .date {
          color: $red_1;
        }
      }
      &.inactive {
        opacity: 0.5;
      }
    }
  }
}

.page-node-type-partner {
  article>h2 {
    display: none;
  }
}

.page-node-type-personnel {
  .views-content {
    margin-bottom: 25px;
  }

  .office,
  .biography {
    color: $black_2;
    &.clear {
      clear: both;
    }
  }
  .office {
    margin-bottom: 2.5em;
    ul {
      list-style: inside;
      padding-left: 0;
      li {
        &:before {
          content: none !important;
        }
      }
      &.u-list {
        list-style: none;
        li {
          padding-left: 0;
          margin-left: 0;
          &:before {
            content: "\f061";
            position: relative;
            margin-right: 0.5em;
            font-size: 10px;
            top: -2px;
          }
        }
      }
    }
  }
}

.media-videos .views-field,
.path-videos .views-field,
.media-gallery .views-field,
.path-gallery .views-field {
  &.views-field-field-image {
    position: relative;
    &:before {
      content: ' ';
      background: url(../media/icons/custom/images-stack.png) center center no-repeat;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 5;
      width: 50px;
      height: 50px;
      background-size: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px 0 0 0;
    }
    >div>a:not(:first-child)>img {
      display: none;
    }
  }
  &.views-field.views-field-title {
    clear: both;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 0;
    min-height: 65px;
  }
}

.path-lrc {
  .lrc-databases-by-alpha {
    &.summary {
      display: inline-block;
      width: 100%;
      padding: 1em;
      margin-bottom: 0;
      background: $white_2;
      .u-list {
        li {
          float: left;
          padding: 5px 10px;
          display: block;
          border: 1px solid #888;
          margin-right: 10px;
          &:before {
            content: none;
          }
          &:hover {
            background: $red_1;
            span,
            a {
              color: $white_1;
              font-weight: bold;
            }
          }
        }
      }
    }
    >.views-content {
      clear: both;
      margin: 2.5em 0;
      display: inline-block;
      .views-row {
        border-bottom: 1px solid $white_3;
        padding-bottom: 1em;
        margin-bottom: 1.5em;
      }
    }
  }
}

.sidebar {
  .singular-pdf-feature {
    .slide__caption {
      padding: 5px 10px 10px;
    }
    .slick .slide__title {
      text-transform: inherit !important;
      position:absolute;
      left:0;
      bottom:0;
      a,
      span {
        font-size: 14px;
        line-height: 1.5em;
        display: inline-block;
        font-weight: normal;
      }
    }
  }
}

/* ---------------- page node types ---------------- */
.path-privileges {
  .card {
    .card-body {
      height: 7.5rem;
      overflow: auto;
      display: block;
    }
  }
}

/* ---------------- english pages acting like RTL ---------------- */

.rtl {
  text-align: right;
  direction: rtl;
  a {
    text-align: right;
    direction: rtl;
  }
  .course-info {
    .col-sm-5,
    .col-md-5 {
      float: right;
    }
    .btn_ico-right .fa {
      right: 20px;
      transform: rotate(180deg);
      top: 1em;
    }
    ul.course-info-list {
      li {
        text-align: right;
        direction: rtl;
        text-indent: 30px;
        i {
          right: 0;
        }
      }
    }
  }
}

.u-normal {
  &.rtl {
    padding-left: auto;
    padding-right: 16px;
  }
}

.page-node-type-faculty,
.page-node-type-department {
  iframe {
    border: 1px solid $white_3;
  }
}

// landing page for external
.page-node-type-student-life-basic-page {
  /* farsi */
  &.page-node-22294 {

    h2, h3, h4 {
      font-weight:300;
    }

    h2 {
      font-size:45px;
      line-height:1.25em;
    }

    .u-normal {
      padding-right:0;
    }
    
    .persian-consultation {
      i {
        &.fa-whatsapp,
        &.fa-envelope-o {
          padding-left:7px;
        }
        color: $white_1;
        background:$black_5;
        border-radius: 100%;
        padding: 5px 3px;
      }
    }
    .navigation {
      h3 {
        direction: rtl;
        text-align: center;
        font-weight:300;
        font-family:initial;
        margin:10px 0 20px 0;
        font-size:20px;
      }
    }

    .image-header {
      margin-bottom:40px;
      margin-top:40px;
    }
  }
}

.page-node-type-unified-programs {
  article {
    display:inline-block;
  }
}

@import "main_page_specific_media";
