.views-content {
  .views-row:last-child {
    .faculty-profile {
      .faculty-profile-text {
        border-bottom: 0;
      }
    }
  }
}

/* blocks */

.body--block {
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  clear: both;
  .row {
    margin: 0;
  }
  .programs {
    .program {
      margin-bottom: 2em;
    }
    .program:nth-child(odd) {
      padding-left: 0;
    }
    .program:nth-child(even) {
      padding-right: 0;
    }
    /* using the javascript, make a solid height */
    .wrapper-preview {
      display: block;
      position: relative;
      a {
        text-decoration: none;
      }
      .preview {
        padding: 0;
        .preview__media {
          display: block;
          margin: 0;
        }
        .preview__inner {
          padding: 10px;
          .preview__title {
            min-height: 44px;
            margin: 10px 0;
            display: inline-block;
          }
          .preview__summary {
            position: relative;
            height: 100px;
            min-height: 100px;
            overflow: hidden;
            color: $black_5;
          }
        }
        .btn {
          /* display: block;
          margin-top: 21px;
          padding: 15px 10px;
          font-size: 14px; */
        }
        .preview__inner:after {
          content: ' ';
          width: 100%;
          position: absolute;
          /* bottom: 50px;
          height: 50px;
          z-index: 0;
          /* left: 2px; */
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0+0,1+100 */
          /* background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
          /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
          /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
        }
      }
    }
    .wrapper-preview:hover {
      .preview {
        .preview__inner {
          .preview__summary {
            overflow-y: auto;
          }
        }
      }
      .preview__inner:after {
        background: none;
      }
    }
  }
}

.bottom-block {
  .programs {
    .program {
      margin-bottom: 1em;
    }
    /* using the javascript, make a solid height */
    .wrapper-preview {
      display: block;
      position: relative;
      a {
        text-decoration: none;
      }
      .preview {
        padding: 0;
        .preview__media {
          display: block;
          margin: 0;
        }
        .preview__inner {
          padding: 10px;
          .preview__title {
            min-height: 30px;
            margin: 10px 0;
          }
          .preview__summary {
            position: relative;
            height: 200px;
            overflow: hidden;
            color: $black_1;
          }
        }
        .btn {
          display: block;
          margin-top: 21px;
          padding: 15px 10px;
          font-size: 14px;
        }
        .preview__inner:after {
          content: ' ';
          width: 95%;
          position: absolute;
          bottom: 55px;
          height: 50px;
          left: 2px;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0+0,1+100 */
          background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
          /* IE6-9 */
        }
      }
    }
    .wrapper-preview:hover {
      .preview {
        .preview__inner {
          .preview__summary {
            overflow-y: auto;
          }
        }
      }
      .preview__inner:after {
        background: none;
      }
    }
  }
}

$font-size: 14px;
$line-height: 1.4;
$lines-to-show: 5;
/* 18/09/2017 */

.iconized {
  .Read.more {
    text-align: left;
    white-space: normal;
    display: inline-block;
    padding: 0.5em 0 1em;
    font-weight: 600;
    &:after {
      content: '\f1d8';
      padding-left: 0.8em;
      font-family: FontAwesome, Arial, Helvetica, "Nimbus Sans L", sans-serif;
    }
  }
  .blazy {
    .grid {
      margin-bottom: 2em;
      padding-bottom: 1em;
      /* border-bottom: 1px solid $white_3; */
      /* &:last-child {
        border-bottom: 0 !important;
      } */
    }
  }
  &.program {
    .blazy {
      .Arabic,
      .arabic {
        .content {
          direction: rtl;
          text-align: right;
        }
      }
      .grid {
        margin-bottom: 1.5em;
        padding-bottom: 1em;
        .pocket {
          &.preview {
            padding: 0;
            .content {
              margin: 25px 30px;
              position: relative;
              display: block;
              font-size: 1em;
              .title {
                font-size: 1em;
                color: $red_1;
              }
              .body {
                color: $black_2;
                margin-bottom: 15px;
                display: block;
                /* Fallback for non-webkit */
                display: -webkit-box;
                height: $font-size*$line-height*$lines-to-show;
                /* Fallback for non-webkit */
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -moz-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .actions {
              padding: 0 25px 30px;
              .btn {
                margin-top: 0;
              }
            }
          }
        }
        &:hover {
          .pocket {
            &.preview {
              .content {
                .body {
                  display: -webkit-box;
                  -webkit-box-orient: initial;
                  text-overflow: unset;
                  overflow-y: scroll;
                }
              }
            }
          }
        }
      }
    }
  }
}

.main {
  .main-content {
    .message-from-the-dean,
    .message-from-the-director {
      .image-float-content {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
        border: 0;
        width: 250px;
      }
    }
  }
}

@media (max-width: 767px) {
  .main {
    .main-content {
      .message-from-the-dean,
      .message-from-the-director {
        .image-float-content {
          width: 200px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
  /* 18/09/2017 */
  .iconized {
    &.program {
      .blazy {
        .grid {
          .pocket {
            &.preview {
              .content {
                .body {
                  display: none;
                }
              }
              .actions {
                padding: 0 15px 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 499px) {
  .main {
    .main-content {
      .message-from-the-dean,
      .message-from-the-director {
        .image-float-content {
          width: 45%;
          margin-bottom: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .discover {
    padding: 10px !important;
  }
  .body--block .programs .program:nth-child(odd) {
    padding-right: 0;
  }
  .body--block .programs .program:nth-child(even) {
    padding-left: 0;
  }
  .bottom-block .programs .wrapper-preview .preview .preview__inner .preview__title {
    min-height: auto;
    height: auto;
  }
  .bottom-block .programs .wrapper-preview .preview .preview__inner .preview__summary {
    min-height: auto;
    height: auto;
  }
  .bottom-block .programs .wrapper-preview .preview .preview__inner:after {
    content: none;
  }
  .bottom-block .programs .wrapper-preview .preview .preview__inner {
    padding: 10px 0 5px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .bottom-block .programs .wrapper-preview .preview .preview__inner .preview__title {
    min-height: 70px;
    height: 70px;
  }
}

/* standard views */
.circular-image {
  img {
    border-radius: 100% !important;
  }
}

/* search form */

.path-search .search-page-form {
  margin-bottom: 1.5em;
  input[type='search'] {
    background: none;
    border: 1px solid $white_4;
    padding: 5px;
  }
  .search-help-link {
    margin-bottom: 10px;
    font-size: 10px;
  }
}

.path-search details {
  border: 1px solid $white_3;
  padding: 10px;
  input {
    background: none;
    border: 1px solid $white_4;
    padding: 5px;
  }
  fieldset {
    * {
      font-size: 1em;
    }
    legend {
      border-bottom: none;
      font-weight: bold;
    }
    fieldset {
      * {
        font-size: 12px;
      }
      padding-left: 16px;
    }
  }
}

.path-search .search-advanced {
  summary {
    outline: none;
  }
}

.path-search ol {
  padding-left: 16px;
  li {
    h3 {
      font-size: 1em;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 0.8em;
    }
  }
}

@media (max-width: 991px) {
  .school-highlight-banner.half .slick {
    border-bottom: 0;
  }
}

@media (max-width: 767px) {
  .highlight-banner {
    &.half {
      &.news {
        .slick {
          padding-top: 40px;
          .slick__arrow {
            width: 66px;
            height: 30px;
            .slick-arrow {
              width: 30px;
              height: 30px;
            }
            .slick-prev {
              &:before {
                top: 8px;
                left: 7px;
                font-size: 14px;
              }
            }
            .slick-next {
              &:before {
                top: 8px;
                left: 7px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

/* slick arrows */
.social-box .Photos,
.cud-slick {
  .slick-arrow {
    width: auto;
    height: auto;
    &:before {
      font-family: FontAwesome, Arial, Helvetica, "Nimbus Sans L", sans-serif;
    }
    &.slick-next {
      &:before {
        color: $red_1;
        content: '\f061';
        padding-right: 5px;
      }
    }
    &.slick-prev {
      &:before {
        color: $red_1;
        content: '\f060';
        padding-left: 5px;
      }
    }
  }
  &.downloads {
    .media--image {
      background: $white_1;
    }
    .slide__caption {
      .slide__title a {
        color: $white_1;
      }
      position: absolute;
      bottom: 0;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    }
  }
}

/* half body */

.half-content {
  width: 50%;
  margin-left: 15px;
  position: relative;
  float: right;
}

@media (max-width: 449px) {
  .half-content {
    width: 100%;
    margin-left: 0;
    float: initial;
    position: initial;
    margin-bottom: 15px;
  }
}