@import "../../styles/base/variables";

.same-height {
  .same-height-target {
    .header {
      background:url('/themes/indicud/media/img/canada-leaf.png') 50% 50% no-repeat;
      background-size:contain
    }
  }
}

.table-responsive {
  display:table;
  &.col-md-12 {
    padding:0;
    margin:0;
  }

  &.light-gray {
    background: $white_3;
    padding: 10px;
  }

  .row {
    display:table-row;
    margin:0;
    padding:0;

    .cell {
      display:table-cell;
      padding:10px;
      vertical-align:top;
      line-height:1.5em;

      &:first-child {
        padding-left:0;
      }
      &:last-child {
        padding-right:0;
      }
    }
  }
}

/* gems */

.page-node-21771 {
  .front-hero-without-overlay header.headroom--not-top, 
  .front-hero-without-overlay header.nav-opened, 
  .front-hero-without-overlay header.without-hero, 
  .front-hero-without-overlay header:hover, 
  header.forced-hover, 
  header.inner-hero-without-overlay.headroom--not-top, 
  header.inner-hero-without-overlay.nav-opened, 
  header.inner-hero-without-overlay.without-hero, 
  header.inner-hero-without-overlay:hover {
    background-color: rgba(14,30,44,0);
  }

  header .lefsid .logoone a, header .lefsid .logoone span {
    background: url(../media/logo/bigger/logo-hover.png) center center no-repeat;
  }

  .faculty-programs-container, 
  .faculty-programs-request-for-callback,
  .main .block-content-terms-and-conditions {
    border-top: none !important;
  }

  .footer-links {
    .fa {
      font-size:2em;
    }
  }
}

.gems-container {
  .partnership {
    img {
      width:100%;
      max-width:100%;
      margin-bottom:1em;
    }
    .listing {
       padding-left:0;
       font-size:16px;
       .left {
         padding-left:0;
       }
       .right {
         padding-right:0;
         text-align:left;
       }

       .u-normal {
         li {
           margin-bottom:1em;
         }
       }
    } 
  }
}

.faculty-programs-request-for-callback {
   padding-top:60px;
   border-top: 20px solid #eaeaea;
   padding-bottom:40px;
}

.faculty-programs-container {
  padding-top:60px;
  border-top: 20px solid #eaeaea;
  .faculty-programs {
    padding: 0 30px;
    .views-field-title {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: bold;
    }
    .item-list {
      ul {
        font-size: 16px;
        line-height: 24px;
        list-style: none;
        padding-left: 0;
        li {
          list-style: none;
          padding-left: 0;
          
        }
      }
    }

    .item-list ul li {
      margin-bottom: 40px;
    }
    .ga-program {
      position:relative;

      .faculty-header {
        display: block;
        background: none;
        font-size: 16px;
        margin-bottom: 20px;
        padding:0;
        cursor:pointer;

        img {
          display: block;
          max-width: initial;
          width: auto;
          padding-right: 5px;
        }
        .col-md-4,
        .col-md-8,
        .col-xs-4,
        .col-xs-8,
        .col-md-3,
        .col-md-9,
        .col-xs-3,
        .col-xs-9 {
          padding-left: 0;
        }
      }
      .tooltip-program-content {
        display: none;
        background:$white_1;
        min-height:590px;
        top: -100px;
        right: -200px;
        width: 400px;
        box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      }

      &:hover {
        .tooltip-program-content {
          display: block;
          position: absolute;
          z-index: 25;
          text-decoration:none;
          .program-content {
            padding:20px 30px;
            text-decoration:none;
            .title {
              min-height:65px;
              color:$red_1;
              font-weight:600;
              text-decoration:none;
            }
          }
        }
      }
    }
  }
}
/* /gems */

@media (max-width:1439px) {
  .faculty-programs-container {
    .faculty-programs {
      .views-col.col-3 {
         .ga-program {
           .tooltip-program-content {
             right: 300px;
           }
         }
      }
    }
  }
}