.calendar-calendar .month-view .full td.single-day .inner div, .calendar-calendar .month-view .full td.single-day .inner div a, .calendar-calendar .month-view .full td.multi-day .inner div, .calendar-calendar .month-view .full td.multi-day .inner div a, .calendar-calendar .month-view .full td .inner div.calendar.monthview div, .calendar-calendar .month-view .full td .inner div.calendar.monthview div a, .calendar-calendar .week-view .full td.single-day .inner div, .calendar-calendar .week-view .full td.single-day .inner div a, .calendar-calendar .week-view .full td.multi-day .inner div, .calendar-calendar .week-view .full td.multi-day .inner div a, .calendar-calendar .week-view .full td .inner div.calendar.weekview div, .calendar-calendar .week-view .full td .inner div.calendar.weekview div a, .calendar-calendar .day-view .full td .inner div.view-item, .calendar-calendar .day-view .full td .inner div.calendar div, .calendar-calendar .day-view .full td .inner div.calendar div a
{
  float:left;
}


.block-sidebar-calendar-month,
.active-month-events-calendar {
  position:relative;

  header {
    position: initial;
    border: 0;
    box-shadow: none;

    h3 {
      text-transform: none;
      font-size: 1.2em;
    }
  }

  .calendar-calendar th.days {
    font-weight: normal;
    font-size: 14px;
    padding: 5px 0;
  }

  .calendar-calendar .month-view .full td .inner div.day, .calendar-calendar .month-view .full td .inner div.day a {
    font-size: 12px;
  }

  .pager {
    position:absolute;
    top:0;
    right:0;
    margin:0;
    ul {
      li {
        a {
          background:none;
          border:0;
          font-size:2em;
          font-weight:normal;
          color:$white_1;
        }

        &.pager__item {
          &.pager__item--previous {
            a {
              span:first-child {
                display: none;
              }
            }
          }

          &.pager__item--next {
            a {
              span:last-child {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.block-sidebar-calendar-month {
  header {
    position: initial;
    border: 0;
    box-shadow: none;
    background: none;
    margin-bottom: 0;
    line-height: 0;
    min-height: 15px;
    height: 25px;

    h3 {
      font-size: 0.8em;
      color: $red_1;
    }
  }
}

.sidebar {
  .calendar-calendar {
    position: relative;

    .month-view {
      table {
        thead {
          th {
            font-size: 0.5em;
          }
        }
      }
    }

    .month-view .full tr.single-day .no-entry,
    .month-view .full tr.single-day .no-entry .inner {
      height: 20px !important;
      line-height: 20px !important;
    }

    .month-view .full tr.single-day .single-day:not(.no-entry):not(.empty) {
      background: $gray_1;
    }
    .month-view .full tr.single-day .single-day:not(.no-entry):not(.empty) .inner {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      display: none;
    }

    .month-view .full tr.single-day .single-day:not(.no-entry):not(.empty):hover .inner {
      position: absolute;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      height: 100% !important;
      width: 100%;
      display: block;
      cursor: pointer;
      z-index: 5;
      font-size: 12px;

      .item {
        position: relative;
        z-index: 5;
        color: $white_1;
        text-align: left;
        float: left;
        padding: 5px;

        .contents {
          a {
            color: $white_1;
            font-size: 10px;
          }

          time {
            display: block;
            font-size: 9px;
            color: $gray_1;
            margin-bottom: 5px;
          }
        }
      }
    }

    .month-view .full tr.single-day .single-day:not(.no-entry):not(.empty):hover .inner:before {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100% !important;
      display: block;
      background: $black_1;
      opacity: 0.8;
      cursor: pointer;
      z-index: 0;
    }

    .month-view .full tr.date-box,
    .month-view .full tr.date-box td,
    .month-view .full tr.multi-day,
    .month-view .full tr.multi-day td {
      font-size: 10px;
      height: 12px;
      max-height: 12px;
    }
  }
}

@media (max-width: 767px) {
  .calendar-calendar .month-view .full td.single-day .inner .calendar .contents a {
    font-size: 10px;
    line-height: 1.1em;
    display: inline-block;
    text-decoration: none;
  }
}