.x-small {
  font-size: 75%;
}

table {
  &.vertical
  {
    &.vw-half {
      tr th {
        width: 50%;
      }
    }
    &.vw-third {
      tr th {
        width: 33.33%;
      }
    }
    &.vw-fourth {
      tr th {
        width: 25%;
      }
    }
    &.vw-fifth {
      tr th {
        width: 20%;
      }
    }

    tbody, thead {
      tr {
        th {
          border-top:1px solid $red_1;
          border-left:1px solid $red_1;
          border-bottom:1px solid $gray_2;
          background: $red_1;
          color:$white_1;
          padding: 10px;
          font-weight: normal;
          font-size: 16px;
          vertical-align: top;
        }

        th:last-child {
          border-bottom:1px solid $red_1;
        }
      }

    }
  }
}

@media (max-width: 991px) {
  tr {
    &.small {

      th, td {
        font-size: 85%;
      }
    }
  }

  table.responsive {
    th {
      br {
        display: none;
      }
    }

    tbody {
      tr {
        td{
          padding-left:10px;
          padding-right:10px;

          &:before {
            width:15em;
          }
        }
      }

      tr {
        border:1px solid $white_3;
      }

      tr:nth-child(odd) {
        background:$white_3;
      }
    }
  }
}