@media (max-width: 991px) {

  /* gems */
.page-node-21771 {

  .main .main-content, 
  .main.without-sidebar .main-content {
    padding: 15px !important;
  }

  .footer-links {
    .fa {
      font-size:1.5em !important;
    }
  }
}
/* gems */

  .page-node-type-faculty,
  .page-node-type-department {
    table {
      &.program-table {
        &.vertical tr {
          background:none;
        }
      }
    }
  }

  .page-node-type-student-life-basic-page {
    &.page-node-22289 {
      .navigation {
        h3 {
          direction:rtl;
          text-align:center;
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .page-node-6077,
  .page-node-5638 {

    img {
      -webkit-filter: initial !important;
      filter: initial !important;
    }

    .filters {
      padding: 0;
    }

    .school-with-program-listing ul li .program-list ul {
      margin-left: 0;
      margin-right: 0;

     &.u-list > li {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .actions-wrapper {
      .actions{
        ul {
          li {
            a {
              i {
                &:before {
                  font-size:24px;
                  background: rgba(255, 255, 255, 0.3);
                  border-radius:100%;
                  padding:15px;
                }
              }
            }
          }
        }
      }

    }
  }
  .testimonials {
    .testimonial {
          margin: 0 0 1em;
          padding-bottom: 1em;
          cursor: pointer;

      .photo {
        margin-bottom:1em;
        img {
          width:50%;
          margin:0 auto;
        }

         &.play {
          &:after {
            top: 55%;
          }
        }
      }
      .content {
        text-align:center;
        blockquote {
          display:none;
        }
      }

      &.active {
        .content {
          blockquote {
            display:block;
            text-align:left;
          }
        }
      }
    }
  }
}