.user-logged-in.toolbar-tray-open {
  &.toolbar-tray-open {
    header.main-header {
      padding-top:75px !important;
    }
  }
}


/* edit icon */
.views-field-edit-media a,
.views-field-edit-node a,
.edit-node {
  position: absolute;
  background-image: url(../media/icons/pencil.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 26px !important;
  width: 26px !important;
  text-indent: -9999px;
  bottom: 70px;
  z-index: 50;
  background-color: #fff;
  border-radius: 50px;
}

/* logged without hero */
.toolbar-tray-open {
   &.toolbar-horizontal {
     margin-top:0;
   }

   &.toolbar-vertical {
    margin-top:0;
  }

}

.main {
  /* primary tabs */
  .indicud-content-edit > ul:before {
    /* background: $red_1;
    opacity: 0.5; */
    content: '';
    display: table;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px; */
  }
  .indicud-content-edit {
    > ul {

      list-style: none;
      display: inline-block;
      box-shadow: none;
      width: 100%;
      -moz-border-radius: 3px;
      font-size: 12px;
      font-family: arial, helvetica, sans-serif;
      padding: 0;
      text-decoration: none;
      color: #aaa !important;
      background-color: #f2f5f6;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
      background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
      background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
      background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
      background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
      background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2f5f6, endColorstr=#c8d7dc);

      li {
        float: left;
        padding: 10px 15px;

        a {
          color: $red_1;
          position: relative;
        }

        a:hover {
          color: $red_1;
        }
      }
    }
  }

  .messages div[role='contentinfo'] {
    padding: 25px;
    background: $gray_2;
    color: green;
    margin-bottom: 15px;
    border-radius: 10px;
  }
}
