.page-node-type-webform {
  .form-item-fullname-email-phone {
    .webform-multiple-table {
      table {
        tr {
          td {
            display:inline-block;
            width:100%;
            .form-item {
              margin-bottom:1em;
            }
          }
        }
      }

      .tabledrag-handle .handle {
        width: auto;
        height: auto;
        margin-bottom: 1em;
      }
      .webform-multiple-table--operations input {
        margin-bottom: 1em;
      }
    }
    .tabledrag-toggle-weight,
    .form-submit:not(.image-button) {
      background: $red_1;
      border-radius: 0;
      border: 0;
      color: $white_1;
      padding: 3px 10px;
      font-size: 0.8em;
      &:hover {
        background:$red_2;
      }
    }
  }
  .form-item--error-message {
    font-size: x-small;
    padding-top: 3px;
    color: $red_1;
  }
  .webform-submission-form:not(.full-fieldset-container) {
    .webform-checkboxes-other {
      .form-item {
        margin-bottom: 1em;
        label {
          font-weight: normal;
          font-size: 0.8em;
        }
      }
    }
    .webform-term-checkboxes-scroll {
      .fieldset-wrapper {
        border: 1px solid $white_3;
      }
    }
    fieldset:first-of-type {
      &:not(.fieldgroup) {
        width: 47.5%;
        margin-right: 2.5%;
        float: left;
      }
    }
    fieldset:last-of-type {
      &:not(.fieldgroup) {
        width: 47.5%;
        margin-left: 2.5%;
        float: right;
      }
    }
    .captcha,
    .form-actions {
      clear: both;
    }
  }
  .webform-submission-form {
    .js-form-type-textfield,
    .js-form-type-email,
    .js-form-type-tel,
    .js-form-type-textarea,
    .js-form-type-select {
      position: relative;
      label.show {
        &.visually-hidden {
          height: auto;
          clip: unset;
          width: auto;
          top: -19px;
          font-size: 12px;
          font-weight: 300;
          color: $gray_3;
        }
      }
    }
  }
}

.views-exposed-form,
.webform-submission-form {
  clear: both;
  margin-bottom: 2.5em;
  padding:1em;
  
  /* multiple field element */
  .js-form-type-webform-custom-composite {
    background:$white_3;
    padding:1.5em 10px;
    ul li {
      &:before {
        content:none !important;
      }
    }

    input {
      font-size:14px !important;
    }
  }

  .form--inline {
    &.webform-checkboxes-other {
      .form-checkboxes {
        .form-item {
          display: inline-block;
          margin-right: 1em;
        }
      }
    }
  }

  .hide-header {
    table {
      thead {
        display:none;
      }
    }
  }
  
  .where-did-you-hear-about-us {
    .fieldset-legend {
      font-size: 0.75em;
      text-transform: lowercase;
    }
  }
  .iti {
    min-width: initial;
    width: 100%;
  }
  .description {
    font-size: small;
    margin: 10px 0;
  }
 
  input[type='radio']:checked~label {
    color: #d8212c;
    background: #f4f4f4;
  }
  
  input[type='text'],
  input[type='tel'],
  input[type='email'],
  input[type='date'] {
    min-height: 53px;
    background: #fff;
    border: 1px solid #e3e3e3;
    width: 100%;
    color: #5d5d5d;
    font-size: 18px;
    line-height: initial;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input[type='text'],
  input[type='email'],
  input[type='date'] {
    padding: 13px 15px;
  }

  textarea {
    background: #fff;
    border: 1px solid #e3e3e3;
    width: 100%;
    padding: 13px 15px;
    color: #5d5d5d;
    font-size: 18px;
    line-height: initial;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

  fieldset {
    &.webform-type-radios {
      input[type=radio] {
        position: absolute;
        top: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        width: 1px;
        height: 1px;
        background: transparent;
      }

      .js-webform-radios {
        text-align: center;
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: table;
        table-layout: fixed;        
        .form-item {
          display: table-cell;
          border: 1px solid #dedede;
          vertical-align: middle;
          label {
            display: block;
            padding: 15px 5px;
            color: #5d5d5d;
            font-size: 18px;
            line-height: 1.2;
            margin: 0;
            cursor: pointer;
            font-family: 'open sans', arial, helvetica, sans-serif;
            font-weight: 400;
            &:first-child {
              border-right:0;
            }
          }
        }
      }

    }
  }

  .where-did-you-hear-about-us {
    margin-bottom: 15px;
    label {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .fieldset-wrapper {
      .form-item {
        min-width: 150px;
        margin-bottom: 0 !important;
        float: left;
        label {
          font-size: 12px;
        }
      }
    }
  } // place holder
  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $white_5;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $white_5;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $white_5;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $white_5;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $white_5;
  } 
  
  // select place holder
  select:invalid,
  option:first-child,
  option[value="- None -"],
  option[value="- none -"], 
  option[value="0"], 
  option[value=""], 
  option[value="None"], 
  option[value=All], 
  option[value=None] {
    color: $white_5;
  }
  select {
    option:not(:first-child) {
      color: $black_3;
    }
    optgroup,
    optgroup option:first-child {
      color: $black_3;
    }
  }
}

.custom-filter {
  display: inline-block;
  width: 100%;
  position: relative;
}

.views-element-container {
  z-index: 0;
  .views-exposed-form {
    /* display: inline-block;*/
    /* height:0; */
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px;

    input {
      margin-top:0 !important;
    }

    .form-actions {

      input[type='button'],
      input[type='submit'] {

        padding: 12px;
        box-shadow: none;
        background: none;
        border: 1px solid #d5202a;
        color: #d5202a;
        height: 53px;
        min-width:150px;
        &:hover {
          background: $red_1;
          color: $white_1;
        }
      }
    }
    .form-item-field-department-target-id {
      width: 50%;
      float: left;
    }
  }
}

.sidebar {
  .views-exposed-form {
    margin: 0;
    padding: 0;
    input:not([type=submit]),
    select,
    textarea {
      background: $white_1;
      padding: 5px 10px;
      width: 100%;
      border: 1px solid $white_4;
      border-radius: 5px;
      background: #fff;
      font-size: 12px;
      height: 40px;
      min-height: auto;
    }
    select {
      -webkit-appearance: menulist-button;
      -moz-appearance: menulist-button;
      -o-appearance: menulist-button;
      appearance: menulist-button;
      &::-ms-expand {
        background: #f60;
      }
    }
    input[type=submit] {
      background: #d8212c;
      border-radius: 0;
      border: 0;
      text-transform: uppercase;
      color: #fff;
      padding: 0.5em 1em;
      text-align: left;
      white-space: normal;
      position: relative;
    }
    .form-item {
      margin-bottom: 1em;
    }
  }
}

.path-webform {
  img {
    width: auto;
  }

  .webform-submission-registration-and-payment-form {
    label,
    legend, legend span {
      color:$black_3;
      font-weight: 100;
      line-height: 1em;
      margin-bottom: 0.25rem;
      font-size: small;
    }

    .fieldset-legend:after {
        background: none;
    }

    .fieldgroup {
      margin-bottom:0 !important;
      padding-bottom:0 !important;
    }

    .form-composite {
      .form-item {
        margin-bottom: 0;
      }

      .webform-composite-visible-title {
        legend {
          border:0;
          
          span {
            margin-bottom:0.25em;
          }
        }
      }
    }
    .form-item-is-cud-student {
      padding-top: 37px;
      padding-bottom: 10px;
    }

    .form-item-country {
      select {
        background-color:$white_3;
      }
    }
  }
}

@media (max-width: 767px) {

    /* multiple field element */
    .views-exposed-form,
    .webform-submission-form {
      .js-form-type-webform-custom-composite {
         table td {
           float: left;
           width: 100%;
         }

        input {
          font-size: 12px !important;
        }
      }      
    }
    
  .page-node-type-webform {

     .form-item-fullname-email-phone {
      span, 
      input[type=text] {
        font-size:12px;
      }
    }

    .webform-submission-form {
      .webform-checkboxes-other {
        .form-item {
          label {
            font-size: 12px;
          }
        }
      }
      fieldset:first-of-type {
        &:not(.fieldgroup) {
          width: 100%;
          margin-right: 0;
          float: none;
        }
      }
      fieldset:last-of-type {
        &:not(.fieldgroup) {
          width: 100%;
          margin-left: 0;
          float: none;
        }
      }
      .form-actions {
        margin-top: 1.5em;
        clear: block;
      }
    }
  }
  .webform-submission-form {
    .form-item-others-please-specify {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
  }
}
