@import "../../styles/base/variables";
/* for slick tweaks. ensure that the main content is with scope */

/* 
@media (max-width: 1220px) {
  .main-content {
    width: 100%;
  }
} 
*/

.one-pixel {
  height: 1px;
  line-height: 1px;
  font-size: 1px;
}

.popup {
  cursor:pointer;
}

/*blazy */

.media--loading:before {
  background: $red_1;
}

.red {
  color: $red_1;
}

a {
  &.red {
    text-underline: $red_1;
  }
}

.gray {
  color: $gray_3;
}

a {
  &.gray {
    text-underline: $gray_3;
  }
}

header {
  background-color: rgba(0, 0, 0, 0.4);
}

/* pdf viewer */

.page-node-type-files article iframe {
  min-height: 750px !important;
}

main {
  .views-element-container {
    header {
      position: relative;
      background: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      box-shadow: none;
      z-index: 0;
    }
  }

  /* without hero */
  &.without-hero {
    margin-top: 110px;

    #block-indicud-page-title {

      .h1,
      h1 {
        line-height: 1;
      }
    }
  }
}

@media (max-width: 1199px) {
  main.without-hero {
    margin-top: 90px;
  }
}

/* breadcrumb */

#breadcrumb {
  display: inline-block;
  width: 100%;
  margin: 0 0 15px;
  padding: 0;
  position: relative;
  top: -5px;

  ol {
    list-style: none;
    font-size: 0.8em;
    color: $gray_1;
    margin: 0;
    padding-left: 0;

    li:first-child {
      padding-left: 0;
    }

    li {
      float: left;
      padding-right: 5px;
      line-height: 1;

      a,
      span {
        line-height: 1;
      }
    }

    li:after {
      content: '\f0da';
      font-family: FontAwesome, Arial, Helvetica, "Nimbus Sans L", sans-serif;
      padding-left: 5px;
      font-size: inherit;
      line-height: 1;
    }

    li:last-child:after {
      display: none;
    }
  }
}

// data-dialog-type="modal"
// use-ajax link
.ui-widget-overlay {
  background: #000000; // / *{bgColorOverlay}* / url("images/ui-bg_flat_0_000000_40x100.png")/ *{bgImgUrlOverlay}* / 50%/ *{bgOverlayXPos}* / 50%/ *{bgOverlayYPos}* / repeat-x/ *{bgOverlayRepeat}* /
  // ;
  opacity: 0.9;
}

.ico-bg-circular:before {
  background: $white_2;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

/* uses js to plug without hero class */

header.without-hero {
  // 1/23/2019 background-color: $white_1 !important;
  background-color: rgba(14, 30, 44, 0.8) !important;  
}

/* make main navigation them small */

/* uses js to plug small navigation class */

header.without-hero.small-navigation {
  background-color: $white_1 !important;

  .container {
    .lefsid {
      .logoone {
        width: 140px;
        margin: 0 10px 0 0;

        a {
          background-size: 100% auto !important;
        }
      }
    }

    .tb-megamenu .tb-megamenu-nav .tb-megamenu-item>a {
      padding: 22px 4px;
      font-size: 12px;
    }

    .pull-right {
      padding-top: 20px;

      .portal-wrap>a {
        font-size: 12px;
      }

      .search-wrap .fa {
        font-size: 20px;
      }

      .search-wrap:hover input[type="text"] {
        width: 886px;
      }

      .portal-wrap {
        padding-bottom: 30px;

        ul {
          width: 300%;
        }
      }
    }
  }
}

.main.without-sidebar {
  background: $white_1;

  .main-content {
    width: 100%;
    /* padding: 84px 0 30px 0; */
    padding: 30px 0;
  }
}

.sidebar {
  .sidebar__opener {
    a {
      color: $black_1;
    }

    a:hover {
      color: $red_1;
      text-decoration: none !important;
      outline: 0;
    }
  }

  .slick {
    .slide__content {
      img {
        max-width: initial;
        width: 100% !important;
      }
    }

    .slide__title {
      text-align: center;
    }
  }
}

.before-content {
  float: right;
  width: 70.3%;
  position: relative;
  background: #fff;
}

main {

  #block-indicud-content {
    margin-bottom: 25px;
  }

  .main-content {
    .image-content-container {
      width: 100%;
      margin-bottom: 10px;
    }

    .image-content-container.vertical {
      width: 30%;
      float: right;
      margin-left: 10px;
      margin-bottom: 10px;

      img {
        width: 100%;
        margin-bottom: 10px;
      }

      img:last-child {
        margin-bottom: 0;
      }
    }

    .link-important {
      background: url(../media/icons/leaf.svg) left center no-repeat;
      padding-left: 16px;
    }

    article {
      .news__item__images {
        .item {
          float: left;
          padding-right: 5px;
          padding-bottom: 5px;
        }
      }

      .news__item__tags {
        clear: both;
        margin-top: 25px;
      }
    }

    /* unpublished background for each unpublished content */
    .unpublished {
      position: absolute;
      color: #888;
      top: 339px;
      left: 52px;
      z-index: 0;
      font-size: 100px;
      opacity: 0.2;
      transform: rotate(-45deg);
    }
  }
}

/* make image acts like css3 background */
.image-wrapper {
  img {
    width:100%;
    height:auto;
  }
}

/* div tables */

.table.responsive {
  display: table;

  img {
    border-radius: 5px;
  }

  h3 {
    margin-bottom: initial;
  }

  &.image {
    .row {
      &:hover * {
        color: $red_1;
      }

      .cell:first-child {
        padding-left: 0;
      }

      .cell {
        padding-bottom: 1.5em;
      }
    }
  }

  .row {
    display: table-row;

    &:first-child {
      .cell {
        padding-top: 0;
      }
    }

    .cell {
      vertical-align: top;
      display: table-cell;
      padding: 10px;

      .w25 {
        width: 25%;
      }
    }
  }
}

/* page specifics */

.page-node-type-news {
  .medium-title {
    h1 {
      font-size: 28px;
    }
  }
}

@media (max-width: 991px) {
  body {
    // reset width to
    // device/monitor width
    margin: 0;
  }

  .main {
    // reset width to
    // device/monitor width
    // failsafe for body -> margin: 0
    width: 100vw;

    .main-content {
      padding: 15px;
    }

    &.without-sidebar {
      .main-content {
        padding: 15px;
      }

      &.without-hero {
        margin-top: 70px;
      }
    }
  }

  iframe {
    width: 100%;
  }
}

@media (max-width: 767px) {

  main.without-hero {
    margin-top: 70px;

    &.without-sidebar {
      margin-top: 106px;
    }
  }


  /* fixed floating container */
  .fixed {
    &.fixed-container {
      position: fixed;
      width: 100%;
      z-index: 500;
      background: white;
      border: 2px solid $white_3;
      left: 0;
      top: 0;
      padding-top: 0;
      margin-top: 0 !important;
      padding: 10px;
      font-size: x-small !important;
      line-height: 1.2em !important;
      box-shadow: 3px solid $gray_3;
    }
  }

  .main-content {
    float: none;
  }
  .sidebar {
    .slick {
      .slide__content {
        img {
          width: initial !important;
          width: 100% !important;
        }
      }
    }
  }

  .image-container {
    max-height: 426px;
  }

  .table.responsive {
    display: table;

    .row {
      display: table-row;

      .cell {
        display: inline-block;
        width: 100%;
        padding-left: 0;

        p {
          line-height: initial;
        }
      }
    }
  }
}

@media (max-width: 449px) {
  .sidebar {
    .slick {
      .slide__content {
        img {
          width: 100% !important;
        }
      }
    }
  }
}

@import  
"main_slideshow",
"main_calendar",
"main_administration",
"main_view_block",
"main_page_specific",
"main_form",
"main_table",
"main_menu",
"main_grid";