header .navbar-inverse .navbar-nav > li:hover > a,
header .navbar-inverse .navbar-nav > li.active > a {
  border-bottom: 0;
}
header .navbar-inverse .navbar-nav > li:hover > a:after,
header .navbar-inverse .navbar-nav > li.active > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #d8212c;
}
header .sub-nav-wrap a,
header .sub-nav-wrap strong {
  font-family: "DubaiMedium","kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif;
    font-weight: 500;
  font-style: normal;

}
header .sub-nav-wrap strong {
  color: #333;
}

header .pull-right .portal-wrap:hover {
  border-bottom: 0;
  padding-bottom: 43px;
}

header .pull-right .portal-wrap:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #d8212c;
}
header .pull-right .portal-wrap ul {
  top: 100%;
}
header .pull-right .search-wrap{
  text-align:left;

  &:hover input[type="text"] {
    width: 700px;
  }
}

@media (max-width: 1199px) {
  header .lefsid .logoone {
    width: 200px;
    margin: 15px 15px 0;
  }
  header .lefsid .logoone a {
    background-size: 100% auto !important;
  }
  header .navbar-inverse .navbar-nav > li > a {
    font-size: 14px;
    padding: 41px 8px;
  }
  header .pull-right {
    padding-top: 1rem;
    padding-left: 0;
  }
  header .pull-right .portal-wrap {
    padding-bottom: 38px;
  }
  header .pull-right .search-wrap:hover input[type=text] {
    width: 590px;
  }
  header .pull-right .search-wrap {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 767px) {
  header {
    // 1/23/2019
    // background-color: rgba(255, 255, 255, 0.16);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  header .lefsid .logoone {
    width: 183px;
    margin: 7px 10px 3px;
  }
  header:not(.we-megamenu) .navbar-inverse .navbar-toggle {
    width: 40px;
    height: 40px;
    margin: 20px 0 0;
    padding: 9px 5px;
  }
  header:not(.we-megamenu) .navbar-inverse .navbar-toggle .icon-bar {
    height: 3px;
    width: auto;
    margin: 0 0 7px;
    border-radius: 0;
  }
  header:not(.we-megamenu) .navbar-inverse .navbar-toggle .icon-bar:last-child {
    margin-bottom: 0;
  }
  header #nav {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: right;
    height: 0;
    margin: 0 -15px;
    padding: 0 30px;
    -webkit-transition: height .4s;
    -ms-transition: height .4s;
    transition: height .4s;
  }
  header #nav:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    // 1/23/2019
    // background: #919191;
  }
  header #nav .navbar-nav {
    margin: 24px 0 26px;
  }
  header #nav .navbar-nav,
  header #nav .navbar-nav > li {
    position: static;
  }
  header #nav .navbar-nav > li > a {
    padding: 15px 0;
    font-family: "DubaiBold","kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
	 font-weight:700;
  font-style:normal;
    font-size: 16px;
    border: none;
  }
  header #nav .navbar-nav > li:hover > a:after {
    display: none;
  }
  header #nav .pull-right,
  header #nav .search-wrap,
  header #nav .portal-wrap {
    float: none !important;
  }
  header #nav .pull-right {
    padding: 0;
  }

  header #nav .pull-right .search-outer-wrap {
    width:100% !important;
  }

  header #nav .search-wrap {
    position: relative;
    margin: 0;
  }
  header #nav .search-wrap button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 19px;
    left: 8px;
    color: #4a545d;
  }
  header #nav .search-input {
    position: static;
    display: block;
    width: 100%;
    background: #e9e9e9;
    opacity: 1;
    color: #919191;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    height: 45px;
    padding: 0 19px 0 40px;
    line-height: auto;
  }
  header #nav .portal-wrap {
    padding: 0;
    margin: 0 0 10px;
  }
  header #nav .portal-wrap .portal {
    font-family: "DubaiBold", "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
	 font-weight:700;
  font-style:normal;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0 0 0 20px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 22px;
  }
  header #nav .portal-wrap .portal .fa {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 20px;
  }
  header #nav .portal-wrap:hover:after {
    display: none;
  }
  header .portal-links {
    position: static;
    display: block;
    width: auto;
    padding: 0;
    margin:0;

    li {
      padding: 0;
      margin:0;
    }
  }
  header .portal-links li {
    margin: 0 0 13px;
  }
  header .portal-links a {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
  }
  header #nav .sub-nav-wrap {
    height: 100%;
    overflow: hidden;
    z-index: 10;
    display: block;
    top: 1px;
    left: auto;
    left: 0;
    padding: 10px 15px;
    -webkit-transition: transform .4s;
    -ms-transition: transform .4s;
    transition: transform .4s;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  header #nav .sub-nav-wrap strong {
    display: block;
    margin: 0 0 5px;
    font-size: 17px;
    line-height: 1.1;
  }
  header #nav .sub-nav-wrap p {
    font-size: 12px;
    margin: 0 0 10px;
  }
  header #nav .sub-nav-wrap .more {
    color: #d8212c;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
  }
  header #nav .sub-nav-wrap .back {
    margin: 0 15px 14px;
    padding: 14px 0 7px;
    border-bottom: 1px solid #9a9a9a;
  }
  header #nav .sub-nav-wrap .back .btn {
    font-family: "DubaiBold", "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
     font-weight:700;
  font-style:normal;
    padding: 15px 34px 15px 18px;
  }
  header #nav .sub-nav-wrap .back .btn .fa {
    right: 0;
    font-size: 20px;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }
  header #nav .sub-nav-opened .sub-nav-wrap {
    height: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  header #nav .discover-wrap .img-circle {
    float: none;
    width: 128px;
    margin: 0 auto 28px;
  }
  header #nav .discover-wrap ul li {
    float: none;
    width: auto;
    margin: 0;
  }
  header #nav .discover-wrap ul li a {
    border: none;
    padding: 10px 0;
    font-family: "DubaiBold", "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }
  header.nav-opened #nav {
    overflow: auto;
    height: calc(100vh - 80px);
    padding:0;
    margin:0;

    .col-12,
    .col-lg-12,
    .col-md-12,
    .col-sm-12,
    .col-xs-12
    .col-xs-12 {
      padding:0;
      margin:0;
    }
  }
  header:not(.we-megamenu).nav-opened .navbar-toggle {
    position: relative;
  }
  header:not(.we-megamenu).nav-opened .navbar-toggle:after, header:not(.we-megamenu).nav-opened .navbar-toggle:before {
    background: #D8212C;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%) rotate(-43deg);
    -ms-transform: translate(50%, -50%) rotate(-43deg);
    transform: translate(50%, -50%) rotate(-43deg);
    content: '';
  }
  header:not(.we-megamenu).nav-opened .navbar-toggle:before {
    -webkit-transform: translate(50%, -50%) rotate(43deg);
    -ms-transform: translate(50%, -50%) rotate(43deg);
    transform: translate(50%, -50%) rotate(43deg);
  }
  header:not(.we-megamenu).nav-opened .navbar-toggle .icon-bar {
    display: none;
  }
}

/* ---------------------- custom ---------------------- */

.main-header {
  .external-logos-special-container {
    &.right {
      display:none;
    }

    &.left {
      display:none;
    }
  }
}  

header {
  &.main-header {
    .tb-megamenu {
      float: right;
      width:100%;
  
      .tb-megamenu-nav {
        float: none;
  
        .tb-megamenu-item {
          float: right;

          span, a {
            text-align:right;
            direction:rtl;
            font-family: "DubaiRegular", arial, helvetica, sans-serif;
            font-weight:300;
            font-size: 1.1em;
          }
        }
      }

      .level-0 {
        > .level-1 {

          /* admission */
          &:nth-child(2) {
            > .tb-megamenu-submenu {
              // 1/23/2019
              // background: rgba(14, 30, 44, 0.8);
              // background: #fff url(../media/default/menu/ar-menu-bg-admission.jpg) bottom left no-repeat;

            }
          }

          /* academics */
          &:nth-child(3) {
            > .tb-megamenu-submenu {
              // 1/23/2019
              // background: rgba(14, 30, 44, 0.8);
              // background: #fff url(../media/default/menu/ar-menu-bg-academics.jpg) bottom left no-repeat;
            }
          }

          /* advancement */
          &:nth-child(5) {
            > .tb-megamenu-submenu {
              // 1/23/2019
              // background: rgba(14, 30, 44, 0.8);
              // background: #fff url(../media/default/menu/ar-menu-bg-advancement.jpg) bottom left no-repeat;
            }
          }

          /* research */
          &:nth-child(6) {
            > .tb-megamenu-submenu {
              // 1/23/2019
              // background: rgba(14, 30, 44, 0.8);
              // background: #fff url(../media/default/menu/ar-menu-bg-research.jpg) bottom left no-repeat;
            }
          }
        }
      }

      .row-fluid [class*="span"] {
        float:right;
      }
    }


    #nav {
      .extras {
        position:absolute;
      }
    }
  }

  .lefsid {
    float: right;
    position: relative;
    z-index: 1001;

    &.left {
      float:left;
    }
  }

 .pull-right {
    left: 0;
    right: auto;

    .search-outer-wrap {
      float:right;

      .search-wrap {
        float: right;
        margin-top:0;
        
        input[type="text"] {
          position: absolute;
          left: 0;
          right:auto;
        }
      }
    }
    .portal-wrap {
      padding-bottom: 0;
      float: left;
      right: auto;
      left: 0;
    }
  }
}