.main {
  overflow: hidden;
  position: relative;
  display: block;
  background: #eaeaea;
}
.main:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  background: #fff;
}

.main > .container {
  position: relative;
  font-weight: 300;
}

.main > .container:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 15px;
  left: 15px;
  height: 1px;
  background: #eaeaea;
  display: block;
}
.main_wo-columns {
  padding: 86px 0;
  background: none;
}
.main_wo-columns > .container:before {
  display: none;
}
@media (max-width: 767px) {
  .main {
    background: none;
    padding: 0 15px;
  }
  .main:before {
    display: none;
  }
  .main > .container {
    position: relative;
  }
  .main > .container:before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -15px;
    right: -15px;
    height: 1px;
    background: #eaeaea;
    display: block;
  }
  .main_wo-columns {
    padding: 32px 0;
  }
  .main_wo-columns > .container:before {
    display: none;
  }
}
