.main-content {
  float: left;
  width: 70.3%;
  position: relative;
  background: #fff;
  padding: 84px 5.1% 30px 0;
}
@media (max-width: 1024px) {
  .main-content {
    padding-right: 2.5%;
    padding-top: 30px;
  }
}
@media (max-width: 991px) {
  .main-content {
    width: 67.3%;
  }
}
@media (max-width: 767px) {
  .main-content {
    width: auto;
    overflow: visible;
    padding: 0 0 30px;
  }
  .main-content > :last-child {
    margin-bottom: 0;
  }
}