.sidebar {
  padding: 84px 0 30px 5.1%;
  width: 28.9%;
  min-width: 240px;
  min-height: 1px;
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}
@media (min-width: 768px) {
  .sticky-header .sidebar[data-state=sticky] {
    -webkit-transform: translateY(80px);
    -ms-transform: translateY(80px);
    transform: translateY(80px);
  }
}
@media (min-width: 992px) {
  .sticky-header .sidebar[data-state=sticky] {
    -webkit-transform: translateY(102px);
    -ms-transform: translateY(102px);
    transform: translateY(102px);
  }
}
@media (min-width: 1200px) {
  .sticky-header .sidebar[data-state=sticky] {
    -webkit-transform: translateY(110px);
    -ms-transform: translateY(110px);
    transform: translateY(110px);
  }
}
@media (max-width: 1024px) {
  .sidebar {
    padding-left: 2.5%;
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .sidebar {
    position: static;
    width: auto;
    padding: 0;
    margin: 0 -30px 36px;
    background: #eaeaea;
  }
  .sidebar__opener {
    position: relative;
    background: #eaeaea;
    padding: 24px 30px 24px 60px;
    margin: 0;
    font-size: 25px;
  }
  .sidebar__opener i {
    position: absolute;
    left: 32px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  .sidebar__opener i:before, .sidebar__opener i:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin: -1px 0 0;
    width: 100%;
    height: 2px;
    background: #434b55;
  }
  .sidebar__opener i:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .active .sidebar__opener:after {
    display: none;
  }
  .sidebar__slide {
    display: none;
  }
  .sidebar.active .sidebar__opener {
    color: #fff;
    background: #424c56;
  }
  .sidebar.active .sidebar__opener i {
    color: inherit;
  }
  .sidebar.active .sidebar__opener i:before {
    background: #fff;
  }
  .sidebar.active .sidebar__opener i:after {
    display: none;
  }
}