.cud-carousel {
  font-size: 16px;

  .cta-features span { 
    font-family: "DubaiRegular", "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
  }


    header {
      h2{
        font-family: "DubaiRegular", "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
        &:after {
          left:auto;          
          content: "\f177";
          right:100px;
        }
       
        &:before {
            right: 0;
            left:auto;
        }
      }

    &:hover {
      h2 {
        &:after {
          visibility: visible;
          right: 120px;
          left:auto;
        }
      }
        
      }
    }


    .slick {
      .testimonial {
        .body {
          text-align:right;
        }

        .watch {
          span {
            margin-right: 0;
            padding-left: 30px;
            padding-right: 0;
            background-position: left center;
          }
        }
      }
    }

    &.video-testimonial {
      .slick {
        .body {
          h1, h2, h3 {
            font-family: "DubaiRegular", "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
          }
        }

        .image {
            float: right;
            margin-left: 10px;
            margin-right: 0;
        }

        .watch {
            right: auto;
            left: 0;

            span {
              padding: 5px 0 5px 30px;
              background: url(/themes/indicud/media/icons/custom/camera-reverse.png) center left no-repeat;
              margin-left: 10px;
              margin-right: 0;
          }
        }
      }
    } 
  
}

@media (max-width: 767px) {
  .cud-carousel {
  }
}