.discover {
  padding-top: 81px;
  padding-bottom: 81px;
}
@media (max-width: 1024px) {
  .discover {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .discover .preview {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .discover {
    padding: 30px 30px 0;
  }
  .discover .preview {
    margin-bottom: 26px;
  }
}