.faculty {
  &.non-circular {
    .faculty-profile-photo {
      border-radius: 0;
    }
  }
}

.faculty-profile {
  overflow: hidden;
  font-size: 16px;
  line-height: 1.48;
  color: #5d5d5d;
  display: block;
  margin: 0 0 42px;
}

.faculty-profile:last-child .faculty-profile-text {
  border: none;
}

.faculty-profile:hover {
  text-decoration: none;
  color: #5d5d5d;
}

.faculty-profile-photo {
  float: left;
  width: 166px;
  height: 166px;
  background: #f6f6f6;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 0 6.8%;
}

.faculty-profile-photo img {
  display: block;
  width: 100%;
  height: auto;
}

.faculty-profile-text {
  overflow: hidden;
  border-bottom: 2px solid #f2f2f2;
  padding: 0 0 47px;
}

.faculty-profile-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.2;
  color: #d8212c;
  display: block;
  margin: 0 0 18px;
}

.faculty-profile-title:after {
  background: url(../media/icons/arrow.svg) 100% 0 no-repeat;
  width: 37px;
  height: 17px;
  background-size: 37px 17px;
  vertical-align: middle;
  margin: 0 10px 0 0;
  position: relative;
  top: -1px;
  display: none;
  content: '';
}

.faculty-profile-post {
  font-size: 14px;
  line-height: 1.2;
  display: block;
  margin: 0 0 11px;
}

.faculty-profile p {
  margin: 0;
}

@media (max-width: 767px) {
  .faculty-profile {
    font-size: 15px;
    line-height: 1.78;
    position: relative;
    overflow: visible;
    margin: 0 0 31px;
  }
  .faculty-profile:after {
    content: "";
    display: block;
    clear: both;
  }
  .faculty-profile:before {
    position: absolute;
    bottom: 0;
    left: -99px;
    right: -99px;
    height: 1px;
    background: #f5f5f5;
    content: '';
  }
  .faculty-profile:last-child {
    margin: 0;
  }
  .faculty-profile:last-child:before {
    display: none;
  }
  .faculty-profile-photo {
    width: 92px;
    height: 92px;
    margin: 0 0 22px 29px;
  }
  .faculty-profile-text {
    padding: 12px 0 28px;
    overflow: visible;
    border: none;
  }
  .faculty-profile-title {
    margin: 0 0 9px;
  }
  .faculty-profile p {
    width: 100%;
    clear: both;
  }
  .faculty-profile-post {
    line-height: 1.3;
  }
}

.no-touch .faculty-profile:hover .faculty-profile-photo {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.no-touch .faculty-profile:hover .faculty-profile-title:after {
  display: inline-block;
}