.hero {
  position: relative;
  height: -webkit-calc(100vh - 110px);
  width: -webkit-calc(100vw - 0px);
  /* width: 100vw; */
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
  font: 32px/1.1875 "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  img {
    height: -webkit-calc(100vh - 110px);
    width: -webkit-calc(100vw - 0px);
    object-fit: cover;
    /* max-width: initial;
    width: initial; */
  }
  h1 {
    margin: 0 0 14px;
    color: #fff;
  }
  p {
    margin: 0;
    color: #fff;
    /* font:inherit; */
    font-size: 0.8em;
  }
  .hero__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    -webkit-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
    z-index: 1;
  }
  .hero__content:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 3px;
    background: #d8212c;
  }
  .hero__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #d8212c;
    color: #fff;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    z-index: 2;
  }
}

.hero:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* default */
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.hero.hero_sm {
   height: 500px;
   min-height: 500px;
   &.sm_550 {
     height: 550px;
     min-height: 550px;
   }

   &.sm_600 {
     height: 600px;
     min-height: 600px;
   }

   &.sm_650 {
     height: 650px;
     min-height: 650px;
   }

   &.sm_700 {
    height: 700px;
    min-height: 700px;
  }

  &.sm_750 {
    height: 750px;
    min-height: 750px;
  }

  &.sm_800 {
    height: 800px;
    min-height: 800px;
  }

  img {
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .hero__content {
    top: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    bottom: 49px;
  }
}

@media (max-width: 1024px) {
  .hero__content br {
    display: none;
  }
}
@media (max-width: 991px) {
  .hero {
    height: auto;
    min-height:auto;
    /* min-height: 426px; */
    background-position: 0 0;
    font-size: 18px;
    margin: 0 0 1px;
  }
  .hero h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .hero__content {
    text-align: right;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: auto;
    bottom: 80px;
  }
  .hero_sm .hero__content {
    bottom: 20px;
  }
  .hero__bottom {
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}