.home-whoistalking {
  padding-top: 40px;
  padding-bottom: 90px;
}
.home-whoistalking h2 {
  font-size: 44px;
  margin-bottom: 62px;
}
.home-whoistalking h2:before {
  width: 80px;
  bottom: -44px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
.home-whoistalking .social-box {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin: 0 0.65% 1.3%;
  direction: ltr;

  img {
    float: left;
    margin: 0 15px 0 0;
  }
}
.home-whoistalking .more {
  padding: 14px;
  text-align: center;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font: 600 16px/1 'open sans', arial, helvetica, sans-serif;
}
.home-whoistalking__inner {
  font-size: 0;
}
@media (max-width: 991px) {
  .home-whoistalking .social-box {
    width: 49%;
    margin: 0 0.5% 1%;
  }
}
@media (max-width: 767px) {
  .home-whoistalking {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .home-whoistalking h2 {
    margin-top: 0;
    font-size: 30px;
    line-height: 1.166;
  }
  .home-whoistalking .social-box {
    display: block;
    width: auto;
    margin: 0 0 20px;
  }
  .home-whoistalking__inner {
    padding: 0 15px;
  }
}