.home-section {
  /* height: 100vh;
  font-size: 16px; */
  /* .home-program > span {
    font-size: 16px;
  } */
}
.home-section h1,
.home-section .h1 {
  font-size: 38px;
}
.home-section h2,
.home-section .h2 {
  font-size: 30px;
  text-transform: none;
}
.home-section footer {
  font-size: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding:0;

  .container {
    .col-md-6:first-child {
        text-align: left;
    }

    .col-md-6:last-child {
        text-align: right;
    }
  }
}
.home-section .home-program > ul > li > a {
  font-size: 18px;
}
@media (max-width: 1300px) {
  .home-section .home-program > span {
    right: 0;
    font-size: 16px;
  }
  .home-section .home-program > span .fa {
    margin-right: 0;
  }
  .home-section .home-program > ul > li {
    margin: 0 5px;
  }
  .home-section .home-program > ul > li > a {
    font-size: 14px;
    padding: 18px;
  }
}
@media (max-width: 1199px) {
   .home-section .home-program > span {
    font-size: 14px;
   }
}
@media (max-width: 991px) {
  .home-section .home-program > span {
    display: none;
  }
  .home-section .home-program > ul > li .cud-popup {
    max-height: 300px;
    overflow: auto;
  }
}
@media (max-width: 767px) {
  .home-section footer {
    background: rgba(0, 0, 0, 0.6);
  }
}