@media (max-width: 767px) {
  .home-program {
    width: auto;
    margin: 0 0 1px;
    padding: 0;
  }
  .home-program span {
    display: none;
  }
  .home-program > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .home-program > ul > li {
    margin: 1px 0 0;
  }
  .home-program > ul > li > a {
    position: relative;
    display: block;
    padding: 26px;
    text-transform: uppercase;
    color: #fff;
    font: 600 16px/1 'open sans', arial, helvetica, sans-serif;
    text-align: center;
    background: #d8212c;
  }
  .home-program > ul > li > a:after {
    display: none;
    content: '';
    position: absolute;
    right: 50%;
    top: 100%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5.5px 0 5.5px;
    border-color: #d8212c transparent transparent transparent;
  }
  .home-program > ul > li.active > a:after {
    display: block;
  }
  .home-program .cud-popup {
    padding: 41px 14px;
  }
  .home-program .cud-popup h4 {
    color: #d8212c;
    font: 16px/1.1 'open sans', arial, helvetica, sans-serif;
    margin: 0 0 17px;
  }
  .home-program .cud-popup ul {
    font: 600 12px/1.1 'open sans', arial, helvetica, sans-serif;
    color: #414c55;
    list-style: none;
    padding: 0;
    margin: 0 0 28px;
  }
  .home-program .cud-popup ul li {
    position: relative;
    margin: 0 0 12px;
    padding: 0 21px 0 0;
  }
  .home-program .cud-popup ul li:before {
    content: '';
    position: absolute;
    right: 3px;
    top: .25em;
    width: 6px;
    height: 6px;
    background: #d8212c;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .home-program .cud-popup ul a {
    font: inherit;
    color: inherit;
  }
}