.news-events {
  font-size: 16px;
}
@media (max-width: 991px) {
  .news-events .events ul {
    height: auto;
  }
}
@media (max-width: 767px) {
  .news-events {
    padding-bottom: 0;
  }
  .news-events .events ul {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}