.side-nav {
  font-weight: 600;
  list-style: none;
  padding: 0;
  margin: 0 0 34px;
  color: #3d3d3d;
  font-size: 18px;
}
.side-nav a {
  display: block;
  color: inherit;
}
.side-nav a:hover {
  color: #d8212c;
  text-decoration: none;
}
.side-nav__item {
  border-bottom: 1px solid rgba(167, 169, 170, 0.3);
}
.side-nav__item_active a {
  color: #d8212c;
}
.side-nav__item:last-child {
  border-bottom: 0;
}
.side-nav__item > a {
  padding: 21px 0;
}
.side-nav__item.active {
  /* background: #fff; */
}
.side-nav__item.active > a {
  color: #d8212c;
}
.side-nav__sub-menu {
  display: none;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 25px;
  margin: 0;

  .side-nav__sub-menu {
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    margin-top:1em;
  }
}
@media (max-width: 1024px) {
  .side-nav {
    font-size: 14px;
  }
  .side-nav__item > a {
    padding: 15px;
  }
  .side-nav__sub-menu {
    padding: 0 15px 20px 15px;

    .side-nav__sub-menu {
      padding-bottom:0;
      padding-left:0;
      padding-right:0;
      margin-top:1em;
    }
  }
}
@media (max-width: 767px) {
  .side-nav {
    padding: 0 30px;
  }
  .side-nav__item > a {
    padding: 17px 0;
    font-size: 20px;
  }
  .side-nav__item.active {
    margin: 0 -15px;
    padding: 0 15px;
  }
}