.social-box {
  position: relative;
  padding: 30px 30px 88px;
  background: #fff;
  box-shadow: 0 1px 4px 0 #000;
  font: 16px/1.5625 "open sans", arial, helvetica, sans-serif;
  color: #313a41;
  width: 410px;
  margin: 0 0 20px;
}
.social-box p {
  margin: 0 0 8px;
}
.social-box a {
  color: #d8212c;
  text-decoration: none;
}
.social-box a:hover {
  text-decoration: underline;
}
.social-box img:not(.social-box__avatar) {
  margin: 0 0 27px;
}
.social-box__head {
  margin: 0 0 22px;
}
.social-box__head-inner {
  padding: 8px 0 0;
  overflow: hidden;
}
.social-box__avatar {
  float: right;
  margin: 0 0 0 15px;
  width: 80px;
  height: auto;
}
.social-box__title {
  text-transform: uppercase;
  color: #d8212c;
  margin: 0 0 8px;
  border: 0;
  font: 20px/1.1 "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
   font-weight:700;
  font-style:normal;
}
.social-box__title a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
.social-box__title a:hover {
  text-decoration: underline;
}
.social-box__date {
  display: block;
  font-size: 14px;
  line-height: 1.1;
}
.social-box__social-btn {
  position: absolute;
  right: 29px;
  bottom: 20px;
  font-size: 26px;
}
.social-box__social-btn .fa {
  color: #919191;
}
.social-box__social-btn:hover {
  text-decoration: none;
}
.social-box__social-btn:hover .fa {
  color: #2ca8d2;
}
@media (max-width: 767px) {
  .social-box {
    font-size: 12px;
    line-height: 1.666;
    padding: 20px 20px 75px;
  }
  .social-box p,
  .social-box a {
    font-size: 12px;
    line-height: 1.666;
  }
  .social-box img:not(.social-box__avatar) {
    margin-bottom: 20px;
  }
  .social-box__head-inner {
    padding-top: 0;
  }
  .social-box__avatar {
    width: 60px;
    margin-left: 12px;
  }
  .social-box__title {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 5px;
  }
  .social-box__date {
    font-size: 10px;
    line-height: 1;
  }
  .social-box__social-btn {
    bottom: 15px;
    right: 20px;
    font-size: 28px !important;
  }
}