{% if wall|length > 0 %}
    <div class="home-whoistalking__inner">
        {% for w in wall %}
            <div class="social-box">
                <div class="social-item">
                    {{ w.body }}
                </div>


                {% if user.hasPermission('create socialwall content') %}
                    <a class="edit-mode" href="{{ w.link }}"><i class="fa fa-pencil"
                                                                   aria-hidden="false">&nbsp;</i></a>
                {% endif %}


            </div>
        {% endfor %}
    </div>
{% endif %}