<div id="page-wrapper">
  <div id="page" class="page-container {{ page.custom.layout.width }}">

    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
      {% block head %}
      {% if page.secondary_menu or page.top_header or page.top_header_form %}
      <nav {{ navbar_top_attributes }}>
        {% if container_navbar %}
        <div class="container">
          {% endif %}
          {{ page.secondary_menu }}
          {{ page.top_header }}
          {% if page.top_header_form %}
          <div class="form-inline navbar-form float-right">
            {{ page.top_header_form }}
          </div>
          {% endif %}
          {% if container_navbar %}
        </div>
        {% endif %}
      </nav>
      {% endif %}
      <nav {{ navbar_attributes }}>
        {% if container_navbar %}
        <div class="container">
          {% endif %}
          {{ page.header }}
          {% if page.primary_menu or page.header_form %}
          {{ page.primary_menu }}
          {% if page.header_form %}
          <div class="form-inline navbar-form float-right">
            {{ page.header_form }}
          </div>
          {% endif %}
          {% endif %}
          {% if sidebar_collapse %}
          <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#CollapsingLeft"
            aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
          {% endif %}
          {% if container_navbar %}
        </div>
        {% endif %}
      </nav>
      {% endblock %}
    </header>

    {% if page.highlighted %}
    <div id="highlighted" class="highlighted">
      {{ page.highlighted }}
    </div>
    {% endif %}


    {% if page.sidebar_first %}
    <div class="container-wrapper with-sidebar">


     

      <div class="container">
        <div class="row">
          <div class="sidebar col-md-3">
            {{ page.sidebar_first }}
          </div>
          <div class="main-content col-md-9">
            <div class="main-container">
                {% if page.content_top %}
                <div id="content_top" class="content_top">
                  {{ page.content_top }}
                </div>
                {% endif %}

                {% if page.breadcrumb %}
                <div id="breadcrumb" class="breadcrumb">
                  <div class="container">
                    {{ page.breadcrumb }}
                  </div>
                </div>
                {% endif %}
                
              {{ page.content }}
            </div>

          </div>
        </div> <!-- /row -->
      </div> <!-- /container -->
    </div> <!--  /ontainer wrapper-->
    {% else %}

    {% if page.content_top %}
    <div id="content_top" class="content-top">
      {{ page.content_top }}
    </div>
    {% endif %}

    <div class="container-wrapper">
      <div class="fluid-container"">
          {% if page.breadcrumb %}
            <div id=" breadcrumb" class="breadcrumb">
            <div class="container">
              {{ page.breadcrumb }}
            </div>
          </div>
        {% endif %}
        <div class="main-container">
          {{ page.content }}
        </div>
    </div>


    {% if page.content_bottom %}
        <div id="content_bottom" class="content-bottom">
          {{ page.content_bottom }}
        </div>
      {% endif %}

    {% if page.featured_bottom_first %}
      <div id="bottom-featured" class="bottom-featured">
        <div class="bottom-featured first">
          {{ page.featured_bottom_first }}
        </div>
      </div>
    {% endif %}


  </div>
  {% endif %}

  

  <div id="footer" class="footer">
    {% if page.footer_fourth %}
    <div class="footer fourth footer--links">
      {{ page.footer_fourth }}
    </div>
    {% endif %}
    {% if page.footer_fifth %}
    <div class="footer fifth footer--copyrights">
      {{ page.footer_fifth }}
    </div>
    {% endif %}
  </div>

</div>
</div>
