<div class="region-we-mega-menu">
	<a class="navbar-toggle collapsed">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</a>
	<nav {{ attributes }}>
	  <div class="container-fluid">
			<div class="logo">
					<img class="d-block d-sm-none" src="/themes/bootstrap_sass_indicud/logo.svg" />
			</div>
	    {{ content }}
	  </div>
	</nav>
</div>