/* color variables */
header .lefsid .logoone {
  width: 350px;
}

header.forced-hover .lefsid .logoone a,
header.without-hero .lefsid .logoone a,
header:hover .lefsid .logoone a,
header.headroom--not-top .lefsid .logoone a,
header.nav-opened .lefsid .logoone a,
header.forced-hover .lefsid .logoone span,
header.without-hero .lefsid .logoone span,
header:hover .lefsid .logoone span,
header.headroom--not-top .lefsid .logoone span,
header.nav-opened .lefsid .logoone span {
  background: url(../media/logo/bigger/logo-hover.png) no-repeat center center;
}

header .pull-right {
  z-index: 50;
}

header .pull-right .search-wrap input[type='text'] {
  width: 300px !important;
  opacity: 1 !important;
  border-radius: 50px;
  border: 1px solid #c2c2c2;
}

header .tb-megamenu .tb-megamenu-nav {
  clear: both !important;
}

.registrar .red-logo-bar {
  background: #d8212c;
  width: 100%;
  height: 32px;
  text-align: right;
}
.registrar .red-logo-bar img {
  height: 32px;
  padding: 5px 0;
}
.registrar main.without-hero {
  margin-top: 142px;
}
.registrar .registrar.logo-info {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 14px;
}
.registrar .registrar.logo-info img {
  max-width: 500px !important;
  margin: 0 auto;
}
