/* standard */

.ui-widget-content  {
  background:none !important;

  a {
    /* color:$white_1; */
    border:none;

    &.btn-primary:focus, 
    &.btn-primary.focus {
      box-shadow: none;
    }
  }
}

.ui-dialog {
  border: 0 !important;
  bottom: initial;
  border-radius: 0 !important;
  overflow-x: hidden;
  padding: 0 !important;

  .media--loading:before {
    background: $red_1;
  }

  .ui-dialog-titlebar {
    background: $red_1;
    border-radius: 10px 10px 0 0;
    font: 16px/1.1 "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 0;

    
    .ui-dialog-title {
      line-height: 1em;
      color: $white_1;
      padding: 10px 0;
    }

    .ui-button {
      border: 0;
      font-size: 1.5em;
      background: none;
      position: absolute;
      right: .3em;
      top: 45%;
      width: 32px;
      margin: -10px 0 0 0;
      padding: 1px;
      height: 32px;
      overflow: hidden;
      color: $red_1;


      .ui-button-icon {
        background-image: none;
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        text-indent: 0;
        left: 0;
        padding: 0;
        margin: 0;
        top: 0;

        &:before {
          content: '\f00d';
          font-family: FontAwesome;
          color: $white_1;
          top: 0;
          position: absolute;
          left: 3px;
          font-size: 0.85em;
        }
      }

      &:hover {

        .ui-button-icon {
          &:before {
            color: $white_2;
          }
        }
      }
    }
  }

  .ui-dialog-titlebar-close {
    background: linear-gradient(to top left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) calc(50% - 0.8px), rgba(255,255,255,1) 50%, rgba(255,255,255,0) calc(50% + 0.8px), rgba(255,255,255,0) 100%), linear-gradient(to top right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) calc(50% - 0.8px), rgba(255,255,255,1) 50%, rgba(255,255,255,0) calc(50% + 0.8px), rgba(255,255,255,0) 100%);
    border: 0;
    right:1rem;
    &:hover {
      background: linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%), linear-gradient(to top right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%);
    }
  }

  .ui-dialog-content {
    margin: 0 0 1em 0 !important;
    padding: 0 !important;
    background: $white_1 !important;
    border-radius: 0 0 10px 10px !important;
    font: 15px/1.5 "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: $black_2;
    overflow-x: hidden;
    padding:1rem;

    .media,
    .media--body {
      overflow: initial;
      zoom: initial;
    }

    .media-box {
      margin: 0;
    }

    .grid {
      img {
        width: 100%;
        height: auto;
      }
    }

    .faculty-profile {
      .faculty-profile-text {
        .details {
          font-size: 14px;
          color:$black_3;
        }
      }
    }

    article,
    .views-element-container {
      padding: 1em;
    }

    .u-list,
    .o-list {
      display: inline-block;
    }

    .field-group-privilege {
      >div:first-child {
        margin-bottom: 0.5em;
        font-weight: bold;
        font-size: 18px;
      }

      margin-bottom:1em;
    }

    .terms-and-conditions {
      clear: both;
      padding-top: 2.5em;
    }
  }

  .ui-dialog-buttonpane {
    border-radius: 0 0 10px 10px;
    background: $white_3;

    button {
      background: $red_1;
      border-radius: 0;
      border: 0;
      color: $white_1;
      font: 600 12px/1 "open sans", arial, helvetica, sans-serif;
      padding: 10px 20px;
      text-align: left;
      white-space: normal;

      &:hover {
        background: $red_2;
      }
    }
  }

  iframe {
    width: 100%;
    max-width: 980px;
  }

  /* form */
  .webform-submission-form {
    padding:1rem !important;

    .js-webform-radios {
      text-align: center;
      overflow: hidden;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      display: table;
      table-layout: fixed;

      label {
        display: block;
        padding: 15px 5px;
        color: #5d5d5d;
        font-size: 18px;
        line-height: 1.2;
        margin: 0;
        cursor: pointer;
        font-family: 'open sans', arial, helvetica, sans-serif;
        font-weight: 400;
      }

      .form-item.js-form-type-radio {
        display: table-cell;
        border: 1px solid #dedede;
        vertical-align: middle;
      }
    }
  }

  /* personnel */
  .views-content {
    margin-bottom: 25px;
  }

  img {
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    width: auto;
  }

  .office,
  .biography {
    color: $black_2;

    &.clear {
      clear: both;
    }
  }

  .office {
    margin-bottom: 2.5em;

    ul {
      list-style: inside;
      padding-left: 0;

      li {
        &:before {
          content: none !important;
        }
      }

      &.u-list {
        list-style: none;

        li {
          padding-left: 0;
          margin-left: 0;

          &:before {
            content: "\f061";
            position: relative;
            margin-right: 0.5em;
            font-size: 10px;
            top: -2px;
          }
        }
      }
    }
  }
}

.page-node-type-faculty,
.page-node-type-department {

  /* use-ajax modal */
  .ui-dialog {
    table {
      &.program-table {
        &.vertical {
          width: auto !important;
        }
      }
    }

    .slick {
      min-height: 50vh;
      margin-bottom: 1.5em;

      .media {
        text-align: center;
        display: inline-block;
        width: 100%;
      }

      img {
        width: auto;
        max-width: none;
        margin: 0 auto;
      }

      .slick__arrow {
        .slick-arrow {
          &:before {
            font-family: FontAwesome, Arial, Helvetica, "Nimbus Sans L", sans-serif;
            font-size: 30px;
            color: $red_1;
          }

          &.slick-prev {
            &:before {
              content: '\f177';
            }

            &:hover {
              &:before {
                color: $white_1;
              }
            }
          }

          &.slick-next {
            &:before {
              content: '\f178';
            }

            &:hover {
              &:before {
                color: $white_1;
              }
            }
          }
        }
      }
    }

    .field-file,
    .field-video,
    .field-simple-url {
      margin-bottom: 2.5em;
    }

    .field-simple-url {
      margin-bottom: 2.5em;

      iframe {
        width: 100%;
        min-height: 750px;
      }
    }
  }
}