@media (max-width: 767px) {
  .ui-dialog {
    width: 100% !important;
    font-size: 12px;
    z-index: 1002;
    padding: 1em;

    .ui-dialog-titlebar .ui-dialog-title {
      font-size: 14px;
    }

    .ui-dialog-content .faculty-profile .faculty-profile-text .details {
      font-size: 1em;
      line-height: 1.5em;

      .office ul.u-list li {
        margin-bottom: 0;
      }
    }
  }
}
