.back-to-page {
  margin: 0 0 38px;
  font-size: 14px;
  line-height: 1.2;
  color: $black_5;
  font-weight: 500;
  text-transform: uppercase;

  a {
    color: $black_5;
    position: relative;
    padding: 0 30px 0 0;
    &:hover {
      color: $red_1;
    }
    &:after {
      font-family: fontawesome;
      font-size: 18px;
      line-height: 1;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
      transform: translate(0, -50%) rotate(180deg);
      content: '\f177';
    }
  }

  &.inline {
    text-transform:none;
    font-weight: 100;
    
    * {
      display:inline;
    }

    .field-faculty,
    .field-department {
      a  {
    
        &:after {
          content: none;
        }
      }
    } 
  }
}

@media (max-width: 767px) {
  .back-to-page {
    font-size: 14px;
    margin: 0 0 43px;

    a {
      padding: 0 24px 0 0;

      &:after {
        font-size: 16px;
      }
    }
  }
}
