.o-normal {
  list-style-position: outside;

  li {
    p, span {
      font-weight:normal;
    }
  }
  
  &.lower-roman {
    list-style-type: lower-roman;
  }
  
  &.lower-alpha {
    list-style-type: lower-alpha;
  }

}


.o-list:not([start]) {
  counter-reset: lis;
}

@for $i from 1 through 100 {
  .o-list[start="#{$i}"] {
    counter-reset: lis $i - 1 ;
  }
}

.o-list {
  list-style: none;
  padding-left: 0;
}

.o-list > li {
  position: relative;
  counter-increment: lis;
}
.o-list > li:before {
  content: counter(lis)". ";
  position: absolute;
  top: 0;
  left: 0;
  color: #d8212c;
  font-weight: 700;
}