.options-list {
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede;
  text-align: center;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
}
.options-list li {
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  display: table-cell;
  vertical-align: middle;
}
.options-list-year, .options-list-start, .options-list-credit {
  display: block;
}
.options-list-year li, .options-list-start li, .options-list-credit li {
  display: block;
  float: left;
}
.options-list-year li {
  width: 45px;
}
.options-list-start li {
  width: 94px;
}
.options-list-credit {
  border: none;
}
.options-list-credit li {
  border: none;
  width: 124px;
}
.options-list-credit li:nth-child(2n+1) {
  margin: 0 -1px 0 0;
}
.options-list input[type="radio"] {
  display: none;
}
.options-list input[type="radio"]:checked ~ label {
  color: #d8212c;
  background: #f4f4f4;
}
.options-list label {
  display: block;
  padding: 15px 5px;
  color: #5d5d5d;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  cursor: pointer;
  font-family: 'open sans', arial, helvetica, sans-serif;
  font-weight: 400;
}
@media (max-width: 767px) {
  .options-list {
    display: table;
    width: 100%;
  }
  .options-list li {
    display: table-cell;
    float: none;
  }
  .options-list-credit li:nth-child(2n+1) {
    margin: 0;
  }
  .options-list-credit li:nth-child(2n+1) input {
    border-right-width: 0;
  }
  .options-list label {
    padding: 13px 5px;
    font-size: 14px;
  }
}