.radio {
  padding: 0 0 0 32px;
  margin: 0 0 15px;
  font-family: 'open sans', arial, helvetica, sans-serif;
  font-weight: 400;
}
.radio label {
  color: #5d5d5d;
}
.radio .rad-btn {
  position: absolute;
  margin-left: -32px;
  margin-top: 2px;
}
@media (max-width: 767px) {
  .radio {
    font-size: 14px;
    margin-bottom: 21px;
  }
  .radio .rad-btn {
    margin-top: 0;
  }
}
