.text-field {
  height: auto;
  background: #fff;
  border: 1px solid #e3e3e3;
  width: 100%;
  padding: 13px 15px;
  color: #afafae;
  font-size: 18px;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-appearance: none;
}
@media (max-width: 767px) {
  .text-field {
    height: 44px;
    padding: 0 16px;
    font-size: 14px;
  }
}

textarea.text-field {
  resize: none;
  height: 148px;
}