.u-list {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
  }

  >li:before {
    position: absolute;
    left: 0;

    /* chevron */
    content: "\f054";
    font-family: FontAwesome;
    font-size: small;
    color: $red_1;
  }


  li.side-nav__item {
    border-bottom: 0;

    .clickable-opener,
    .clickable-opener i {
      top: 0;
      display: none;
    }
  }

  li.side-nav__item:before,
  li.menu__item:before,
  &.leaf li:before {
    content: '';
    background: url(../media/icons/leaf.svg) 0 0 no-repeat;
    background-size: 100% auto;
    width: 9px;
    height: 11px;
    top: .2em;
  }
}

.u-normal {
  list-style: outside;
  padding-left: 1rem;

  li {

    &:before {
      content: none !important;
    }
  }
}

.u-none {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    list-style: none;

    &:before {
      content: none !important;
    }
  }
}
