.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 33, 44, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgba(216, 33, 44, 0.5);
  border-color: rgba(216, 33, 44, 0.1);
}

// .ajax-progress-throbber .throbber {
// background: transparent url(/themes/indicud/media/img/loading-small.gif) no-repeat 0 center;
// }

.webform-submission-form {

  .webform-email-confirm--wrapper,
  .webform-flex--container,
  .fieldset-wrapper {
      > .form-item {
      margin-bottom: 1.5rem;
    }
  }
  
  .form-item > label {
    font-size:0.75rem;
    color:$black_5;
  }

  .form-managed-file {
    .description {
      font-size: xx-small;
      margin: 0 0 1.5rem;
      line-height:auto;
    }
  }
 
  select {
    option:first-child,
    option[value="- None -"],
    option[value="- none -"], 
    option[value="0"], 
    option[value=""], 
    option[value=All], 
    option[value=None], 
    select:invalid {
        color: $white_5;
    }
  }

  .form-managed-file {
    label {
      padding-top: 0.575rem;
      &:after {
        padding-top: 0.575rem;
      }
    }

    .button {
      align-items: center;
      padding: 0.375rem 0.75rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      text-align: center;
      white-space: nowrap;
      background-color: #e9ecef;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    }
  }

  fieldset {
    legend {
      border:0 !important;
    }
    fieldset {
      legend {
        margin: 0 !important;
        line-height: 1rem;
        span {
          padding-right: .5em;
          display: inline-block;
          margin-bottom: .5rem;
          font-size: 0.75rem;
        }
      }
    }
  }    
}



.views-exposed-form {
  .privileges {
    .form-checkboxes {
      .form-item {
        width:33%;
        float:left;
      }
    }
  }
}

@import 
"form_media";