@media (max-width:991px) {
  .programs-spring-2019, 
  .spring_2019 {
    .views-exposed-form {

      input,
      select {
        font-size: 0.85rem !important;
        padding: 0.5rem !important;
        line-height: normal !important;
        min-height: auto !important;
        height: auto !important;
      }
    }
  }  
}