html[dir=rtl] {
    header {
        &.main-header {
          &.we-megamenu {

            a, span {
                font-family: DubaiRegular,kozuka-gothic-pro-n3,kozuka-gothic-pro,"open sans",arial,helvetica,sans-serif !important;
            }
            nav:not(.we-mobile-megamenu-active) 
            .we-mega-menu-ul > .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu > 
            .we-mega-menu-submenu-inner > .we-mega-menu-row > .we-mega-menu-col > ul > li > a, 
            nav:not(.we-mobile-megamenu-active) .we-mega-menu-ul > .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu >
            .we-mega-menu-submenu-inner > .we-mega-menu-row > .we-mega-menu-col > ul > li:first-child > span{
                text-align:right;
            }

            .logo-wrapper img {
                right: 0 !important;
                left: auto !important;
            }
          } 
        }        
    }
}

@import "header_media";