/* 
@media (min-width: 1920px) {
}

@media (min-width: 1024px) and (max-width: 1919px) {
}

@media (max-width: 1023px) {
}
*/

@media (max-width: 991px) {
  .cud-carousel {
    .slick {
      .body.b {
        display:none;
      }
    }
  }
}


@media (max-width: 767px) {

  .cud-carousel {

    &.wopadd {
      padding-top: 1em;
      padding-bottom: 1em;
    }
    
    .slick {
      padding: 10px;

      .body h3 {
        font-size: 12px;
        margin: 0.75em 0 0.5em;
        line-height: 1.25em;
      }

      .slick__arrow {
        width: 65px;
        top: 20px;
        
        .slick-next, 
        .slick-prev {
          width: 30px;
          height: 30px;

          &:before {
            font-size:10px;
          }
        }
      }
    }

    header {
      padding:5px 10px;     
      h2 {
        font-size:18px;
        padding-bottom: 5px;
        margin-bottom: 0;
        
        &:before {
          width: 70px;
          height: 2px;
          margin: 0;
          bottom: 1px;
          background:$red_1;
        }

        &:after {
          left: 75px;
          bottom: -4px;
          font-size: 11px;
          visibility:visible;
        }
      } 
    }

    .secondary {
      header {
        h2 {
          .view {
            margin-right: 0;
            padding: 10px 0;
            line-height: 0.5em;
            text-indent: -99999px;
          }
        } 
      } 
    }
    .video {
      .slick {
        .views-field-nothing {
          height:auto;

          img {
            object-fit: cover;
          }
        }
      }
    } 


    .cta-features {
      text-align:center;
      margin:0;

      span {
        font-size:xx-small;
      }

      .col-sm-2,
      .col-xs-2 {
        padding:5px;

        img {
          width:100%;
        }
      }
    }
  }
}
/*
@media (max-width: 449px) {
} */