
.cud-carousel {

  padding-top:2em;
  padding-bottom:2em;

  .slick {
    position:unset;

    .slick__arrow {
      top: 10px;
      left: auto;
      right: 12px;
      width: 100px;

      .slick-prev,
      .slick-next, {
        width: 45px;
        height: 45px;
        background:$white_3;
        border-radius: 100%;

        &:hover {
          background:$white_4;
        }
      }

        .slick-prev:before {
            content: "\f053";
            font-size: 20px;
            font-family: FontAwesome,arial,helvetica,sans-serif;
            color: $black_3;
        }

        .slick-next:before {
          content: "\f054";
          font-size: 20px;
          font-family: FontAwesome,arial,helvetica,sans-serif;
          color: $black_3;
      }
    
    }

    .testimonial {
      padding:10px;
      background:$white_3;
      margin:0 1px;

      .image {

        img {
          width:80px;
          border-radius:100%;
        }
      }
  
      .body {
        font-family: "kozuka-gothic-pro-n3", "kozuka-gothic-pro", Arial, Helvetica, "Nimbus Sans L", sans-serif;
        min-height:81px;
          
        .fa {
          margin:0;
        }
  
        h1 {
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          margin-bottom: 8px;
        }
  
        h2 {
          font-size: 11px;
          color: $red_1;
          font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
          font-weight: bold;
          margin-bottom: 20px;
          height: 25px;
        }
  
        h3 {
          font-size: 14px;
          text-transform: none;
          font-weight: 300;
          font-style: normal;
          display: inline-block;
          line-height: 1.25em;
        }
        
      }
  
      .watch {
        span {
          font-size: 11px;
          font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
          padding: 5px 30px 5px 0;
          background: url(/themes/indicud/media/icons/custom/camera.png) center right no-repeat;
          text-transform: uppercase;
          text-decoration: underline;
          float: right;
          margin-right: 12px;
          color: $black_3;
          right: 10px;
        }
      }

      &:hover {
        background:$white_4;
      }
    }    
  }

  header {
    h2 {
      text-transform: uppercase;
      padding-bottom: 35px;
      position: relative;
      font-family: "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
      font-weight: 700;
      font-style: normal;
      margin-bottom: 10px;
      color:#313a41;

      .view {
        background: url(/themes/indicud/media/icons/custom/testimonial-rubick.png) left center no-repeat;
        font-size: 11px;
        margin-right: 105px;
        float: right;
        padding: 15px 23px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        line-height: 1rem;
      }

      &:before {
            content: '';
            width: 100px;
            height: 2px;
            background:#313a41;
            display: block;
            margin: 20px 0;
            position: absolute;
            left: 0;
            bottom: 0;
      }
      &:after {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f178";
          display: inline-block;
          position: absolute;
          left: 100px;
          bottom: 14px;
          font-size: 14px;
          color: $red_1;
          visibility:hidden;
          transition:all 0.3s ease;
      }
    }

    &:hover {
        h2 {
          color:$red_1;

          &:before {
            background:$red_1;
          }
          &:after {
            visibility:visible;
            left: 120px;
          }
        }
    }
  }

  .secondary {
    position:relative;
  }

  .video-feature {
    position:relative;

    iframe {
      height:210px;
    }
  }
  
  .cta-features {
    text-align:center;
    margin: 2.5rem 0;

    a {
      color:$red_1;
    }
  
    .col {
      &:hover {
        img {
            opacity:0.5;
        }
      }
    }
  

    span {
      position: relative;
      white-space: nowrap;
      font-family: "kozuka-gothic-pro-n3", "kozuka-gothic-pro", Arial, Helvetica, "Nimbus Sans L", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: small;
      text-transform: uppercase;
      display: block;
      width: 100%;
      margin-top: 5px;
      text-decoration: none;
    }
  }

  .video {
    .slick {
      .views-field-nothing {
        padding: 0;
        background: none;
        position:relative;        
        border:3px solid $white_3;
        height:auto;
        
        .popup:before {
          content:'\f16a';
          font-size:100px;
          line-height:1em;
          position:absolute;
          top:calc(50% - 50px);
          left:calc(50% - 50px);
          font-family: FontAwesome;
          color:$red_1;
        }

        &:hover {
          border:3px solid $white_4;
        }
        img {
          height:auto;
        }
      }
    }
  }
}


@import "cud-carousel-media";