.discover {
  padding-top: 81px;
  padding-bottom: 81px;

  .preview__summary {
    min-height: 200px;
  }

  @media (max-width: 1024px) {
    padding-top: 30px;
    padding-bottom: 30px;

    .preview {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 767px) {
    padding: 30px 30px 0;
    .preview {
      margin-bottom: 26px;
    }
  }
}