.non-circular {
  .faculty-profile-photo {
    border-radius: 0;
  }
}

.cud-message, .cud-downloads {
  &.faculty-profile:hover .faculty-profile-photo {
    box-shadow: none !important;
  }
}


.cud-message {

  .faculty-profile-photo {
    width: 200px;
    height: 200px;
    background: none;
    margin: 0 15px 15px 0;
  }
  .faculty-profile-text {
    display:inline;

    p {
      margin: 0 0 21px;
    }
  }
}

.cud-downloads {
  .faculty-profile-photo {
    width: 165px;
    height: 220px;
    background: none;
  }
}

.cud-news-events {
  position:relative;
  
  &.faculty-profile {
    display: table;
  }

  > a,
  > span {
    display: table-row;
  }

  .faculty-profile-photo {
    background: none;
    display:table-cell;
    vertical-align:top;
    width:auto;
    height: auto;
    margin-bottom: 10px;
    margin-right: 25px;
  }

  .faculty-profile-text {
    display: table-cell;
    vertical-align: top;
    width:70%;
    color:$black_2;
    position:relative;

    .faculty-profile-title {
      color:$black_2;
      font-family: "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
    }

    .faculty-profile-body {
      color:$black_2;
      font-family: "open sans", arial, helvetica, sans-serif;
    }

    .faculty-profile-extras {
      bottom:0;
      font-size: 12px;
      padding: 10px 0;
      color: $black_3;
      font-weight: 500;
      text-decoration:none;
    }


  }

  &:hover {
    .faculty-profile-text {

      .faculty-profile-title {
        color: $black_2;
        text-decoration:underline;
      }

      .faculty-profile-body {
        color: $black_3;
      }
    }
  }


  &.faculty-profile:hover .faculty-profile-title:after {
    display:none !important;
  }
}

@media (max-width: 767px) {
  .cud-news-events {
    .faculty-profile-text 
    {
      width:50% !important;

      .faculty-profile-body {
        display:none;
      }
      .faculty-profile-extras {
        position:relative;
        font-size:10px;
        line-height:12px;
      }
    }
  }

  .cud-downloads {
    .faculty-profile-photo {
      width: 99px;
      height: 132px;
    }
  }
}

.faculty-profile {
  overflow: hidden;
  font-size: 16px;
  line-height: 1.48;
  color: #5d5d5d;
  display: block;
  margin: 0 0 42px;

  a,a:active,a:link,a:hover {
    color: $black_4;
    &:hover {
      text-decoration:none;
    }
  }
}


.faculty-profile:hover  {
  text-decoration: none;
  color: $red_1;

  .faculty-profile-text {
    color: $red_1 !important;
  }

  .faculty-profile-title a {
    color: $red_1 !important;
  }
}

.faculty-profile-photo {
  float: left;
  width: 166px;
  height: 166px;
  background: #f6f6f6;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 6.8% 0 0;
}

.faculty-profile-photo img {
  display: block;
  width: 100%;
  height: auto;
}

.faculty-profile-text {
  overflow: hidden;
  border-bottom: 2px solid #f2f2f2;
  padding: 0 0 47px;
}

.faculty-profile-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.2;
  color: #d8212c;
  display: block;
  margin: 0 0 18px;
}

.faculty-profile-title:after {
  background: url(../media/icons/arrow.svg) no-repeat;
  width: 37px;
  height: 17px;
  background-size: 37px 17px;
  vertical-align: middle;
  margin: 0 0 0 10px;
  position: relative;
  top: -1px;
  display: none;
  content: '';
}

.faculty-profile-post {
  font-size: 14px;
  line-height: 1.2;
  display: block;
  margin: 0 0 11px;
}

.faculty-profile p {
  margin: 0;
}

@media (max-width: 767px) {
  .faculty-profile {
    font-size: 14px;
    line-height: 1.78;
    position: relative;
    overflow: visible;
    margin: 0 0 31px;

    .faculty-profile-text {

      .faculty-profile-title {
        font-size:14px;
        line-height:18px;
      }

      width:100%;
      font-size:12px;
      line-height:16px;
    }
  }
  .faculty-profile:after {
    content: "";
    display: block;
    clear: both;
  }
  .faculty-profile:before {
    position: absolute;
    bottom: 0;
    left: -99px;
    right: -99px;
    height: 1px;
    background: #f5f5f5;
    content: '';
  }
  .faculty-profile:last-child {
    margin: 0;
  }
  .faculty-profile:last-child:before {
    display: none;
  }
  .faculty-profile-photo {
    width: 100%;
    height: auto;
  }

  .faculty-profile-text {
    padding: 12px 0 28px;
    overflow: visible;
    border: none;
  }
  .faculty-profile-title {
    margin: 0 0 9px;
  }
  .faculty-profile p {
    width: 100%;
    clear: both;
  }
  .faculty-profile-post {
    line-height: 1.3;
  }
}

.no-touch .faculty-profile:hover .faculty-profile-photo {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.no-touch .faculty-profile:hover .faculty-profile-title:after {
  display: inline-block;
}