.home-section {
  font-size: 16px;
  text-align: center;
  position: relative;

  footer {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;

    .container {
      padding: 10px;
      width: 100%;
      position: relative;
      bottom: 0;
      max-width: 100%;

      &:before {
        content: ' ';
        // background: rgba(216, 33, 44, 0.9);
        background:  rgba(88, 88, 88, 0.9);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: inline-block;
      }

      .col-md-6 {
        z-index: 3;

        &:first-child {
          text-align: right;
        }

        &:last-child {
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .home-section {

    footer {
      .container {

        .col-md-6
        img {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .home-section {

    footer {
      .container {

        padding: 5px;

        .col-md-6 {
          text-align: center;

          img {
            width: 50%;
          }

          &:first-child {
            text-align: center;
          }

          &:last-child {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .home-section {

    footer {
      position: relative;
      top: initial;
      width: 100%;
      line-height: initial;

      .container {
        z-index: 0;

        &:before {
          background: rgba(68, 68, 68, 0.9) !important;
        }

        .col-md-6 {
          width: 100%;
          padding: 0;
          margin: 0 auto;
          z-index: 2;
        }
      }
    }
  }
}

@media (max-width: 449px) {
  .home-section {

    footer {
      .container {
        .col-md-6 {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}