@media (max-width: 767px) {

  .home-program {
    width: auto;
    margin: 0 0 1px;
    padding: 0;

    ul > li.with-subprogram {
      ul.subprogram {
        margin-top: 12px;
      }
    }

  }
  .home-program span {
    display: none;
  }
  .home-program ul#programs {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .home-program ul#programs > li {
    margin: 1px 0 0;

    &.level-first.applynow {
      display:block;
    }

    &.level-last.applynow {
      display:none;
    }
  }
  .home-program ul#programs > li > a {
    position: relative;
    display: block;
    padding: 26px;
    text-transform: uppercase;
    color: #fff;
    font: 600 16px/1 'open sans', arial, helvetica, sans-serif;
    text-align: center;
    background: #d8212c;
  }
  .home-program ul#programs > li > a:after {
    display: none;
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5.5px 0 5.5px;
    border-color: #d8212c transparent transparent transparent;
  }
  .home-program ul#programs > li.active > a:after {
    display: block;
  }
  .home-program .cud-popup {
    padding: 41px 14px;
  }
  .home-program .cud-popup h4 {
    color: #d8212c;
    font: 16px/1.1 'open sans', arial, helvetica, sans-serif;
    margin: 0 0 17px;
  }
  .home-program .cud-popup ul {
    font: 600 12px/1.1 'open sans', arial, helvetica, sans-serif;
    color: #414c55;
    list-style: none;
    padding: 0;
    margin: 0 0 28px;
  }
  .home-program .cud-popup ul li {
    position: relative;
    margin: 0 0 12px;
    padding: 0 0 0 21px;
  }
  .home-program .cud-popup ul li:before {
    content: '';
    position: absolute;
    left: 3px;
    top: .25em;
    width: 6px;
    height: 6px;
    background: #d8212c;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .home-program .cud-popup ul a {
    font: inherit;
    color: inherit;
  }
}

@media (max-width: 767px) and (orientation: portrait) {

  ul > li.with-subprogram {
    ul.subprogram {
      margin-top: 12px;
    }
  }

  section section.home-program {
    width: 110% !important;
    position: relative !important;
  }

  section section.home-program > span {
    display: none;
  }

  section section.home-program ul li {
    width: 100%;
    margin: 0;
    position: relative;
  }

  section section.home-program ul li a {
    background: #d8212c !important;
    width: 100% !important;
    color: #fff !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
}

@media (max-width: 1300px) {
  .home-section .home-program > span {
    left: 0;
    font-size: 16px;
  }
  .home-section .home-program > span .fa {
    margin-left: 0;
  }
  .home-section .home-program ul#programs > li {
    margin: 0 5px;
  }
  .home-section .home-program ul#programs > li > a {
    font-size: 14px;
    padding: 18px;
  }
}

@media (max-width: 1199px) {
  .home-section .home-program > span {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .home-section .home-program {
    top: 83%;
  }

  .home-section .home-program > span {
    display: none;
  }
  .home-section .home-program ul#programs > li .cud-popup {
    max-height: 300px;
    overflow: auto;
  }
}

@media (max-width: 991px) and (orientation: portrait) {
  .home-section .home-program {
    top: 78%;
  }

  .home-section .home-program ul#programs > li > a {
    font-size: 12px;
    padding: 12px 25px;
    width: auto;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .home-section .home-program {
    top: 85%;
  }
}