.home-whoistalking {
  background: #d8212c;
  padding: 25px 0;
  padding-top: 40px;
  padding-bottom: 90px;
  h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-size: 44px;
    margin-bottom: 62px;
    font-weight:700;
  }
  h2:before {
    content: '';
    height: 2px;
    background: #000;
    display: block;
    margin: 20px 0;
    position: absolute;
    width: 80px;
    bottom: -44px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .social-box {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin: 0 0.65% 1.3%;
  }

  .more {
    padding: 14px;
    text-align: center;
    border: 1px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font: 600 16px/1 'open sans', arial, helvetica, sans-serif;
  }

  .home-whoistalking__inner {
    font-size: 0;
  }

  ul {
    list-style:none;
    padding:0;
    margin:0;

    li {
      width:100%;

      img, video {
        width:100%;
      }
    }

    li:last-child {
      padding-bottom:0;
      margin-bottom:0;

      img {
        padding-bottom:0;
        margin-bottom:0;
      }
    }
  }
}

@media (max-width: 991px) {
  .home-whoistalking .social-box {
    width: 49%;
    margin: 0 0.5% 1%;
  }
}

@media (max-width: 767px) {
  .home-whoistalking {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .home-whoistalking h2 {
    margin-top: 0;
    font-size: 30px;
    line-height: 1.166;
  }
  .home-whoistalking .social-box {
    display: block;
    width: auto;
    margin: 0 0 20px;
  }
  .home-whoistalking__inner {
    padding: 0 15px;
  }
}