.home-section {
  .home-program {
    visibility:hidden;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    z-index:10;

    ul li > a {
      font-size: 18px;
    }

    > span {
      position: absolute;
      left: -45px;
      top: 10px;
      color: #fff;
      font-family: "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
	  font-weight: 300;
  font-style: normal;
      font-size: 24px;
      white-space: nowrap;

      .fa {
        margin-left: 20px;
      }
    }

    ul#programs {
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;

      i {
        &.animated.bounceIn {
          -webkit-webkit-animation-duration: 5s !important;
          -moz-webkit-animation-duration: 5s !important;
          -ms-webkit-animation-duration: 5s !important;
          -o-webkit-animation-duration: 5s !important;
          -khtml-webkit-animation-duration: 5s !important;
          animation-duration: 5s !important;
        }
      }

      > li {
        margin: 0 3px;
        display: inline-block;

        &.level-first.applynow {
          display:none;
        }

        &.level-last.applynow {
          display:inline-block;
        }

        a {
          width: 220px;
          display: inline-block;
          background: #fff;
          color: #919191;
          font-family: "kozuka-gothic-pro-n5", "kozuka-gothic-pro", arial, helvetica, sans-serif;
          font-weight: 500;
          font-style: normal;

          text-align: center;
          text-transform: uppercase;
          font-size: 0.9em;
          position: relative;
          margin-top: -9px;
          padding: 22px 20px;
        }

        a:hover,
        a.active {
          color: #fff;
          background: #d8212c;
          text-decoration: none;
        }

        a.active:before {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          content: "\f0dd";
          left: 48%;
          bottom: -10px;
          color: #d8212c;
          z-index: 11;
          font-size: 2em;
        }

        a.default {
          color:$red_1;
          position:relative;

          i {
            font-size:1.2em;
            color:$red_1;
            padding-left:10px;
          }

          i.bounceIn {
            -webkit-animation-duration:5s;
            -moz-animation-duration:5s;
            -ms-animation-duration:5s;
            -o-animation-duration:5s;
            webkit-animation-duration:5s;
          }
        }

        a.default:hover {
          color: $white_1;

          i {
            color:$white_1;
          }
        }

        .cud-popup {
          background: #fff;
          width: 100%;
          padding: 20px;
          text-align: left;
          position: absolute;
          font-size:15px;
          left: 0;
          z-index: 10;
          display: none;
          min-height:250px;
          box-shadow: 1px 1px 10px 1px rgba(30, 30, 30, 0.3);

          .col-md-1,.col-md-2,.col-md-3,.col-md-4,
          .col-md-5,.col-md-6,.col-md-7,.col-md-8,
          .col-md-9,.col-md-10, .col-md-11,.col-md-12 {
            padding:0;
          }

          .faculty-container {

            margin-bottom:1em;

            ul:not(:last-child) {
              margin-bottom:0.8em;
            }
          }



          h4 {
            color: #d8212c;
            font-size:inherit;

            a {
              width:auto;
              display:inline-block;
              background:none;
              color:inherit;
              font-family:inherit;
              text-align:left;
              text-transform:none;
              font-size:inherit;
              position:inherit;
              padding:0;
            }

            &:hover {
              a {
                text-decoration:underline;
              }
            }

            &.faculty {
              margin-bottom:0.5em;
            }

            &.department {
              font-size: 0.9em;
              color:$black_2;
              margin-bottom: 0.3em;
            }
          }

          ul > li.with-subprogram {
            /* background-position-y: 8px !important; */
            background-position: 0 8px !important;


            ul.subprogram {
              margin: 6px 0 12px 0;
            }
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0 0 25px 0;

            li {
              background: url(../media/icons/bullet.png) no-repeat left center;
              padding-left: 15px;
              color: #414c55;
              font-size: 1em;
              font-family: "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
			  font-weight: 300;
  font-style: normal;

              a {
                color: #414c55;
                font-family: "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
				font-weight: 300;
  font-style: normal;
                padding: 0;
                margin-top: 0;
                text-align: left;
                text-transform: none;
                width: 100%;

                &:hover {
                  font-weight:bold;
                }
              }

              a:hover {
                text-decoration: underline;
                background: none;
              }
            }
          }
        }
      }
    }
  }
}

@import "home-program-media";