@media (max-width: 767px) {

  .news-events {

    background:none;
    padding:20px 0 0;

    h2 {
      font-size:18px;
      padding-bottom:5px;

      &:before {
        width: 70px;
        height: 2px;
        margin: 0;
        bottom: 1px;
        background:$red_1;
      }
      &:after {
          left: 75px;
          bottom: -4px;
          font-size: 11px;
          visibility:visible;
      }
      &:hover {
        text-decoration:none;
        color:$red_1;
      }
    }

    .news,
    .events {
      padding-left: 10px;
      padding-right: 10px;  
    }
    .news {
      width: 100%;
      margin: 0 0 10px;

      .headlines .slick__slide,
      .features .slick__slide {
        p {
          background: none;
          position: relative;
          padding: 0 5px;

          span {
            padding: 0;
          }
        }
      }
    }

    .events ul {
      margin-left: -30px;
      margin-right: -30px;
      padding-left: 30px;
      padding-right: 30px;

      li a .content {
        width: 50%;
        font-size: 14px;
        line-height: 22px;
        padding-top: 2px;
      }
    }
  } 

  /* bootstrap */ 
  .news {
    .row {
      &.mb-5 {
        margin-bottom:1.5rem !important;
      }
    }
    .img {
      margin-bottom: 1.5rem;
      img {
        width:100%;
      }
    }
  }
}

@media (max-width: 1220px) {

  .news-events .news {
    width: 50%;

    .headlines,
    .features {
      min-height: auto;
    }
  }

  .news-events .events ul li div.inactive,
  .news-events .events ul li div  a
  {
    .date {
      margin-left:0;
    }
    .img-circle {
      margin-right:10px;
    }
    .content {
      width: 50%;
    }
  }
}

@media (max-width: 991px) {

  .news-events .news {

    .headlines,
    .features {
      min-height: auto;
      max-height: auto;
    }
  }

  .news-events .events {
    width: 50%;

    ul {
      height: auto;
      background: none;
    }
  }

  .news-events .news .headlines,
  .news-events .news .features {
    background: $white_1;

    .slick__slide {
      p {
        span {
          bottom: 0;
          font-size: 0.8em;
          padding: 5px;
        }
      }
    }
  }

  .news-events .events ul li a {
    .date {
      margin-right: 0;
      margin-left: 0;
    }

    .content {
      font-size: 12px;
      font-weight: normal;
    }

    .img-circle {
      margin-right: 5px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
  .news-events .events ul {
    height: auto;
  }

  .news-events .events ul li a .date {
    margin-right: 15px;
  }

  .news-events .events ul li a .img-circle {
    margin-right: 24px;
  }

}

@media (max-width: 767px) and (orientation: portrait) {

  .news-events .news,
  .news-events .events {
    width: 100%;
  }

  .news-events .events ul {
    height: auto;
    padding-top:0;
  }

  .news-events .news .headlines .slick__slide,
  .news-events .news .features .slick__slide {
    width: 100%;
    height: auto;

    img {
      position: relative;
    }

    p {
      background: none;
      color: $red_1;
      width: 100%;
      margin-bottom: 10px;

      span {
        top: 0;
        line-height: 18px;
        font-size: 12px;
        display: inline-block;
        font-weight: normal;
        margin: 5px 0;
        left: 0;
        right: auto;
        position: relative;
      }
    }
  }

  .news-events .events ul li div.inactive,
  .news-events .events ul li a {
    .date {
      margin-right: 15px;
      font-size: 12px;
      font-weight: normal;
    }

    .content {
      font-size: 12px;
      font-weight: normal;
    }

    .img-circle {
      margin-right: 15px;
    }
  }

}


