.news-events {
  font-size: 16px;
  padding: 40px 0;
  background: $gray_2;
  overflow: none;

  .block-grid {
    margin: 0;

    .grid {
      &:first-child {
        padding: 0;
      }

      &:last-child {
        padding: 0;
      }
    }
  }

  a {
   text-decoration:none;
   color:$red_1;
  }

  h2 {
    color: #313a41;
    text-transform: uppercase;
    padding-bottom: 35px;
    position: relative;
    overflow: hidden;
    font-weight: 700;
    
    &:before {
      content: '';
      width: 100px;
      height: 2px;
      background:#313a41;
      display: block;
      margin: 20px 0;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f178";
      position: absolute;
      left: 100px;
      bottom: 14px;
      font-size: 14px;
      color: $red_1;      
      visibility:hidden;
      transition:all 0.3s ease;
    }
    
    &:hover {
      color:$red_1;
          &:before {
            background:$red_1;
          }

          &:after {
            visibility:visible;
            left: 120px;
          }
    }
  }

  .news {
    padding-left: 0;
    float: left;
    cursor: pointer;
    max-height: 621px;
    overflow:hidden;

    .icontainer {
      img {
        max-width: initial;
        max-width: inherit;
        width: 100%;
      }
    }

    .headlines,
    .features {
      min-height: 250px;
      overflow: hidden;
      max-height: 265px;

      .slick__arrow {
        display: none;

        button {
          display: inline-block;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 0;

          &:before {
            color: $red_1;
            font-family: FontAwesome;
          }
          &.slick-prev:before {
            content: '\f053';
          }

          &.slick-next:before {
            content: '\f054';
          }

          &:hover {
            background: rgba(255, 255, 255, 0.8);
            &:before {
              text-shadow: 1px 1px 0 #fff;
            }
          }
        }
      }

      &:hover {
        .slick__arrow {
          display: inherit;
        }
      }

      .headline,
      .feature {
        border: 0.5px solid $white_1;
        position: relative;

        p {
          position: absolute;
          bottom: 0;
          color: $white_1;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          background: rgba(10, 10, 10, 0);
          background: -moz-linear-gradient(top, rgba(10, 10, 10, 0) 46%, rgba(10, 10, 10, 0.59) 100%, #080808 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(46%, rgba(10, 10, 10, 0)), color-stop(100%, rgba(10, 10, 10, 0.59)), color-stop(100%, #080808));
          background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 46%, rgba(10, 10, 10, 0.59) 100%, #080808 100%);
          background: -o-linear-gradient(top, rgba(10, 10, 10, 0) 46%, rgba(10, 10, 10, 0.59) 100%, #080808 100%);
          background: -ms-linear-gradient(top, rgba(10, 10, 10, 0) 46%, rgba(10, 10, 10, 0.59) 100%, #080808 100%);
          background: linear-gradient(to bottom, rgba(10, 10, 10, 0) 46%, rgba(10, 10, 10, 0.59) 100%, #080808 100%);

          span {
            position: absolute;
            bottom: 5px;
            padding: 10px;
            font-family: "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 1em;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
          }

          &:hover {
            span {
              bottom: 10px;
            }
          }
        }
      }
    }
  }

  .events {
    overflow: hidden;
    max-height: 621px;

    .icontainer {
      background: $white_1;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 15px;

      li {

        display: block;
        margin: 18px 0 18px 0;

        div {
          display: block;
          overflow: hidden;
          font-family: "kozuka-gothic-pro-n3", "kozuka-gothic-pro", arial, helvetica, sans-serif;
          font-weight: 300;
          font-style: normal;
          color: $black_1;

          a:hover {
            text-decoration: none;
          }
          &.inactive {

          }

          span {
            display: inline-block;
            vertical-align: middle;
          }

          .date-end {
            display: none;
          }

          .date {
            color: $red_1;
            margin-left: 10px;
            width: 50px;
            text-align: center;
          }

          .date strong {
            display: block;
            letter-spacing: 3px;
            font-size: 1.3em;
            font-weight: normal;
          }

          .date small {
            display: block;
            text-transform: uppercase;
            letter-spacing: 2px;
          }

          .img-circle {
            width: 14%;
            margin-right: 40px;
          }

          .content {
            margin: 0;
            vertical-align: middle;
            width: 63%;
          }

          .content strong {
            display: block;
          }

        }
      }
    }
  }
}

/* bootstrap */
html[dir=ltr] {
  .news {

    .arabic {
      direction:ltr;
    }
  }  
}

.news {

  div, p {
    color:$black_2;
  }

  .row {
      padding:10px 0;

      &:hover {
        div, p {
          color:$black_5;
        }

        background:$white_3;
      }
  }
}

@import "news-events-media";