table.normal {
  margin: 0 0 34px;
  width: 100%;

  &.th-font-12 {
    th {
      font-size: 12px;
    }
  }

  &.th-font-14 {
    th {
      font-size: 14px;
    }
  }

  th.border-bottom-offwhite {
    border-bottom: 1px solid $white_2;
  }

  img {
    border-radius: 5px;
    min-width: auto;
    max-width: auto;
  }
  h1, h2, h3, h4, h5 {
    line-height: initial;
    margin: initial;
  }

  tr:hover {

    background: $white_2;

    th, td {
      color: $red_1;
      h1, h2, h3, h4, h5 {
        color: inherit;
      }
    }
  }

  th, td {

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    padding: 25px;
    border: 0;
    vertical-align: top;
    color: $black_1;
  }

  th {
    background: $red_1;
    color: $white_1;
  }
}

@media (max-width: 767px) {
  table.normal {
    th, td {
      padding: 10px;
    }
  }
}

.program-table {
  color: #5d5d5d;
  width: 100%;
  margin: 0 0 34px;

  .program-table {
    margin-bottom:0;
  }

  &.small {
    .center {
        th,
        td {
          text-align: center;
        }
    }

    td {
      font-size:12px;
    }

    th {
      font-size:small;
      font-weight:300;
    }
  }

  thead {
    &.border {
      th:not(:last-child) {
        border-right:1px solid $white_5;
      }
    }
  }
}

.content-table th,
.program-table thead th {
  text-align: left;
  border: solid #d8212c;
  border-width: 1px 1px 0;
  background: #d8212c;
  color: #fff;
  font: 16px/1.3 "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
   font-weight:700;
  font-style:normal;
  padding: 10px;
}

.program-table tbody td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #d8d8d8;
}

.program-table tbody .program-table-heading-row th {
  font-size: 20px;
  color: #3d3d3d;
}

.program-table tbody .program-table-heading-row td {
  font-size: 16px;
  color: #5d5d5d;
}

.program-table tbody .program-table-heading-row td,
.program-table tbody .program-table-heading-row th {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-top-width: 0 !important;
  padding: 21px 0 11px;
  font-weight:700;
  font-style:normal;
  font-family: "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
  vertical-align: bottom;
}

.program-table tbody .program-table-total-row td {
  border: none !important;
  font-family: "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
   font-weight:700;
  font-style:normal;
  font-size: 20px;
  color: #3d3d3d;
  padding: 21px 10px 10px;
}

@media (max-width: 1024px) {
  .program-table thead th {
    font-size: 16px;
    padding: 6px;
  }
  .program-table tbody td {
    padding: 6px;
  }
}

@media (max-width: 768px) {
  .program-table {
    text-align: left;
  }
  .program-table thead th {
    text-align: center;
    font-size: 14px;
    padding: 6px;
  }
  .program-table tbody td {
    font-size: 12px;
    padding: 8px 13px;
  }
  .program-table tbody .program-table-heading-row,
  .program-table tbody .program-table-total-row {
    pointer-events: none;
  }
  .program-table tbody .program-table-heading-row td,
  .program-table tbody .program-table-heading-row th,
  .program-table tbody .program-table-total-row td,
  .program-table tbody .program-table-total-row th {
    padding: 18px 0 6px 14px;
    font-size: 12px;
    text-align: left;
    border: 0 !important;
  }
  .program-table tbody .program-table-heading-row .footable-toggle,
  .program-table tbody .program-table-total-row .footable-toggle {
    display: none !important;
  }
  .program-table tbody .program-table-total-row td:first-child {
    display: none !important;
  }
  .program-table tbody .program-table-total-row td:nth-last-child(2) {
    display: table-cell !important;
  }
  .program-table tbody .footable-detail-row > td {
    padding: 0 !important;
    border: solid #eaeaea !important;
    border-width: 1px 1px 0 !important;
    background: #eaeaea;
  }
  .program-table tbody .footable-detail-row table th,
  .program-table tbody .footable-detail-row table td {
    padding: 7px 13px;
    border: 0 !important;
    vertical-align: top;
  }
  .program-table tbody .footable-detail-row table th {
    color: #3d3d3d;
    white-space: nowrap;
  }
  .program-table tbody .footable-toggle {
    width: 10px;
    height: 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    margin: 0 10px 0 0;
  }
  .program-table tbody .footable-toggle:before, .program-table tbody .footable-toggle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin: -1px 0 0;
    width: 100%;
    height: 2px;
    background: #d8212c;
  }
  .program-table tbody .footable-toggle:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .program-table tbody tr[data-expanded=true] th,
  .program-table tbody tr[data-expanded=true] td {
    background: #eaeaea;
  }
  .program-table tbody tr[data-expanded=true] .footable-toggle:after {
    display: none;
  }
}