.side-nav {
  font-weight: 600;
  list-style: none;
  padding: 0;
  margin: 0 0 34px;
  color: #3d3d3d;
  font-size: 18px;

  a {
    display: block;
    color: inherit;

    &.is-active {
      color: $red_1;
    }
  }

  a:hover {
    color: #d8212c;
    text-decoration: none;
  }

  .side-nav__item {
    border-bottom: 1px solid rgba(167, 169, 170, 0.3);
    position: relative;

    a:not(.clickable-opener) {
      i {
        min-width:25px;
        position:relative;

        &:before {
          width: 25px;
          position: absolute;
          text-align: center;
        }
      }
    }
  }

  .side-nav__item_active a {
    color: #d8212c;
  }

  .side-nav__item:last-child {
    border-bottom: 0;
  }

  .side-nav__item {
    > a,
    > span {
      padding: 21px 10px 21px 0;
    }

    .side-nav__item > a,
    .side-nav__item > span {
      padding:0;
    }

    .side-nav__item .side-nav__item {
      &:before {
        content: "\f061";
        font-family: FontAwesome;
        background: none;
        background-size: auto;
        font-size: 0.8em;
        top: 2px;
      }
    }
  }

  .side-nav__item > a,
  .side-nav__item > span {
    display:inline-block;
  }

  .side-nav__item.active {
    /* background: #fff; */
    margin-right:0;

  }
  .side-nav__item.active > a {
    color: #d8212c;
  }

  .side-nav__sub-menu {
    /* ++g++
    expanded menu plays a role, just open it; accordion will close it anyways
    display: none;
    */
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 25px;
    margin: 0;

    .side-nav__sub-menu {
      padding-bottom:0;
      padding-left:0;
      padding-right:0;
      margin-top:1em;
    }
  }

}

.side-nav.buttons {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em !important;

  li {
    margin-bottom: 10px;

    a {
      color: $white_1;
    }
  }
}

.clickable-opener i {
  position: absolute;
  top: 11px;
  width: 10px;
  height: 16px;
}

.clickable-opener {
  position: absolute;
  top: 15px;
  right: 5px;
  width: 10px;
  height: 16px;
}

.clickable-opener i:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin: -1px 0 0;
  width: 100%;
  height: 2px;
  background: #3d3d3d;
}

.clickable-opener i:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin: -1px 0 0;
  width: 100%;
  height: 2px;
  background: #3d3d3d;

  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.clickable-opener.opened i:after {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.sidebar ul li ul .side-nav__item.menu-item a {
  padding: 0;
}

@media (max-width: 1024px) {
  .side-nav {
    font-size: 14px;
  }
  .side-nav__item > a,
  .side-nav__item > span {
    padding: 15px;
  }
  .side-nav__sub-menu {
    padding: 0 15px 20px 15px;

    .side-nav__sub-menu {
      padding-bottom:0;
      padding-left:0;
      padding-right:0;
      margin-top:1em;
    }
  }
}

@media (max-width: 767px) {

  .side-nav__item > a,
  .side-nav__item > span {
    padding: 17px 0;
    font-size: 20px;
  }
  .side-nav__item.active {
    margin: 0 -15px;
    padding: 0 15px;
  }
}

.sidebar__slide {
  &.with-icon {
    .side-nav {

      .side-nav__item > a,
      .side-nav__item > span {
        padding-left:30px;

        i {
          position:absolute;
          left:0;
          top:25px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {

  .sidebar__slide {
    &.with-icon {
      .side-nav {

        .side-nav__item > a,
        .side-nav__item > span {
          padding: 12px 10px 12px 25px;
          font-size: 16px;

          i {
            position:absolute;
            left:0;
            top:15px;
          }
        }
      }
    }
  }
}