.social-networks {
  font: 17px/1.1 "kozuka-gothic-pro-n7", "kozuka-gothic-pro", arial, helvetica, sans-serif;
  color: #d8212c;
  list-style: none;
  padding: 0;
  margin: 0 0 24px;
   font-weight:700;
  font-style:normal;
}
.social-networks li {
  margin: 0 0 24px;
}
.social-networks a {
  color: inherit;
}
.social-networks .fa {
  margin: 0 16px 0 0;
}
@media (max-width: 767px) {
  .social-networks {
    font-size: 14px;
  }
  .social-networks li {
    margin-bottom: 16px;
  }
}