{#
/**
 * @file
 * Default theme implementation for a summary of a form Salesforce post handler.
 *
 * Available variables:
 * - settings: The current configuration for this remote post handler:
 * - handler: The handler information, including:
 *   - id: The handler plugin id.
 *   - handler_id: The handler id.
 *   - label: The handler label.
 *   - description: The handler description.
 *
 * @ingroup themeable
 */

 // note from id "sfweb2api_post" -> template is therefore webform-handler-"sfweb2api-post"-summary
#}
{% if settings.debug %}<b class="color-error">{{ 'Debugging is enabled'|t }}</b><br/>{% endif %}
{% if not settings.salesforce_use_defaults %}
    <b class="text-danger">Custom settigs</b><br />
    <div class="small">
        {{ 'Saleforce Token URL:'|t }} {{ settings.salesforce_token_url }}<br/>
        {{ 'Saleforce Client ID:'|t }} {{ settings.salesforce_client_id }}<br/>
        {{ 'Saleforce Grant Type:'|t }} {{ settings.salesforce_grant_type }}<br/>
        {{ 'Saleforce Redirect URL:'|t }} {{ settings.salesforce_redirect_url }}<br/>
        {{ 'Saleforce Client Secret:'|t }} {{ settings.salesforce_client_secret }}<br/>
        {{ 'Saleforce Client Username:'|t }} {{ settings.salesforce_client_username }}<br/>
        {{ 'Saleforce Client Password:'|t }} {{ settings.salesforce_client_password }}<br/>
    </div>
{% else %}
    <b>Using salesforce default settings</b><br />
    <div class="small">
        See: <i>CUD Settings Salesforce</i>
    </div>
{% endif %}