body {
  font-family: "DubaiRegular", "kozuka-gothic-pro-n3", "kozuka-gothic-pro", "open sans", arial, helvetica, sans-serif;
  text-align:right;
}

a {
 text-decoration: none;
  font-size: inherit;
}

a:hover {
  text-decoration: underline;
}

hr {
  background: none;
  margin: 83px 0;
  padding: 0;
  height: 0;
  border: solid rgba(51, 61, 71, 0.15);
  border-width: 1px 0 0;
}

blockquote {
  position: relative;
  padding: 0 56px;
  margin: 0 0 40px;
  font: 16px/1.555 "DubaiMedium", arial, helvetica, sans-serif;
   font-weight:700;
  font-style:normal;
  color: #3d3d3d;
  border: 0;
}
blockquote:before, blockquote:after {
  content: '';
  position: absolute;
  top: 0;
  width: 27px;
  height: 25px;
  background-size: 100% auto;
}
blockquote:before {
  right: 0;
  background-image: url(../media/icons/quote-l.svg);
}
blockquote:after {
  left: 0;
  background-image: url(../media/icons/quote-r.svg);
}