  @font-face {
    font-family: 'DubaiLight';
    src: url('/themes/indicud/css/font/arabic/DubaiLight.eot');
    src: url('/themes/indicud/css/font/arabic/DubaiLight.eot') format('embedded-opentype'),
         url('/themes/indicud/css/font/arabic/DubaiLight.woff2') format('woff2'),
         url('/themes/indicud/css/font/arabic/DubaiLight.woff') format('woff'),
         url('/themes/indicud/css/font/arabic/DubaiLight.ttf') format('truetype'),
         url('/themes/indicud/css/font/arabic/DubaiLight.svg#DubaiLight') format('svg');
}

@font-face {
    font-family: 'DubaiRegular';
    src: url('/themes/indicud/css/font/arabic/DubaiRegular.eot');
    src: url('/themes/indicud/css/font/arabic/DubaiRegular.eot') format('embedded-opentype'),
         url('/themes/indicud/css/font/arabic/DubaiRegular.woff2') format('woff2'),
         url('/themes/indicud/css/font/arabic/DubaiRegular.woff') format('woff'),
         url('/themes/indicud/css/font/arabic/DubaiRegular.ttf') format('truetype'),
         url('/themes/indicud/css/font/arabic/DubaiRegular.svg#DubaiRegular') format('svg');
}


@font-face {
    font-family: 'DubaiMedium';
    src: url('/themes/indicud/css/font/arabic/DubaiMedium.eot');
    src: url('/themes/indicud/css/font/arabic/DubaiMedium.eot') format('embedded-opentype'),
         url('/themes/indicud/css/font/arabic/DubaiMedium.woff2') format('woff2'),
         url('/themes/indicud/css/font/arabic/DubaiMedium.woff') format('woff'),
         url('/themes/indicud/css/font/arabic/DubaiMedium.ttf') format('truetype'),
         url('/themes/indicud/css/font/arabic/DubaiMedium.svg#DubaiMedium') format('svg');
}


@font-face {
    font-family: 'DubaiBold';
    src: url('/themes/indicud/css/font/arabic/DubaiBold.eot');
    src: url('/themes/indicud/css/font/arabic/DubaiBold.eot') format('embedded-opentype'),
         url('/themes/indicud/css/font/arabic/DubaiBold.woff2') format('woff2'),
         url('/themes/indicud/css/font/arabic/DubaiBold.woff') format('woff'),
         url('/themes/indicud/css/font/arabic/DubaiBold.ttf') format('truetype'),
         url('/themes/indicud/css/font/arabic/DubaiBold.svg#DubaiBold') format('svg');
}
